[2022-10-18 02:30] MitchellTCG commented on #276
@WiseQA @AureliaKhorsand

I can only test independent receipts and other receipts.

We can't test Earmark Receipts until App#459 and App#460 are pushed to Stage.

[2022-10-18 14:04] WiseQA commented on #159
QA review "Offsets to Operating Expenditures" transaction when editing the contact the  pop-up the only thing I changed was address.  The popup includes Employer and Occupation listed changes.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a023da73-c036-4712-a04b-86991ad8eb32)

@mjtravers @MitchellTCG @toddlees

[2022-10-18 14:15] WiseQA commented on #159
QA review "Other Receipts" transaction when editing the contact the pop-up the only thing I changed was city, I didn't make changes to the ORG name

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/4f0d2fc2-ad11-4987-a619-2d958f9f0218)

[2022-10-18 14:23] JonellaCulmer commented on #159
@mjtravers @MitchellTCG @toddlees @AureliaKhorsand

Looks like we need to account for when an edit is a removal of information. "Undefined" is no good. Are there business requirements around that within a cycle - when a filer removes information? Or is this something we want to prevent?

[2022-10-18 14:26] AureliaKhorsand commented on #159
@JonellaCulmer no business requirements as of yet. I can add it for discussion at next week's requirements session. I'm guessing it will be very rare, since users can't remove required fields, and most likely will be over $200.

[2022-10-18 14:31] toddlees commented on #159
@JonellaCulmer @AureliaKhorsand  I agree that we'll want language like "Cleared/Removed employer".  I think the example above is produced when employer is never filled out.  The representation of the blank field is different between the first time it was opened and the second time it was edited so it came up as a "change".  I'm going to approach the issue with that perspective and improve both the

[2022-10-18 15:22] MitchellTCG commented on #302
Added wire based on the UX team discussion 10/17/22
@JonellaCulmer @mary-tcg @AureliaKhorsand

[2022-10-18 15:54] WiseQA commented on #159
FYI - QA review when entering an Individual Transaction, then editing and saving seems as though popup is working correctly.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/9f10f629-30a7-4e75-b01b-23d69c1d2318)

[2022-10-18 22:26] WiseQA commented on #276
@MitchellTCG is this ticket being broken out and one made for earmark ?   This ticket as we talked needs to be at least 3 points for this sprint to pass what is working

[2022-10-19 11:34] mjtravers commented on #460
@AureliaKhorsand For the CPD of the earmark receipt: what should be in XX of the read-only text if the earmark memo entity_type is an Individual and not a Committee?

[2022-10-19 12:18] MitchellTCG opened #621 "Employer/Occupation is required if Contribution Aggregate > $200 for Earmark Receipt (Group A)"
Business Reason

The system will require Employer and Occupation fields if the Contribution Aggregate is greater than $200.

Acceptance Criteria

For the following transaction:

1\. Earmark Receipt (Group A)

***If*** Contribution Aggregate is equal to or greater than $200.01

  ***Then*** "Employer" and "Occupation" will be required to save the transaction.

1.  Earmark Receipt

       #

[2022-10-19 12:33] MitchellTCG commented on #276
### App#276 PASSED ###

#### Individual Receipt ####
1. Went to add a receipt page and chose Individual Receipt
2. Created a new contact "Harper Jarrett" but did not enter an Employer or Occupation
3. The Individual Receipt was populated new contact info (sans Employer info)
4. Added a Date Received and $200.01 Contribution Amount
5. When Save & view all transaction is selected, the error message

[2022-10-19 12:48] toddlees commented on #159
Resolved bugs. In code review. Will notify when deployed to stage

[2022-10-19 13:05] mjtravers commented on #159
Bug patch passes CR, sending to QA

[2022-10-19 13:23] mjtravers opened #622 "Refactor GroupAG HTML template into components"
***Acceptance Criteria***

  1\. Earmark Receipt & Memo input form works as it did before

  2\. Unit tests pass

  3\. Group AG template broken out into the following components to be located in shared/components/inputs:

  a. app-committee-input

  b. app-name-input

  c. app-address-input

  d. app-employer-input

  e app-contribution-input

  f. app-additional-info-input

*   *   QA Notes **

[2022-10-19 14:36] AureliaKhorsand opened #623 "System to default to "Organization" contact type for Offsets to Operating Expenditures"
Requirement from Ryan Lanz during stakeholder interviews in late August 2022.

Business Reason

As a user, I will be able to create new Offsets to Operating Expenditure transactions that are defaulted to "Organization" contact type so that I can reduce the number of clicks needed to add this transaction type.

Acceptance Criteria

***Given*** the transaction type "Offsets to Operating Expenditures

[2022-10-19 14:42] AureliaKhorsand opened #624 "Allow user to reattribute a Tier 1 Schedule A transaction from a previous report"
Business Reason

As a user, I will be able to "reattribute" a Tier 1 transaction within a previous report so that I can reattribute part or all of the receipt amount to a different entity, changing the aggregation amount for the entity on each new transaction.

Acceptance Criteria

***Given*** a Tier 1 receipt on Schedule A in a previous report with status "Submission success"

 ***When*** I initi

[2022-10-19 14:46] mjtravers opened #625 "Refactor filer_committee_id_number to backend"
Currently, the filer_committee_id_number for F3X and SchATransactions is set in the Angular front end. This ticket is to move setting that field on save() to the serializer of the report or transaction and populate the value with the committee account retrieved from the Django user record.

**Acceptance Criteria**
1. Form and transaction create and updates work as before and filer_committee_id_num

[2022-10-19 14:56] mjtravers opened #626 "Resolve and refactor TransactionType.parentTransaction"
Questions to resolve:

1. Will the parent transaction be updated if included in the serializer when saving a transaction. We don't want that.
2. Without the depth=1 setting in the scha_transaction serializer, will we go into infinite loops. (I think yes) And will grandchildren work with depth=1

After #460 is merged, the parent transaction (if a transaction has one) will be bundled up in the trans

[2022-10-19 15:29] WiseQA commented on #159
QA review when entering an Individual Transaction, then editing and saving seems as though popup is working correctly.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/9f10f629-30a7-4e75-b01b-23d69c1d2318)

When selecting "Cancel" return to Transactions page when selecting "Save & view all transactions" transaction is saved and return to Transactions page.

![image.png](

[2022-10-19 18:59] Elaine-Krauss-TCG commented on #616
All existing E2E tests are working again.

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/b04e7d19-80f0-41ac-8331-568bc4bf7f2c)

[2022-10-20 18:15] Elaine-Krauss-TCG commented on #617
Completed.  An E2E test has been created that:

1) creates two Individual Receipts on the same date and checks the aggregation
2) creates a third Individual Receipt for a different year and checks that the prior receipts aren't in the aggregation
3) Repeats steps #1 and #2 for Tribal Receipts
4) Repeats steps #1 and #2 for JF Transfers
5) Creates two JF Transfer PAC Memos in the same year as the t

[2022-10-20 18:17] Elaine-Krauss-TCG commented on #617
This E2E test will be included in the PR for #616 given that it is dependent on changes in that PR.

[2022-10-20 19:17] mjtravers commented on #272
Passes CR. Sending to QA

[2022-10-20 19:32] Elaine-Krauss-TCG commented on #616
All new functionality introduced during Sprint 14 is now covered by E2E tests

[2022-10-21 11:54] mjtravers commented on #460
@dheitzer During ad hoc testing of #459 and #460 on DEV server, I found that sending contact objects that have not been updated with the changes made to the in the transaction form are failing validation when an existing contact is used that has invalid data. This scenario is possible when pulling committee contacts from the FEC api. Let's fix this issue in ticket #552 when you refactor the contac

[2022-10-21 12:03] mjtravers commented on #459
Passed CR but holding from QA until #552 is merged. See comment at end of #460 ticket

[2022-10-21 14:07] dheitzer commented on #470
Analyzed two approaches to lighthouse accessibility testing that I think that the dev team should discuss:

1. Using lighthouse to analyze our static .html templates using lighthouse-ci (as linked to above).
2. Integration of lighthouse analysis into Cypress tests (allowing for analysis of dynamic html).

Both may have pros/cons worth discussing.

[2022-10-21 16:18] Elaine-Krauss-TCG commented on #616
Develop merged in, code cleaned up, all tests passing, and it's into CR

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/68d74cb4-98d8-4c1a-85a6-c336953da5e7)

[2022-10-21 18:10] Elaine-Krauss-TCG commented on #621
Working as intended

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/e1c4177b-02a7-4ec0-ae70-20b47d1f4671)

You cannot save an Earmark Receipt with an Aggregate over $200 without setting Employer and Occupation, and when you add them, the confirmation pop-up appears as expected

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/e2c25425-bb2a-4a8a

[2022-10-21 18:16] Elaine-Krauss-TCG commented on #473
This ticket is satisfied by existing code.

You can create an Offset to Operating Expenditures receipt with a date of 10/10/2022 and an amount of $100

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/27e33a91-be7d-43a8-9311-7876d57a3923)

Creating a second receipt with a future date in the same year includes the amount from the prior receipt in the aggregate.

![image.pn

[2022-10-24 13:10] mjtravers commented on #473
Code reviewed in previous ticket and branch. No code changes to review for this ticket. Sending to QA

[2022-10-24 13:11] mjtravers commented on #621
Code passes CR. Sending to QA.

[2022-10-24 16:44] mjtravers commented on #616
Passes CR and was able to successfully run sprint-15 end-to-end tests. Sending to QA.

[2022-10-24 16:45] mjtravers commented on #617
Passes CR and was able to successfully run sprint-15 end-to-end tests. Sending to QA.

[2022-10-24 18:41] AureliaKhorsand opened #631 "Defect: System to itemize JF Transfer regardless of amount"
Implementation of #486 was broken by subsequent development. This ticket is to re-code and re-test this functionality. Note that itemization logic is _not_ determined by aggregation group.

 Business Reason

Per FECA regulations, all Form 3X transactions on Line 12 must be itemized on Schedule A, regardless of amount. This includes JF Transfer transactions.

 Acceptance Criteria

**Given** one of

[2022-10-24 19:04] GreggMoreland opened #632 "Allow user to enter Partnership Recount Account Receipt on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership Recount Account Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "parent" transaction that will have an associated child ‘Memo’ transaction.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an ope

[2022-10-24 19:19] GreggMoreland opened #633 "Allow user to enter Partnership Recount Account Receipt Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **’Partnership Recount Account Receipt Memo‘** sub-transaction under **"Partnership Recount Account Receipt"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This is a "child" transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Given

[2022-10-24 19:25] GreggMoreland opened #634 "Allow user to enter Partnership National Party Headquarters Buildings Account on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **” Partnership National Party Headquarters Buildings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "parent" transaction that will have an associated child ‘Memo’ transaction.

 Acceptance Criteria

**Given** I am a Committee Admin

[2022-10-24 19:30] GreggMoreland opened #635 "Allow user to enter Partnership National Party Headquarters Buildings Account Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **Partnership National Party Headquarters Buildings Account Memo** sub-transaction under **"Partnership National Party Headquarters Buildings Account"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This is a "child" transaction that will be associated with a parent t

[2022-10-24 19:33] GreggMoreland opened #636 "Allow user to enter Partnership National Party Pres. Nominating Convention Account on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership National Party Pres. Nominating Convention Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "parent" transaction that will have an associated child ‘Memo’ transaction.

 Acceptance Criteria

**Given** I am a Committee A

[2022-10-24 19:33] GreggMoreland opened #637 "Allow user to enter Partnership National Party Pres. Nominating Convention Account Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **’Partnership National Party Pres. Nominating Convention Account Memo‘** sub-transaction under **"Partnership National Party Pres. Nominating Convention Account"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This is a "child" transaction that will be associated wit

[2022-10-24 19:48] MitchellTCG opened #639 "BUG: DO NOT delete PAC JF Transfer Memos when creating new ones"
### Business Reason ###
As a FECFile User, I should be able to add a new/additional PAC JF Transfer Memo while updating a Joint Fundraising Transfer. And any previous created and associated PAC JF Transfer Memos should persist when these new/additional memos are made.

### How to Replicate the Issue ###
1. Create a JF Transfer and create a new committee contact that has never been used in the syst

[2022-10-24 19:49] MitchellTCG commented on #639
@WiseQA
Please review and let me know if this doesn't make sense.

[2022-10-24 20:15] Elaine-Krauss-TCG commented on #302
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/c2d8155b-18a9-4f00-abcf-6b80d629cac5)

[2022-10-25 11:41] WiseQA commented on #639
@MitchellTCG QA review of "BUG" written ticket completed.

[2022-10-25 13:01] WiseQA commented on #616
Passes QA visual inspection for sprint-14 end-to-end tests passing per DEV.

QA Inspection Review completed.  Moved to Stage Ready

[2022-10-25 13:03] WiseQA commented on #617
Passes QA visual inspection for sprint-15 end-to-end tests passing per DEV.

QA Inspection Review completed. Moved to Stage Ready

[2022-10-25 14:01] Elaine-Krauss-TCG commented on #565
The requirements of this ticket seem to be met by existing code

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/815cd05c-5298-43bf-90c0-f1f558b39987)

[2022-10-25 14:04] Elaine-Krauss-TCG commented on #590
On DEV, you can currently lookup both contacts in an Earmark Receipt

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/c2dca023-4d9e-4707-9d04-90f464515fca)

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/24d58688-6faf-400d-9c56-a896c555ef58)

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/7d96ce20-8bc0-4602-adc5-13e

[2022-10-25 16:10] mjtravers commented on #552
Passes CR. Sending to QA

[2022-10-25 16:11] mjtravers commented on #459
#552 is in QA so sending this ticket to QA, too.

[2022-10-25 16:13] mjtravers commented on #460
#552 is in QA so sending this ticket to QA, too.

[2022-10-25 16:16] mjtravers commented on #570
Passes CR, sending to QA.

[2022-10-25 16:20] mjtravers commented on #302
Passes CR, sending to QA.

[2022-10-25 16:24] mjtravers commented on #565
No new code branch for this ticket as code development was completed on previous tickets. Sending to QA.

[2022-10-25 16:27] mjtravers commented on #590
Code for contact management for transaction screens in general has been completed. No additional code to CR as the contact lookup integration was completed in tickets #459 and #460. Sending to QA for verification.

[2022-10-25 17:23] mjtravers commented on #473
Pulling back to In Progress to add more unit test code coverage.

[2022-10-25 17:23] mjtravers commented on #565
Pulling back to In Progress to add more unit test code coverage.

[2022-10-25 18:04] WiseQA opened #641 "Defect - Logout error when logging in using login.gov in both DEV and STAGE"
This defect is being written for when logging out of login.gov the following error is received in both DEV and STAGE environments.

![image.png]([https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/604138da-28e2-4906-8e3e-209a5e12476d](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/604138da-28e2-4906-8e3e-209a5e12476d))

Steps to reproduce

1\. Login to [https://fecfile-we

[2022-10-25 18:40] GreggMoreland opened #642 "Allow user to enter In-kind Receipt on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”In-kind Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a receipt
**Then** Click(open) on the "Contributions from Individuals/Persons" Accordio

[2022-10-25 18:44] GreggMoreland opened #643 "Allow user to enter Conduit Earmark on Schedule A (Group N)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”Conduit Earmark”*** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator editing an open Form 3X report

 ***Then*** Add a new transaction

 ***Then*** Click(open) on the "Contributions from Individual

[2022-10-25 18:45] GreggMoreland opened #644 "Allow user to enter Conduit Earmark (Undeposited) on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Conduit Earmark (Undeposited)”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This transaction requires a "child" (memo) transaction on Schedule B that will be associated with a parent transaction.

 Acceptance Criteria

**Given** I am a Committee Admi

[2022-10-25 18:52] mjtravers commented on #459
Passes CR, sending to QA

[2022-10-25 18:52] mjtravers commented on #460
Passes CR, sending to QA

[2022-10-25 18:52] GreggMoreland opened #645 "Allow user to enter Party In-kind Receipt on Schedule A (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Party In-kind Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a receipt
**Then** Click(open) on the "Contributions from Registered Filers" Acco

[2022-10-25 18:54] GreggMoreland opened #646 "Allow user to enter PAC In-kind Receipt on Schedule A (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC In-kind Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a receipt
**Then** Click(open) on the "Contributions from Registered Filers" Accord

[2022-10-25 18:56] GreggMoreland opened #647 "Allow user to enter PAC Conduit Earmark on Schedule A (Group P)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”PAC Conduit Earmark”*** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This transaction requires a "child" (memo) transaction on Schedule B that will be associated with a parent transaction.

Acceptance Criteria

***Given*** I am a Committee Administrat

[2022-10-25 18:57] GreggMoreland opened #648 "Allow user to enter PAC Conduit Earmark (Undeposited) on Schedule A (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC Conduit Earmark (Undeposited)”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This transaction requires a "child" (memo) transaction on Schedule B that will be associated with a parent transaction.

 Acceptance Criteria

**Given** I am a Committee

[2022-10-25 19:05] MitchellTCG commented on #621
This coding of this ticket occur during the development of #486. It passed CR then.

[2022-10-25 19:13] GreggMoreland opened #649 "Allow user to enter In-kind Transfer on Schedule A (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”In-kind Transfer”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a receipt
**Then** Click(open) on the "Transfers" Accordion link
**Then** I can enter

[2022-10-25 19:15] GreggMoreland opened #650 "Allow user to enter In-kind Transfer - Federal Election Activity on Schedule A (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”In-kind Transfer - Federal Election Activity”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a receipt
**Then** Click (open) on the "Transfers" Accordi

[2022-10-25 19:24] GreggMoreland opened #651 "System to automatically itemize transaction when Aggregate is less than $0.00"
Business Reason

As a FECfile user, I will be able to see all transactions itemized by the system whenever the aggregate falls below $0.00 so that I can accurately view my committee's transactions.

Acceptance Criteria

***Given*** a user is saving a transaction

 ***When*** the Aggregate is calculated to be less than $0.00 (a negative value)

 ***Then*** the transaction will be itemized upon savi

[2022-10-25 19:39] mjtravers commented on #470
@dheitzer I really like the option of running Lighthouse in conjunction with the Cypress e2e tests for a number of reasons. Will put that option in the ticket for actually doing the work.

[2022-10-25 19:42] mjtravers opened #652 "508 Compliance: Set up Lighthouse with Cypress"
Business Reason

As a the product owner, I would like 508 Compliance scan run with our processes to make sure we are always 508 compliant

Dev Notes

Overview:
[https://developer.chrome.com/docs/lighthouse/overview/](https://developer.chrome.com/docs/lighthouse/overview/)
[https://github.com/GoogleChrome/lighthouse-ci/blob/main/docs/getting-started.md](https://github.com/GoogleChrome/lighthouse-ci

[2022-10-26 12:43] MitchellTCG commented on #565
@WiseQA @mjtravers
This was developed and CR'd under 459 & 460

This code is currently on DEV

[2022-10-26 12:50] MitchellTCG commented on #590
@WiseQA @mjtravers
This was coded and CR'd under #459 and #460.

This code is currently on DEV

[2022-10-26 12:54] MitchellTCG commented on #473
@wise @mjtravers
This functionality was completed in Code branch #472

When the new aggregation groups were create, Offsets were done at the same time.

Still new unit testing.

[2022-10-26 13:08] MitchellTCG opened #653 "Create automated regression tests for QA scripts (Sprint 15)"
Business Reason

As a developer or QA, I will be able to automatically run the Sprint-15 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

If I want to run the Sprint test scripts to retest the tickets

  When I run the automated tests in the Cypress framework

  Then I will get a report on which scripts failed and which

[2022-10-26 14:02] GreggMoreland commented on #361
@AureliaKhorsand I have a question, probably for the design team. If a user tries to create a duplicate report, what will the user see to alert them that they cannot create multiple reports of the same type within a calendar year?

[2022-10-26 15:47] mjtravers commented on #473
New unit testing has been implemented. Passes CR. Sending to QA.

[2022-10-26 15:48] mjtravers commented on #565
New unit testing has been implemented. Passes CR. Sending to QA.

[2022-10-26 15:51] GreggMoreland commented on #319
@AureliaKhorsand The questions for FEC in this ticket are important to be asked in the next requirements meeting.

[2022-10-26 18:35] dheitzer commented on #641
Initial development complete, however during testing I found an issue with one of the new links that login.gov provides during logout
![image.png](https://images.zenhubusercontent.com/6298ce840c1c301e7c4a4151/01a8ab7d-457d-4608-ae21-dff39ffc4ce8)

![image.png](https://images.zenhubusercontent.com/6298ce840c1c301e7c4a4151/57b6ba81-65b8-4442-a596-986a38fa63dc)

Clicking this displays an error since

[2022-10-26 20:15] mjtravers commented on #631
Passes CR. Sending to QA.

[2022-10-26 20:38] mjtravers commented on #653
Passes CR and e2e tests run successfully to completion. Sending to QA.

[2022-10-27 14:54] WiseQA commented on #631
QA Review completed as denoted by DEV in QA notes above.    Tested various Transactions to verify this code was not broke.    Retested JF Transfer.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a2f31139-5062-4744-9452-d932ee3d8967)

QA Review Completed.   Moved to Stage Ready.

[2022-10-27 15:00] WiseQA commented on #653
QA requested screenshot showing e2e tests ran successfully for Sprint 15.   @Elaine-Krauss-TCG will update ticket with screenshot.  @MitchellTCG

[2022-10-27 15:41] #276 closed, assigned to WiseQA

[2022-10-27 15:41] #234 closed, assigned to Elaine-Krauss-TCG

[2022-10-27 15:41] #486 closed, assigned to Elaine-Krauss-TCG

[2022-10-27 15:41] #553 closed, assigned to WiseQA

[2022-10-27 15:41] #616 closed, assigned to Elaine-Krauss-TCG

[2022-10-27 15:41] #617 closed, assigned to Elaine-Krauss-TCG

[2022-10-27 15:48] #159 closed, assigned to toddlees

[2022-10-27 15:48] #470 closed, assigned to mjtravers

[2022-10-27 15:48] #172 closed, assigned to WiseQA

[2022-10-27 15:48] #472 closed, assigned to toddlees

[2022-10-27 15:48] #413 closed, assigned to mjtravers

[2022-10-27 15:48] #576 closed, assigned to toddlees

[2022-10-27 17:46] Elaine-Krauss-TCG commented on #653
Full run, one failure (Web Print test)

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/5962c590-ddc9-46e7-8e3c-85e4fc975289)

The Web Print test was rerun 3 times, passing each time.

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/b7f8c9b2-af6b-4fab-8b04-f8c9cb794a7f)

Due to timing quirks, isolated failures can occur that (in my opinion) sho

[2022-10-27 21:51] WiseQA commented on #653
QA inspection review completed by e2e testing.

QA review completed.  Moved to Stage Ready.

[2022-10-27 22:13] WiseQA commented on #590
QA review verified lookup worked for Earmark Receipt
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/5f3998c3-f690-4bfb-aced-39e95b28cb5e)

Fields populated and displayed:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d5ee7833-f7a4-4717-846d-41498f54097d)

QA Review Completed.  Moved to Stage Ready

[2022-10-28 12:32] WiseQA commented on #621
@toddlees @MitchellTCG - After discussion retuned to QA - #459 and #460 updated QA notes denoting how to test these tickets.

Error below is OBE:

QA review the CONTRIBUTION PURPOSE DESCRIPTION (SYSTEM-GENERATED) field needs "dummy" text entered in field.

[2022-10-28 12:46] mjtravers commented on #492
Some changes requested in CR. Sending back to In Progress.

[2022-10-28 12:54] WiseQA commented on #460
@toddlees @MitchellTCG - After discussion retuned to QA - #459 and #460 updated QA notes denoting how to test these tickets.

Error below is OBE:

QA review the CONTRIBUTION PURPOSE DESCRIPTION (SYSTEM-GENERATED) field needs "dummy" text entered in field.

[2022-10-28 15:55] WiseQA commented on #565
@MitchellTCG ticket on-hold.
11/01/2022 - QA notes completed.   As discussed this will be e2e testing.

[2022-10-28 16:10] WiseQA commented on #570
QA review verified label names for each transaction group (as denoted in Acceptance Criteria) has been changed:
1. Group A Transactions (Individual Receipt)
2. Group B Transactions (Offsets to Operating Expenditures)
3. Group C Transactions (Other Receipt)
4. Group D Transactions (Tribal Receipt)
5. Group E Transactions (Joint Fundraising Transfer
6. Group F Transactions (PAC Joint Fundraising Tra

[2022-10-28 17:34] WiseQA commented on #621
QA review verified if Aggregate >$200.00 "Employer and Occupation" fields are required.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/323ffea1-9a78-4d02-ab8c-5cd677d2abea)

QA review verified if Aggregate <$200.00 "Employer and Occupation" fields are not required.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b5ab0b89-074c-4de0-b5ef-e3e5b

[2022-10-28 17:42] WiseQA commented on #302
QA review verified the System indicates on the Transactions table the "**Unitemized**" transactions (see screenshot below).   Transactions verified were:  Individual Receipt (Group A), Tribal Receipt (Group D), Offsets to Operating Expenditures (Group B), Other Receipts (Group C) (as denoted in ticket).

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/1d82c960-9252-4b85-

[2022-10-28 17:52] WiseQA commented on #552
QA review verified Committee Contact lookup if a previous contact then your contact should not appear in both the Contacts and FEC lookup section at the same time.  (See below screenshots).

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/da7f9a04-8dd9-465c-9c71-6e33fea814af)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f430aa11-738a-4451-9

[2022-10-28 18:21] mjtravers commented on #492
Passes CR. Sending to QA.

[2022-10-28 18:32] GreggMoreland opened #656 "Allow user to enter Partnership National Party Recount/Legal Proceedings Account on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership National Party Recount/Legal Proceedings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "parent" transaction that will have an associated child ‘Memo’ transaction.

 Acceptance Criteria

**Given** I am a Committee Adm

[2022-10-28 18:33] GreggMoreland opened #657 "Allow user to enter Partnership National Party Recount/Legal Proceedings Account Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **’Partnership National Party Recount/Legal Proceedings Account Memo‘** sub-transaction under **"Partnership National Party Recount/Legal Proceedings Account"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This is a "child" transaction that will be associated with a

[2022-10-31 14:50] WiseQA commented on #492
QA review - Cancel button not selectable.  Only buttons selectable "Save & add another Memo" and "Save & view all transactions".

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/c418b619-b6cb-40d5-ab38-bfb7b5793864)

@mjtravers @MitchellTCG - Cancel button should be selectable ?  If so, need added to Acceptance Criteria and button fixed.  Standing by for clarification.

[2022-10-31 14:57] MitchellTCG commented on #492
@WiseQA @toddlees @mjtravers
Re: Cancel button ...
Yes the Cancel button should work. I will update the ticket. Dev's please fix.

[2022-10-31 15:02] toddlees commented on #492
@WiseQA @MitchellTCG @mjtravers got a PR for it up now.  It also removes the yellow/orange "Save & add another Memo" which is not supposed to be on this form https://github.com/fecgov/fecfile-web-app/pull/658

[2022-10-31 15:18] WiseQA commented on #473
QA adhoc testing completed on this ticket.  No test script written - e2e testing to satisfy this ticket.

Per DEV This functionality was completed in Code branch #472 when the new aggregation groups were created, Offsets were done at the same time.

QA Review Completed.   Moved to Stage Ready.

[2022-10-31 15:30] mjtravers commented on #492
Patch for cancel button passes CR. It also passes a quick smoke test on DEV. Sending to QA.

[2022-10-31 15:40] WiseQA commented on #492
QA review "Save & add another" button not displaying in Transfer Transaction page.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d642c3fd-ee22-47eb-b757-ad83067b20b5)

@mjtravers @toddlees @MitchellTCG - Returned to "In-progress" for "Save & add another" button fix.

[2022-10-31 15:57] WiseQA commented on #459
QA Review verified selecting "Step One" "Add receipt and contributor information proceeded to blank Earmark Receipt page to enter information.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b81009a1-bb92-47e5-93c9-40ee9ac5fa06)

Verify Earmark Receipt page is displayed.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/9c7924db-8f2d-48ac-a600-b

[2022-10-31 16:03] WiseQA commented on #460
QA review verified once Earmark Receipt filled in then proceed to "Step 2"  #459 the Earmark Memo page is displayed.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/8d0fe097-48e3-4b0b-928d-d4cbbb39ffed)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/2bde9131-1596-4186-b45c-ced54efe4b60)

Verify Amount, Aggregate, and Contribution Purpose Desc

[2022-10-31 19:59] AureliaKhorsand commented on #463
@MitchellTCG @mary-tcg can we get a wireframe for this transaction?

[2022-10-31 20:01] AureliaKhorsand commented on #464
@MitchellTCG @mary-tcg can we get a wireframe for this transaction please?

[2022-10-31 20:02] AureliaKhorsand commented on #465
@MitchellTCG @mary-tcg ready for wireframe

[2022-10-31 20:11] AureliaKhorsand commented on #466
@MitchellTCG @mary-tcg ready for wireframe

[2022-10-31 20:45] MitchellTCG commented on #436
@AureliaKhorsand Wires have been added

[2022-10-31 21:40] MitchellTCG commented on #587
@AureliaKhorsand
I added the wire to the ticket with some dev notes

@JonellaCulmer @mary-tcg Please review

[2022-11-01 00:30] MitchellTCG commented on #477
@AureliaKhorsand
Added updated wire to the requirements at the top

@mary-tcg @JonellaCulmer
PLease review

[2022-11-01 00:52] MitchellTCG commented on #583
@AureliaKhorsand
Wires added

@mary-tcg @JonellaCulmer
Please review

[2022-11-01 12:22] JonellaCulmer commented on #587
@MitchellTCG I would much rather just have long transaction names wrap in the cell. We'll also get a better idea about data needs and what should appear in this table after this current survey, right? So there may be more space to play with than we know at this point. There's also no indicator to accompany the tooltip.

[2022-11-01 15:11] WiseQA commented on #272
QA review verified Other Receipts (Individual, Committee and Organization) using same Individual, Committee, Organization name the Contribution Aggregate displayed in both contacts page and Transactions table was accumulative value.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/88745152-152e-414f-8f99-61cf44b03441)

![image.png](https://images.zenhubusercontent.com/61

[2022-11-01 15:39] WiseQA commented on #565
QA adhoc testing completed on this ticket.   No test script written - e2e testing to satisfy this ticket.

Per DEV this functionality was completed in Code branch when Aggregate/Itemization were created,  Refer to DEV comments this was developed and CR'd under 459 & 460.

This code is currently on DEV

QA Review Completed.  Moved to Stage Ready.

[2022-11-01 16:48] mjtravers commented on #492
Button moved and code passes CR. Sending to QA.

[2022-11-01 18:30] MitchellTCG opened #662 "Create automated regression tests for QA scripts (Sprint 16)"
Create automated regression tests for QA scripts (Sprint 15)

Business Reason

As a developer or QA, I will be able to automatically run the Sprint-16 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

If I want to run the Sprint test scripts to retest the tickets

  When I run the automated tests in the Cypress framework

[2022-11-01 19:08] mjtravers commented on #481
Passed CR. Sending to QA.

[2022-11-01 19:50] AureliaKhorsand opened #663 "Update user message for when contact info is removed while updating"
Task: Update the language from "Updated [field] to [new value]" to "Removed [field]" when a user removes optional contact information while editing contact info within a transaction. Right now, the new value shows as "Undefined" or "blank" and is not user-friendly.

***Acceptance Criteria:***

***If*** the user makes edits to the contact information by _removing_ an optional field

  ***When*** th

[2022-11-01 19:52] AureliaKhorsand commented on #477
@MitchellTCG here is what we discussed at the requirements meeting:

- Need to add information for the user underneath the label “Contribution Purpose Description”
- When the user clicks to save and add a memo, the system will notify the user with a popup that the CPD is changing

[2022-11-01 19:52] AureliaKhorsand commented on #294
@MitchellTCG @JonellaCulmer here is what we discussed at the requirements session:

- Jonella will look into options for when a user returns later and needs information on why Memo Item is read-only (if we go the pop-up route)

[2022-11-01 19:53] AureliaKhorsand commented on #107
@MitchellTCG at requirements session, discussed how we need a new template for this in Contact Management. Design team to confer at the weekly UX review for solutions.

[2022-11-02 12:40] AureliaKhorsand commented on #497
@MitchellTCG @mary-tcg ready for wireframe

[2022-11-02 12:44] AureliaKhorsand commented on #499
@MitchellTCG @mary-tcg ready for wireframe

[2022-11-02 12:58] AureliaKhorsand commented on #501
@MitchellTCG @mary-tcg ready for wireframe

[2022-11-02 13:01] AureliaKhorsand commented on #503
@MitchellTCG @mary-tcg ready for wireframe

[2022-11-02 13:06] AureliaKhorsand commented on #498
@MitchellTCG @mary-tcg wireframe needs updated. Please note the transaction name and label changes.

[2022-11-02 13:07] AureliaKhorsand commented on #498
@MitchellTCG @mary-tcg wireframe needs updating. Please note transaction name and label changes.

[2022-11-02 13:21] AureliaKhorsand commented on #500
@MitchellTCG @mary-tcg wireframe needs updating. Please note the new transaction name and the label changes.

[2022-11-02 16:12] WiseQA commented on #492
QA review verified "Save & add another" button is displaying and functional.  Retested functionality of the buttons for Transfer transaction.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/8f231b5e-9b84-4b15-9743-ed912b5e12fb)

QA Review Completed.   Moved to Stage Ready.

[2022-11-02 16:19] AureliaKhorsand commented on #502
@MitchellTCG @mary-tcg needs updated wireframe. Please note transaction name change and label changes

[2022-11-02 17:47] mjtravers commented on #482
Passed CR. Sending to QA.

[2022-11-02 20:19] mjtravers commented on #403
Changes requested in CR. Sending to In Progress.

[2022-11-02 21:15] mjtravers commented on #447
Passes CR. Sending to QA.

[2022-11-02 21:16] mjtravers commented on #622
Passes CR. Sending to QA.

[2022-11-03 13:50] Elaine-Krauss-TCG commented on #403
A .fec generated with this ticket

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/4e8c7c68-83cf-442f-bc4d-291514ac8ed8)

[2022-11-03 15:08] mjtravers commented on #448
2 small changes requested in CR. Sending back to In Progress

[2022-11-03 16:03] WiseQA commented on #622
QA review verified ticket reran ticket #459 and #460.

QA Review Completed.  Moved to Stage Ready.

[2022-11-03 16:54] AureliaKhorsand commented on #512
@MitchellTCG @mary-tcg wireframes need updating. Please note label name changes and CPD requirements.

[2022-11-03 16:58] mjtravers opened #668 "Move transaction controller common code to parent class"
A number of the Group transaction components implement the memoCodeMustBeTrue() method. Dev code cleanup tasks are as follows:

1\. Move memoCodeMustBeTrue() method to TransactionTypeBase class.

  2\. Update ngOnInit() of child group components to share the same if check

  3\. Move readOnlyMemo property up to TransactionTypeBase class and rename to readOnlyMemoCode so it is more clear what input

[2022-11-03 16:59] AureliaKhorsand commented on #479
@MitchellTCG @mary-tcg wireframes need updating. Please note label name changes and CPD requirements.

[2022-11-03 17:01] mjtravers opened #669 "Refactor group transaction screens to use new input components"
***Dev Tasks***

  Refactor group A - F and AG transaction HTML templates to use the new input components

***QA Notes***

  Ad hoc test the following transaction screens. e2e testing will cover the full regression testing.

*   INDIVIDUAL_RECEIPT (A group)
*   OFFSET_TO_OPERATING_EXPENDITURES (B group)
*   OTHER_RECEIPT (C group)
*   TRIBAL_RECEIPT (D group)
*   JOINT_FUNDRAISING_TRANSFER (E grou

[2022-11-03 17:02] AureliaKhorsand commented on #511
@MitchellTCG @mary-tcg wireframes need updating. Please note label name changes and CPD requirements.

[2022-11-03 17:04] AureliaKhorsand commented on #489
@MitchellTCG @mary-tcg wireframes need updating. Please note label name changes and CPD requirements.

[2022-11-03 17:09] AureliaKhorsand commented on #488
@MitchellTCG @mary-tcg wireframes need updating. Please note label name changes and CPD requirements.

[2022-11-03 17:19] mjtravers commented on #451
Passes CR. Sending to QA.

[2022-11-03 17:21] WiseQA commented on #481
QA review and testing completed on this ticket. Verified able to enter Party Receipt.  No test script written - e2e testing to satisfy this ticket.

Per DEV this functionality was completed and satisfied with this ticket.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/bf932394-1518-4c16-9201-e0ed92242cdc)

QA Review Completed.  Moved to Stage Ready.

[2022-11-03 17:21] mjtravers commented on #448
Requested code changes will be made in new ticket: https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/668

Sending to QA.

[2022-11-03 19:07] WiseQA commented on #482
QA review and testing completed on this ticket. Verified able to enter PAC Receipt.  No test script written - e2e testing to satisfy this ticket.

Per DEV this functionality was completed and satisfied with this ticket.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/54966c96-c9d8-444e-8c0b-e73246fd1c17)

QA Review Completed.  Moved to Stage Ready.

[2022-11-04 14:24] WiseQA commented on #447
After entering a Joint Fundraising Transfer transaction, click the Save & add a memo button.  Verify dropdown list is displayed.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/af75ecec-8753-4142-b05c-97ce135e69c2)

Verify Confirm popup window is displayed - creating a new Party Memo, then select the Continue Button

![image.png](https://images.zenhubusercontent.com/61b

[2022-11-04 14:47] WiseQA commented on #451
After entering a Joint Fundraising Transfer transaction, click the Save & add a memo button.  Verify dropdown list is displayed.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0887d5b6-fe21-46ed-bad7-1231bf80f71c)

Verify Confirm popup window is displayed - creating a new Individual Memo, then select the Continue Button

![image.png](https://images.zenhubusercontent.co

[2022-11-04 14:56] WiseQA commented on #448
After entering a Joint Fundraising Transfer transaction, click the Save & add a memo button.  Verify dropdown list is displayed.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d9dfdcf7-2632-4eae-a84c-8d18ab0ace19)

Verify Confirm popup window is displayed - creating a new Tribal Memo, then select the Continue Button

![image.png](https://images.zenhubusercontent.com/61

[2022-11-04 16:39] Elaine-Krauss-TCG commented on #662
All pre-existing tests are once again working
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/0317146f-ca46-47c5-90ab-12e8df072903)

[2022-11-04 17:18] #668 closed, assigned to nobody

[2022-11-04 17:18] mjtravers commented on #668
Ticket is OBE. Closing.

[2022-11-04 20:38] mjtravers commented on #530
Passes CR. Sending to QA.

[2022-11-04 22:40] mjtravers commented on #403
Some requests from CR. Sending back to In Progress

[2022-11-07 14:03] WiseQA opened #673 "Defect - "Amount" field exceeding max amount of $999,999,999.99"
Business Reason

This defect is to correct the "Amount" field requirement amount should be max at $999,999,999.99, shouldn't be able to reach $1 billion but you can currently enter $999,999,999,999.99 in amount field.

This defect was found in Sprint 16 the Transfer transaction.

e2e testing will be performed on the Transfer transaction and the other transactions developed to date to verify Amount

[2022-11-08 21:53] Elaine-Krauss-TCG commented on #673
All transactions creating with this schema
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/c58aa9c5-1452-480f-b383-173367f9fa01)

All transactions passing field testing with this schema
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/ecfd7783-0ef6-411c-96eb-9a5664cb5373)

[2022-11-09 14:23] WiseQA commented on #673
No Code Review denoted in ticket,  Returned for Code Reviewer ?   @toddlees are you code reviewing ?

[2022-11-09 14:25] toddlees commented on #673
Passed CR, moving to QA

[2022-11-09 14:27] toddlees commented on #673
Passed CR, E2E tests run, moving to QA

[2022-11-09 15:58] WiseQA commented on #673
QA review verified "Amount" field cannot exceed max amount of $999,999,999.99.  Verified could not "Save".  (Note adhoc tested entering incorrect amount $999,999,999,999,99 Transfer, Other Receipts, Tribal Receipts).

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d236737c-7008-4e27-ab84-e980da74e223)

Verified "Amount" field cannot exceed max amount of $999,999,999.99.

[2022-11-10 12:47] toddlees commented on #520
Passes CR moving to QA

[2022-11-10 12:47] toddlees commented on #529
Passes CR, moving to QA

[2022-11-10 16:05] dheitzer commented on #639
Reviewed with @MitchellTCG and this appears to be fixed.  Putting on-hold for now.

[2022-11-10 16:12] MitchellTCG commented on #639
After talking to David, I retested this bug. It appears to be working as intended now.

![Screenshot 2022-11-10 at 11.05.12 AM.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/7d29b429-b582-4f12-a66c-729a27c501b1)

@mjtravers Please ping me about this ticket when you get back. I will most likely make it OBE.

[2022-11-10 16:52] WiseQA commented on #639
@MitchellTCG I also retested, I think ticket #447 - Allow user to enter Party Joint Fundraising Transfer Memo on Schedule A (Group F) might have fixed this "bug".

[2022-11-10 19:23] dheitzer commented on #69
Spoke with @MitchellTCG regarding this ticket  - putting this back in ASA for now.

[2022-11-11 20:41] Elaine-Krauss-TCG commented on #662
Transaction creation was reworked to be cleaner, easier to maintain, and to function well with paired transactions (such as the Earmark Receipt), and to more easily utilize pre-existing transactions

All Transactions are creating successfully (with no special code necessary within this test to accommodate the earmark receipt)
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed6

[2022-11-11 21:30] Elaine-Krauss-TCG commented on #662
In a full run, there were two failures
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/efa3d6a1-ab1c-4c7f-8a04-820c22888a24)

Both of these tests passed 3/3 times on being re-run individually.
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/3bb9208d-cbe0-43b7-9dda-a94ff4075f8f)
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64

[2022-11-11 22:25] Elaine-Krauss-TCG commented on #662
There's a new E2E test that checks for itemization and for being able to load pre-existing contacts.
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/db128d72-25ab-42d0-bc42-aa7b150a662f)

[2022-11-14 16:20] #448 closed, assigned to dheitzer

[2022-11-14 16:20] #451 closed, assigned to dheitzer

[2022-11-14 16:20] #565 closed, assigned to Elaine-Krauss-TCG

[2022-11-14 16:20] #621 closed, assigned to Elaine-Krauss-TCG

[2022-11-14 16:20] #447 closed, assigned to dheitzer

[2022-11-14 16:20] #473 closed, assigned to Elaine-Krauss-TCG

[2022-11-14 16:20] #482 closed, assigned to toddlees

[2022-11-14 16:20] #552 closed, assigned to dheitzer

[2022-11-14 16:20] #622 closed, assigned to mjtravers

[2022-11-14 16:20] #272 closed, assigned to toddlees

[2022-11-14 16:20] #302 closed, assigned to Elaine-Krauss-TCG

[2022-11-14 16:20] #481 closed, assigned to mjtravers

[2022-11-14 16:20] #492 closed, assigned to toddlees

[2022-11-14 16:20] #570 closed, assigned to Elaine-Krauss-TCG

[2022-11-14 16:20] #459 closed, assigned to mjtravers

[2022-11-14 16:20] #460 closed, assigned to toddlees

[2022-11-14 16:20] #590 closed, assigned to Elaine-Krauss-TCG

[2022-11-14 16:20] #631 closed, assigned to toddlees

[2022-11-14 16:22] #653 closed, assigned to Elaine-Krauss-TCG

[2022-11-14 16:54] WiseQA commented on #662
Changed to Sprint 17 - after CR need to review e2e testing on Sprint 16 tickets.

[2022-11-14 19:07] dheitzer commented on #641
The fix here was to remove 'id_token_hint' from the oidc logout payload and add 'client_id' as required in [the latest Logout request update from login.gov](https://developers.login.gov/oidc/#logout-request)

[2022-11-15 14:20] mjtravers commented on #534
Passes CR and merged into develop. Sending to QA.

[2022-11-15 15:47] mjtravers commented on #641
Passes CR. Sending to QA.

[2022-11-15 16:01] mjtravers commented on #662
Passes CR. Moving to QA.

[2022-11-15 16:03] GreggMoreland opened #678 "Allow user to enter Operating Expenditure on Schedule B (Group B)"
# Business Reason

As a Committee Administrator, I will be able to enter a **”Operating Expenditure”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a Disbursement
**Then** Click(open) on the "Operating Expenditures" Accordion l

[2022-11-15 16:04] GreggMoreland opened #679 "Allow user to enter Credit Card Payment for Operating Expenditure on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”Credit Card Payment for Operating Expenditure”*** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator editing an open Form 3X report

 ***Then*** Add a Disbursement

 ***Then*** Click (open) on the "O

[2022-11-15 16:08] GreggMoreland opened #680 "Allow user to enter Credit Card Memo for Operating Expenditure on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Credit Card Memo for Operating Expenditure”** sub-transaction under **”Credit Card Payment for Operating Expenditure”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Credit Card Payment

[2022-11-15 16:09] GreggMoreland opened #681 "Allow user to enter Staff Reimbursement for Operating Expenditure on Schedule B (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”Staff Reimbursement for Operating Expenditure”*** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator editing an open Form 3X report

 ***Then*** Add a Disbursement

 ***Then*** Click(open) on the "Op

[2022-11-15 16:11] GreggMoreland opened #682 "Allow user to enter Staff Reimbursement Memo for Operating Expenditure on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Staff Reimbursement Memo for Operating Expenditure”** sub-transaction under **”Staff Reimbursement for Operating Expenditure”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Staff Reimb

[2022-11-15 16:12] GreggMoreland opened #683 "Allow user to enter Payment to Payroll for Operating Expenditure on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”Payment to Payroll for Operating Expenditure”*** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator editing an open Form 3X report

 ***Then*** Add a Disbursement

 ***Then*** Click(open) on the "Ope

[2022-11-15 16:19] GreggMoreland opened #684 "Allow user to enter Payroll Memo for Operating Expenditure on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Payroll Memo for Operating Expenditure”** sub-transaction under **”Payment to Payroll for Operating Expenditure”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Payment to Payroll for O

[2022-11-15 16:20] GreggMoreland opened #685 "Allow user to enter Void of Operating Expenditure on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Void of Operating Expenditure”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a Disbursement
**Then** Click(open) on the "Operating Expenditures" Accor

[2022-11-15 18:29] AureliaKhorsand commented on #521
@MitchellTCG @mary-tcg Outdated wireframe removed. **Needs updating to match current requirements and label names.**

[2022-11-15 18:30] AureliaKhorsand commented on #498
@MitchellTCG @mary-tcg Outdated wireframe removed. **Needs updating to match current requirements and label names.**

[2022-11-15 18:31] AureliaKhorsand commented on #500
@MitchellTCG @mary-tcg Outdated wireframe removed. **Needs updating to match current requirements and label names.**

[2022-11-15 18:31] AureliaKhorsand commented on #502
@MitchellTCG @mary-tcg Outdated wireframe removed. **Needs updating to match current requirements and label names.**

[2022-11-15 18:31] AureliaKhorsand commented on #609
@MitchellTCG @mary-tcg Needs updated wireframe.

[2022-11-15 18:33] AureliaKhorsand commented on #528
@MitchellTCG @mary-tcg Outdated wireframe removed. **Needs updating to match current requirements and label names.**

[2022-11-15 18:34] AureliaKhorsand commented on #533
@MitchellTCG @mary-tcg Outdated wireframe removed. **Needs updating to match current requirements and label names.**

[2022-11-15 18:35] AureliaKhorsand commented on #511
@MitchellTCG @mary-tcg Outdated wireframe removed. **Needs updating to match current requirements and label names.**

[2022-11-15 18:35] AureliaKhorsand commented on #479
@MitchellTCG @mary-tcg Ready for wireframe.

[2022-11-15 18:36] AureliaKhorsand commented on #512
@MitchellTCG @mary-tcg Outdated wireframe removed. **Needs updating to match current requirements and label names.**

[2022-11-15 18:49] AureliaKhorsand commented on #522
@MitchellTCG @mary-tcg Ready for updated wireframe. Please note label name changes and requirements in ticket.

[2022-11-15 18:53] AureliaKhorsand commented on #525
@MitchellTCG @mary-tcg Ready for updated wireframe. Please note label name changes and requirements in ticket.

[2022-11-15 18:58] AureliaKhorsand commented on #535
@MitchellTCG @mary-tcg Ready for updated wireframe. Please note label name changes and requirements.

[2022-11-15 19:06] AureliaKhorsand commented on #523
@MitchellTCG @mary-tcg ready for wireframe

[2022-11-15 19:08] AureliaKhorsand commented on #526
@MitchellTCG @mary-tcg ready for wireframe

[2022-11-15 19:17] AureliaKhorsand commented on #531
@MitchellTCG @mary-tcg ready for updated wireframe

[2022-11-15 19:19] AureliaKhorsand commented on #536
@MitchellTCG @mary-tcg Ready for updated wireframe

[2022-11-15 19:22] AureliaKhorsand commented on #524
@MitchellTCG @mary-tcg ready for updated wireframe.

[2022-11-15 19:34] AureliaKhorsand commented on #527
@MitchellTCG @mary-tcg ready for updated wireframe.

[2022-11-15 19:37] AureliaKhorsand commented on #532
@MitchellTCG @mary-tcg ready for updated wireframe

[2022-11-15 21:49] AureliaKhorsand commented on #537
@MitchellTCG @mary-tcg ready for updated wireframe

[2022-11-15 23:10] WiseQA commented on #662
@MitchellTCG  @mjtravers QA review not completed.  Need a visual of e2e testing of these tickets.

DEV review in Code Review verified e2e testing.  QA review not performed on this ticket.

QA review completed. Moved to Stage Ready.

[2022-11-15 23:37] WiseQA commented on #403
@mjtravers @MitchellTCG  what was the changes sent back to In-progress or does it matter to QA ?  Also is there a pattern I need to see in the response from .fec ?  or does it matter on the order of things being posted ?

[2022-11-16 13:34] WiseQA commented on #529
QA review verified Party Recount Receipt transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d766ed4c-868e-4076-82a3-4256206ff55e)

Verify Confirm popup window is displayed - creating a new committee contact Party Recount Receipt, then select the Continue Button

![image.png](https://images.zenhubusercontent.com/61ba01e428a

[2022-11-16 13:40] WiseQA commented on #530
QA review verified PAC Recount Receipt transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/3da05fe3-8aa7-4b7a-90ad-cb9cff1ed5a1)

Verify Confirm popup window is displayed - creating a new committee contact PAC Recount Receipt, then select the Continue Button

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b

[2022-11-16 13:58] WiseQA commented on #534
QA review verified Tribal Recount Receipt transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/6ecf8821-bcef-4c20-98ec-ad2f99c65438)

Verify Confirm popup window is displayed - creating a new committee contact Tribal Recount Receipt, then select the Continue Button

![image.png](https://images.zenhubusercontent.com/61ba01e42

[2022-11-16 14:25] Elaine-Krauss-TCG commented on #403
@WiseQA

The changes requested as part of CR mostly reflected code changes that needed to be made in order to have the cleanest possible solution rather than anything that a user would be able to observe.

The generated .fec should have the memo text descriptions present on their own separate lines immediately following their respective transactions per the ticket requirements

[2022-11-16 14:43] GreggMoreland opened #687 "Allow user to enter Transfer to Affiliates/Other Committees on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Transfer to Affiliates/Other Committees”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Contributions/Expe

[2022-11-16 14:48] GreggMoreland opened #688 "Allow user to enter Contribution to Candidate on Schedule B (Group M)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Contribution to Candidate”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Contributions/Expenditures to Re

[2022-11-16 14:49] GreggMoreland opened #689 "Allow user to enter Void of Contribution to Candidate on Schedule B (Group M)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Void of Contribution to Candidate”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Contributions/Expenditur

[2022-11-16 15:00] GreggMoreland opened #690 "Allow user to enter Contribution to Other Committee on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Contribution to Other Committee”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Contributions/Expenditures

[2022-11-16 15:16] GreggMoreland opened #691 "Allow user to enter Void of Contribution to Other Committee on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Void of Contribution to Other Committee”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Contributions/Expe

[2022-11-16 15:19] GreggMoreland opened #692 "Allow user to enter Other Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Other Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a Disbursement
**Then** Click(open) on the "Other Expenditures" Accordion link
**The

[2022-11-16 15:19] GreggMoreland opened #693 "Allow user to enter Credit Card Payment for Other Disbursement on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Credit Card Payment for Other Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a Disbursement
**Then** Click (open) on the "Other Expenditu

[2022-11-16 15:40] GreggMoreland opened #694 "Allow user to enter Credit Card Memo for Other Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Credit Card Memo for Other Disbursement”** sub-transaction under **”Credit Card Payment for Other Disbursement”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Credit Card Payment for O

[2022-11-16 15:42] GreggMoreland opened #695 "Allow user to enter Staff Reimbursement for Other Disbursement on Schedule B (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Staff Reimbursement for Other Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a Disbursement
**Then** Click(open) on the "Other Expenditur

[2022-11-16 15:46] dheitzer commented on #497
@mjtravers can I confirm that the Dev Note can be removed from this ticket? I think it should only be there for child transactions (not parents) and wanted to confirm.

[2022-11-16 15:51] WiseQA opened #696 "BUG: Earmark Receipt/Memo should only display Earmark Receipt/Memo Lookup until Entity is selected"
This Bug is written as the Earmark Receipt Transaction Step One (once selected) is displaying the entire form versus "Lookup" to proceed entering a Earmark Receipt, as is Earmark Memo Step Two.

How to Replicate the Issue

1\. Create Earmark Receipt.

  2\. Select Step One

![image.png]([https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/72a67e8e-837e-421f-9d3f-ffe081eb3c7c](https://ima

[2022-11-16 16:04] Elaine-Krauss-TCG commented on #463
Transaction implemented
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/10fc58b4-33bc-4380-b302-aa11cbe5b13d)

Unitemized when under $200
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/574e6f16-e01c-41d0-b1fb-861a316ff33f)

[2022-11-16 16:15] Elaine-Krauss-TCG commented on #463
Sub transactions are listed correctly
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/949f5ac8-4f87-4f21-87a4-c18cf107b6ad)

**edit:** I completely missed that the Tribal sub transaction was listed twice.  That has been fixed.
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/3cad6ae1-a00c-487b-abf7-276ddc5eebf1)

[2022-11-16 16:40] GreggMoreland opened #699 "Allow user to enter Staff Reimbursement Memo for Other Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Staff Reimbursement Memo for Other Disbursement”** sub-transaction under **”Staff Reimbursement for Other Disbursement”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Staff Reimburseme

[2022-11-16 16:41] Elaine-Krauss-TCG commented on #463
New transaction added to E2E coverage
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/83994d15-ab5a-43b2-886d-a6824333e515)

[2022-11-16 16:42] GreggMoreland opened #700 "Allow user to enter Payment to Payroll for Other Disbursement on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Payment to Payroll for Other Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a Disbursement
**Then** Click(open) on the "Other Expenditure

[2022-11-16 16:43] GreggMoreland opened #701 "Allow user to enter Payroll Memo for Other Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Payroll Memo for Other Disbursement”** sub-transaction under **”Payment to Payroll for Other Disbursement”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Payment to Payroll for Other D

[2022-11-16 16:44] GreggMoreland opened #702 "Allow user to enter Void of Other Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Void of Other Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a Disbursement
**Then** Click (open) on the "Other Expenditures" Accordion l

[2022-11-16 16:59] WiseQA commented on #520
QA review verified Individual Recount Receipt transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/adb45989-df1e-4047-bdc2-c9686123c33d)

Verify Confirm popup window is displayed - creating a new committee contact Individual Recount Receipt, then select the Continue Button

![image.png](https://images.zenhubusercontent.com/6

[2022-11-16 16:59] GreggMoreland opened #703 "Allow user to enter Non-contribution Account Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Non-contribution Account Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Other Expenditures"

[2022-11-16 17:02] GreggMoreland opened #704 "Allow user to enter Non-contribution Account Credit Card Payment on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Non-contribution Account Credit Card Payment”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click(open) on the "Other Expendit

[2022-11-16 17:03] GreggMoreland opened #705 "Allow user to enter Non-contribution Account Credit Card Payment Memo on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Non-contribution Account Credit Card Payment Memo”** sub-transaction under **”Non-contribution Account Credit Card Payment”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Non-contribut

[2022-11-16 17:04] GreggMoreland opened #706 "Allow user to enter Non-contribution Account Staff Reimbursement on Schedule B (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Non-contribution Account Staff Reimbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Other Expendi

[2022-11-16 17:13] GreggMoreland opened #707 "Allow user to enter Non-contribution Account Staff Reimbursement Memo on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Non-contribution Account Staff Reimbursement Memo”** sub-transaction under **”Non-contribution Account Staff Reimbursement ”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Non-contribu

[2022-11-16 17:14] WiseQA commented on #641
QA review verified logout error when logging in using login.gov in both DEV and Stage working correctly.
1.  Select Logout verify below page is displayed.  Select "Yes, sign out of Login.gov" button.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/4b187a74-8634-4111-89af-b6e1248db835)

2.  Return to login page.

![image.png](https://images.zenhubusercontent.com/61ba01e4

[2022-11-16 17:15] GreggMoreland opened #708 "Allow user to enter Non-contribution Account Payment to Payroll on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Non-contribution Account Payment to Payroll”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Other Expendit

[2022-11-16 17:42] AureliaKhorsand commented on #513
@MitchellTCG @mary-tcg ready for wireframe. Note that this is Step One - Earmark Receipt.

[2022-11-16 17:43] AureliaKhorsand commented on #514
@MitchellTCG @mary-tcg ready for wireframe. Note that this is Step Two - Earmark Memo.

[2022-11-16 17:46] AureliaKhorsand commented on #515
@MitchellTCG @mary-tcg ready for wireframe. Note that this is Step One - Earmark Receipt.

[2022-11-16 17:47] AureliaKhorsand commented on #516
@MitchellTCG @mary-tcg ready for wireframe. Note that this is Step Two - Earmark Memo.

[2022-11-16 17:49] AureliaKhorsand commented on #517
@MitchellTCG @mary-tcg ready for wireframe. Note that this is Step One - Earmark Receipt.

[2022-11-16 17:50] AureliaKhorsand commented on #518
@MitchellTCG @mary-tcg ready for wireframe. Note that this is Step Two - Earmark Memo.

[2022-11-16 18:12] GreggMoreland opened #709 "Allow user to enter Non-contribution Account Payment to Payroll Memo on Schedule B (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Non-contribution Account Payment to Payroll Memo”** sub-transaction under **”Non-contribution Account Payment to Payroll”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Non-contributio

[2022-11-16 18:13] GreggMoreland opened #710 "Allow user to enter National Party Recount/Legal Proceedings Account Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”National Party Recount/Legal Proceedings  Account Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on

[2022-11-16 18:14] GreggMoreland opened #711 "Allow user to enter Recount Account Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Recount Account Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Other Expenditures" Accordion

[2022-11-16 18:15] GreggMoreland opened #712 "Allow user to enter National Party Headquarters Buildings Account Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”National Party Headquarters Buildings Account Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the

[2022-11-16 18:18] GreggMoreland opened #713 "Allow user to enter National Party Pres. Nominating Convention Account Disbursement on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”National Party Pres. Nominating Convention Account Disbursement”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on

[2022-11-16 18:20] GreggMoreland opened #714 "Allow user to enter Individual Refund - National Party Headquarters Buildings Account on Schedule B (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Individual Refund - National Party Headquarters Buildings Account”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open)

[2022-11-16 18:21] GreggMoreland opened #715 "Allow user to enter Other Committee Refund - National Party Headquarters Buildings Account on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Other Committee Refund - National Party Headquarters Buildings Account”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click

[2022-11-16 18:23] GreggMoreland opened #716 "Allow user to enter Tribal Refund - National Party Headquarters Buildings Account on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Tribal Refund - National Party Headquarters Buildings Account”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on t

[2022-11-16 19:24] GreggMoreland opened #717 "Allow user to enter Individual Refund - National Party Pres. Nominating Convention Account on Schedule B (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Individual Refund - National Party Pres. Nominating Convention Account”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (o

[2022-11-16 19:25] GreggMoreland opened #718 "Allow user to enter Other Committee Refund - National Party Pres. Nominating Convention Account on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Other Committee Refund - National Party Pres. Nominating Convention Account”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then**

[2022-11-16 19:26] GreggMoreland opened #719 "Allow user to enter Tribal Refund - National Party Pres. Nominating Convention Account on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Tribal Refund - National Party Pres. Nominating Convention Account”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open)

[2022-11-16 19:27] GreggMoreland opened #720 "Allow user to enter Individual Refund - National Party Recount/Legal Proceedings Account on Schedule B (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Individual Refund - National Party Recount/Legal Proceedings Account”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (ope

[2022-11-16 19:28] GreggMoreland opened #721 "Allow user to enter Other Committee Refund - National Party Recount/Legal Proceedings Account on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Other Committee Refund - National Party Recount/Legal Proceedings Account”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Cl

[2022-11-16 19:29] GreggMoreland opened #722 "Allow user to enter Tribal Refund - National Party Recount/Legal Proceedings Account on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Tribal Refund - National Party Recount/Legal Proceedings Account”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) o

[2022-11-16 19:31] GreggMoreland opened #723 "Allow user to enter Refund of Individual Contribution on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Refund of Individual Contribution”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Refunds" Accordion link

[2022-11-16 19:32] GreggMoreland opened #724 "Allow user to enter Refund of Individual Contribution - Void on Schedule B (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Refund of Individual Contribution - Void”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click(open) on the "Refunds" Accordion

[2022-11-16 19:45] GreggMoreland opened #725 "Allow user to enter Refund of Party Contribution on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Refund of Party Contribution”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click(open) on the "Refund" Accordion link
**Then*

[2022-11-16 19:46] GreggMoreland opened #726 "Allow user to create Refund of Party Contribution - Void on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Refund of Party Contribution - Void”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Refund" Accordion link

[2022-11-16 19:47] GreggMoreland opened #727 "Allow user to enter Refund of PAC Contribution on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Refund of PAC Contribution”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Refund" Accordion link
**Then**

[2022-11-16 19:48] GreggMoreland opened #728 "Allow user to enter Refund of PAC Contribution - Void on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Refund of PAC Contribution - Void”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click (open) on the "Refund" Accordion link
*

[2022-11-16 19:49] GreggMoreland opened #729 "Allow user to enter Refund of Unregistered Receipt from Person on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Refund of Unregistered Receipt from Person”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click(open) on the "Refund" Accordio

[2022-11-16 19:50] GreggMoreland opened #730 "Allow user to enter Refund of Unregistered Receipt from Person - Void on Schedule B (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Refund of Unregistered Receipt from Person - Void”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click(open) on the "Refund" A

[2022-11-16 19:52] GreggMoreland opened #731 "Allow user to enter 100% Federal Election Activity Payment on Schedule B (Group O)"
Business Reason

As a Committee Administrator, I will be able to enter a **”100% Federal Election Activity Payment”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click(open) on the " Federal Election Ac

[2022-11-16 19:54] GreggMoreland opened #732 "Allow user to enter Credit Card Payment for 100% Federal Election Activity on Schedule B (Group R)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Credit Card Payment for 100% Federal Election Activity”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click(open) on the " Fed

[2022-11-16 19:54] GreggMoreland opened #733 "Allow user to enter Credit Card Memo for 100% Federal Election Activity on Schedule B (Group O)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Credit Card Memo for 100% Federal Election Activity"** sub-transaction under **”Credit Card Payment for 100% Federal Election Activity”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a C

[2022-11-16 19:56] GreggMoreland opened #734 "Allow user to enter Staff Reimbursement for 100% Federal Election Activity on Schedule B (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Staff Reimbursement for 100% Federal Election Activity”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click(open) on the " Fed

[2022-11-16 19:56] GreggMoreland opened #735 "Allow user to enter Staff Reimbursement Memo for 100% Federal Election Activity on Schedule B (Group S)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Staff Reimbursement Memo for 100% Federal Election Activity”** sub-transaction under **”Staff Reimbursement for 100% Federal Election Activity”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am edi

[2022-11-16 20:01] GreggMoreland opened #736 "Allow user to enter Payment to Payroll for 100% Federal Election Activity on Schedule B (Group R)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”Payment to Payroll for 100% Federal Election Activity Payment”*** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator editing an open Form 3X report

  ***Then*** Add a disbursement

  ***Then*** Clic

[2022-11-16 20:02] GreggMoreland opened #737 "Allow user to enter Payroll Memo for 100% Federal Election Activity on Schedule B (Group S)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Payroll Memo for 100% Federal Election Activity”** sub-transaction under **”Payment to Payroll for 100% Federal Election Activity”** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editing a Paymen

[2022-11-16 20:02] GreggMoreland opened #738 "Allow user to enter Void of 100% Federal Election Activity on Schedule B (Group O)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Void of 100% Federal Election Activity Payment”** transaction on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a disbursement
**Then** Click(open) on the " Federal Ele

[2022-11-16 20:04] GreggMoreland opened #739 "Allow system to create In-kind Out on Schedule B (Group A)"
Business Reason

As a Committee Administrator, I will be able to view an ***In-kind Out*** transaction on Schedule B of a Form 3x report when an ***In-kind Receipt*** Transaction on Schedule A of a Form 3x report is saved, so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator editing an open Form 3X report

 ***If*** an ***

[2022-11-16 20:05] GreggMoreland opened #740 "Allow user to enter Party In-kind Out on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to view an ***Party In-kind Out*** transaction on Schedule B of a Form 3x report when an ***Party In-kind*** Transaction on Schedule A of a Form 3x report is saved, so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator editing an open Form 3X report

 ***If*** an

[2022-11-16 20:06] GreggMoreland opened #741 "Allow user to enter PAC In-kind Out on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to view an ***PAC In-kind Out*** transaction on Schedule B of a Form 3x report when an ***PAC In-kind*** Transaction on Schedule A of a Form 3x report is saved, so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator editing an open Form 3X report

 ***If*** an ***

[2022-11-16 20:07] GreggMoreland opened #742 "Allow user to enter In-kind Transfer Out on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to view an **In-kind Transfer Out** transaction on Schedule B of a Form 3x report when an **In-kind Transfer** Transaction on Schedule A of a Form 3x report is saved, so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**If** an **

[2022-11-16 20:08] GreggMoreland opened #743 "Allow user to enter In-kind Transfer - Federal Election Activity Out on Schedule B (Group E)"
Business Reason

As a Committee Administrator, I will be able to view an **In-kind Transfer - Federal Election Activity Out** transaction on Schedule B of a Form 3x report when an **In-kind Transfer - Federal Election Activity** Transaction on Schedule A of a Form 3x report is saved, so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee A

[2022-11-16 20:08] GreggMoreland opened #744 "Allow user to enter Earmark Out on Schedule B (Group M)"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

 QA Note

 DEV Note

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-11-16 20:09] GreggMoreland opened #745 "Allow user to enter Conduit Earmark Out on Schedule B (Group M)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”Conduit Earmark Out”*** sub-transaction under ***”Conduit Earmark”*** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

***NOTE:*** This is a "child" transaction that will be associated with a parent transaction. The "parent" transaction is on Schedule A.

Acceptance Criter

[2022-11-16 20:10] GreggMoreland opened #746 "Allow user to enter Conduit Earmark Out (Undeposited) on Schedule B (Group M)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Conduit Earmark Out (Undeposited)”** sub-transaction under **”Conduit Earmark (Undeposited)”**  on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be associated with a parent transaction. The "parent" transaction is on Schedul

[2022-11-16 20:12] GreggMoreland opened #747 "Allow user to enter PAC Conduit Earmark Out on Schedule B (Group M)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”PAC Conduit Earmark Out”*** sub-transaction under ***”PAC Conduit Earmark”*** on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

***NOTE:*** This is a "child" transaction that will be associated with a parent transaction. The "parent" transaction is on Schedule A

Acceptance

[2022-11-16 20:12] GreggMoreland opened #748 "Allow user to enter PAC Conduit Earmark Memo (Undeposited) on Schedule B (Group M)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC Conduit Earmark Memo (Undeposited)”** sub-transaction under **”PAC Conduit Earmark (Undeposited)”**  on Schedule B of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be associated with a parent transaction. The "parent" transaction is o

[2022-11-16 22:25] mjtravers commented on #639
I believe #460 fixed this bug which looks to have been in the front-end transaction resolver. Here's the [PR](https://github.com/fecgov/fecfile-web-app/pull/586) and the specific [commit](https://github.com/fecgov/fecfile-web-app/commit/d0545de3c8528aba04b7893e17f75cbcc6c7fdec) where the code change was made.

Closing this ticket as it is OBE.

[2022-11-16 22:25] #639 closed, assigned to mjtravers, dheitzer

[2022-11-17 14:14] Elaine-Krauss-TCG commented on #464
Transaction implemented and creating as expected
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/e530df9c-10a0-4a3b-bc69-1f9dba5d9b3f)

[2022-11-17 14:15] Elaine-Krauss-TCG commented on #466
Transaction implemented and creating as expected
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/e530df9c-10a0-4a3b-bc69-1f9dba5d9b3f)

[2022-11-17 16:03] Elaine-Krauss-TCG commented on #464
Added child transaction to E2E coverage, and it's passing
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/d199c1f3-2974-4474-9ff9-bcdc3e69393f)

[2022-11-17 16:03] Elaine-Krauss-TCG commented on #466
Added child transaction to E2E coverage, and it's passing
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/d199c1f3-2974-4474-9ff9-bcdc3e69393f)

[2022-11-17 16:03] Elaine-Krauss-TCG commented on #465
Transaction implemented and creating as expected
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/e530df9c-10a0-4a3b-bc69-1f9dba5d9b3f)

[2022-11-17 16:04] Elaine-Krauss-TCG commented on #465
Added child transaction to E2E coverage, and it's passing
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/d199c1f3-2974-4474-9ff9-bcdc3e69393f)

[2022-11-17 19:35] Elaine-Krauss-TCG commented on #533
Transaction creating and itemized correctly
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/f969f03e-da66-4d08-8f6a-4e9c542a2124)

[2022-11-17 19:36] Elaine-Krauss-TCG commented on #533
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/a5434694-be23-4f5c-90a2-9cd19cc3595a)

[2022-11-17 20:06] Elaine-Krauss-TCG commented on #533
Added E2E support

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/ef2c6972-98f1-48ee-9183-5f53b200922a)

[2022-11-18 00:14] mjtravers commented on #463
Passes CR. Sending to QA.

[2022-11-18 00:29] mjtravers commented on #497
Found in CR that the new transaction type needs to be added to the cypress e2e tests per Elaine's slack message in the dev channel on Nov. 16 at 12pm. Sending back to In Progress

[2022-11-18 00:49] mjtravers commented on #464
Passes CR. Sending to QA.

[2022-11-18 00:49] mjtravers commented on #465
Passes CR. Sending to QA.

[2022-11-18 00:50] mjtravers commented on #466
Passes CR. Sending to QA.

[2022-11-18 12:17] mjtravers commented on #533
Passes CR. Sending to QA.

[2022-11-18 12:25] mjtravers commented on #696
Passes CR. Sending to QA.

[2022-11-18 12:48] mjtravers commented on #626
A code change is requested from CR. See the [PR](https://github.com/fecgov/fecfile-web-app/pull/686) comment. Sending back to In Progress.

[2022-11-18 15:55] WiseQA commented on #696
QA review verified Earmark Receipt displays Contact Lookup once selecting Step One of Earmark.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/222a94a5-63aa-4edd-a1a2-440fc7633dd3)

QA review verified Earmark memo displays Contact Lookup once selecting Step Two of Earmark.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/49f70974-4968-4b2a-8b1

[2022-11-18 16:05] MitchellTCG commented on #696
@WiseQA
In theory it should but there is a larger UX and development question about how and when error message will show. For that reason, please ignore this issue for now. The UX team will look into it and we will create an additional ticket later to address this.

This is not a showstopper.

@MitchellTCG thanks for clarification.

[2022-11-18 16:09] WiseQA commented on #696
QA Review Completed.  Moved to Stage Ready.

[2022-11-18 16:16] dheitzer commented on #497
Added/tested e2e tests for this.

[2022-11-18 16:24] mjtravers commented on #497
Passes CR. Sending to QA.

[2022-11-18 19:24] mjtravers commented on #403
Passes CR. Sending to QA.

[2022-11-18 20:00] Elaine-Krauss-TCG commented on #519
Transaction added
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/0d865343-a7c3-4ffc-8436-85d184b5f3b3)

[2022-11-18 20:40] mjtravers commented on #626
Passes CR. Sending to QA.

[2022-11-21 19:05] AureliaKhorsand opened #756 "System to truncate the field if Purpose Description is greater than 100 characters"
### Business Reason ###
As a FECfile Online user, I should see that transactions with system generated Purpose Descriptions that contain a long entity name are truncated so that they do not exceed 100 characters.

### Acceptance Criteria ###

**Given** a system-generated Purpose Description
**If** the description is longer than 100 characters
**Then** they system will truncate the description to 1

[2022-11-21 20:30] dheitzer commented on #498
![image.png](https://images.zenhubusercontent.com/6298ce840c1c301e7c4a4151/e720e065-b3ef-418d-a1be-f7a1bca6b7df)

[2022-11-21 21:02] MitchellTCG commented on #477
@AureliaKhorsand  Updated

[2022-11-21 22:14] mjtravers commented on #519
e2e test output:
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/37551dce-9205-42dd-be70-874d801cf99c)

[2022-11-21 22:14] mjtravers commented on #519
Passes CR. Sending to QA.

[2022-11-22 14:20] mjtravers commented on #501
Passes CR but awaiting e2e screenshot. Sending to QA.

[2022-11-22 14:22] mjtravers commented on #499
Passes CR but awaiting e2e screenshot. Sending to QA.

[2022-11-22 14:23] mjtravers commented on #503
Passes CR but awaiting e2e screenshot. Sending to QA.

[2022-11-22 14:24] mjtravers commented on #528
Passes CR but awaiting e2e screenshot. Sending to QA.

[2022-11-22 14:25] mjtravers commented on #534
Awaiting  e2e screenshot for verification.

[2022-11-22 14:25] mjtravers commented on #530
Awaiting  e2e screenshot for verification.

[2022-11-22 14:25] mjtravers commented on #529
Awaiting  e2e screenshot for verification.

[2022-11-22 14:25] mjtravers commented on #520
Awaiting  e2e screenshot for verification.

[2022-11-22 19:23] mjtravers commented on #465
@WiseQA While doing some testing it was found that the contribution purpose description is incorrect for this ticket. It was coded to be "Pres. Nominating Convention Account JF Memo: XXX" while it should be "Recount/Legal Proceedings Account JF Memo: XXX". This will need to corrected on STAGE.

[2022-11-22 19:43] toddlees commented on #465
@mjtravers @WiseQA I found that I broke this while implementing another ticket.  I have a patch up ready to be merged into stage here https://github.com/fecgov/fecfile-web-app/pull/760

[2022-11-22 20:02] mjtravers opened #761 "Setup nightly e2e Cypress process on CircleCI"
The Cypress end-to-end testing needs to generate a report nightly using CircleCI resources.

**Tasks**
1. Set up a CircleCI scheduled pipeline (https://circleci.com/blog/using-scheduled-pipelines/) that run the e2e tests and reports any errors found during the run
2. Set up CircleCI Notifications (https://circleci.com/docs/notifications/) to send the e2e test report to the fecfile-alerts Slack cha

[2022-11-22 20:18] mjtravers opened #762 "Refactor test suite names and add missing transaction coverage to Cypress"
Currently, the Cypress e2e test suite is organized by sprint and ticket number. This has become problematic as the number of tests has grown in managing what tests are being run. This task is to refactor the organization of the e2e test suites to rename the test files to what they are testing rather than the ticket number and then group those files in directories that map roughly to the site navig

[2022-11-22 20:44] mjtravers opened #763 "Refactor TransactionTypeBaseComponent code"
The TransactionTypeBaseComponent has ballooned to 500+ lines. The technical debt task is to split the component into 2: TransactionTypeBaseComponent and TransactionTypeX1BaseComponent.

***Tasks***

  1\. TransactionTypeBaseComponent will contain the properties and methods used by both the TransactionTypeX1BaseComponent and TransactionTypeX2BaseComponent child and grandchild classes that inherit i

[2022-11-23 14:43] WiseQA commented on #465
@toddlees @mjtravers Please let us know when patch has been pushed to Stage.   Good catch Todd  thanks !

[2022-11-23 15:54] mjtravers commented on #465
@WiseQA The patch has been pushed to STAGE and is ready for testing.

[2022-11-23 18:34] mjtravers opened #766 "Create Sched B Angular model and service"
Similarly to the SchATransaction model and SchATransactionService, create a SchBTransaction model and SchBTransactionService in the angular shared directory.

***Tasks***
 1\. Create SchBTransaction model. Use SchATransaction and SchB validation schema as a template.
 2\. Refactor SchATransaction and SchBTransaction classes to factor out common code, if any, to a Transaction parent class. If a Tra

[2022-11-28 16:55] WiseQA commented on #499
QA review verified Individual National Party Pres. Nominating Convention Account JF Transfer Memo is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b9d29a75-dc03-463f-9345-fc9680f9d517)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/2f830610-a36c-4498-8cba-9eeaf1b8d822)

Verify Confirm popup window is dis

[2022-11-28 17:07] WiseQA commented on #497
QA review verified Joint Fundraising Transfer - National Party Pres. Nominating Convention Account transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b651171e-80c1-47e2-8846-dd75a6a7b2ca)

Verified Transactions table is updated, and transaction is itemized – Aggregate amount is >200.01

![image.png](https://images.zenhubus

[2022-11-28 17:32] WiseQA commented on #626
QA verified PAC JF TRANSFER and EARMARK RECEIPT can be created per refactor of TransactionType.parent Transaction.

QA Review Completed.  Moved to Stage Ready.

[2022-11-28 17:42] WiseQA commented on #533
QA review verified Business/Labor Organization Receipt - Non-Contribution Account transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/93d459f2-3a50-4856-a733-a066ab41d5ca)

Verify Confirm popup window is displayed - creating a new organization contact.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca

[2022-11-28 17:58] WiseQA commented on #403
QA verified .fec file is downloadable, and viewable as denoted in acceptance criteria.  (Note downloaded to NotePad)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/813973f2-6fff-4e37-bdab-87d861579f91)

QA Review Completed.   Moved to Stage Ready.

[2022-11-28 20:37] Elaine-Krauss-TCG commented on #652
Cypress integration is done.  Due to the design of Lighthouse, it is not able to test any pop-ups, notably including the contact forms.

[2022-11-28 20:42] Elaine-Krauss-TCG commented on #652
Lighthouse generates individual reports for each page tested

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/9553bcda-0940-463a-b111-9b8c411db702)
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/1b8b2aea-da23-46c7-bd25-9c10366560a5)

[2022-11-28 20:48] WiseQA commented on #528
QA review verified Other Committee Receipt - Non-Contribution Account transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/3811e74a-d0bc-4c1d-a09a-8dca2e3e8fdc)

Verify Confirm popup window is displayed - creating a new committee contact

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0440e716-88e

[2022-11-28 20:53] Elaine-Krauss-TCG commented on #652
The lighthouse testing runs as a cypress test.  Currently, all pages are passing
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/b6686242-0c14-415b-b3de-aec9d9a9f2c6)

[2022-11-28 20:55] Elaine-Krauss-TCG commented on #652
The Cypress test for a page will fail if Lighthouse reports an accessibility score below 90.

Performance, "best practices," search-engine-optimization, and "pwa" are measured, but low scores in these categories will *not* cause the Cypress test to fail.

[2022-11-28 21:22] WiseQA commented on #463
@mjtravers naming of this transaction needs to match the ticket name in both accordion dropdown and Title of Transaction page.

Correct Naming is:
Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account

Accordion dropdown needs changed to naming of ticket (see below what is being displayed)
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/8a2b0f92-9

[2022-11-28 21:34] WiseQA commented on #519
QA review verified Individual Receipt - Non-Contribution Account transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/adefccab-8b5d-406e-a3d0-f5e6b76c4f9a)

Verify Confirm popup window is displayed - creating a new individual contact

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0dce3eb6-932f-4c

[2022-11-28 22:05] WiseQA commented on #464
@mjtravers naming of this transaction needs to match the ticket name in both accordion dropdown and Title of Transaction memo page.

Correct Naming is:
Individual National Party Recount/Legal Proceedings Account JF Transfer Memo

Accordion dropdown needs changed to naming of ticket (see below what is being displayed)  Ticket #463
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb

[2022-11-28 22:13] WiseQA commented on #466
@mjtravers naming of this transaction needs to match the ticket name in both accordion dropdown and Title of Transaction memo page.

Correct Naming is:
Tribal National Party Recount/Legal Proceedings Account JF Transfer Memo

Accordion dropdown needs changed to naming of ticket (see below what is being displayed)  Ticket #463
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca7

[2022-11-28 22:31] WiseQA commented on #503
QA verified Tribal National Party Pres. Nominating Convention Account JF Transfer Memo is selectable from the dropdown

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/fd542342-ff52-4871-bb93-7bbea440a9b1)

Verify Confirm popup window is displayed - creating a new committee contact

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f41d2ef2-e509-

[2022-11-28 22:58] WiseQA commented on #501
QA verified PAC National Party Pres. Nominating Convention Account JF Transfer Memo is selectable from the dropdown

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/6c7931cd-d5c0-4734-b63d-ee82645f6942)

Verified PAC National Party Pres. Nominating Convention Account JF Transfer Memo  page is displayed

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb

[2022-11-28 23:06] WiseQA commented on #465
@mjtravers naming of this transaction needs to match the ticket name in both accordion dropdown and Title of Transaction memo page.

Correct Naming is:
PAC National Party Recount/Legal Proceedings Account JF Transfer Memo

Accordion dropdown needs changed to naming of ticket (see below what is being displayed)  Ticket #463

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758

[2022-11-29 14:38] mjtravers commented on #762
This ticket is needed to refactor the test suite names from the current sprint/ticket naming convention to a functionality naming convention. Reopening ticket.

[2022-11-29 16:57] mjtravers commented on #465
This is a child transaction of the Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account so will not have an entry in the accordion. It is accessed through the save button on the Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account screen. See screenshot below:
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/69143411-d85e-

[2022-11-29 16:57] mjtravers commented on #464
This is a child transaction of the Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account so will not have an entry in the accordion. It is accessed through the save button on the Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account screen. See screenshot below:
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/69143411-d85e-

[2022-11-29 16:58] mjtravers commented on #466
This is a child transaction of the Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account so will not have an entry in the accordion. It is accessed through the save button on the Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account screen. See screenshot below:
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/69143411-d85e-

[2022-11-29 16:59] mjtravers commented on #463
Fix made to accordion and title. See screenshot below. Passes CR. Sending to QA.
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/8c85c75d-f2a4-4ca5-8803-1014c2d5f2de)

[2022-11-29 17:51] mjtravers commented on #651
Passes CR. Holding ticket in Code Review until Sprint-17 tickets are all moved to Stage Ready.

[2022-11-29 19:03] mjtravers commented on #652
Passes CR. Holding off from sending to QA until all the Sprint 17 tickets are sent to Stage Ready.

[2022-11-29 19:24] mjtravers commented on #587
Passes CR. Holding ticket in Code Review until Sprint-17 tickets are all moved to Stage Ready.

[2022-11-29 21:29] mjtravers commented on #669
Passes CR. Holding off from sending to QA until all the Sprint 17 tickets are sent to Stage Ready.

[2022-11-29 21:39] mjtravers commented on #436
Passes CR. Holding off from sending to QA until all the Sprint 17 tickets are sent to Stage Ready.

[2022-11-30 16:37] WiseQA commented on #463
QA review verified Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/65671880-6566-40b1-b8e4-a2c509a9e00c)

Verify Confirm popup window is displayed - creating a new committee contact.

![image.png](https://images.zenhubusercontent.com/61ba01e42

[2022-11-30 17:11] WiseQA commented on #464
QA review verified Individual National Party Recount/Legal Proceedings Account JF Transfer Memo transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/907938b2-5027-4776-9136-d0c4638bfc48)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/8a15b9f9-c04e-4b0b-a6ab-3710d763bc9d)

Verified Transactions ta

[2022-11-30 17:21] WiseQA commented on #465
QA review verified PAC National Party Recount/Legal Proceedings Account JF Transfer Memo transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a2cd09a9-fcfd-4f2b-8174-445d9bdf81f9)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/7bb86b4d-23b5-4d8d-bf2c-f85ec283879d)

Verified Transactions table is

[2022-11-30 17:29] WiseQA commented on #466
QA review verified Tribal National Party Recount/Legal Proceedings Account JF Transfer Memo transaction is created and is editable once saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d3dac2a8-56e9-406b-8876-e2106765934a)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/05145bac-5b59-4aa7-ab61-847ebf17ecae)

Verified Transactions table

[2022-11-30 17:31] mjtravers commented on #525
Passes CR. Holding ticket in Code Review until Sprint-17 tickets are all moved to Stage Ready.

[2022-11-30 17:31] mjtravers commented on #498
Passes CR. Holding ticket in Code Review until Sprint-17 tickets are all moved to Stage Ready.

[2022-11-30 18:21] Elaine-Krauss-TCG commented on #762
4 Transactions added to E2E coverage
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/1fde8621-0342-46b0-8306-6c4bb73ebcd6)

[2022-11-30 18:23] Elaine-Krauss-TCG commented on #762
The layout of the E2E tests within the cypress directory has been updated as well as the names of each of the tests.
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/c39a2c3d-da56-4749-9f67-2c79ff40ed0e)

[2022-11-30 20:26] Elaine-Krauss-TCG commented on #762
3 E2E tests have been broken by recent changes

- [x] Contacts are editable by transactions
- [x] Parent Transaction ID's are visible in the transaction management table
- [x] Transaction accordion layout

[2022-11-30 22:18] Elaine-Krauss-TCG commented on #762
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/0ee489dd-0e14-4178-b535-16fb471fbd5d)