[2019-06-18 17:58] rsanchez-s commented on #689
FNE-1090 is done and deployed.

[2019-06-18 18:00] rsanchez-s commented on #440
FNE-669 is completed and deployed to UAT.

[2019-06-18 18:10] rsanchez-s opened #760 "FNE-1090 F3X - Transaction category screens - Search field"
Description

Delete the gray box in the search field. Search filed must have the place holder and the search icon (magnifying glass) aligned to the right of the field.

Assignee: Charly Sun

[2019-06-18 18:10] rsanchez-s commented on #760
ChamiFEC
June 10, 2019, 10:11 AM

Discussing this after this meeting with Craig Stroman mahendra marathe

[2019-06-18 18:11] rsanchez-s commented on #760
Charlie Sun
6 days ago

search bar added back and grey area removed. Currently we have search bars in different flavors:

font-awesome-based:

./src/app/forms/transactions/transactions.component.html:                    <i class="fas fa-search text-grey" aria-hidden="true"></i>

regular:

./src/app/reports/reportheader/reportheader.component.html:                            <i class="search-icon t

[2019-06-18 18:12] rsanchez-s commented on #760
MADHURI KANCHERLA
5 days ago

Charlie Sun As per our discussion, I am pushing back to development. Please discuss with mahendra marathe on this.

[2019-06-18 18:12] rsanchez-s commented on #760
mahendra marathe
23 hours ago

QA deployed ChamiFEC mahendra marathe

sprint15 ver 2, 06/17/2019 1502

[2019-06-18 18:12] rsanchez-s commented on #760
MADHURI KANCHERLA
23 hours ago

Done.

[2019-06-18 18:12] rsanchez-s commented on #760
FNE-1090 is completed and deployed to UAT.

[2019-06-18 18:12] #760 closed

[2019-06-18 18:14] rsanchez-s commented on #695
FNE-1093 has been deployed to UAT

[2019-06-18 18:16] rsanchez-s commented on #700
FNE-1098 has been deployed to UAT.

[2020-10-02 15:13] ggaabe opened #793 "No instructions on env file"
Hi, I'm trying to use this tool to file my candidate's FEC filing this year. Even though it's clearly still in beta, I think we'll need to use it.

When I run `docker-compose build` from the root, it fails because of a missing .local.env file

The path in the docker yml is clearly looking for an env file in the folder containing the root. I have no idea what environment variables should be in this

[2021-12-09 17:02] AureliaKhorsand opened #5 "Draft Ticket Management Process"
**Task:** Draft Ticket Management Process for FECFile Online project

**Acceptance Criteria:**

1. Includes Ticket Workflow
2. Includes Ticket Review Norms
3. Includes Ticket Writing Criteria
4. Includes Ticket Organization

**Definition of Done:**

1. Complete internal review with Program Manager, Product manager, and Project manager
2. Complete internal review with Developers
3. Post to FECFile

[2021-12-09 17:05] AureliaKhorsand commented on #5
Draft located here: https://docs.google.com/document/d/1TOMFwugTRcPaEOQ21nY90gqYl3wR4l4KauyxUg3i2nI/edit#

[2021-12-09 17:13] AureliaKhorsand opened #6 "Create Stakeholder Matrix"
**Task:** Create Stakeholder Matrix for FECFile Online project

**Acceptance Criteria:**

1. Include list of known key stakeholders
2. Include contact information for each stakeholder
3. Include space to input details from user interviews, including but not limited to:, activities they should be involved in, engagement strategy

**Definition of Done:**

1. Complete internal review with Program Man

[2021-12-09 17:23] AureliaKhorsand opened #7 "Schedule Initial User Interviews"
**Task:** Schedule initial user interviews

**Acceptance Criteria:**
- All Stakeholders in Stakeholder Matrix have scheduled interviews

**Definition of Done:**
- All Stakeholders in Stakeholder Matrix have scheduled interviews

[2021-12-09 17:25] AureliaKhorsand opened #8 "Sprint Governance: Roadmap and Sprint Planning Procedure"
**Task:** Draft Sprint Governance: Roadmap and Sprint Planning Procedure

**Acceptance Criteria:**

**Definition of Done:**

[2021-12-10 18:26] AureliaKhorsand opened #9 "Grant team access to project tools"
**Task:** Get TCG team access to project tools

**Acceptance Criteria:**
1. Team has access to GitHub/ZenHub
2. Team has access to previous JIRA instance (for research purposes)
3. Team has access to FEC Slack

[2021-12-10 18:30] AureliaKhorsand opened #10 "Punchlist of effects caused by upgrades"
**Task:** Draft punchlist of what will be broken following upgrades

**Acceptance Criteria:**
- Publicly available document in the Github wiki: https://github.com/fecgov/fecfile-online/wiki
- In that document, we should outline known issues that require further remediation following technology upgrades for, at least:
  - Angular
  - Django
  - Postgres
- Create new issues for remaining items in th

[2021-12-10 18:33] AureliaKhorsand opened #11 "Complete first run of CI Pipeline"
**Task:** First run of CI; Basic Circle CI pipeline connected to GitHub

**Sub-Tasks:**

1. Generate Python lint report in Circle CI
2. Generate Typescript link report in Circle CI
3. Run Python unit tests in Circle CI
4. Standup Postgres database in Circle CI
5. Connect CI database instance to Django API code

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2021-12-10 20:24] AureliaKhorsand opened #12 "Test Epic"

[2021-12-13 18:05] alexander-lin commented on #11
Pull request was in TCG repo for code review. Matt and Al to coordinate on review results.

[2021-12-13 18:06] alexander-lin commented on #11
Notes: 1) Linters currently fail because of number of errors. 2) Python unit tests are failing because of lack of sample data in Circle CI pipeline.

[2021-12-13 18:07] alexander-lin commented on #11
Once approved by Matt, Al will move this to FEC and put in a formal pull request there.

[2021-12-13 18:09] alexander-lin commented on #11
Review plan: 1) Show Linting results in Circle CI, 2) For python, show the database connection passes (i.e. but unit tests fail because of lack of database)

[2021-12-13 18:24] alexander-lin commented on #10
For Sprint Review: Al will review status based on document.

[2021-12-13 18:31] alexander-lin commented on #9
Status as of 12/13: New QA Engineer (Shelly Wise) needs access to Github/Zenhub, FEC Slack. (Requested by Laura.) Alex to pull JIRA instance results in HTML (as Laura did) and post to shared space.

[2021-12-13 18:40] alexander-lin commented on #6
To complete this, Shelly will QA review Aurelia's matrix and interview questions, then Aurelia will post to shared space for completion.

For sprint review, we'll review the stakeholder matrix and an overview of the user interviews.

[2021-12-13 18:44] alexander-lin commented on #5
For QA review, Aurelia will walkthrough it with Shelly. After approval from QA, Aurelia will post to shared space for review with FEC.

[2021-12-13 21:02] AureliaKhorsand commented on #5
Issue moved to [fecgov/fecfile-project-management #13](https://github.com/fecgov/fecfile-project-management/issues/13) via [**ZenHub**](https://www.zenhub.com/)

[2021-12-13 21:06] AureliaKhorsand commented on #6
Issue moved to [fecgov/fecfile-project-management #14](https://github.com/fecgov/fecfile-project-management/issues/14) via [**ZenHub**](https://www.zenhub.com/)

[2021-12-13 21:25] AureliaKhorsand commented on #8
Issue moved to [fecgov/fecfile-project-management #15](https://github.com/fecgov/fecfile-project-management/issues/15) via [**ZenHub**](https://www.zenhub.com/)

[2021-12-13 21:26] AureliaKhorsand commented on #7
Issue moved to [fecgov/fecfile-project-management #16](https://github.com/fecgov/fecfile-project-management/issues/16) via [**ZenHub**](https://www.zenhub.com/)

[2021-12-13 21:26] AureliaKhorsand commented on #9
Issue moved to [fecgov/fecfile-project-management #17](https://github.com/fecgov/fecfile-project-management/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2021-12-13 21:53] albertcrowley opened #14 "Upgrade Angular code to version 13"
fecfil-online/front-end is currently using Angular 11. This should be upgraded to version 12 and then 13 to maintain compliance with the QASP standard of being at most one major version behind the latest release.

**Acceptance Criteria**
- [x] The npm modules for Angular are version 13
- [x] The unit tests that passed before the upgrade also pass after the upgrade

**QA**
Verification that Angular

[2021-12-13 21:54] AureliaKhorsand opened #15 "Fix/remove Django unit tests that are currently failing"
***Acceptance Criteria:***

*   Django unit tests should pass in Circle CI
*   At least one Django unit test must be present
*   A unit test should be present that verifies the existence of a test database in the CI environment.
*   Unit tests should be runnable in the docker-compose development environment via a script or single command

### QA Notes ###
null

### DEV Notes ###
null

### Design #

[2021-12-13 21:54] AureliaKhorsand opened #16 "Run Protractor tests in CI pipeline"
**Acceptance Criteria**

[2021-12-13 21:55] AureliaKhorsand opened #17 "Run Protractor tests in CI pipeline"
**Acceptance Criteria**
- At least one protractor end-to-end test runs successfully in the Circle CI environment
- The protractor end-to-end tests are runnable in the docker-compose development environment via script or single command.

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2021-12-13 21:59] AureliaKhorsand commented on #16
Created in error by ZenHub. Closing duplicate.

[2021-12-13 21:59] #16 closed, assigned to albertcrowley

[2021-12-13 22:58] albertcrowley commented on #10
I have created a wiki page here: https://github.com/fecgov/fecfile-online/wiki/Repository-Upgrade-Punchlist

[2021-12-15 15:09] lbeaufort opened #22 "Add new `requirements-test.txt` file"
In order to have better testing requirements tracking, we should create a `requirements-test.txt` file and have Circle install these dependencies from this file rather than `pip install <package>`

**Acceptance criteria**
- [x] `flake8` is installed from a requirements file in Circle

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2021-12-29 17:01] AureliaKhorsand commented on #11
@WiseQA did this get moved by accidents to the Epics pipeline? Or should this remain in Done or go back to QA review?

[2021-12-29 17:40] WiseQA commented on #11
What are you referencing ?  A ticket ?   If so what ticket number ?  If
it's ticket 27 moved to done - see comments

On Wed, Dec 29, 2021 at 12:01 PM AureliaKhorsand ***@***.***>
wrote:

[2021-12-29 17:42] WiseQA commented on #11
Sorry just saw ticket #11 - this was suppose to get moved to done I thought
by discussion in our standup if I understood Matt correctly.

On Wed, Dec 29, 2021 at 12:40 PM Shelly Wise ***@***.***> wrote:

[2021-12-29 17:44] #11 closed, assigned to mjtravers

[2022-01-03 15:02] albertcrowley commented on #17
This is a CI pipeline task, so no specific QA outside of code review needed.

[2022-01-03 15:28] #10 closed, assigned to albertcrowley, mjtravers

[2022-01-03 15:29] WiseQA commented on #10
Closed Ticket - complete.

[2022-01-03 15:30] WiseQA commented on #17
As noted no QA action required on this ticket - moved to closed as ticket complete.

[2022-01-03 16:16] mjtravers opened #30 "Install git repository protection against committing secret info"
To guard against inadvertently committing secret information such as passwords to the public git repositories, add an installation process for AWS git secrets.

[https://github.com/awslabs/git-secrets](https://github.com/awslabs/git-secrets)

There is currently a MacOS solution for this covered by caulking provided by Cloud.gov. We need a non-MacOS solution:

[https://github.com/cloud-gov/caulking

[2022-01-03 18:16] albertcrowley commented on #22
This issue modifies the CI pipeline and does not require formal QA after code review.  Moving to the 'done' state.

[2022-01-04 19:39] WiseQA commented on #15
As noted no QA action required on this ticket - moved to closed as ticket complete.

[2022-01-04 19:49] mjtravers opened #36 "Web app authentication technical review"
Review and document existing authentication and session management for fecfile-online web app. Investigate Login.gov and create a strategy for integrating the service into the web app as its authentication service.

**Acceptance Criteria:**
- [ ] Documentation describing existing authentication and session management, linked here
- [ ] Documentation on integration of Login.gov service, linked here

[2022-01-04 19:53] mjtravers opened #37 "Review and document management of user data in existing code base."
Audit and document how site users are managed in the web app and the data related to users stored in the database. Cite in the documentation how users are related/linked to Committee Profiles in the application and database.

Acceptance Criteria:

*   Document describing user management in the application, related data stored in the database, and relations to committee profiles.

### QA Notes ###

[2022-01-04 21:13] mjtravers commented on #30
The code for this ticket is a developer utility script and not subject to the regular QA procedures. Assigning to Shelly.

[2022-01-05 01:06] WiseQA commented on #30
As noted no QA action required on this ticket - moved to closed as ticket complete.

[2022-01-05 16:50] toddlees opened #38 "MacOS Build Failure"
`docker-compose up --build` fails on Mac M1 chip.  Specifically during the pip3 install of pandas.
Causes:
- docker runs out of memory
- cython + numpy + pandas dont install correctly without special pip3 params

Fixes:
- developer must allocate 3GB+ mem for docker
- add a step in the dockerfile to pip3 install cython + numpy + pandas separately

### QA Notes ###
 null
### DEV Notes ###
 null
###

[2022-01-05 21:39] lbeaufort opened #40 "Set up Circle to deploy to cloud.gov"
We should set up Circle to deploy to cloud.gov. `develop` builds should deploy to cloud.gov dev space, and `release/` should deploy to stage.

See
https://github.com/fecgov/openFEC/blob/0507c6963cf9a97832bcf4f57352adb54b68f2a4/.circleci/config.yml#L115-L124
and
https://github.com/fecgov/openFEC/blob/82233df98543c1683de149b9f6c5a8b1372ce27c/tasks.py#L157-L254

Manifest files will need to be written

[2022-01-10 14:52] lbeaufort opened #41 "Split up fecfile front-end and back-end applications into new repos"
Per @mjtravers we should split up the fecfile front-end and back-end applications into new repos. Team consensus is `fecfile-web-app` for the front-end and `fecfile-web-api` for the back-end.

Directories to exist in fecfile-web-app after split:
- .circleci
- deploy-config
- front-end
- protractor
- selenium

Directories to exist in fecfile-web-api after split:
- .circleci
- db
- django-backend

*

[2022-01-12 13:19] mjtravers opened #42 "Investigate setting up Login.gov sandbox account"
Investigate setting up a Login.gov sandbox account for general development use (if possible)

There may be a .gov email account restriction on the usage of the sandbox account

Instructions for creating a sandbox account:
[https://developers.login.gov/testing/](https://developers.login.gov/testing/)

***ACCEPTANCE CRITERIA:***

*   If possible, developers will be able to make API calls to the sand

[2022-01-12 17:29] mjtravers commented on #40
@lbeaufort There is some cloud.gov documentation that there are issues with migrations at deployment. Does the tasks.py script resolve these know issues?

[2022-01-12 17:49] lbeaufort commented on #40
@mjtravers can you share the documentation you're referencing for context?

[2022-01-12 18:35] AureliaKhorsand commented on #36
Refinement Discussion: Contract phrases it as "**Consider** using Login.gov as a secure sign in service for FECFile Online". Researching alternatives to login.gov is not in the scope of this ticket.

Moving back to AA, more clarification on deliverables needed. Will break if out into 1) figuring out how authentication works, 2) looking into third party services

[2022-01-12 19:02] toddlees commented on #14
https://update.angular.io/?l=3&v=11.0-12.0 great resource for the upgrade

[2022-01-12 19:02] lbeaufort commented on #42
Noting that an email address ending in .gov or .mil is needed to set up a login.gov sandbox account.

[2022-01-12 19:53] mjtravers commented on #40
@lbeaufort It was a sentence that got my attention in the Zero-downtime deploy section of the documentation and Paul mentioned at the Monday PI meeting that you had dealt with this type of database issue in your web work.
https://cloud.gov/docs/deployment/production-ready/#zero-downtime-deploy

[2022-01-12 19:58] lbeaufort commented on #40
@mjtravers that's helpful, thank you! Per https://docs.cloudfoundry.org/devguide/deploy-apps/rolling-deploy.html:

So, if the deploy triggers a database migration that is incompatible with the previously deployed version of the app, there will be issues while cloud foundry deploys 1 application instance at a time. This rolling deployment usually takes a matter of seconds to work through each appli

[2022-01-12 20:05] mjtravers commented on #40
@lbeaufort I see. That makes sense. We'll have to keep that in mind. Thx.

[2022-01-12 21:40] AureliaKhorsand opened #43 "Committee Account"
This epic encompasses any user story that relates to tracking and maintining your committee account in FECFile

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1351](https://fecgov.atlassian.net/browse/FECFILE-1351)

[2022-01-12 21:40] AureliaKhorsand opened #44 "Login Management and Workflow"
This epic encompasses any user story that relates to the management and workflow of logging in to the site

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1350](https://fecgov.atlassian.net/browse/FECFILE-1350)

[2022-01-12 21:40] AureliaKhorsand opened #45 "Contact Management"
This epic encompasses any user story that relates to managing the contacts for a committee, adding, updating, and removing

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1349](https://fecgov.atlassian.net/browse/FECFILE-1349)

[2022-01-12 21:41] AureliaKhorsand opened #46 "Form 3X"
This epic encompasses any user story that relates to Form 3X

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1348](https://fecgov.atlassian.net/browse/FECFILE-1348)

[2022-01-12 21:45] AureliaKhorsand commented on #14
@mjtravers or @albertcrowley can we get ACs in here before it's in ADTR?

[2022-01-13 15:14] AureliaKhorsand commented on #6
Marked as OBE. Created in wrong repo.

[2022-01-13 15:14] #6 closed, assigned to AureliaKhorsand

[2022-01-13 15:14] AureliaKhorsand commented on #5
Marked as OBE. Created in wrong repo.

[2022-01-13 15:14] #5 closed, assigned to AureliaKhorsand

[2022-01-13 15:14] AureliaKhorsand commented on #7
Marked as OBE. Created in wrong repo.

[2022-01-13 15:14] #7 closed, assigned to MitchellTCG

[2022-01-13 15:15] AureliaKhorsand commented on #9
Marked as OBE. Created in wrong repo.

[2022-01-13 15:15] #9 closed, assigned to alexander-lin

[2022-01-13 15:15] AureliaKhorsand commented on #8
Marked as OBE. Created in wrong repo.

[2022-01-13 15:15] #8 closed, assigned to MitchellTCG

[2022-01-13 15:15] #12 closed, assigned to nobody

[2022-01-13 15:15] AureliaKhorsand commented on #12
Marked as OBE. Test issue created.

[2022-01-14 14:22] albertcrowley opened #47 "Automated front-end tests needs back-end support"
The Cypress e2e tests need to be able to spin up a baseline test database each time it is run. The database should spin up a baseline Django database and then use Django fixtures to update the database schema to the version being tested.

***User Story***

  As a developer/QA,

  I would like to have automated end to end testing that exercises full workflows that our end users will run

  so that

[2022-01-14 16:32] mjtravers opened #48 "Create cloud.gov environment variable for FEC API key"
Log into the Cloud.gov dashboard and create an environment variable for the FEC API key.

The name of the variable is documented in this ticket: [#31](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-online/31)

In addition, document in the fecfile-online root level README the environment variables necessary to set for the docker-compose development s

[2022-01-14 16:40] mjtravers commented on #48
This ticket is a duplicate of [#49](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-online/49)
Closing

[2022-01-14 16:40] #48 closed, assigned to nobody

[2022-01-14 18:51] albertcrowley opened #50 "Synchronization issue between Angular and Protractor"
There is some unusual behavior in the app that is causing the default waitForAngular() function in Protractor to fail.  Adding this:
[code]
to the end-to-end tests script will allow the tests to run without timeout, but it does cause difficulty in synchronizing the test with the app.

It is possible that an open web request made by the application is causing waitForAngular to think the page is not

[2022-01-14 20:59] mjtravers commented on #38
Passes code review.
This is an infrastructure ticket so there are no QA tests to perform. I did test that I could stand up the development system during code review to confirm that it is still operational.
Sending to QA.

[2022-01-18 01:29] mjtravers commented on #37
No code to review. Sending directly to QA.
QA can review document here in FEC shared docs:
https://docs.google.com/document/d/1kHZFwMPL-wJlGhG0ID2OKYUbzPeBghrylRqHbqt_R8o

[2022-01-18 15:40] WiseQA commented on #38
Verified acceptance criteria and no testing required.  This ticket was written against MACOS environment.  QA review completed.  Moved to Stage Ready.

[2022-01-18 15:48] albertcrowley opened #53 "Add code coverage report to angular code"
**User Story**
As a dev/QA,
I would like to see a code coverage report on the angular front-end web application
so that our project will complete our QASP requirements

NOTE: This is for unit test only. It is not required for the unit tests to pass

**Acceptance Criteria**
- [x] Code coverage should run in the CI pipeline ( QA: See this [code coverage report](https://692-306118986-gh.circle-artifa

[2022-01-18 16:06] mjtravers commented on #37
Here is where the document lives: https://drive.google.com/drive/u/1/folders/1fJ47E55n7em3tMRjGZnLQRRjpzr46ddN

[2022-01-18 16:15] albertcrowley opened #55 "(Spike) Decide on mechanism of Accessibility evaluation for QASP"
The QASP is not specific on the matter of accessibility testing. The assessment method is listed as:

Before we can generate this metric, we have to decide what tools we want to use for the accessibility evaluation.  The output of this issue will be a that choice.

**Acceptance Criteria**
- [ ] Selection of some number of tools we will use to evaluate the project against the accessibility section

[2022-01-18 16:23] albertcrowley opened #56 "Add static code analysis to JavaScript and Python code"
**User Story**
As a developer/QA,
I would like to get a code quality report on each commit based on static code analysis
so that I can ensure our code is meeting quality standards described in the QASP.

**Acceptance Criteria**
* On each build in the CI pipeline, static code analysis is run
* The pipeline should be configured to fail the build if any medium or high security vulnerabilities are fou

[2022-01-18 16:26] albertcrowley opened #57 "Package dependency analysis for web application code"
**User Story**
As a developer/QA,
I would like to have dependencies checked for known vulnerabilities on each commit
so that I can ensure our code is meeting quality standards described in the QASP.

**Acceptance Criteria**
- [x] On each build in the CI pipeline, dependency checking is run
- [x] The pipeline should be configured to fail the build if any medium or high security vulnerabilities are

[2022-01-18 16:31] albertcrowley opened #58 "(Spike) Develop plan for passive scanning using OWASP ZAP"
The QASP Security section includes a requirement for passive scanning using a tool "such as OWASP ZAP." In general, this is a straightforward request but does not explain if this should be automated or how often it should be performed.

_**Acceptance Criteria**_

*   [ ] Decide if ZAP scanning will be automated or manual
*   [ ] If ZAP scanning is automated, decide if ZAP scanning will be run in t

[2022-01-18 16:45] lbeaufort commented on #40
It looks like this is more of an issue with Django than with anything cloud.gov specific. Here are some example resources:
- https://gist.github.com/majackson/493c3d6d4476914ca9da63f84247407b
- https://lucasroesler.com/2017/02/zero-downtime-deploys-a-tale-of-django-migrations/
- https://pankrat.github.io/2015/django-migrations-without-downtimes/

This seems like it's exacerbated by large data sets

[2022-01-18 17:46] albertcrowley opened #59 "Install SonarCloud"
**User Story**
As a developer/QA,
I would like to have SonarCloud connected to our build pipeline,
so that our code analysis can be consolidated into one place

Investigate if SonarCloud can be installed on Cloud.gov

cf-sonarqube-buildpack
https://github.com/springernature/cf-sonarqube-buildpack

**Acceptance Criteria**
- [x] Install SonarCloud on a publicly accessible server (possibly AWS)
- [x]

[2022-01-18 18:10] lbeaufort opened #60 "Testing new issue (external contributor)"

[2022-01-18 18:12] lbeaufort commented on #60
Testing purposes only, so closing.

[2022-01-18 18:14] AureliaKhorsand commented on #60
Accidentally reopened when moving the ticket. Closed!

[2022-01-18 18:14] #60 closed, assigned to nobody

[2022-01-18 18:49] #30 closed, assigned to WiseQA

[2022-01-18 18:50] #15 closed, assigned to nobody

[2022-01-18 18:51] #17 closed, assigned to mjtravers

[2022-01-18 18:51] #22 closed, assigned to lbeaufort

[2022-01-18 22:30] AureliaKhorsand opened #61 "Allow user to create a contact - individual"
Business Reason

As a Committee Administrator, I will be able to create an Individual contact associated with my committee so that I can pull them into necessary transactions and reports as needed.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I access my committee's contact list
**And** add a new contact with the Type "Individual"
**Then**  I will be able to input the foll

[2022-01-18 22:31] AureliaKhorsand opened #62 "Allow user to create a contact - committee"
Business Reason

As a Committee Administrator, I will be able to create a Committee contact associated with my committee so that I can pull them into necessary transactions and reports as needed even if they are not yet registered with FEC.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I access my committee's contact list
**And** add a new contact with the Type "Committee"

[2022-01-18 22:33] AureliaKhorsand opened #63 "Allow user to create a contact - candidate"
Business Reason

As a Committee Administrator, I will be able to create a Candidate contact associated with my committee so that I can pull them into necessary transactions and reports as needed even if they are not yet registered with FEC.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I access my committee's contact list
**And** add a new contact with the Type "Candidate"

[2022-01-18 22:34] AureliaKhorsand opened #64 "Allow user to create a contact - organization"
Business Reason

As a Committee Administrator, I will be able to create an Organization contact associated with my committee so that I can pull them into necessary transactions and reports as needed.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I access my committee's contact list
**And** add a new contact with the Type "Organization"
**Then**  I will be able to input the

[2022-01-18 22:35] AureliaKhorsand opened #65 "Allow user to bulk edit contacts"
***Not in Option Period 1 scope.***

 Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

If I am a [role]
 When I access my committee's contact list
 Then I will be able to bulk edit as follows:

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

[FECFILE-1333](https://fecgov.atlassian.net/browse/FECFILE-1333)

[2022-01-18 22:37] AureliaKhorsand opened #66 "Allow user to view transactions associated with a contact"
Business Reason

As a Committee Administrator, I will be able to view all transaction activity for a contact as they may be needed for internal auditing purposes or calculating aggregate.

Acceptance Criteria

***Given*** I have selected to view a contact through Contact Management

 ***Then*** I will be able to see all transactions associated with that contact with the following information:

*

[2022-01-18 22:39] AureliaKhorsand opened #67 "Allow user to see history of changes for a contact"
### Business Reason ###

As a Committee Administrator, I will be able to see a history of changes for a contact so that I can maintain past addresses and other information for contacts since those were previously reported. (?)

### Acceptance Criteria ###

**If** I am a [role]
**When** I access my committee's contact list and select a contact
**Then** I will be able to see all information, past an

[2022-01-18 22:40] AureliaKhorsand opened #68 "Allow user to edit an existing Individual contact"
Business Reason

As a Committee Administrator, I will be able to edit an existing contact so that I can maintain an accurate database of contacts as contact metadata such as addresses, employers, etc. change over time.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I access my committee's contact list and select an Individual type contact
**Then** I will be able to edit and

[2022-01-18 22:41] AureliaKhorsand opened #69 "Allow user to delete a contact ONLY if no associated transactions"
Business Reason

As a Committee Administrator, I will be able to delete a contact so that I can maintain an up-to-date contact list without any duplicates or contacts created in error.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I go to Contact Management and/or view a contact
**Then** I will be able to delete that contact _ONLY IF_ there are no transactions associated wi

[2022-01-18 22:43] AureliaKhorsand opened #70 "Allow user to import contacts"
_**Not in Option Period 1 scope.**_

Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

Acceptance Criteria

_**If**_ I am a [role] _**When**_ I access my committee's contact list _**Then**_ I will be able to bulk upload as follows:

### QA Notes ###

null

### DEV Notes ###

null

### Design ###

null

 See full ticket and images here: [FECFILE-1328](https://

[2022-01-18 22:43] AureliaKhorsand opened #71 "Allow user to merge similar contacts"
Business Reason

As a user, I will be able to merge contacts so that I can ensure each contact in my Contact Management is unique and I do not negatively affect aggregate totals for reporting.

Acceptance Criteria

**_If_** I am a [role] **_When_** I access my committee's contact list **_Then_** I will be able to

BA questions:

1.  When user selects save/merge should system create a new contact a

[2022-01-18 22:46] AureliaKhorsand opened #72 "Allow user to use Lookup within Transactions for existing Individual Contacts-Part 1"
Business Reason

The system will employ a Lookup feature when entering transactions in order to allow the user to pull existing contact information from the committee account's Contact Management table. This will also assist the FEC in making more accurate data available to the public.

Acceptance Criteria

_Note: The transaction entry form will _only_ show the contact lookup until a contact is se

[2022-01-19 16:58] WiseQA commented on #37
Reviewed Phase 1 User Management document.   One error found and corrected.

QA review completed.  Moved to Stage Ready.

[2022-01-19 19:00] lbeaufort opened #74 "Testing template"
### Business Reason ###

As a [role], I will be able to [blank] so that I can [business reason]

### Acceptance Criteria ###

**If** [precedent]
**When** [action]
**Then** [result]

[2022-01-19 19:00] lbeaufort commented on #74
@AureliaKhorsand is this how you wanted the template to look?

[2022-01-19 19:28] AureliaKhorsand commented on #61
Note: avoiding roles if possible for now.

Question for FEC: Telephone is not in the specs, but is in the Salient App for both individuals and an organization. Should it be an optional field or no?

Answer: Phone number is optional. Zip code is required, should not have dash count against character length. UX/UI discussion needed on how to display data on the front end for all entries.

[2022-01-19 19:29] AureliaKhorsand commented on #69
Question for FEC: Should these be recoverable? What happens if the contact is associated with a transaction? Should the user still be allowed to delete it?

[2022-01-19 19:34] AureliaKhorsand commented on #74
@lbeaufort yes this looks good. Closing this as a test issue.

[2022-01-19 19:34] #74 closed, assigned to nobody

[2022-01-19 19:46] mjtravers commented on #47
@albertcrowley Do you envision this database/endpoint being a custom Docker image with a test database and a snapshot of the backend code running? So the bulk of this ticket would be creating a Dockerfile and figuring out an automated way of keeping it up to date?

[2022-01-19 19:46] AureliaKhorsand opened #75 "Allow user to view contacts"
Business Reason

As a Committee Administrator, I will be able to view all contacts in my committee so that I can group transactions by entity for fundraising purposes or to disclose transactions in aggregate per contact.

Acceptance Criteria

***If*** I am a Committee Administrator

  ***When*** I go to Contact Management

  ***Then*** I will be able to see all contacts associated with the Committ

[2022-01-20 01:35] mjtravers opened #76 "Create Angular component for the INDV_REC entry form"
Pull the input form for the INDV_REC transaction type out into its own Angular component.

**Details**
- NO validation yet.
- NO back-end API communication yet.
- **The routing to the form will need to be examined and refactored after we find out how the current system is working. Keep an eye on the use of it using browser local storage.**

**Acceptance Criteria**
- [ ] A shared/models/ScheduleA.t

[2022-01-20 14:03] mjtravers opened #78 "Data Architecture: Group transaction types with same"
**Problem**
Creating web app forms that input transaction information that perform well and are maintainable yet do not contain duplicate code.

**Background**
In Angular, input forms are captured in components that define how the HTML page is designed. In order to avoid duplicate code and improve maintainability of the code, transaction types that have the exact same array of FIELD DESCRIPTION ro

[2022-01-20 16:10] lbeaufort commented on #69
@AureliaKhorsand I would ultimately defer to usability research on this, but because contacts hold valuable contact information, it would be ideal to make them recoverable. Committees should have additional records, but if a contact has 20 years of contribution data (or 10 different addresses over time) associated with it, it seems more user friendly to make them recoverable.

[2022-01-20 17:09] mjtravers commented on #56
The functionality of this ticket may be covered by SonarQube. Leaving this ticket in Product Backlog for further review after SonarQube is set up and running.

[2022-01-20 17:22] AureliaKhorsand commented on #66
Note: There is current functionality to select _multiple_ contacts and view all transaction activity associated with all selected contacts. That is out of scope for this user story.

[2022-01-20 18:49] WiseQA commented on #66
Per our meeting this morning, this ticket will need put back to Product Backlog until we get our DEV branch and testing branch set up.

[2022-01-20 18:55] AureliaKhorsand commented on #66
@WiseQA Dependencies on other tickets won't block a ticket from getting to ASA. The dependency is ticket #40 and is linked here. We just won't be able to work on it until #40 is done.

[2022-01-20 19:25] AureliaKhorsand commented on #78
**Backlog Grooming 1/20 Notes:** Field description needs to be identical - there are currently discrepancies between the tabs of the transaction type specs (typos, different names, etc). Assumption is that Ryan Lanz (FEC) will be providing the groupings, and pointing is accounting for the developer working with Ryan.

QA will just be verifying the list exists per the Acceptance criteria. The list

[2022-01-20 19:36] AureliaKhorsand commented on #40
**Backlog Grooming Notes 1/20:** Discussed splitting up the ticket for each repo. Team agreed on keeping it all as one ticket. The test data we load in will be the same data in Circle CI.

For QA, would need to log into the Web app on Stage and Develop and do a smoke test.

[2022-01-20 20:16] AureliaKhorsand commented on #59
**Backlog Grooming 1/20 Notes**: SonarQube provides code analysis for security issues, duplicate code, etc., consolidates QASP-type testing, and gives a history of changes.

The intention was to put it on a TCG instance, but Laura suggested running it on Cloud.gov. From a continuity standpoint, it is better to run on Cloud.gov.

Note: "(If time allows)" is not accounted for in the pointing.

[2022-01-21 17:19] mjtravers commented on #78
Had a lengthy meeting with Ryan about the development of the new spec from the old spec that has rendered this ticket obsolete. Grouping of the transaction types to streamline the build out of the Angular components for the input forms can be achieved through other strategies.

[2022-01-21 17:19] #78 closed, assigned to nobody

[2022-01-24 00:44] mjtravers commented on #41
Issue [#47](https://github.com/fecgov/fecfile-web-app/issues/47) was not completed so the acceptance criteria 4th in the list is not necessary and will be handled in issue #47.

[2022-01-24 14:50] lbeaufort commented on #40
Here's a WIP PR for deploying fecfile-validate to cloud.gov, from the command line and also through CircleCI: https://github.com/fecgov/fecfile-Validate/pull/24

[2022-01-25 17:45] mjtravers commented on #41
For QA: Here are the links to the repository directories that should contain the directories listed in the ticket descriptions. Note that there can be additional files and directories in addition to the ones on the list. Also, for "deploy-config", it has only one subdirectory, "front-end-nginx-config" so GitHub displays the 2 directories together like "deploy-config/front-end-nginx-config" in the

[2022-01-25 21:06] albertcrowley opened #80 "Generate production build of Angular app"
Business Reason

As a developer, I will be able to create a production build of the fecfile-web-app so that I can deploy an optimized version of the application.

Acceptance Criteria

***If*** I run "npm run build" in the fecfile-web-app/front-end directory

  ***When*** the Angular build is complete

  ***Then*** the static application is created in the fecfile-web-app/front-end/dist directory.

[2022-01-26 13:57] #37 closed, assigned to MitchellTCG

[2022-01-26 13:57] #38 closed, assigned to MitchellTCG

[2022-01-28 16:36] MitchellTCG opened #84 "Create initial Cascading Stylesheet (CSS) based on FEC Pattern Library"
**This will be a non-testable ticket**

 Business Reason

As a FEC Stakeholder, I will be able to UI the compliments FEC.gov but

 User Story

As the Product Owner, I would like the CSS library to match the FEC Pattern Library so there is continuity between FEC.gov and FECFile Online but doesn't confuse the user in believing they are on FEC.gov; this will also position to app to follow 508 complia

[2022-01-28 16:40] MitchellTCG commented on #84
Here is the CSS so far:
[https://app.zenhub.com/files/306118986/99efab77-0312-475d-901a-ea55e77f8669/download](https://app.zenhub.com/files/306118986/99efab77-0312-475d-901a-ea55e77f8669/download)

[2022-01-28 16:41] MitchellTCG commented on #84
Here are the Fonts that need to be loaded on the site:
[https://app.zenhub.com/files/306118986/ed0e98bb-c190-405a-ac7f-0500f121ddc7/download](https://app.zenhub.com/files/306118986/ed0e98bb-c190-405a-ac7f-0500f121ddc7/download)

[2022-01-28 16:55] WiseQA commented on #41
Verified the following directories exist in fecfile-web-app after split.  Verified each directory can be accessed.  Verified "deploy-config" directory has one subdirectory.
.circleci
deploy-config
front-end
protractor
selenium

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a663c3e3-4a11-4d10-b660-931a0b948505)

fecfile-web-app directories pass QA review.

[2022-01-28 17:00] WiseQA commented on #41
Verified the following directories exist in fecfile-web-api after split.  Verified each directory can be accessed.
.circleci
db
django-backend

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0e2881ce-52ad-40ff-853d-58c5772f78f2)

fecfile-web-api directories pass QA review.

QA review completed on this ticket.  Moved to Stage Ready.

[2022-01-31 16:32] AureliaKhorsand opened #87 "Allow user to view Committee Profile data (read-only)"
Business Reason

As a Committee Administrator, I will be able to view my Committee Profile data so that I can verify it is all correct and determine if changes are needed.

Technical Tasks

*   Set up API pulls from the FECFile web app to open FEC API (public key) to get the most recent committee account data to provide the data needed for the front end web page.
*   Create read-only Angular scree

[2022-01-31 21:29] AureliaKhorsand opened #88 "Allow user to recover a deleted contact"
Business Reason

As a Committee Administrator, I will be able to recover a deleted contact so that I can restore it to Contact Management if it was deleted in error, or it is needed again.

 Acceptance Criteria

**If** I am a user
**And** I go to Contact Management
**Then** I can see an option to "Restore deleted contact(s)" _(and this link will be disabled if there are no deleted contacts)_
**And

[2022-01-31 21:37] AureliaKhorsand opened #89 "Allow user to update Committee Address from Form 3X"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

See [notes from 2/24/2022 requirements session](https://docs.google.com/document/d/1RmdQQDCu56WCkRv3V1eGXKWUoWngd4ruuzQ3HeON3_E/edit). Needs UX/UI feedback and a working session.

### QA Notes ###
 null
### DEV Notes ###
 null
### De

[2022-01-31 21:41] AureliaKhorsand opened #90 "Roles and Permissions"
This Epic will cover any roles and permissions specific functionality and work that does not fit into a specific workflow in FECFile Online.

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1316](https://fecgov.atlassian.net/browse/FECFILE-1316)

[2022-01-31 21:42] AureliaKhorsand opened #91 "Allow Committee Administrator to remove users from Committee Account"
Business Reason

As a Committee Administrator, I will be able to delete a user from my Committee user list so that I can ensure that the correct users are on my committee access list.

Acceptance Criteria

***Given*** the user is a Committee Administrator

  ***When*** they access the Manage Users Page

  ***Then*** they will be able to select 'Delete' on the report Action list next to a user in t

[2022-01-31 21:45] AureliaKhorsand opened #92 "Allow user to create user account on FECfile Online through login.gov (AUTHENTICATE and PROVISION)"
Business Reason

As a user, I will be able to create a FECfile Online account through login.gov so that I can be authenticated by login.gov, allowing FECfile to recognize me as a valid user so I can be provisioned.

Acceptance Criteria

***Given*** a user with a valid login.gov login

  ***When*** the user logs in with login.gov through FECfile Online for the first time,

  ***Then*** they will be

[2022-02-01 16:39] AureliaKhorsand opened #94 "Allow user to export contacts"
Not intended for OP1\. Placeholder ticket for future enhancement. This currently exists in the UI, and the contact table exports as a .csv file. We would need to test and ensure it exports as expected.

_Work with FEC to determine if necessary._

Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

Acceptance Criteria

_**If**_ [precedent] _**When**_ [action] _*

[2022-02-01 17:31] AureliaKhorsand opened #95 "[Placeholder] Contact crosses $200 threshold while entering transaction"
If a user has under $200 for a contribution aggregate, then crosses that in a transaction, Employer/Occupation becomes required and the inline validation should indicate as such to the user in that report.

 Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

### QA Notes ###
 null
##

[2022-02-01 18:29] AureliaKhorsand opened #96 "Allow user to view all transactions associated with selected contacts"
Business Reason

As a Committee Administrator, I will be able to view all transaction activity for selected contacts (multiple) as they may be needed for internal auditing purposes or calculating aggregate.

Acceptance Criteria

**_If_** I am a Committee Administrator

**_When_** I access my committee's contact list and select two or more contacts

**_And_** select the action "View Activity" (???)

[2022-02-01 22:03] AureliaKhorsand opened #98 "System to mark termination report in Form Type and Report Code"
Business Reason

As a user, I will be able to create a Termination report for Form 3X so that I can submit my final report to FEC through FECfile Online.

 Acceptance Criteria

**Given** the user is selecting a Form 3X report type and is either a Monthly or Quarterly filer,
**When** the user selects the report type of Termination and creates the report
**Then**:
- The Form Type field will be store

[2022-02-02 17:21] mjtravers commented on #59
Passes code review, ready for QA
https://sonarcloud.io/organizations/fecgov/projects

[2022-02-02 18:23] AureliaKhorsand commented on #84
**Refinement meeting 2/2/22:** Adjust the ticket/acceptance criteria to reflect the intended effect on the app. Need more discussion on approach. Mitchell will discuss with devs and Robert.

A user story is not needed, but need to make the case for working on this story.

[2022-02-02 18:57] AureliaKhorsand commented on #53
**Refinement Meeting 2/2/22:** This ticket should be done after unit tests are running, but want to get this in plce before Al leaves the team. Pointed at 3.

[2022-02-02 19:03] AureliaKhorsand commented on #50
**Refinement Meeting 2/2/22:** Pointed at 8 due to large number of unknowns.

[2022-02-02 19:29] mjtravers commented on #47
This ticket is OBE. e2e tests are too long running to be practical in CircleCI. Will run e2e tests in another automated fashion TBD

[2022-02-03 03:27] MitchellTCG commented on #61
Wireframe Attached

![Individual.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/bcb2554f-4d91-4a94-a725-c61e692e97e1)

![Individual - Required Fields.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/288e1a99-27f2-4431-9bb4-3d420997138b)

![Individual - Character Count.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/a37fdd7c-2db1-4946-8a6e-59

[2022-02-03 03:28] MitchellTCG commented on #62
Wireframe Attached

![Committee.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/413eff5c-50a4-4edd-8605-1730d327cb33)

![Committee – Required Fields.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/33ef590d-506d-4395-b93f-c84f7478223b)

![Committee – Character Count.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/e6beb042-1e53-4cfe-b3eb-80b1d

[2022-02-03 03:29] MitchellTCG commented on #63
Wireframe Attached

![Candidate.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/98622ecf-e9a7-436d-82c4-b7042c04828e)

![Candidate – Required Fields.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/24387636-c347-4456-bc26-e19b33666b77)

![Candidate – Character Count.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/63e9b537-ec0b-4407-9303-2570a

[2022-02-03 03:29] MitchellTCG commented on #64
Wireframe Attached

![Organization.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/1664c32c-6ac7-42d5-bada-95e4bb73ee52)

![Organization – Required Fields.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/a0747790-d393-43dd-8fcb-ee726e3c390d)

![Organization – Character Count.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/aea88f81-c27f-42fc-b

[2022-02-03 15:25] WiseQA commented on #59
SonarCloud Installation:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/712b83f7-6cbc-46df-99fa-447f0001a098)

GitHub repositories connected to the SonarCloud producing consolidation report:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/5f4216ac-f9d6-4ef0-9926-d122e3e752b1)

QA review completed.  Moved to Stage Ready.

[2022-02-03 17:06] mjtravers opened #101 "Remove node_modules from web-app repo"
The node_modules directory should not be committed to the repo but rather installed at build.

***Acceptance Criteria***

*   [ ] Remove node_modules directory from repo
*   [ ] Docker develop environment still works
*   [ ] CircleCI still works

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1309](https://fecgov.atlassian.net/browse/

[2022-02-03 17:14] AureliaKhorsand commented on #69
DEV NOTE: There is functionality in the system to delete, but it's unclear on if it's working or not. Need to ensure users can view all transactions for a contact before this can be fully tested.

[2022-02-03 18:57] mjtravers opened #102 "Fix web-app lint errors and warnings"
Current output of ./node_modules/.bin/eslint "src/***/**.ts":

✖ 3498 problems (792 errors, 2706 warnings)

  721 errors and 0 warnings potentially fixable with the `--fix` option.

***Acceptance Criteria***

*   [ ] 0 lint errors reported
*   [ ] 0 lint warnings reported
*   [ ] 0 unit test failures

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images h

[2022-02-03 19:03] mjtravers opened #103 "Fix web-app unit test errors"
Currently, running "ng test" displays a number of errors that seem to be coming from the compiler.

***Acceptance Criteria***

*   [ ] No errors when running "ng test"
*   [ ] If there are any tests run (not clear at this point), the tests run successfully

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1307](https://fecgov.atlassian.

[2022-02-03 20:01] mjtravers opened #104 "Create Angular validate service"
Create a base validate service using the fecfile-validate npm library.

Service will have 2 methods:

  validate(schemaId, data)

*   schemaId: unique identifier to the schema JSON document
*   data: json data to be validated
*   output: pass through result of fecfile-validate.validate() function

validateItem(schemaId, propertyName, value)

*   schemaId: unique identifier to the schema JSON docum

[2022-02-03 23:34] mjtravers commented on #101
OBE. Already removed from repo

[2022-02-03 23:34] #101 closed, assigned to nobody

[2022-02-04 13:37] mjtravers commented on #47
@albertcrowley On second thought, because of the need for an isolated database that needs to be reinitialized before running tests, I'd like to look into if CircleCI can be used ad hoc and/or on a time interval basis. Re-opening ticket.

[2022-02-04 16:19] WiseQA opened #105 "Create Testing Accounts for Cloud.gov"
Set up accounts in cloud.gov for testing, for Shelly (QA/Testing), Mary (UX), Mitchell (Scrum), Aurelia (BA). (Not not sure who else would need testing access from the our team.)

Testing user role will be "Committee Account Administrator" as "access to everything" as decided in previous requirements meetings for OPT 1.

***Acceptance Criteria:***

*   [x] test accounts should work on stage server

[2022-02-07 15:10] mjtravers commented on #50
This is OBE as we have learned that Protractor reaches end of life at the end of the year.

https://github.com/angular/protractor/issues/5502

Closing ticket.

[2022-02-07 15:10] #50 closed, assigned to nobody

[2022-02-07 18:46] mjtravers commented on #40
Passes CR. Moving to QA and assigning to Shelly

[2022-02-07 19:43] AureliaKhorsand opened #107 "Allow user to create Committee contact using Lookup feature (Contact Management)"
Business Reason

As a Committee Administrator, I will be able to create a Committee contact associated with my committee using the Lookup feature to find a Committee already registered with FEC so that I can pull them into necessary transactions and reports as needed.

 Acceptance Criteria

**When** I go to Contact Management
**And** add a new contact with the Type "Committee"
**Then** I will have

[2022-02-07 20:52] AureliaKhorsand opened #108 "Allow user to create Candidate contact using Lookup feature (Contact Management)"
Business Reason

As a Committee Administrator, I will be able to create a Candidate contact associated with my committee using the Lookup feature to find a Candidate already registered with FEC so that I can pull them into necessary transactions and reports as needed.

Acceptance Criteria

***When*** I access Contact Management

  ***And*** add a new contact with the Type "Candidate"

  ***Then***

[2022-02-07 21:00] AureliaKhorsand commented on #67
During Requirements discussion on 2/3/22, conversation with FEC indicated that this may not be necessary for OP1, and pushed to OP2. Need to confirm with FEC before descoping.

[2022-02-07 23:31] WiseQA commented on #40
Matt from the acceptance criteria, there is a lot of info, can you provide a link to verify like you have been doing for testing.  Returning to Code Review for more information on this ticket to test.

[2022-02-08 18:06] WiseQA commented on #40
QA performed verified the following from Acceptance Criteria:

VERIFY DEVELOP FRONT-END IS RUNNING: https://fecfile-web-app-dev.app.cloud.gov/
VERIFY DEVELOP BACK-END IS RUNNING: https://fecfile-web-api-dev.app.cloud.gov/api/v1/token/obtain

VERIFY STAGE FRONT-END IS RUNNING: https://fecfile-web-app-stage.app.cloud.gov/
VERIFY STAGE BACK-END IS RUNNING: https://fecfile-web-api-stage.app.cloud.gov/

[2022-02-09 00:04] mjtravers opened #109 "Integrate Login.gov service into front-end and back-end"
Integrate the Login.gov web service into the web-app and web-api authentication process

Documentation: https://developers.login.gov/overview/

For this ticket, it will create a login process via Login.gov for a committee account admin role that is linked to only 1 committee account.

Future tickets will expand on this process to include users linked to more than one committee account and roles be

[2022-02-09 18:12] AureliaKhorsand commented on #105
**Refinement Meeting 2/9/22:** Currently no way to do this in UI, so we have SQL statements from script from Roberto. This is a stopgap for just getting the test accounts in the system. Right now, authentication isn't leaving our system, so users don't need access to these emails just yet. Pointed at 3.

Note: The accounts that exist in UAT when we move to Stage in ticket [fecfile-web-api# 37](htt

[2022-02-09 19:02] AureliaKhorsand opened #110 "Allow user to save or save and add Contacts or cancel without saving"
Business Reason

As a Committee Administrator, I will be able to save new contacts so that I can keep my contact list up-to-date.

Acceptance Criteria

***If*** I am a Committee Administrator

  ***When*** I have created a new contact with all required fields

  ***Then*** I will be able to:

1\. save a new contact and return to the contact list ***or***,

  2\. save and add more contacts (which o

[2022-02-09 19:08] AureliaKhorsand commented on #64
**Refinement Meeting 2/9/22:** Removed "save" functionality into #110. This ticket is for data input only.

**Discussion 2/10/22:** Will develop with United States as default (and only) country, and won't include international phone numbers. Those will be covered in #111. Error message is standard angular and will be updated with redesign effort.

[2022-02-09 19:09] AureliaKhorsand commented on #61
**Refinement Meeting 2/9/22:** Removed "save" functionality into #110. This ticket is for data input only.

**Discussion 2/10/22:** Will develop with United States as default (and only) country, and won't include international phone numbers. Those will be covered in #111. Error message is standard angular and will be updated with redesign effort.

[2022-02-10 14:53] AureliaKhorsand opened #111 "Allow user to enter international contact information (Telephone Only)"
Business Reason

As a Committee Administrator, I will be able to enter international specific information in contact metadata so that I can accurately record the address of the contact if they are located outside the United States.

Acceptance Criteria

***If*** I am a Committee Administrator

  ***When*** I am creating or editing a contact of any type

  ***Then*** I will be able to enter Interna

[2022-02-10 17:15] AureliaKhorsand commented on #110
![a1f4695a-47ce-4177-9d67-cef5b05abac5.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/c8540a0a-e84b-44b4-a615-a0d51f84ee9f)

[2022-02-14 14:49] #41 closed, assigned to mjtravers

[2022-02-14 14:49] #59 closed, assigned to albertcrowley, mjtravers

[2022-02-14 14:49] #40 closed, assigned to albertcrowley, lbeaufort

[2022-02-14 15:45] lbeaufort opened #116 "Reports not loading in production environment"
**Description**
Reports aren't loading in production environment, but they are in the development environment. Console errors appear in production.

**Steps to reproduce:**

- Log in to https://fecfile-web-app-prod.app.cloud.gov/#/
- Click on a report in the left-hand menu
- Report doesn't load, shows console errors

**Screenshot**
<img width="967" alt="Screen Shot 2022-02-14 at 9 27 52 AM" src="h

[2022-02-14 20:43] albertcrowley opened #118 "Generate Dependency Report"
***User Story***

  As a QASP evaluator, I would like to have a dependency report for each repository.

***Acceptance Criteria***

*   [x] The report should include all packages used for that repository, the version number we are using, and the license for the package.
*   [x] Separate reports should be generated for the:
*   fecfile-web-app
*   fecfile-web-api
*   fecfile-validate
*   fecfile-ima

[2022-02-14 20:54] AureliaKhorsand commented on #62
The ID should be required as it is a data integrity issue if we do not have them. Per Ryan: The scenario brought up during our requirements meeting involved a candidate that hasn't registered with the FEC since they haven't met the legal requirements for doing so yet.  In that situation, we would steer the user to entering in that transaction as a contribution (expenditure) to an unregistered orga

[2022-02-14 20:55] AureliaKhorsand commented on #63
The ID should be required as it is a data integrity issue if we do not have them. Per Ryan: The scenario brought up during our requirements meeting involved a candidate that hasn't registered with the FEC since they haven't met the legal requirements for doing so yet.  In that situation, we would steer the user to entering in that transaction as a contribution (expenditure) to an unregistered orga

[2022-02-14 20:58] AureliaKhorsand opened #119 "Allow user to enter Candidate Office/State/District info when creating Candidate Contact"
Business Reason

As a Committee Administrator, I will be able to enter Candidate Office/State/District info when creating Candidate Contact so that I can track Candidate information as required for transactions.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I access my committee's contact list and am adding a new "Candidate" contact
**Then**  I will be required to input the

[2022-02-14 21:01] AureliaKhorsand commented on #111
During the 2/10/22 requirements discussion, Paul found examples of committees with foreign addresses. We determined that we should accommodate international addresses for Committee and Candidate contacts just in case.

[2022-02-14 21:09] AureliaKhorsand commented on #68
Per Ryan 2/10/22 :  [Committee and Candidate IDs] should be editable in case there is a reason they entered the incorrect ID. There are instances where committees and candidates register more than once, which creates multiple IDs.  These scenarios are rare, but again we should allow the user to update if needed. For now, we want to give users maximum flexibility in their data entry.

[2022-02-14 21:46] AureliaKhorsand opened #120 "System to require users to consent to security notice annually"
Business Reason

Per FEC Security team guidance, users will be required to consent to a security notice the first time they log in to FECFile Online, then annually after that. We should require all users to acknowledge the system use notification the first time they access the application. We should track this acknowledgement. Subsequent displays of the notification should happen at least yearly.

[2022-02-14 21:47] AureliaKhorsand commented on #120
Ken reached out to Security team on 2/10/22, and they confirmed this is required at each log in. We need the current language from OGC.

[2022-02-15 15:25] lbeaufort opened #122 "Clicking on link to homepage shouldn't go to fec.gov"
### Business Reason ###

As a FECFile user, I will be able to click on the homepage link so that I can go back to the home page.

### Acceptance Criteria ###

**If** I am a FECfile user,
**When** I click on the Federal Elections Commission logo/text
**Then** the system should return me to the FECfile Online Homepage within the same browser tab

**Dev Note:** More information on this design pattern

[2022-02-15 17:34] WiseQA commented on #57
Verified dependency check ran. Unit test "failed" as denoted in Acceptance Criteria for this ticket.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/592f39fd-80e4-4b13-aed7-2bbdf70a548f)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b0b9323c-117a-407c-9fb5-ab543634b7c0)

QA review completed.  Moved to Stage Ready.

[2022-02-16 18:17] AureliaKhorsand commented on #62
**Refinement Meeting 2/16/22:** Note that this ticket is for validating fields, and not saving the contact. That ticket is split out into #110. Pointed at 5.

[2022-02-16 18:23] AureliaKhorsand commented on #63
**Refinement Meeting 2/16/22:** Note that this ticket is for validating fields, and not saving the contact. That ticket is split out into #110. Pointed at 5.

[2022-02-16 18:34] AureliaKhorsand commented on #107
**Refinement Meeting 2/16/22:** Need to confirm the endpoint we are pulling from, and that it is the appropriate place to pull from. This determination is included in the scope of the ticket and pointing - we cannot assume that this is working at the transaction level.

Because telephone number is not essential for reporting, if the API endpoint does not give us the phone number, we do not need to

[2022-02-16 18:49] AureliaKhorsand commented on #108
**Refinement Meeting 2/16/22**: Back to AA, need to determine how to display names when candidate is running for multiple offices.

Dev Note: Budget time for refactoring.

[2022-02-16 18:58] AureliaKhorsand commented on #110
**Refinement Meeting 2/16/22**: Holding off on pointing until later in Sprint 4 to determine how many endpoint models we will have for contact types, and if this ticket should or should not be split.

[2022-02-16 19:21] AureliaKhorsand commented on #107
Per Laura on Slack 2/16/22: It looks like the lookup is calling from the fecfile API database, which would mean we'd need some sort of ETL to get committee/candidate data in there. I think because committee info is updated daily, we should probably just be calling the FEC API. https://api.open.fec.gov/v1/committee/C00344234/?api_key=DEMO_KEY

https://api.open.fec.gov/developers/#/committee

[2022-02-17 13:34] mjtravers opened #125 "Fix ngx-bootstrap vulnerability"
The [ngx-bootstrap](https://www.npmjs.com/package/ngx-bootstrap) has an XSS vulnerability: https://app.circleci.com/pipelines/github/fecgov/fecfile-web-app/169/workflows/bcad3ac5-e317-4c95-a216-fe2fa42befbf/jobs/652

The vulnerability looks to be how the typeahead is being used. Fix the XSS issue for the typeahead either by using the ng-bootstrap library (also in use) has may have a better impleme

[2022-02-17 14:02] mjtravers commented on #103
This has been done with the upgrade to angular 13. Closing ticket.

[2022-02-17 14:02] #103 closed, assigned to nobody

[2022-02-17 14:19] mjtravers opened #126 "Add lint check to CircleCI for web-app"
The linting process is already set up but just needs to be added as a step in CircleCI. The relevant files to get it running are:
- front-end/build-scripts/Dockerfile-lint
- front-end/build-scripts/lint.sh

**Acceptance Criteria**
- eslint is run in CircleCI and the results reported in the CircleCI commit report
- if it fails, then the deployment aborts

**QA Notes**
- The output of CircleCI showi

[2022-02-17 14:21] mjtravers opened #127 "Add user idle alert to app"
During the upgrade to angular 13, the node package angular-user-idle was no longer supported. The user idle functionality needs to be restored to the app

Here is a possible replacement: https://www.npmjs.com/package/ngx-inactivity-detector

**Acceptance Criteria**
- After a certain amount of time the app is open without any user interaction, a pop-up will appear asking if the user want to continu

[2022-02-17 14:24] mjtravers opened #128 "Upgrade node from 14 to 16 in web-app"
This upgrade poses several challenges for our Docker images.

Currently when spinning up a develop environment using docker-compose, the docker environment writes to the local filesystem when using snyk and also by installing node modules. The Docker image creation is failing due to file system permission errors.

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-02-17 17:21] AureliaKhorsand opened #129 "UX: Create FECfile Online Landing Page"
Business Reason

As an FEC report filer, I need a Landing Page to go to so I can Log into FECFile, Sign up for Login.gov or learn more information about the app and/or Login.gov

Acceptance Criteria

***Given*** someone comes to FECfile Online

 ***Then*** the log in/landing page will be as follows (see wireframe).

 ***And*** the following links will resolve as follows:

*   "Log into FECFile" Bu

[2022-02-17 18:47] AureliaKhorsand opened #130 "System to direct user to fec.gov (Form 1) to edit Committee Account data"
Business Reason

As a Committee Administrator, I will see instructions on the Committee Account page telling me to access fec.gov and resubmit a Form 1 to update any Committee Account information so that I can edit the information as needed if it changes.

Acceptance Criteria

***Given*** a Committee Administrator is on the Committee Account page (Profile > Account)

  ***Then*** I will see instru

[2022-02-17 20:52] AureliaKhorsand commented on #87
Per email from Ryan Lanz over email on 2/16/22, Candidate information should be removed since it does not apply to Form 3X. We will need to add it back in, but it should only appear for Form 3 and Form 3P committees. This will need additional research when we pick this up in OP3, such as a link to the candidate's Form 2.

For Type of Committee – I strongly encourage us to add this to the page.  I

[2022-02-17 20:55] AureliaKhorsand commented on #87
@mjtravers @toddlees I suspect there should be a separate API ticket to account for pulling the data from the FEC database to populate these fields. Is that correct? Or is it already in place? Let me know and I will create the appropriate ticket(s).

[2022-02-17 21:01] mjtravers commented on #87
@AureliaKhorsand No, we don't have a ticket yet for pulling committee data from FEC

[2022-02-18 17:54] albertcrowley commented on #14
This ticket is still in the Code Review lane in Zenhub.  Not sure if it is ready for QA as-is so I'm assigning it back to Matt update.

[2022-02-18 18:54] AureliaKhorsand opened #133 "Allow user to review and edit ADDRESS and see MULTICANDIDATE STATUS: (Create Form 3X-Part 2)"
Business Reason

As a Committee Administrator, I will be able to review and edit your committee’s address and review your multi-candidate status

 Technical Notes

- When saving this record, the FORM_TYPE field must have "F3XN" value in the new table record. See [F3X spec](https://fecgov.github.io/fecfile-validate/F3X_spec.html)

- Each time this screen is opened, a new pull from the FEC API endpo

[2022-02-18 18:56] AureliaKhorsand opened #134 "Allow user to specify report type (Form 3X Line 4)"
Business Reason

As a Committee Administrator, I will be able to specify the report type for Form 3X so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-02-18 18:56] AureliaKhorsand opened #135 "Allow user to create a Form 3X report and specify report type (Form 3X Line 4)"
Business Reason

As a Committee Administrator, I will be able to create a Form 3X report and specify the report type for Form 3X so that, along with coverage date, I will be able to save a Form 3X report record for my Committee Account.

Acceptance Criteria

***Given*** I am a Committee Administrator

  ***When*** I create a new Form 3X report

  ***Then*** I will be ***required*** to select a rep

[2022-02-18 18:58] AureliaKhorsand opened #136 "Form 3X: Schedule A"
This Epic will include functionality specific to Schedule A and its transactions on Form 3X

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1285](https://fecgov.atlassian.net/browse/FECFILE-1285)

[2022-02-18 19:35] AureliaKhorsand opened #137 "Allow user to set and edit coverage dates for a report (Form 3X Line 5)"
Business Reason

As a Committee Administrator, I will be able to set and edit the coverage dates for my Form 3X report so that, along with report type, I will be able to save a Form 3X report record to my Committee Account.

Acceptance Criteria

***Given*** I am a Committee Administrator that is creating a new Form 3X Report

  ***When*** I select any report type (Monthly, Quarterly, 12 day, 30 da

[2022-02-18 21:15] AureliaKhorsand opened #138 "Allow user to save their report progress and viewable in Reports Table"
**UX/UI considerations: How do we want to implement saving in reports? What auto-save functionality is recommend?**

 Business Reason

As a Committee Administrator, I will be able to save a newly created Form 3x Report so that I can see the report in the Reports Table

 Acceptance Criteria

**If** the Committee Administrator create a new Form 3x Report
**When** they click the save button
**Then**

[2022-02-18 21:17] AureliaKhorsand opened #139 "Display Multicandidate Status for the Committee Account on Committee Profile page (?)"
Display Multicandidate Status for the Committee Account on Committee Profile page.

***If*** I am a Committee Administrator
 ***When*** I go to the Account page
 ***Then*** I will see Multicandidate Status as read-only.
 ***And*** should display as:

Committee Type Q if qualified, Committee Type N if not qualified. See committee type spreadsheet.

[https://api.open.fec.gov/developers/#/committee/g

[2022-02-18 21:18] AureliaKhorsand opened #140 "System to populate Committee info on new Form 3X report"
Business Reason

The system will auto-populate Committee information on a Form 3X report so that the user does not have to manually enter information that rarely changes, reducing the chance for user error and enhancing the user experience.

 Technical Notes

- Each time this screen is opened, a new pull from the FEC API endpoint needs to be made to display the most recent form information in case

[2022-02-22 17:12] MitchellTCG commented on #118
The report will be stored within Circle CI

[2022-02-22 17:18] WiseQA commented on #53
Verified the code coverage report is running on Sonar Cloud here and see the 1.1% estimate in the bottom left grid square in the report as stated in Acceptance Criteria.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/5f4cb7db-b0cc-4744-b920-5b40cf9abd4a)

QA review completed.  Moved to Stage Ready.

[2022-02-22 20:28] AureliaKhorsand opened #142 "Update Committee Header"
This is a placeholder ticket for updating the committee header.

Per Ryan Lanz over email on 2/16/22:

***Type of Committee*** – I strongly encourage us to add this to the page. I personally would even like to see it added to the overall banner that currently shows a committee’s ID and name. Committee type is going to be extremely important in the backend since it directly impacts what type of rep

[2022-02-23 17:46] mjtravers opened #143 "Modify deploy task on web-app and web-api repos to run only when merge to deploy branch"
Currently, the deploy task in CircleCI runs through all of its steps and then decides at the end in the tasks.py script whether or not to actually deploy to a Cloud.gov space. Change the process so that the task checks whether or not it will deploy as early as possible in the process and then end the process right away if it is not to deploy to Cloud.gov.

***Acceptance Criteria***

*   The deploy

[2022-02-23 18:29] AureliaKhorsand commented on #110
**Refinement Meeting 2/23/22:** Within the task to "refactor old code", this assumes that dev team will ensure the contacts are visible in the contact list screen (scope does not include design of the View Contacts page, which is covered in #75).

[2022-02-23 18:41] AureliaKhorsand commented on #68
**Refinement Meeting 2/23/22:** Split out ticket by contact type to aid in testing. Additional contact type tickets will also be a 3, team agreed on call.

[2022-02-23 21:53] AureliaKhorsand opened #144 "Allow user to edit an existing Candidate contact"
Business Reason

As a Committee Administrator, I will be able to edit an existing Candidate contact so that I can maintain an accurate database of contacts as contact metadata such as addresses, employers, etc. change over time.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I access my committee's contact list and select a Candidate type contact
**Then** I will be able to e

[2022-02-23 21:53] AureliaKhorsand commented on #144
Pointed at 3 based on 2/23/22 backlog refinement discussion. Based off pointing of #68.

[2022-02-23 21:54] AureliaKhorsand opened #145 "Allow user to edit an existing Committee contact"
Business Reason

As a Committee Administrator, I will be able to edit an existing Committee contact so that I can maintain an accurate database of contacts as contact metadata such as addresses, employers, etc. change over time.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I access my committee's contact list and select a Committee type contact
**Then** I will be able to e

[2022-02-23 21:55] AureliaKhorsand commented on #145
Pointed at 3 based on 2/23/22 backlog refinement discussion. Based off pointing of #68.

[2022-02-23 21:56] AureliaKhorsand opened #146 "Allow user to edit an existing Organization contact"
Business Reason

As a Committee Administrator, I will be able to edit an existing Organization contact so that I can maintain an accurate database of contacts as contact metadata such as addresses, employers, etc. change over time.

 Acceptance Criteria

**If** I am a Committee Administrator
**When** I access my committee's contact list and select an Organization type contact
**Then** I will be ab

[2022-02-23 21:56] AureliaKhorsand commented on #146
Pointed at 3 based on 2/23/22 backlog refinement discussion. Based off pointing of #68.

[2022-02-25 15:43] WiseQA commented on #14
Verified Angular version 13 is in configuration file:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/ee99ff3f-b0b1-4a08-8d48-3884859b4d49)

Verified unit test passed successfully as denoted in the Acceptance Criteria.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/e7c36adc-3636-42b7-9bb4-c4edcef3cd3d)

QA review completed.  Moved to Stage Rea

[2022-02-25 17:10] mjtravers commented on #118
Here are the 4 license reports, one for each repo:

[api-license-report.md](https://github.com/fecgov/fecfile-web-app/files/8142976/api-license-report.md)

[image-generator-license-report.md](https://github.com/fecgov/fecfile-web-app/files/8142978/image-generator-license-report.md)

[app-license-report.txt](https://github.com/fecgov/fecfile-web-app/files/8142985/app-license-report.txt)

[validate-

[2022-02-25 17:16] WiseQA commented on #105
Capability of logging in to test account on cloud.gov passed.  Below Login credentials used was new test account set up for swise@tygart.com.

Verify login to DEV:
https://fecfile-web-app-dev.app.cloud.gov/
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/8d71a0a3-0f68-4151-8fe5-ddb3649f6e8b)

Verify login to STAGE:
https://fecfile-web-app-stage.app.cloud.gov/
![image.png

[2022-02-25 17:59] WiseQA commented on #118
Verified license report for each repo.  (Note:  below images are snipped shots for verification license report is generated and not a complete list.)

API License Report    api-license-report.md
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/36827d9c-1c9d-46a1-878e-423b7dfeb286)

Image Generator License Report    image-generator-license-report.md
![image.png](https://im

[2022-02-25 18:31] WiseQA commented on #105
Conversation with @mjtravers on tester access to PROD server.   @mjtravers will clarify what servers the test accounts should have access to..  Will update acceptance criteria once clarified.  Returned to Code Review.  (Note:  Ticket was written initially for Stage server access only which needed changed.)

[2022-02-28 15:08] WiseQA commented on #105
QA Completed.   Capability of logging in to test accounts on cloud.gov passed (DEV, Stage, PROD) (see above screen shots).

Acceptance criteria updated:   test accounts should work on stage server, DEV server and PROD server

QA review completed.  Moved to Stage Ready.

[2022-03-02 17:16] mjtravers opened #149 "Fix "consent and continue" modal on landing page."
The angular upgrade to version 13 disabled the "Consent and Continue" page when a user first lands on the dashboard page when logging in.

***Acceptance Criteria***

*   When a user logs into the app, the "Consent and Continue" modal appears when the dashboard is first displayed.

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1275](h

[2022-03-03 14:25] mjtravers commented on #104
This is a duplicate ticket of https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-validate/34
Closing ticket

[2022-03-03 14:25] #104 closed, assigned to nobody

[2022-03-03 16:27] AureliaKhorsand commented on #42
**Refinement Meeting 3/3/22:** Learning curve ticket. Blocker: you need a .gov or .mil to set up a sandbox account. Need to follow up, this is now an investigation ticket.

[2022-03-04 20:34] lbeaufort opened #152 "Increase application instances in stage/prod"
We should be running at least 2 application instances to prevent downtime and identify any concurrency issues. Ideally we should make our staging environment match production if we have enough memory.

- Confirm we have enough memory (max 15 GB, see https://docs.google.com/spreadsheets/d/1EsY3zOFv2mv9-f-sf64xbPI8dUGwEawQN2l68aHtO5w/edit#gid=0
- Update manifest files for web app and Web API to run

[2022-03-07 16:47] mjtravers opened #153 "Restore Consent & Continue modal when a user logs in"
When a user logs into the app, they should be presented with a consent and continue modal when first loading the dashboard page. This functionality was lost in the Angular 13 upgrade. See the attached screenshot for UAT version.

![consent-and-continue.png]([https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/0a8b9799-fe8e-4cc3-b27d-f96b6de67988](https://images.zenhubusercontent.com/61b9

[2022-03-07 16:48] #149 closed, assigned to nobody

[2022-03-07 16:49] mjtravers commented on #149
Duplicate of [#153](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/153)

[2022-03-07 17:29] mjtravers opened #154 "Set up auto documentation generator for Angular code"
Install [compodoc](https://compodoc.app/) as the auto documentation generator for the app.

Use Compodoc to generate an HTML formatted documentation build which can be served via GitPages in the fecfile-web-app repo.

Set up auto generation of the documentation on the main branch when it deploys and for GitPages

**Acceptance Criteria**

*   Auto documentation is generated in HTML format when dev

[2022-03-08 14:38] #57 closed, assigned to MitchellTCG

[2022-03-08 14:38] #105 closed, assigned to MitchellTCG

[2022-03-08 14:38] #14 closed, assigned to MitchellTCG

[2022-03-08 14:38] #118 closed, assigned to MitchellTCG

[2022-03-08 14:38] #53 closed, assigned to MitchellTCG

[2022-03-08 15:13] mjtravers opened #156 "Reorganize web-app code base"
Business Reason

In order to be able to develop and test the existing and new features of the app, move existing code that is not part of OP1 to the code backlog.

***Tasks***

*   Identify code that is not necessary for OP1 features and move to the code backlog in the repo.
*   Update package.json to suspend phased out dependencies

Acceptance Criteria

*   Users can log into site
*   Dashboard w

[2022-03-11 14:28] mjtravers commented on #87
@AureliaKhorsand I don't have a dev ticket to pull committee account data from the profile but can create one unless you have already done so. I will pull the list of committee account types you've attached into the code. I can also display the committee account type on the page header along with the ID and name and will do so

[2022-03-11 19:30] mjtravers commented on #102
This issue was resolved while working on #158.
Closing ticket.

[2022-03-11 19:30] #102 closed, assigned to nobody

[2022-03-11 19:42] mjtravers commented on #125
This issue is no longer relevant as ngx-bootstrap has been removed from the app during the work preformed for issue #156.
Closing ticket.

[2022-03-11 19:42] #125 closed, assigned to nobody

[2022-03-11 19:43] #116 closed, assigned to mjtravers

[2022-03-11 19:43] mjtravers commented on #116
This ticket is OBE. Reports pages have been put in the backlog until they are to be worked on.
Closing ticket.

[2022-03-11 21:24] AureliaKhorsand opened #159 "Allow user to edit contact from transaction entry"
Acceptance Criteria

**Given** a user has pulled in contact info to a transaction using the Contact Management Lookup
**If** the user makes edits to the contact information in the transaction entry screen
**When** the user goes to save the transaction (whether it's Save and Add More or Save and View Transactions)
**Then** they must acknowledge the following message:

"By saving this transaction, y

[2022-03-11 21:34] AureliaKhorsand commented on #120
2/24/22 Requirements Session: Paul mentioned that Wenchun Jiang (CISO) said we can change it to once a month, or once a quarter consent. Paul will follow-up with Christine on this.

Paul: if we think that this message is going to be in usability testing soon, we should probably have more updated language. When we get to the point of needing to develop, Policy should go through Ryan/Debbie and OGC

[2022-03-11 21:36] AureliaKhorsand commented on #91
2/24/22 Requirements Session: Users will only have one role at a time, since permissions are cascading. Users may have different roles per Committee Account they have access to, but NOT within one.

[2022-03-11 21:43] AureliaKhorsand commented on #87
@mjtravers let's repurpose [web-api #52](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-api/52), which I had closed thinking it wasn't needed. Feel free to update it with what needs to be done technically.

@lbeaufort Paul provided the following endpoint for pulling the Form 1 data for Committee Accounts. Can you confirm this is the correct one?

[2022-03-11 22:31] AureliaKhorsand commented on #108
@mjtravers this is the front-end ticket for what we discussed during the 3/10 requirements meeting. It's ready for a related technical ticket - also please let me know if anything here needs to be updated.

Requirements sessions notes [here](https://docs.google.com/document/d/1QP9K0yV2G9YJ5ZDhty9ialDbO73sBaAf33_XIgoclco/edit).

[2022-03-11 22:54] AureliaKhorsand commented on #153
@mjtravers how does this relate to the [web-app ticket #120](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/120)? Is this a blocker to that, the technical side, or a duplicate?

[2022-03-11 23:07] mjtravers commented on #153
It is a duplicate. I will close out this ticket.

[2022-03-11 23:07] #153 closed, assigned to nobody

[2022-03-14 15:22] MitchellTCG commented on #91
@mary-tcg Please work on a wireframe for this today

[2022-03-15 14:55] lbeaufort commented on #42
Work so far on demo app lives here: https://github.com/fecgov/login-gov-demo

Notes/resources:
https://docs.google.com/document/d/1LJVdS7CIVgd-9OmBnfSIaPCfH30iDTfF-4BGXFSSjFA/edit

[2022-03-15 16:58] WiseQA commented on #156
Log into https://fecfile-web-app-dev.app.cloud.gov/ using test account.   Verified Dashboard appeared.  (Note links not working just display of naming).

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/74eab81c-27ca-4189-bf87-6bf59c4c36c4)

QA review completed.  Moved to Stage Ready.

[2022-03-15 17:44] AureliaKhorsand commented on #109
Duplicate of [fecfile-web-app #92](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/92)

[2022-03-15 17:44] #109 closed, assigned to mjtravers

[2022-03-15 17:52] AureliaKhorsand commented on #36
Duplicate of [web-app #42](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/42)

[2022-03-15 17:52] #36 closed, assigned to mjtravers

[2022-03-15 19:13] AureliaKhorsand opened #163 "Display "Filing Frequency" for the Committee Account on Committee Profile page"
Business Reason

As a Committee Administrator, I would like to see my Filing Frequency displayed on my Account page, so that I can see what Filing Frequency is tracked for my FEC report filings.

Acceptance Criteria

**_If_** I am a Committee Administrator

**_When_** I go to the Account page

**_Then_** I will see "Filing Frequency" as read-only with one of the following values:

*   Quarterly
*

[2022-03-15 19:15] AureliaKhorsand opened #164 "Allow user to view bank information on/from Committee Profile page"
Business Reason

As a user, I will be able to view my committee's Bank Information so that I can [business reason]

Acceptance Criteria

_**If**_ I am on the Committee Profile page _**When**_ I view the Bank information section _**Then**_ I will see the following: "Additional banks can be viewed here (Link: most recent Form 1 on fec.gov)."

Bank Information

*   Bank Name
*   Address Line 1
*   Ad

[2022-03-15 19:20] AureliaKhorsand opened #165 "Allow user to view reports"
Business Reason

As a Committee Administrator, I will be able to view a list of reports associated with my committee account so that I can manage reports as needed.

Technical Notes

*   The status and date/time fields will be placeholders until the data is added to the system
*   Create a Django fixture that creates a set of test reports for testing
*   All columns in the wireframe should be sort

[2022-03-15 19:33] AureliaKhorsand opened #166 "Allow user to add Report Memo Text to Form 3X report"
Business Reason

As a user, I will be able to add memo text at the report level so that I can provide additional information needed to FEC upon submission and have it become part of the public record.

 Acceptance Criteria

**Given** I am a (Backup) Committee Administrator
**When** I am editing a report that has not yet been submitted
**Then** I will be able to add report memo text at the report l

[2022-03-16 13:43] MitchellTCG commented on #119
Wireframe

![Candidate.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/fa81e131-a7ee-4494-8572-ef08f7861ebf)

![Candidate Office– Required Fields.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/908a876e-342a-4c5b-9344-e49fc0c18689)

[2022-03-16 16:54] mjtravers opened #167 "Remove developer Docker setup for front-end app"
For the development environment, the Docker setup is problematic for a number of reasons mainly based on the need for the Docker process running as root:
- Root permission issues between container and host file systems
- Unable to upgrade to node 16 because of permission issues within container

It is easier and more reliable to run the development server using the ng command line: "ng serve". The

[2022-03-16 17:26] AureliaKhorsand commented on #119
**3/16/22 Refinement Meeting:** Mitchell will confirm the dropdown lists with FEC, then load the lists to be validated to the ticket.

[2022-03-16 17:41] AureliaKhorsand commented on #87
**3/16/22 Refinement Meeting:** Laura recommended pulling directly from the FEC API endpoint, rather than building our own in FECFile Online. Could also pull from the electronically filed Form 1, but that is something we can set up later.

Per Laura: maybe this one [click here](https://api.open.fec.gov/v1/committee/C00344234/?api_key=DEMO_KEY)

During discussion, talked about how there can be nume

[2022-03-17 19:39] AureliaKhorsand commented on #164
During the [3/17/22 requirements meeting](https://docs.google.com/document/d/1tQ9GMhrqTDHsVHlIzKxydHEnPT1vm1fShgN-z6Jbfw8/edit#), FEC noted that committee's can have numerous banks and there is no way on Form 1 to designate a "primary" bank. The current API just shows the top one, and it's also possible to show a list of all the bank names only, but this needs design work and further analysis to d

[2022-03-17 19:40] AureliaKhorsand commented on #87
During the [3/17/22 requirements meeting](https://docs.google.com/document/d/1tQ9GMhrqTDHsVHlIzKxydHEnPT1vm1fShgN-z6Jbfw8/edit#), FEC noted that committee's can have numerous banks and there is no way on Form 1 to designate a "primary" bank. The current API just shows the top one, and it's also possible to show a list of all the bank names only, but this needs design work and further analysis to d

[2022-03-17 19:45] AureliaKhorsand commented on #130
@lbeaufort @RyanLanz This is the story for making sure users have the link to their committee's most recent Form 1 as well as the webform to update the Form 1. Can you provide us the links and/or link logic to use?

[2022-03-17 19:57] AureliaKhorsand commented on #91
During [3/17/22 Requirements meeting](https://docs.google.com/document/d/1tQ9GMhrqTDHsVHlIzKxydHEnPT1vm1fShgN-z6Jbfw8/edit#), noted that we will proceed with the term "Backup Committee Administrator" for now, though this may change at a later date. There is no current limit to the number of Backup Committee Administrators, and the role should have the exact same permissions as Committee Administra

[2022-03-17 20:11] RyanLanz commented on #130
Aurelia:

Here are the links/explanation, although Laura can probably provide additional information for the most recent F1.

Webform Form 1: https://webforms.fec.gov/webforms/form1/index.htm
Most Recent Form 1: https://docquery.fec.gov/pdf/539/202110149467253539/202110149467253539.pdf - This link changes for each committee.  The numbers in the link are what we call an image number and they are un

[2022-03-18 23:59] mjtravers opened #169 "Install guards on Angular routing"
Business Reason

As an non-logged in user, I should not be able to view app pages other than the login screens.

## Task ##
Add an Angular guard in the app-routing.module.ts file to redirect unauthenticated users to the login page when they try to view any non-login app page.
The guard should be attached to the
LayoutComponent route and it should guard the children routes as well.

 Acceptance Cri

[2022-03-19 00:17] mjtravers commented on #143
Duplicate of [api#80](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-api/80)
Closing ticket

[2022-03-19 00:17] #143 closed, assigned to nobody

[2022-03-22 12:07] WiseQA commented on #64
Organization Contact field messages screen shot:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/fe419c02-18be-4d82-a0be-49dad25954e8)

Organization Contact field error messages screen shot:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f24485c9-a17b-46d5-856f-7e9c5acffbf3)

Organization Contact "required fields" screen shot:

![image.png](

[2022-03-22 14:35] MitchellTCG commented on #87
![Account - READ ONLY.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/1971ece6-e701-480d-a864-456146114d7c)

[2022-03-22 16:43] WiseQA commented on #146
Contacts screen selecting Organization contact:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/294e9795-d746-4e63-aa00-5ebe6c4a3905)

Successful - Contact Updated Popup Screen Shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/620eb206-e9d6-4309-b569-0401688d069f)

Contacts screen showing Organization edit name successful:
![image.png](http

[2022-03-22 16:58] WiseQA commented on #145
Contacts screen selecting Committee contact:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/bb139985-7033-4606-97e3-61eebe0840e0)

Successful - Contact Updated Popup Screen Shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/da80583c-d589-4c3a-be8e-aed5ee174b42)

Contacts screen showing Committee edit name successful:
![image.png](https://im

[2022-03-22 19:12] AureliaKhorsand opened #171 "Allow user to reattribute a Tier 1 Schedule A transaction within current report"
Business Reason

As a user, I will be able to "reattribute" a Tier 1 transaction within a current open report so that I can reattribute part or all of the receipt amount to a different entity, changing the aggregation amount for the entity on each new transaction.

Acceptance Criteria

***Given*** a Tier 1 receipt on Schedule A in the current open report (In-progress)

  ***When*** I initiate the

[2022-03-22 19:13] AureliaKhorsand opened #172 "System to itemize an "Individual Receipt", "Tribal Receipt", "Offsets", and "Other Receipts" if Contribution Aggregate is >$200"
Business Reason

Per FECA regulations, certain transactions must be itemized on the Form 3X. That includes Individual, Tribal Receipts, Offsets to Operating Expenditures, and Other Receipts, when the contribution aggregate is over $200.

Acceptance Criteria

***For the following transactions:***

1\. Individual Receipt

  2\. Tribal Receipt

  3\. Offsets to Operating Expenditures

  4\. Other Rec

[2022-03-22 19:15] AureliaKhorsand opened #173 "Allow user to manually unitemize a transaction"
### Business Reason ###

As a user, I will be able to unitemize any transaction so that I can report efficiently if needed, for example: Separate segregated fund PAC for union or corporation, monthly dues, etc.  Amount they give never goes above $200 threshold, so committee just shows a lump sum instead. Individual donor level never is over $200.

### Acceptance Criteria ###

**If** a transaction

[2022-03-22 19:16] AureliaKhorsand opened #174 "Allow user to add memo text to a transaction"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

**Notes from PI 2 Planning:**

- Should be allowed for every single transaction
- Vital way for committees to give additional information
- Nowhere on form itself to display the text. In imaging, output into separate page for each pa

[2022-03-22 20:24] MitchellTCG opened #175 "Remove Save and Add More button on Edit Contact Modal"
### Business Reason ###
As a Committee Administrator, I will be able to edit an existing contact BUT I do not need to Save and Add More entries while editing.

### Acceptance Criteria ###
If I am a Committee Administrator 
When I access my committee's contact list
 Then I will be able to EDIT and SAVE any of that contact's data except Type

### Task ###
1. Remove "Save & Add More" button from moda

[2022-03-22 20:32] MitchellTCG commented on #145
Story Points increased because Todd needs to address "Except Type" portion of the acceptance criteria for all four "type"

[2022-03-23 17:31] AureliaKhorsand commented on #87
**3/23 Refinement Meeting:** Email 2 does not come over on the API, so removing for now. Telephone is only for Treasurer in this ticket, and the Committee does not have a telephone field. Determined we are keeping Treasurer last and first name separate for now, and only including name for Custodian of Records

[2022-03-23 20:23] lbeaufort commented on #42
Potential workflow diagram, thank you @toddlees for your help!
https://docs.google.com/drawings/d/1l5qDa7N_iU4MbSPZUKX2xrvknjEVFa70WhKMYcJFleU/edit

[2022-03-23 20:27] MitchellTCG commented on #87
wire added

removing tag

[2022-03-24 14:20] WiseQA commented on #62
Committee Contact field messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/92637c30-8597-4a8d-a771-1b4bd06589e0)

Committee Contact field error messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/eec3cbbc-e5a8-4399-bea2-71998aa8947b)

Committee Contact "required fields" screen shot:
![image.png](https://imag

[2022-03-24 15:05] WiseQA commented on #61
Individual Contact field messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/5cfe8b9d-e1ef-41b4-8052-29f049406341)

Individual Contact field error messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/92f1ea5c-15a1-4e5f-9680-915dfefd8d25)

Individual Contact "required fields" screen shot:
![image.png](https://i

[2022-03-24 16:01] WiseQA commented on #63
Candidate Contact field messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d2776249-a80e-4a11-9fa2-8bbbb7122695)

Candidate Contact field error messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/7bdd878a-a4af-43ad-992e-539ab2c727e7)

Candidate Contact "required fields" screen shot:
![image.png](https://imag

[2022-03-24 17:19] WiseQA commented on #145
Verified patch 145 implemented.  Once contact is created (e.g. Individual, Committee, Organization and/or Candidate) the contact type cannot be modified or changed.   All 4 contacts passed this merge.

QA review completed on this patch and passed.

[2022-03-25 14:45] toddlees opened #177 "Remove static and staticfiles directories from api"
Now that we have DRF Spectacular supporting our api docs, we no longer need any of the content in static/ and staticfiles/

Remove these directories and their content from the codebase

1.  1.  Acceptance Criteria ##

*   a user is still able to access [https://fecfile-web-api-dev.app.cloud.gov/api/docs/](https://fecfile-web-api-dev.app.cloud.gov/api/docs/) after the files have been removed

### Q

[2022-03-25 15:43] toddlees commented on #177
Accidentally made this ticket in app when it should have been in api

[2022-03-25 15:43] #177 closed, assigned to nobody

[2022-03-28 17:14] AureliaKhorsand opened #179 "Defect: Each Committee Account should only have their contacts available in Contact Management"
Expected:

Each Committee Account should have it's own list of contacts, accessed through Contact Management. Contacts should _not_ be shared between Committee Accounts in FECFile Online.

 Actual:

Contacts created through one Committee Account are available in all Committee Accounts.

 Acceptance Criteria:

Given a contact is created in a Committee Account
Then that contact should only be availa

[2022-03-28 19:47] MitchellTCG commented on #130
here is the wire

![Account - READ ONLY_v3.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/ef498aaf-9e08-4466-9f76-337f55947ddc)

[2022-03-28 22:56] mjtravers opened #180 "Fix warning in console when editing/adding contact"
There is a warning message in the browser console regarding how the contact type select box is disabled. Mitigate the issue so no warning message is issued.

![fecfile-app-disable-warning.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/164b6c48-aaeb-4d14-a4f6-726ace36ae7e)

### Acceptance Criteria ###
- This change effects the "read-only" mode of the contact type select box. Thi

[2022-03-29 02:15] MitchellTCG commented on #91
Wires updated. UX team will choose a direction in the morning and final wireframes will be added to this ticket.

[2022-03-29 02:16] MitchellTCG commented on #130
Wireframe finalized and added. removing UX/UI attention needed.

[2022-03-29 03:10] MitchellTCG commented on #108
Wireframes under UX Review.

[2022-03-29 03:10] MitchellTCG commented on #107
Wireframes under UX Review.

[2022-03-29 05:25] MitchellTCG commented on #111
Wire done but needs to be signed off by UX and Devs

[2022-03-29 05:55] MitchellTCG opened #182 "Update State Dropdown for ADD Contact (ONLY Candidate Type)"
Business Reason

As a Committee Administrator, I will be able to select a US State or US Territory without Armed Forces location while add contacts for a Candidate

Acceptance Criteria

***If*** I am a Committee Administrator 

  ***When*** I go to the Contact page

   ***Then*** I will select the "New" button

  ***Then*** I will see a dropdown with the list of State written in full from the belo

[2022-03-29 05:59] MitchellTCG commented on #182
here is a wire of the candidate contact page for reference:

![Candidate_State_Dropdown.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/22752807-e0d7-40de-a032-f52bd0da24d5)

[2022-03-29 06:05] MitchellTCG opened #183 "Update State Dropdown for EDIT Contact (ONLY Candidate Type)"
Business Reason

As a Committee Administrator, I will be able to select a US State or US Territory without Armed Forces location while EDIT contacts for a Candidate

Acceptance Criteria

***If*** I am a Committee Administrator 

  ***When*** I go to the Contact page

   ***Then*** I will select an edit pencil icon from any listing on the table

  ***Then*** I will see a dropdown with the list of S

[2022-03-29 12:07] MitchellTCG opened #184 "Remove SAVE & ADD MORE button for the Individual Edit Contacts modals"
Business Reason

As a Committee Administrator, when I edit an existing individual contact, I should be able to SAVE or CANCEL but not SAVE & ADD MORE contacts

Acceptance Criteria

1.  ***Individual***

       #

       ***If*** I am a Committee Administrator

       ***When*** I go to the Contacts page

       ***Then*** I will look for an "individual" contact type

       ***Then*** I will click

[2022-03-29 12:09] MitchellTCG opened #185 "Remove SAVE & ADD MORE button for the Candidate Edit Contacts modals"
Business Reason

As a Committee Administrator, when I edit an existing candidate contact, I should be able to SAVE or CANCEL but not SAVE & ADD MORE contacts

Acceptance Criteria

1.  ***Individual***

       #

       ***If*** I am a Committee Administrator

       ***When*** I go to the Contacts page

       ***Then*** I will look for an "Candidate" contact type

       ***Then*** I will click t

[2022-03-29 12:09] MitchellTCG opened #186 "Remove SAVE & ADD MORE button for the Committee Edit Contacts modals"
Business Reason

As a Committee Administrator, when I edit an existing committee contact, I should be able to SAVE or CANCEL but not SAVE & ADD MORE contacts

Acceptance Criteria

1.  ***Individual***

       #

       ***If*** I am a Committee Administrator

       ***When*** I go to the Contacts page

       ***Then*** I will look for an "Committee" contact type

       ***Then*** I will click t

[2022-03-29 12:11] MitchellTCG opened #187 "Remove SAVE & ADD MORE button for the Organization Edit Contacts modals"
Business Reason

As a Committee Administrator, when I edit an existing organization contact, I should be able to SAVE or CANCEL but not SAVE & ADD MORE contacts

Acceptance Criteria

1.  ***Individual***

       #

       ***If*** I am a Committee Administrator

       ***When*** I go to the Contacts page

       ***Then*** I will look for an "organization" contact type

       ***Then*** I will c

[2022-03-29 13:11] mjtravers opened #189 "Integrate validate npm package into INDIVIDUAL contacts EDIT form validation screens"
Business Reason

As a user, I want the validation check on the contact edit forms to use the validation javascript library so it validates against the validation schema.

Acceptance Criteria

*   Current validation code for the 4 contact edit screens replaced by javascript validation npm package work as they did previously.
*   All 4 contact edit screens (Individual, Organization, Committee, Candi

[2022-03-29 14:40] lbeaufort opened #190 "Hitting refresh causes 404 error"
Steps to reproduce

Log in to https://fecfile-web-app-prod.app.cloud.gov
Click on "Contacts"
Hit refresh
Get 404

<img width="884" alt="Screen Shot 2022-03-29 at 10 40 24 AM" src="https://user-images.githubusercontent.com/31420082/160637510-fd3f34b1-1639-4671-b8f1-1f8a2e971897.png">

@mjtravers NOTE: I suspect the 404 is happening because the JWT token management by Django to the Angular front-end

[2022-03-29 15:13] AureliaKhorsand commented on #130
**Comments from 3/29/22 Sprint Planning:**

Options for additional form 1 link:
- Docquery link AKA https://docquery.fec.gov/pdf/439/202201069474878439/202201069474878439.pdf
- Statements of organization section: https://www.fec.gov/data/committee/C00344234/?tab=filings#statements
- About this committee page: https://www.fec.gov/data/committee/C00344234/?tab=about-committee

[2022-03-29 19:55] #61 closed, assigned to MitchellTCG

[2022-03-29 19:55] #62 closed, assigned to MitchellTCG

[2022-03-29 19:55] #63 closed, assigned to MitchellTCG

[2022-03-29 19:55] #64 closed, assigned to MitchellTCG

[2022-03-29 19:55] #145 closed, assigned to MitchellTCG

[2022-03-29 19:55] #146 closed, assigned to MitchellTCG

[2022-03-29 19:55] #42 closed, assigned to lbeaufort

[2022-03-29 19:55] #156 closed, assigned to MitchellTCG

[2022-03-30 12:15] mjtravers commented on #175
@MitchellTCG Okay for me to close this ticket now that app #184, #185, #186, #187 are in the Sprint Backlog?

[2022-03-30 12:28] #175 closed, assigned to nobody

[2022-03-30 13:31] lbeaufort commented on #152
cloud.gov org memory tracking doc: https://docs.google.com/spreadsheets/d/1EsY3zOFv2mv9-f-sf64xbPI8dUGwEawQN2l68aHtO5w/edit#gid=0

[2022-03-30 17:09] AureliaKhorsand commented on #179
**Refinement Meeting 3/30/22**: Determined we do not need to migrate any data from phase 1 iteration. It's also acceptable if existing data in the tables get wiped out.

[2022-03-30 17:23] AureliaKhorsand commented on #130
**Refinement Meeting 3/30/22**: Because we are not yet pulling committee data into FECFile Online, to test, we will need to manually create a Committee Account with a real Committee ID for testing. See example from Ryan above.

[2022-03-30 17:30] AureliaKhorsand commented on #108
**Refinement Meeting 3/30/22**: Need to hash out the special characters allowed in contact fields before we can move this forward. For example, would we need to pull "parentheses" out if they aren't accepted here but come over from FEC?

BA Note: Update with requirement that the information from Lookup can be editable, and will not feed back to FEC.

[2022-03-30 17:32] toddlees commented on #107
example of committee name on FEC not matching the validation rules defined in this ticket:

`LENOVO (UNITED STATES) INC. NON-PARTISAN CMTE FOR GOOD GOVT (LENOVOPAC)`
special characters `().-` present in name

[2022-03-30 17:43] toddlees commented on #108
example of candidate name on FEC not matching the validation rules defined in this ticket:

`O'CONNOR, DANIEL JAY JR.`
special characters `'` present in name and `.` in suffix

[2022-03-30 18:03] AureliaKhorsand commented on #189
**Refinement Meeting 3/30/22:** @mjtravers to split out into a ticket for each contact type, and point each at 5.

[2022-03-30 18:21] mjtravers opened #192 "Integrate validate npm package into INDIVIDUAL contacts ADD form validation screens"
Business Reason

As a user, I want the validation check on the contact add forms to use the validation javascript library so it validates against the validation schema.

Acceptance Criteria

*   Current validation code for the 4 contact add screens replaced by javascript validation npm package work as they did previously.
*   All 4 contact add screens (Individual, Organization, Committee, Candidat

[2022-03-31 14:14] WiseQA commented on #152
Verified access/log in/use web app: https://fecfile-web-app-dev.app.cloud.gov/
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b2a20ac8-620a-4dbb-a151-3e2977fc007f)

Verified access API docs page: https://fecfile-web-api-dev.app.cloud.gov/api/docs/
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/99dd4147-523c-4cb8-9f2c-c6603a9186b4)

QA review

[2022-03-31 17:15] WiseQA commented on #110
Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/59d20642-7cf1-4c54-8ce8-55d7a0d2b512/download](https://app.zenhub.com/files/306118986/59d20642-7cf1-4c54-8ce8-55d7a0d2b512/download)

QA review completed.  Moved to Stage Ready.

[2022-04-01 15:18] AureliaKhorsand opened #196 "Allow user to enter Cash-on-Hand (6a) for first report in FECFile Online"
Business Reason

As a user, I will be able to enter Cash-on-Hand manually in my first report on FECFile Online so that the system can auto-calculate it in subsequent reports.

Acceptance Criteria

### QA Notes ###

The COH left nav menu item will only be visible when the first report for a Committee Account is visible. Work with devs to clear out reports before testing.
The "create new report" but

[2022-04-01 17:06] AureliaKhorsand commented on #75
@MitchellTCG @mary-tcg the wireframe looks good but has some extra features that we won't be using in OP1.

[2022-04-01 17:06] AureliaKhorsand opened #197 "Allow user to filter contact table"
***Not intended for OP1.***

 Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

***If*** [precedent]
 ***When*** [action]
 ***Then*** [result]

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

[FECFILE-1245](https://fecgov.atlassian.net/browse/FECFILE-1245)

[2022-04-01 17:07] AureliaKhorsand opened #198 "Allow user to search the contact table"
***Not intended for OP1.***

 Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

***If*** [precedent]
 ***When*** [action]
 ***Then*** [result]

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

[FECFILE-1244](https://fecgov.atlassian.net/browse/FECFILE-1244)

[2022-04-01 17:08] AureliaKhorsand opened #199 "Allow user to select and save column preferences for tables"
**_Placeholder for users choosing what columns they want to see_**

Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

Acceptance Criteria

**_If_** [precedent] **_When_** [action] **_Then_** [result]

### QA Notes ###

null

### DEV Notes ###

null

### Design ###

null

 See full ticket and images here: [FECFILE-1243](https://fecgov.atlassian.net/browse/FECF

[2022-04-01 17:15] MitchellTCG commented on #75
Here you go

![Manage_Contacts_v4.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/643b448e-36ee-4258-a6ef-3ac4c8de7f26)

[2022-04-01 17:33] toddlees commented on #167
when extracting the snyk cli install.  Please add documentation for M1 Mac user who use the following lines in the current Dockerfile:
[code]

[2022-04-01 17:42] AureliaKhorsand commented on #91
@MitchellTCG @mary-tcg this ticket is ready for a final wireframe, although it's blocked by our login process at the moment so feel free to work on other more pressing wireframes first.

[2022-04-01 17:46] AureliaKhorsand opened #201 "Allow users to view existing users"
Business Reason

As a Committee Administrator, I will be able to view existing users in my Committee Account so that I can manage them appropriately.

UPDATED Acceptance Criteria

***Given*** I am a Committee Administrator

  ***When*** I access the user management page

  ***Then*** I will able to see existing users for the Committee Account, including:

*   Name
*   Email
*   Role
*   Status

**

[2022-04-01 17:47] AureliaKhorsand commented on #201
@MitchellTCG @mary-tcg This is the story that will eventually need the Manage Users wireframe you all have been working on.

[2022-04-01 19:05] AureliaKhorsand opened #203 "[Placeholder] Update allowed special characters"
***Not intended for OP1***

This ticket is intended as a placeholder for updating the allowed special characters in FECFile Online based on UX/UI research and necessary Validator and transport file updates. This is in addition to the special characters we will allow in OP1.

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

[FECFILE-1241](https://fecgov.atlassian.net/browse/FECFI

[2022-04-01 19:11] AureliaKhorsand opened #204 "Amending Reports"
This epic encompasses any user story that relates to amending existing reports in FECFile

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1240](https://fecgov.atlassian.net/browse/FECFILE-1240)

[2022-04-01 19:16] AureliaKhorsand opened #205 "System to validate Committee ID format when adding or editing a Committee contact"
Business Reason

The Committee ID must be in a specific format in order to be accepted by FEC upon submission.

Acceptance Criteria

***If*** I am adding or editing an existing Committee contact through Contact Management

  ***When*** I enter or edit the Committee ID

  ***Then*** I must enter the ID in the following format: "CXXXXXXXX" where X is a numeric value _(C, then 8 numbers)_

### QA Not

[2022-04-01 19:19] AureliaKhorsand opened #206 "System to validate Candidate ID format when adding or editing a Candidate contact"
Business Reason

The Candidate ID must be in a specific format in order to be accepted by FEC upon submission.

Acceptance Criteria

***If*** I am adding or editing an existing Candidate contact through Contact Management

  ***When*** I enter or edit the Candidate ID

  ***Then*** I must enter the ID in one of the following formats:

*   "PXXXXXXXX" where X is a numeric value _(P, then 8 numbers)

[2022-04-01 19:24] AureliaKhorsand opened #207 "1 - Allow user to amend a Form 3X report"
Business Reason

As a user, I will be able to amend a submitted report so that I can provide FEC with the correct information per regulations.

 Acceptance Criteria

**Given** the user has a Form 3X report in 'Submission success' status,
**Then** they will have the option in the action menu to "Amend"
**And** when they amend the report, then:
- the report will have a status of 'In progress'
- the

[2022-04-01 19:28] AureliaKhorsand commented on #133
Note from PI 2 Planning: Per Ryan, election/non-election year determines what report types are selectable. Our app can default to the right one. Specifying helps users understand what they need to file. Don't HAVE to have them select election or non-election year - can default. But users need the option to select, however. If a committee is overdue on a report, would need to go back and select ano

[2022-04-01 19:38] AureliaKhorsand commented on #111
@MitchellTCG can you attach the wires to this ticket? They look good. Also, can you take a look at the ACs above and double check they verify with what you mocked up? I think they do but another pair of eyes won't hurt! Thanks!

[2022-04-04 14:05] AureliaKhorsand opened #208 "System to send email notification to newly added users"
[Placeholder] System should automatically send out emails to newly added users to a Committee Account.

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

[FECFILE-1236](https://fecgov.atlassian.net/browse/FECFILE-1236)

[2022-04-04 15:00] mjtravers opened #209 "Create automated regression tests for QA scripts (Sprint 6)"
Business Reason

As a developer or QA, I will be able to automatically run the Sprint-6 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

***If*** I want to run the Sprint test scripts to retest the tickets

  ***When*** I run the automated tests in the Cypress framework

  ***Then*** I will get a report on which scripts

[2022-04-04 15:36] WiseQA commented on #144
Contacts screen selecting Candidate contact:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/818cdbba-07ea-4f70-abbb-a44cf0764972)

Successful - Contact Updated Popup Screen Shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f73c4322-e2d7-44eb-be33-a10ed303d86d)

Contacts screen showing Candidate edit name successful:
![image.png](https://im

[2022-04-04 15:48] WiseQA commented on #68
Contacts screen selecting Individual contact:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/68d594fa-dfa6-42e4-9c50-7107de63f5a3)

Successful - Contact Updated Popup Screen Shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/28afe654-0dd1-4c77-9b90-6c0c97d5fac2)

Contacts screen showing Individual edit name successful:
![image.png](https://

[2022-04-04 16:44] WiseQA commented on #184
Verified Save & Add More button has been removed from the Individual Contact edit page.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/6bc17aa5-2365-4878-92ab-f86f4cc90fcb)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/a61f3d41-d674-4aaf-8906-7cd7b710a4d0/download](https://app.zenhub.com/files/306118986/a61f3d41-d674-4aaf

[2022-04-04 16:46] WiseQA commented on #185
Verified Save & Add More button has been removed from the Candidate Contact edit page.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/79de081f-9a59-4568-8396-d0cfabffab28)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/83eecf3e-00ef-4305-880e-1c23110c2e20/download](https://app.zenhub.com/files/306118986/83eecf3e-00ef-4305-

[2022-04-04 16:48] WiseQA commented on #186
Verified Save & Add More button has been removed from the Committee Contact edit page.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/08f3f102-c89c-4e98-b895-2103929c44b8)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/a5c6499f-8c7d-499d-bf30-20c8701bf66f/download](https://app.zenhub.com/files/306118986/a5c6499f-8c7d-499d-

[2022-04-04 16:49] WiseQA commented on #187
Verified Save & Add More button has been removed from the Organization Contact edit page.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/ffd1d59d-7ad6-4063-ac3e-04d411964fc7)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/7677715d-6b02-4466-81bb-c90a061e4e63/download](https://app.zenhub.com/files/306118986/7677715d-6b02-44

[2022-04-04 20:01] MitchellTCG commented on #111
here are the wireframes:
![b0a79552-3732-4597-82ab-1f32f0c4b2a8.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/3d9a7482-1f43-4ef8-a7c2-4a821623a153)

![dd7535ca-eeaf-40a8-9e03-6a5db28d15fa.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/99b0e3b2-452b-4173-8988-c575cdccc46b)

https://images.zenhubusercontent.com/306118986/587277e9-b046-47cc-a9fd-7a508409e796/i

[2022-04-04 20:19] AureliaKhorsand commented on #91
Tech Review 4/4/22: Shift paradigm to sending invitations to users, not adding them. Users should be "pending" once an invite is sent, and won't be registered as active users until they successfully log in for the first time through login.gov. This way, we know that for registered users we always have a unique user ID tied to a login token.

[2022-04-04 20:34] AureliaKhorsand commented on #201
![image.png](https://images.zenhubusercontent.com/61a50e5fdcda4774a0cf2a0e/3d185fdd-fbdc-4bff-a06d-2c5cbf2851d9)

[2022-04-06 17:08] AureliaKhorsand commented on #201
**4/6/22 Refinement Meeting:** This ticket covers functionality and not specific look-and-feel. Clarified that users should only see users from the Committee Account they are logged in to and not others.

[2022-04-06 17:20] AureliaKhorsand commented on #91
**4/6/22 Refinement Meeting:** Removed "Telephone" from wireframe.

The validation rules for name and email should match Contact field validation rules.

This ticket does NOT include sending an email to the user being added. That is covered in a separate ticket (Aurelia to add a link to the ticket here).

[2022-04-06 17:30] AureliaKhorsand commented on #75
**4/6/22 Refinement Meeting:** Closed as a duplicate of #144.

[2022-04-06 17:30] #75 closed, assigned to AureliaKhorsand

[2022-04-06 17:44] AureliaKhorsand commented on #108
**4/6/22 Refinement Meeting**: Removed Employer and Occupation since FEC will not be providing that data for a Candidate contact type.

[2022-04-06 17:48] lbeaufort commented on #108
**4/6/22 Refinement Meeting**:
Should be able to use https://api.open.fec.gov/developers/#/search/get_names_candidates_ for search (example https://api.open.fec.gov/v1/names/candidates/?api_key=DEMO_KEY&q=pelosi
) and
https://api.open.fec.gov/developers/#/candidate/get_candidate__candidate_id__history_ (example https://api.open.fec.gov/v1/candidate/H8CA05035/history/?api_key=DEMO_KEY) for candidat

[2022-04-06 17:55] lbeaufort commented on #107
**4/6/22 Refinement Meeting**:
Should be able to use https://api.open.fec.gov/developers/#/search/get_names_committees_ for search (example https://api.open.fec.gov/v1/names/committees/?api_key=DEMO_KEY&q=pelosi
) and
https://api.open.fec.gov/developers/#/committee/get_committee__committee_id__history_ (example https://api.open.fec.gov/v1/committee/C00344234/history/?api_key=DEMO_KEY) for candidat

[2022-04-06 18:00] AureliaKhorsand commented on #209
**4/6/22 Refinement Meeting**: This ticket encompasses encoding scripts into framework. Does not including rewriting for Sprint 5.

[2022-04-07 17:09] PaulClark2 commented on #130
@lbeaufort  if memory serves me, the efiling endpoint only has the most recent four months of data. If a committee's most recent F1 is older than that, how do we provide a link to it? Do we need need a way to check both the efiling and processed data endpoints for the most recent F1. Do we need to consider changing how we "prune" the efiling endpoint?

[2022-04-08 18:35] WiseQA commented on #87
Logged in as Committee ID C00601211 verified Account page showed Committee Profile data from Form 1 as ready only as shown in wireframe.  Visual test verifying read only page.

QA review completed.  Moved to Stage Ready.

[2022-04-08 21:11] MitchellTCG commented on #119
@mjtravers
Please make sure the candidate state dropdown should consist of the states and territories in row 1 of the excel doc.

The Foreign Countries option should not appear in either candidates dropdowns — Address nor Office.

[2022-04-11 11:37] mjtravers commented on #180
OBE. This issue was fixed in ticket #119.
Closing ticket.

[2022-04-11 11:37] #180 closed, assigned to nobody

[2022-04-11 13:53] mjtravers commented on #76
OBE after code backloging of front end code.
Closing ticket.

[2022-04-11 13:53] #76 closed, assigned to nobody

[2022-04-11 15:04] AureliaKhorsand commented on #163
BA Note: Filing frequency is stored on the back end for each Committee Account, and will determine what the default selection is when a user goes to create a report. Includes Q (Quarterly), M (Monthly), T (Termination), A (FEC decides to administratively terminate). Filers can change their filing frequency using a Form 99.

[2022-04-11 15:41] AureliaKhorsand opened #215 "System to auto-populate Committee Address on Form 3X and inform user to notify FEC within 10 days of Address Change"
Business Reason

The system will auto-populate Committee address on a Form 3X report so that the user does not have to manually enter information that rarely changes, reducing the chance for user error and enhancing the user experience. As a user, I will be able to edit the address and mark it as a change if needed so that FEC is notified of an address change upon report submission.

Acceptance Cr

[2022-04-11 15:43] AureliaKhorsand commented on #89
Updated ticket with requirements is #215. Closing as OBE.

[2022-04-11 15:43] #89 closed, assigned to AureliaKhorsand

[2022-04-11 17:28] WiseQA commented on #182
Verified STATE/PROVINCE field is blank.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/76ad774b-1d6e-4250-aca7-75912bd42571)

Verified STATE/PROVINCE drop down menu contains US State and US Territory without Armed Forces and matches list denoted in Acceptance criteria.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f9caad45-2b67-4198-b993-3ba

[2022-04-11 19:47] AureliaKhorsand commented on #163
BA Note: This is _not_ currently being stored. Will eventually be available to view on the Committee Profile page build in #87. Recommend that we look at pulling this information in conjunction with Committee Profile data, Committee Admin emails, Multicandidate status, etc.

[2022-04-11 19:51] lbeaufort opened #216 "Use FECFile web API to retrieve committee profile data"
Original ticket: [https://github.com/fecgov/fecfile-web-app/issues/87](https://github.com/fecgov/fecfile-web-app/issues/87)
 Pull request: [https://github.com/fecgov/fecfile-web-app/pull/210](https://github.com/fecgov/fecfile-web-app/pull/210)

Per discussion with @mjtravers and @toddlees we should use the FECFile web API to retrieve committee profile data so we can do this request server-side and

[2022-04-11 20:08] AureliaKhorsand opened #217 "Allow user to update an existing report"
Business Reason

As a Committee Administrator, I will be able to open and edit existing reports so that I can add more data as needed before submission.

 Technical Notes

- Each time this screen is opened, a new pull from the FEC API endpoint needs to be made to display the most recent form information in case the user has submitted a FORM 1 and had it processed since the last time this info was

[2022-04-11 20:29] AureliaKhorsand opened #218 "Allow user to see report status from Report Management page"
Business Reason

As a Committee Administrator, I will be able to see the status of each of my reports so that I can accurately track my committee's reports.

Acceptance Criteria

### QA Notes ###
**If** I am a Committee Administrator
**When** I review my reports listed on the Report Management Page
**Then** I will see the appropriate status listed beside each report, as follows:

- In progress (an

[2022-04-12 15:11] WiseQA commented on #179
Returned to In-Progress assigned to DEV, getting 500 error when saving a contact in DEV and STAGE.

[2022-04-12 16:22] toddlees commented on #179
Patch is deployed to stage and dev
merge into Stage: https://github.com/fecgov/fecfile-web-api/pull/96
merge into Dev: https://github.com/fecgov/fecfile-web-api/pull/97

[2022-04-12 17:07] WiseQA commented on #179
Logged into https://fecfile-web-app-dev.app.cloud.gov/contacts using Committee ID #C00277608 and entered a couple contacts:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/2d609f0d-46d6-493c-bddf-f9ce40f1cd66)

Logged into  https://fecfile-web-app-dev.app.cloud.gov/contacts using Committee ID #C00277616 verified cannot see any entries Committee ID ##C00277608 entered.
![

[2022-04-12 19:00] AureliaKhorsand commented on #139
BA Note: This status is stored in the FEC database from Form 1M. Once a committee qualifies, they do not "unqualify". Thus, this status should pull forward onto applicable reports without the user needing to manually select their status for each report.

[2022-04-13 02:02] MitchellTCG commented on #166
Mocks in fecfile-project-management#42

[2022-04-13 02:02] MitchellTCG commented on #215
Mocks in fecfile-project-management#42

[2022-04-13 02:02] MitchellTCG commented on #140
Mocks in fecfile-project-management#42

[2022-04-13 02:02] MitchellTCG commented on #133
Mocks in fecfile-project-management#42
[mocks here](https://github.com/fecgov/fecfile-project-management/issues/42)

[2022-04-13 02:03] MitchellTCG commented on #165
New wire in [fecfile-project-management#44](https://github.com/fecgov/fecfile-project-management/issues/44)

[2022-04-13 14:15] AureliaKhorsand commented on #207
4/13/2022 Requirements Session note: "Currently, we only let them see the most recent amendment that they filed. If they want to see other iterations, they can go to fec.gov. Can provide a link to them."

[2022-04-13 16:51] mjtravers opened #220 "Correct app lint warnings and errors"
Follow on to #126, the adding of the lint check to CircleCI.

The task of this ticket is to clean up the current lint warnings and errors.

Technical Notes

*   Restore the full lint check that was limited in CircleCI to pass tests as a stop gap measure. The rules that were turned off can be removed from the .eslintrc.json file and are: no-extra-boolean-cast, @typescript-eslint/no-explicit-any, @t

[2022-04-13 16:59] mjtravers commented on #126
This ticket will just cover the set up of the lint check in CircleCI. There are currently 50 or so lint warning and error messages that will be cleaned up with the follow on ticket, #220

[2022-04-13 17:24] AureliaKhorsand commented on #140
Closed as duplicate. Requirements have been incorporated into #133.

[2022-04-13 17:24] #140 closed, assigned to AureliaKhorsand

[2022-04-13 18:03] WiseQA commented on #183
Verified STATE/PROVINCE field in Candidate Contact Virginia is displayed.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/68ec55e7-02fa-49c5-ad37-b9e763bccc86)

Edit STATE/PROVINCE change to West Virginia and save.  Verified STATE/PROVINCE changed to West Virginia
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0cb83018-fa7a-4443-bc71-e9ee72e4f

[2022-04-13 18:30] mjtravers commented on #126
There have been 3 linting rule checks turned off temporarily until ticket #220 cleans up the remaining linting errors. The rule exceptions were added to the .eslintrc.json file and are:
- no-extra-boolean-cast
- @typescript-eslint/no-explicit-any
- @typescript-eslint/no-unused-vars

[2022-04-13 19:36] WiseQA commented on #126
Verified unit test passed successfully as denoted in the Acceptance Criteria.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/861f3510-cfa0-46cc-92a4-2630b8fc8509)

QA review completed.  Moved to Stage Ready.

[2022-04-14 16:16] AureliaKhorsand opened #222 "System to default to Quarterly or Monthly report selection based on committee filing frequency"
Business Reason

As a Committee Administrator, I will be able to, by default, see the monthly or quarterly report listing on Manage Reports based on my filing frequency so that I can more easily see my report options, but optionally be able to change to a different frequency.

Acceptance Criteria

**_Given_** I select 'Add a report' on the 'Manage reports' page

**_When_** I select Form 3x from th

[2022-04-14 16:33] WiseQA opened #223 "DEFECT - Change "Address" field name to "Street Address" in Contacts Detail and Committee Profile (Read Only)"
This DEFECT is a change in field naming within the Address Box Area.   Change "Address" field name to "Street Address" in Contacts Detail and Committee Profile data from Form 1 (Read Only).

Acceptance Criteria

If I am a Committee Administrator
When I access my committee's contact list verify for Individual, Candidate, Committee and Organization and the Committee Profile data from Form 1 as read-

[2022-04-14 16:34] WiseQA opened #224 "Defect - Change "Address" field name to "Street Address" in Contacts Detail and Committee Profile (Read Only)"
This Defect is a change in field naming within the Address Box Area. Change "Address" field name to "Street Address" in Contacts Detail and Committee Profile data from Form 1 (Read Only).

Acceptance Criteria

If I am a Committee Administrator

  When I access my committee's contact list verify for Individual, Candidate, Committee and Organization and the Committee Profile data from Form 1 as read

[2022-04-14 16:37] AureliaKhorsand opened #225 "[Placeholder] Allow user to create a non-federal candidate or committee contact type"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

***If*** [precedent]
 ***When*** [action]
 ***Then*** [result]

_BA Notes: Check Campaign guide for PAC/Party for guidelines (see [here]([https://www.fec.gov/help-candidates-and-committees/guides/](https://www.fec.gov/help-candidates-and-committees/guides/))) Need to determine what commit

[2022-04-14 16:39] lbeaufort commented on #225
Here's an example of a disbursement (schedule B) to a non-federal candidate on Form 3X: https://www.fec.gov/help-candidates-and-committees/filing-ssf-reports/donations-nonfederal-candidates/

[2022-04-14 18:22] AureliaKhorsand commented on #134
Duplicate, looks like it was created by a ZenHub glitch. Active ticket is #135.

[2022-04-14 18:22] #134 closed, assigned to AureliaKhorsand

[2022-04-15 01:17] MitchellTCG commented on #138
There will be a **Save** button and a **Save and continue** Button

![Custom Size – 37.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/9f81ad95-b9e8-4234-8bfe-fd8ffb2c179f)

[2022-04-15 01:29] MitchellTCG commented on #135
Here are 5 mocks related to this ticket

![Monthly report save.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/14437f63-dc4a-4886-93ed-57e5e98a2d02)

![Quarterly report save.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/d87e33df-e087-4deb-88a4-4b4dc76c9ce9)

![12-Day Pre-Election Save.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/6ca64b1

[2022-04-18 17:39] AureliaKhorsand commented on #98
Now included in #135 as another report type. Closing as a duplicate.

[2022-04-19 15:35] #126 closed, assigned to mjtravers

[2022-04-19 15:35] #152 closed, assigned to lbeaufort

[2022-04-19 15:35] #185 closed, assigned to mjtravers

[2022-04-19 15:35] #186 closed, assigned to mjtravers

[2022-04-19 15:35] #68 closed, assigned to mjtravers

[2022-04-19 15:35] #144 closed, assigned to mjtravers

[2022-04-19 15:35] #179 closed, assigned to toddlees

[2022-04-19 15:35] #184 closed, assigned to mjtravers

[2022-04-19 15:35] #110 closed, assigned to mjtravers

[2022-04-19 15:35] #183 closed, assigned to mjtravers

[2022-04-19 15:35] #182 closed, assigned to mjtravers

[2022-04-19 15:35] #87 closed, assigned to toddlees

[2022-04-19 15:35] #187 closed, assigned to mjtravers

[2022-04-19 15:35] AureliaKhorsand commented on #215
@MitchellTCG We need to update the message on the wireframe to say the following, based on the 4/18/22 requirements meeting:

Important notice:
Within 10 days of an address change you must notify the FEC by amending your Form 1, in addition to updating your address here.
Update your committee address (link).

[2022-04-19 16:10] #223 closed, assigned to MitchellTCG

[2022-04-19 16:11] WiseQA commented on #223
Duplicate #224 in QA bucket

[2022-04-19 17:48] AureliaKhorsand opened #228 "Create Schedule A Transaction Type selection screen"
***Note:*** _These links/items will be inactive until we develop transactions, and they will become active as we go._

Business Reason

As a Committee Administrator within an existing Form 3X report, I will be able to see a list of available Schedule A transactions grouped by type so that in the future I can easily see and select what I need to enter.

Acceptance Criteria

***Given*** I am editing

[2022-04-19 17:49] AureliaKhorsand opened #229 "Create Group A Transaction Screen"
Business Reason

As a Committee Administrator, I will be able to enter a transaction for **"Individual Receipt"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Contributions from individuals/pe

[2022-04-19 17:50] AureliaKhorsand opened #230 "Allow users to enter Group B Transaction"
Business Reason

As a Committee Administrator, I will be able to enter a transaction for **"Offsets to Operating Expenditures"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** I can enter a transaction with the type "Offsets to Operating Expendi

[2022-04-19 17:51] AureliaKhorsand opened #231 "Allow users to enter Group C Transaction"
Business Reason

As a Committee Administrator, I will be able to enter a transaction for **“Other Receipts”** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Other" Accordion link
**Then** I can

[2022-04-19 17:52] AureliaKhorsand opened #232 "Create Group D Transaction Screen"
Business Reason

As a Committee Administrator, I will be able to enter a transaction for **“Tribal Receipt”** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Contributions from individuals/person

[2022-04-19 19:34] AureliaKhorsand opened #233 "Create Group E Transaction Screen (JF Transfers)"
Business Reason

As a Committee Administrator, I will be able to enter a transaction for **"JF Transfers"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "parent" transaction that will typically have associated sub-transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**W

[2022-04-19 19:34] AureliaKhorsand opened #234 "Allow user to select JF Transfer Memo type for sub-transaction (Dropdown)"
Business Reason

As a Committee Administrator, I will be able to enter sub-transactions for under ***"Joint Fundraising Transfer"*** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator

  ***And*** I am editing a JF Transfer transaction on an open report

  ***Then*** I will have the _opt

[2022-04-19 19:37] AureliaKhorsand opened #235 "Allow user to enter all Group A transactions"
BA Note: "Individual Receipt" was the flagship in #229

 Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-04-19 19:37] AureliaKhorsand opened #236 "Allow user to enter all Group D transactions"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-04-19 19:37] AureliaKhorsand opened #237 "Allow user to enter all Group D transactions"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-04-19 19:39] AureliaKhorsand commented on #236
Zenhub glitched and created this duplicate see #237. Closing.

[2022-04-19 19:39] #236 closed, assigned to AureliaKhorsand

[2022-04-19 19:39] AureliaKhorsand opened #238 "Allow user to enter all Group E transactions"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-04-19 19:40] AureliaKhorsand opened #239 "Allow user to enter all Group F Transactions"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-04-19 20:08] AureliaKhorsand opened #240 "Allow non-qualified committee to designate themselves as a Host committee and access Form 4"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

***If*** [precedent]
 ***When*** [action]
 ***Then*** [result]

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

[FECFILE-1213](https://fecgov.atlassian.net/browse/FECFILE-1213)

[2022-04-20 12:29] WiseQA commented on #224
Verified contacts screen selecting Candidate contact displays field name changed from ADDRESS to STREET ADDRESS
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/499898c3-2192-4ff7-a14d-02ab12fd1e85)

Verified Committee Profile data from Form 1 (Read Only)  displays field name changed from ADDRESS to STREET ADDRESS
![image.png](https://images.zenhubusercontent.com/61ba01e4

[2022-04-20 15:25] WiseQA commented on #119
Verified candidate office drop down for Presidential no Candidate State or Candidate District fields were displayed.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/5c7fd835-12a5-464e-be36-851d3bfb1405)

Verified candidate office drop down for Senate ONLY Candidate State field is displayed.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d47538

[2022-04-20 16:49] AureliaKhorsand opened #243 "Allow user to save new Individual contact from Transaction entry to Contact Management-Part 2"
Business Reason

As a user, if I do not see the Individual contact available in the Lookup (Contact Management) when entering a Transaction, I will be able to enter a new contact in a transaction screen within the Form 3X report and it will save to my committee account's Contact Management so that I can easily pull that contact again in the future using a Lookup.

 Acceptance Criteria

**Given** a

[2022-04-20 17:38] AureliaKhorsand commented on #111
**4/21 Refinement Meeting:** BA to update the zip code requirements for foreign countries. If the country is not the US, it is not required. There will be a validator warning if there is no zip code, but FEC will address it on their end.

[2022-04-20 17:40] AureliaKhorsand opened #244 "Allow users to view transactions within Form 3X"
Business Reason

As a Committee Administrator, I will be able to view and access transactions within Form 3X so that I can verify what has been entered and edit or add more if necessary.

 Technical Notes

- Create a Django fixture that creates a set of test transactions for testing
- All columns in the wireframe should be sortable.

 Acceptance Criteria

**Given** I am a Committee Administrator
*

[2022-04-22 11:21] WiseQA commented on #220
Verified Unit test passed as denoted in the acceptance criteria.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/05876a94-8dfc-4d2a-92e7-ea0f7094e2a4)

Verified file before the "off rules" as denoted in the acceptance criteria.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/705aa1b1-0441-41e2-b17b-54c4b3ae0bec)

Verified file after the "off ru

[2022-04-25 13:58] mjtravers opened #245 "Integrate validate npm package into CANDIDATE contact EDIT form validation screen"
Business Reason

As a user, I want the validation check on the contact edit forms to use the validation javascript library so it validates against the validation schema.

Acceptance Criteria

*   Current validation code for the 4 contact edit screens replaced by javascript validation npm package work as they did previously.
*   All 4 contact edit screens (Individual, Organization, Committee, Candi

[2022-04-25 13:59] mjtravers opened #246 "Integrate validate npm package into ORGANIZATION contacts EDIT form validation screens"
Business Reason

As a user, I want the validation check on the contact edit forms to use the validation javascript library so it validates against the validation schema.

Acceptance Criteria

*   Current validation code for the 4 contact edit screens replaced by javascript validation npm package work as they did previously.
*   All 4 contact edit screens (Individual, Organization, Committee, Candi

[2022-04-25 14:01] mjtravers opened #247 "Integrate validate npm package into COMMITTEE contacts EDIT form validation screens"
Business Reason

As a user, I want the validation check on the contact edit forms to use the validation javascript library so it validates against the validation schema.

Acceptance Criteria

*   Current validation code for the 4 contact edit screens replaced by javascript validation npm package work as they did previously.
*   All 4 contact edit screens (Individual, Organization, Committee, Candi

[2022-04-25 14:03] mjtravers opened #248 "Integrate validate npm package into CANDIDATE contacts ADD form validation screens"
Business Reason

As a user, I want the validation check on the contact add forms to use the validation javascript library so it validates against the validation schema.

Acceptance Criteria

*   Current validation code for the 4 contact add screens replaced by javascript validation npm package work as they did previously.
*   All 4 contact add screens (Individual, Organization, Committee, Candidat

[2022-04-25 14:03] mjtravers opened #249 "Integrate validate npm package into ORGANIZATION contacts ADD form validation screens"
Business Reason

As a user, I want the validation check on the contact add forms to use the validation javascript library so it validates against the validation schema.

Acceptance Criteria

*   Current validation code for the 4 contact add screens replaced by javascript validation npm package work as they did previously.
*   All 4 contact add screens (Individual, Organization, Committee, Candidat

[2022-04-25 14:05] mjtravers opened #250 "Integrate validate npm package into COMMITTEE contacts ADD form validation screens"
Business Reason

As a user, I want the validation check on the contact add forms to use the validation javascript library so it validates against the validation schema.

Acceptance Criteria

*   Current validation code for the 4 contact add screens replaced by javascript validation npm package work as they did previously.
*   All 4 contact add screens (Individual, Organization, Committee, Candidat

[2022-04-25 18:39] MitchellTCG commented on #165
Wireframe to code

![Manage Reports – Form type – 1.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/d9f6e2d9-bb11-4af8-bc06-8b576b5e4eb3)

[2022-04-26 15:37] WiseQA commented on #247
Contacts screen selecting Committee contact:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/bb139985-7033-4606-97e3-61eebe0840e0)

Successful - Contact Updated Popup Screen Shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/da80583c-d589-4c3a-be8e-aed5ee174b42)

Contacts screen showing Committee edit name successful:
![image.png](https://im

[2022-04-26 15:56] WiseQA commented on #246
Contacts screen selecting Organization contact:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/294e9795-d746-4e63-aa00-5ebe6c4a3905)

Successful - Contact Updated Popup Screen Shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/620eb206-e9d6-4309-b569-0401688d069f)

Contacts screen showing Organization edit name successful:
![image.png](http

[2022-04-26 16:06] WiseQA commented on #245
Contacts screen selecting Candidate contact:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/818cdbba-07ea-4f70-abbb-a44cf0764972)

Successful - Contact Updated Popup Screen Shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f73c4322-e2d7-44eb-be33-a10ed303d86d)

Contacts screen showing Candidate edit name successful:
![image.png](https://im

[2022-04-26 16:12] WiseQA commented on #189
Contacts screen selecting Individual contact:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/68d594fa-dfa6-42e4-9c50-7107de63f5a3)

Successful - Contact Updated Popup Screen Shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/28afe654-0dd1-4c77-9b90-6c0c97d5fac2)

Contacts screen showing Individual edit name successful:
![image.png](https://

[2022-04-26 23:20] WiseQA commented on #249
This was not closed needs in QA review

[2022-04-27 14:35] WiseQA commented on #249
Organization Contact field messages screen shot:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0d358ca2-a6c7-4126-b9dc-0362102afa7b)

Organization Contact field error messages screen shot:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/4595d5a3-8f3d-4fb6-854b-ee789dfb3c27)

Organization Contact "required fields" screen shot:

![image.png](

[2022-04-27 15:17] WiseQA commented on #248
Candidate Contact field messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/83573855-1f60-4a9c-9260-54d5dfc1455d)

Candidate Contact field error messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/631c5450-6fe9-4df9-a85e-91e240aa77aa)

Candidate Contact "required fields" screen shot:
![image.png](https://imag

[2022-04-27 15:32] mjtravers commented on #128
Task can be completed in ticket #167
Closing this ticket

[2022-04-27 15:32] #128 closed, assigned to nobody

[2022-04-27 15:49] WiseQA commented on #250
Fixed spelling of "Apartment" on Contact Profile page.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/de557dd9-82e2-4014-9eb7-3ca8918994df)

Committee Contact field messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/ca2c78aa-03cc-4785-8a3f-02734520706e)

Committee Contact field error messages screen shot:
![image.png](https:

[2022-04-27 16:10] WiseQA commented on #192
Individual Contact field messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/5277170e-2cbc-4765-ad30-db0a8adb0e7d)

Individual Contact field error messages screen shot:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/7add78aa-ec9e-4b1e-af45-a68f9ca35505)

Individual Contact "required fields" screen shot:
![image.png](https://i

[2022-04-29 19:39] MitchellTCG commented on #133
Here are the prototypes:

https://images.zenhubusercontent.com/306118986/8e43c54a-72fb-4312-b9f5-837ff91b35ed/fec_form_3x_memo.mp4

https://images.zenhubusercontent.com/306118986/88e8c282-2c42-423f-b655-c1e4a68d61a0/fec_form_3x_multi.mp4

[2022-04-29 19:41] MitchellTCG commented on #133
Here are the wireframes:

![FEC Form 3X-Main.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/0c58ffef-f82a-456c-97cc-4b4a90abb356)

![FEC Form 3X-Address.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/1ea9a6bf-f03f-45ea-ab25-3feb06cdd665)

[2022-04-29 19:45] MitchellTCG commented on #133
For Committee status:

text:
This committee has qualified as a multicandidate committee.

link:
Learn more about multicandidate committee status
[ https://www.fec.gov/help-candidates-and-committees/filing-pac-reports/multicandidate-status/ ]

[2022-04-29 20:15] MitchellTCG commented on #135
Most up-to-date wires:
![Monthly - Election Year.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/a018beeb-8112-4dcd-abe6-ce4e89429568)

![Monthly - Non-election Year.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/03391a89-858a-42bf-90b9-b18244759d13)

![Quarterly - Election Year.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/2ffa03ec-4a10-

[2022-04-29 20:17] MitchellTCG commented on #137
Wires:
![Monthly - Coverage Dates.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/e0f20a90-83d7-483e-a026-1f47eff9fb37)

![Quarterly - Coverage dates.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/fe849b65-f1aa-4db2-bfcf-a5dbe17090a4)

![Quarterly - 12 Day Coverage Dates.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/75e887f0-395c-4e56-82f

[2022-05-02 13:27] MitchellTCG commented on #165
@WiseQA
I asked Matt to code to the wireframe. I will update the ticket. This is my bad. Sorry

[2022-05-02 15:11] WiseQA commented on #165
Verified list of "Manage reports" page contains the following and each column is sortable:
Form type (e.g., Form 3X)
Type of report (e.g., April Monthly (M4))
Coverage dates
Status - Note: this is a placeholder for now
Version all will be Original for now unless specifically created for testing purposes_
Date filed
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/57f44bf0

[2022-05-02 19:46] MitchellTCG opened #257 "Allow user to create a Form 3X MONTHLY REPORT for an ELECTION YEAR: (Create Form 3X-Part 1)"
Business Reason

As a Committee Administrator, I will be able to create a Form 3X Monthly Report for an election year.

 Acceptance Criteria

**Given** I am a Committee Administrator
**When** I create a new Form 3X Monthly report for an election year
**Then** I will be required to select a monthly reporting frequency (stop-gap measure)
**Then** I will be required to select a report type with the f

[2022-05-02 19:49] MitchellTCG commented on #257
![Custom Size – 31.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/16bb41b6-0a88-4967-a133-1430695671c6)

![Custom Size – 32.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/bd3edc41-da00-4a82-bf43-81285992a11c)

![Custom Size – 34.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/cf49c9ef-83f6-4486-a60c-95e7119841b5)

![Custom Size – 35.png](h

[2022-05-02 19:55] MitchellTCG opened #258 "Allow user to create a Form 3X MONTHLY REPORT for a NON-ELECTION YEAR (Create Form 3X-Part 1)"
Business Reason

As a Committee Administrator, I will be able to create a Form 3X Monthly Report for an election year.

 Acceptance Criteria

Given I am a Committee Administrator
When I create a new Form 3X Monthly report for a non-election year
Then I will be required to select a monthly reporting frequency (stop-gap measure)
Then I will be required to select a report type with the following logi

[2022-05-02 19:56] MitchellTCG commented on #258
![Custom Size – 31.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/f1a53748-fa27-4eb9-9fc2-97a33da0b7de)

![Custom Size – 33.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/34130430-d09d-4dcb-83c8-233b4d5ef963)

![Custom Size – 36.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/79f69aa4-e709-4fe6-8573-2d5f99dbea67)

[2022-05-02 20:01] MitchellTCG opened #259 "Allow user to create a Form 3X QUARTERLY REPORT for an ELECTION YEAR: (Create Form 3X-Part 1)"
Business Reason

As a Committee Administrator, I will be able to create a Form 3X QUARTERLY Report for an election year.

 Acceptance Criteria

Given I am a Committee Administrator
When I create a new Form 3X quarterly report for an election year
Then I will be required to select a quarterly reporting frequency (stop-gap measure)
Then I will be required to select a report type with the following l

[2022-05-02 20:04] MitchellTCG opened #260 "Allow user to create a Form 3X QUARTERLY REPORT for a NON-ELECTION YEAR: (Create Form 3X-Part 1)"
Business Reason

As a Committee Administrator, I will be able to create a Form 3X QUARTERLY Report for a non-election year.

 Acceptance Criteria

Given I am a Committee Administrator
When I create a new Form 3X quarterly report for an election year
Then I will be required to select a quarterly reporting frequency (stop-gap measure)
Then I will be required to select a report type with the followin

[2022-05-02 20:07] #135 closed, assigned to toddlees

[2022-05-02 20:12] MitchellTCG opened #261 "Allow user to create a Form 3X QUARTERLY REPORT for a SPECIAL REPORTS: (Create Form 3X-Part 1)"
Business Reason

As a Committee Administrator, I will be able to create a Form 3X QUARTERLY Special Report.

 Acceptance Criteria

Given I am a Committee Administrator
When I create a new Form 3X quarterly Special Report
Then I will be required to select a quarterly reporting frequency (stop-gap measure)
Then I will be required to select a report type with the following logic:

If Committee has a

[2022-05-02 20:12] MitchellTCG commented on #261
![Custom Size – 29.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/dbd1fa97-24a8-4179-ac1a-66553358bee3)

![Custom Size – 38.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/ba55e815-a4e5-4876-8e97-fdbfd06ad850)

![Custom Size – 41.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/ec457a9c-84b1-4d83-9e70-274657339e0a)

[2022-05-02 20:33] MitchellTCG opened #262 "System to prevent user from overlapping Report Coverage dates"
Business Reason

As a Committee Administrator, I will be able to set and edit the coverage dates for my Form 3X report so that, along with report type, I will be able to save a Form 3X report record to my Committee Account.

Acceptance Criteria

***Given*** I am a Committee Administrator that is creating a new Form 3X Report 

  ***When*** I select any report type

   ***Then*** I will be required

[2022-05-03 17:12] WiseQA commented on #260
Verified capability to create a Form 3X QUARTERLY Report for a non-election year by selecting the radio buttons denoted in Wireframe.
![Ticket #260 - Quarterly Report Non Election Year.JPG](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d6823bba-a273-488f-a4ca-cced8b240712)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/2c118049-fbad-4

[2022-05-03 17:31] WiseQA commented on #258
Verified capability to create a Form 3X Monthly Report for a non-election year by selecting the radio buttons denoted in Wireframe.
![Ticket #258 - Monthly Report Non Election Year.JPG](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/02dd89f6-ec6f-4390-9fd5-7cd57e3111c8)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/a6c5022f-04b9-4234-

[2022-05-03 17:51] WiseQA commented on #257
Verified capability to create a Form 3X Monthly Report for a Election Year by selecting the radio buttons denoted in Wireframe.
![Ticket #257 - Monthly Report Election Year.JPG](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a06e8888-6b16-409e-942a-de93445b599d)

Verified when 12-DAY PRE-ELECTION GENERAL (12G) or 30-DAY POST-ELECTION GENERAL (30G) is selected: Election on date picke

[2022-05-03 18:22] WiseQA commented on #259
Verified capability to create a Form 3X Quarterly Report for a Election Year by selecting the radio buttons denoted in Wireframe.
![Ticket #259 - Quarterly Report Election Year.JPG](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/e8b47826-ca84-4719-9fc3-4cb8831cfe2d)

Verified when 12-DAY PRE-ELECTION GENERAL (12G) or 30-DAY POST-ELECTION GENERAL (30G) is selected: Election on date p

[2022-05-03 18:25] WiseQA commented on #261
Verified capability to create a Form 3X Quarterly Report for Special reports by selecting the radio buttons denoted in Wireframe.
![Ticket #261 - Quarterly Report Special Report 12 and 30 day.JPG](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/87bbb048-a398-4b1d-b8b7-b55666f165bf)

Verified when 12-DAY PRE-ELECTION GENERAL (12G) or 30-DAY POST-ELECTION GENERAL (30G) is selected: Ele

[2022-05-04 15:01] WiseQA commented on #137
Visual inspection of entering a coverage period date and changing the coverage period date as denoted in the Acceptance Criteria.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/24978acf-3e33-4017-a1ab-bf9bde5f2812)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/cf2ae138-0122-4657-9ebf-5862dafca94c/download](https://app.zen

[2022-05-05 20:15] WiseQA commented on #167
Verified Dockerfile entry is no longer in the code.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/79c6ef7a-277c-41ac-b094-eda72187497d)

Visual inspection of ticket for QA review with DEV team.

QA review completed.  Moved to Stage Ready.

[2022-05-06 01:07] MitchellTCG commented on #229
**Wireframe Filled In**
![Group A - Individual Receipt - Individual - Filled In.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/a1f11698-9f2a-49ed-8312-550d18cb632e)

**Errors**
![Group A - Individual Receipt - Individual - errors.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/30f13328-8234-474f-a4b5-ac48c4b03af2)

[2022-05-06 01:16] MitchellTCG commented on #230
Individual
![Group B - Offsets to Operating Expenditures - Individual - Filled In.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/7018b725-b473-4cfb-a0e2-697fb4bc22b6)

![Group B - Offsets to Operating Expenditures - Individual - Errors.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/f174401f-4088-45ac-81b2-e96cd0723ffe)

[2022-05-06 01:16] MitchellTCG commented on #230
Organization
![Group B - Offsets to Operating Expenditures - Organization - Filled In.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/0c744ca3-dd83-4089-a41d-7fcff74cedb6)

![Group B - Offsets to Operating Expenditures - Organization - Errors.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/f13886ac-5a63-41fc-bd49-0dd22481415d)

[2022-05-06 01:18] MitchellTCG commented on #231
**Individual**
![Group C - Other Receipts - Individual - Filled In.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/267e9b5d-5324-499b-8184-abe61a2a7258)

![Group C - Other Receipts - Individual - Errors.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/4330e0b4-9ece-4986-bbe6-bfedd40cdcdb)

[2022-05-06 01:19] MitchellTCG commented on #231
**Organization**
![Group C - Other Receipts - Organization - Filled In.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/0ea0a384-935c-460e-b936-4a854d84664b)

![Group C - Other Receipts - Organization - Errors.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/da1e43fc-8f77-4353-bd12-d7e223972a7b)

[2022-05-06 01:34] MitchellTCG commented on #228
**Contributions from individuals-persons**
![Contributions from individuals-persons.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/3c15038b-6a1b-4862-bace-f397a73d424f)

**Contributions from registered filers**
![Contributions from registered filers.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/27b9b1c0-de84-4ea3-9714-d39b94d438ce)

**Other**
![Other.png](h

[2022-05-06 10:26] MitchellTCG commented on #232
**Filled In**
![Group D - Tribal Receipt - Organization - Filled In.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/e8ee7418-bfb7-4e88-8f4e-6cab722097e5)

**Errors**
![Group D - Tribal Receipt - Organization- Organization - Errors.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/18328006-97db-40bb-b173-82ddefb5bea7)

[2022-05-06 15:00] MitchellTCG commented on #217
@mjtravers please add details about step 1

[2022-05-09 19:41] AureliaKhorsand opened #271 "Create automated regression tests for QA scripts (Sprint 7)"
Business Reason

As a developer or QA, I will be able to automatically run the Sprint-7 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

***If*** I want to run the Sprint test scripts to retest the tickets

  ***When*** I run the automated tests in the Cypress framework

  ***Then*** I will get a report on which scripts

[2022-05-10 16:03] WiseQA commented on #215
Needs more work - moved back to In-Progress

[2022-05-10 16:20] #119 closed, assigned to mjtravers

[2022-05-10 16:20] #137 closed, assigned to toddlees

[2022-05-10 16:20] #167 closed, assigned to Elaine-Krauss-TCG

[2022-05-10 16:20] #224 closed, assigned to toddlees

[2022-05-10 16:20] #248 closed, assigned to mjtravers

[2022-05-10 16:20] #249 closed, assigned to mjtravers

[2022-05-10 16:20] #261 closed, assigned to toddlees

[2022-05-10 16:20] #245 closed, assigned to mjtravers

[2022-05-10 16:20] #246 closed, assigned to mjtravers

[2022-05-10 16:20] #247 closed, assigned to mjtravers

[2022-05-10 16:20] #257 closed, assigned to toddlees

[2022-05-10 16:20] #258 closed, assigned to toddlees

[2022-05-10 16:20] #259 closed, assigned to toddlees

[2022-05-10 16:20] #165 closed, assigned to mjtravers

[2022-05-10 16:20] #189 closed, assigned to mjtravers

[2022-05-10 16:20] #192 closed, assigned to mjtravers

[2022-05-10 16:20] #220 closed, assigned to mjtravers

[2022-05-10 16:20] #250 closed, assigned to mjtravers

[2022-05-10 16:20] #260 closed, assigned to toddlees

[2022-05-10 19:26] AureliaKhorsand commented on #262
@MitchellTCG this ticket looks good, thanks for splitting it out. Makes sense to me.

[2022-05-10 21:21] AureliaKhorsand commented on #215
@MitchellTCG @toddlees isn't this the ticket that was getting bumped back? Or is this where it was going? Is the only blocker getting the correct text?

[2022-05-10 21:22] AureliaKhorsand commented on #271
@MitchellTCG I created this for Sprint 7, let me know where it should go in the pipeline. Also, we should consider making an issue template so it's easy to duplicate for each sprint.

[2022-05-11 12:48] WiseQA commented on #138
Covering period "From" - "To" date picker not working for displaying in Reports table.   @mjtravers moved back to in-progress per our discussion.

[2022-05-11 16:19] WiseQA commented on #133
Ticket fails - "NO" Radio button staying selected after "Save and Continue" broken.  Selecting "Save" is broken.   Per conversation with @mjtravers put back to In-Progress

[2022-05-11 19:05] AureliaKhorsand opened #272 "System to calculate Contribution Aggregate for "Other Receipts" (Group C)"
Business Reason

The Contribution Aggregate YTD field must display the total of the entity's contributions from the calendar year of the report. This is necessary to track contribution limits as well as itemization logic. This amount will be a _rolling total_.

Acceptance Criteria

For the following transaction:

Other Receipts (Group C)

CONTRIBUTION AGGREGATE field must meet the following criter

[2022-05-12 15:44] AureliaKhorsand commented on #166
**5/11/22 Refinement Meeting Notes**: Devs will build this out to accommodate if in the future, FEC requires the ability for multiple memo comments to be added. This is not the requirement right now.

[2022-05-12 17:05] AureliaKhorsand commented on #98
BA Note: include form type and report code information in this ticket; can select larger coverage date.

Header row should indicate that it is a Termination Report (for example, F3XT).

Once a Termination report is filed, users should NOT be able to create new reports (but they can still amend them). We should potentially base this logic on Filing Frequency = T, which will be updated by FEC.

[2022-05-12 17:11] AureliaKhorsand commented on #196
BA Notes from 4/7/22 requirements meeting:
- This should be no more than 12 numbers.
- This will have to be manual entry the first time someone uses FECFile Online.
- Once there are previous reports in the system, any new report should pull forward and auto-populate Cash-on-Hand. There should always be an option to edit, however.

[2022-05-13 14:53] AureliaKhorsand opened #275 "Add guidance to assist users when entering employer/occupation in transactions"
**Business Reason:**

In order to provide informational resources to users, there should be some type of guidance when entering employer/occupation in transactions such as a tooltip and/or link to glossary.

**Acceptance Criteria:**

**Given** a user creates a transaction that includes entry of Employer or Occupation,

**When** the user hovers over Employer or Occupation,

**Then** tooltip pop-up

[2022-05-13 14:54] AureliaKhorsand commented on #275
BA Note: See fec.gov for example of glossary, with in-text links to definitions.

[2022-05-13 16:14] AureliaKhorsand commented on #166
**5/11/22 Refinement Meeting Notes**: Devs will build this out to accommodate if in the future, FEC requires the ability for multiple memo comments to be added. This is not the requirement right now.

@MitchellTCG to provide updated wireframe.

[2022-05-13 16:17] AureliaKhorsand commented on #230
@mjtravers , there is updated text for the guidance text under "Memo Item". It should read "Check the ‘Memo Item’ box for informational entries that are not counted in the committee’s cash on hand (e.g., contributor attribution, conduit information, ultimate payee, etc.)"

@MitchellTCG will provide updated wireframe.

[2022-05-13 16:26] AureliaKhorsand opened #276 "Employer/Occupation is required if Contribution Aggregate > $200 (OP1 Transactions)"
Business Reason

The system will require Employer and Occupation fields if the Contribution Aggregate is greater than $200.

Acceptance Criteria

For the following transactions:

1\. Individual Receipt

  2\. Other Receipt

***If*** Contribution Aggregate is equal to or greater than $200.01

  ***Then*** "Employer" and "Occupation" will be required to save the transaction.

### QA Notes ###
null

[2022-05-13 18:30] AureliaKhorsand opened #277 "Site Design and Usability"
This epic encompasses any user story that relates to the User Interface site design and usability

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1194](https://fecgov.atlassian.net/browse/FECFILE-1194)

[2022-05-13 19:18] AureliaKhorsand commented on #234
Questions for FEC:
1. What should the Entity type default to? Is it "Organization"? It seems like it only has one option in the specs. **Correct.**
2. How are "Donor Committee Name" and "Donor Committee ID" captured? What are these fields referring to? **Donor Committee Name will be the same as Organization Name. We should pull in the FEC ID for it if available.**

**NOTE: All Group F transactions

[2022-05-13 19:31] AureliaKhorsand commented on #233
Questions for FEC:
1. What should the Entity type default to? Is it "Organization"? It seems like it only has one option in the specs. **Correct.**
2. How are "Donor Committee Name" and "Donor Committee ID" captured? What are these fields referring to? **Donor Committee Name will be the same as Organization Name. We should pull in the FEC ID for it if available.**

Note that Committee Organization

[2022-05-16 13:50] Elaine-Krauss-TCG commented on #271
QA Scripts to implement
- [x] 119
- [x] 137
- [x] 165
- [x] 189
- [x] 192
- [x] 224
- [x] 245
- [x] 246
- [x] 247
- [x] 248
- [x] 249
- [x] 250
- [x] 257
- [x] 258
- [x] 260
- [x] 261

Laying the foundation for the Reports page E2E tests
- [x] Report-Object Generator
- [x] Automating Entering Reports
  - [x] Automating Calendar Interactions

[2022-05-16 21:07] AureliaKhorsand commented on #232
Dev/QA question: For this particular transaction we're using to build this screen "Tribal Recount Receipt", the Contribution Purpose Description needs to default to "Recount Account". Can we do that as part of this ticket? Or do we need to keep this ticket as basic as possible to account for all transactions in this group?

[2022-05-16 23:07] WiseQA commented on #47
QA Review of the following:
- e2e tests should start a working database populated with enough data to run tests
- e2e job should be configured so that Cypress tests can login and run the existing e2e tests
- All e2e tests should be passing.
Automated testing working and passing.
QA review completed and passed.  Moved to Stage Ready

[2022-05-16 23:14] mjtravers commented on #209
Some changes requested from Code Review as documented in the [PR](https://github.com/fecgov/fecfile-web-app/pull/273)

[2022-05-17 14:38] MitchellTCG commented on #228
@toddlees
Sent back

Please change the text "FEC Form 3X" to "Receipts"

[2022-05-17 20:45] Elaine-Krauss-TCG commented on #209
The pull request intended to resolve this ticket is now made obsolete by [this one](https://github.com/fecgov/fecfile-web-app/pull/282)

[2022-05-17 23:46] mjtravers commented on #230
Ready for CR. PR's to review are:
https://github.com/fecgov/fecfile-validate/pull/76
https://github.com/fecgov/fecfile-web-api/pull/121/
https://github.com/fecgov/fecfile-web-app/pull/270

[2022-05-18 13:44] toddlees commented on #244
User can get to the table page as a part of the f3x form flow.  next step is populating the table

[2022-05-18 14:00] WiseQA commented on #209
Demo of Sprint 6 automated tests against QA test scripts.  Visual everything looked good.

QA review completed.  Moved to Stage Ready.

[2022-05-18 17:21] WiseQA commented on #133
Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/0a22ab3c-214f-4eae-9673-35a66b40dacb/download](https://app.zenhub.com/files/306118986/0a22ab3c-214f-4eae-9673-35a66b40dacb/download)

QA review completed.  Moved to Stage Ready.

[2022-05-18 17:28] AureliaKhorsand commented on #95
Duplicate of updated #276. Closing as OBE.

[2022-05-18 17:28] #95 closed, assigned to AureliaKhorsand

[2022-05-18 17:54] WiseQA commented on #271
Demo of Sprint 7 automated tests against QA test scripts.  Visual everything looked good.

QA review completed.  Moved to Stage Ready.

[2022-05-18 19:48] AureliaKhorsand opened #283 "DSP: System to calculate Contributions (line 11 and 33) (Column A)"
Business Reason

On the Detailed Summary Page, Line 11 should be a breakdown of the total of transactions and Line 33 should be total of transacitons with form type SA11AI, SA11AII, SA11B, SA11C _except_ for if the transaction has "Memo Code" checked. This ticket is for Column A only.

 Acceptance Criteria

1. Detailed Summary Page Line 11 (column A) of Form 3X must:
-- NOT include any transaction

[2022-05-18 19:49] AureliaKhorsand opened #284 "DSP: System to calculate Transfers (line 12) (Column A)"
Business Reason

On the Detailed Summary Page, Line 12 should be a total of transactions with form type SA12 _except_ for if the transaction has "Memo Code" checked. This ticket is for Column A only.

 Acceptance Criteria

1. Detailed Summary Page Line 12 (column A) of Form 3X must:
--  consist of the total of transactions with form type "SA12"  **within the report period**
-- NOT include any tran

[2022-05-18 19:54] AureliaKhorsand opened #285 "DSP: System to calculate Loans received (line 13) (Column A)"
Business Reason

On the Detailed Summary Page, Line 13 should be a total of all transactions with form type SA13 _except_ for if the transaction has "Memo Code" checked. This ticket is for Column A only.

 Acceptance Criteria

1. Detailed Summary Page Line 13 (column A) of Form 3X must:
--  consist of the total of all transactions with form type "SA13" within the report period
-- NOT include any t

[2022-05-18 19:55] AureliaKhorsand opened #286 "DSP: System to calculate Loan repayments received (line 14) (Column A)"
Business Reason

On the Detailed Summary Page, Line 14 should be a total of all transactions with form type SA14 _except_ for if the transaction has "Memo Code" checked. This ticket is for Column A only.

 Acceptance Criteria

1. Detailed Summary Page Line 14 (column A) of Form 3X must:
--  consist of the total of all transactions with form type "SA14"  within the report period
-- NOT include any

[2022-05-18 20:00] AureliaKhorsand opened #287 "DSP: System to calculate Offsets to Operating Expenditures (line 15 and 37) (Column A)"
Business Reason

On the Detailed Summary Page, Line 15 should be a total of all transactions with form type SA15 (Offsets to Operating Expenditures) _except_ for if the transaction has "Memo Code" checked. This number should be duplicated on Line 37. This ticket is for Column A only.

 Acceptance Criteria

1. Detailed Summary Page Line 15 (column A) of Form 3X must:
--  consist of the total of all

[2022-05-18 20:00] AureliaKhorsand opened #288 "DSP: System to calculate Refunds (line 16) (Column A)"
Business Reason

On the Detailed Summary Page, Line 16 should be a total of transactions with form type SA16 _except_ for if the transaction has "Memo Code" checked. This ticket is for Column A only.

 Acceptance Criteria

1. Detailed Summary Page Line 16 (column A) of Form 3X must:
--  consist of the total of transactions with form type "SA16"  within the report period
-- NOT include any transact

[2022-05-18 20:02] AureliaKhorsand opened #289 "DSP: System to calculate Other Federal Receipts (line 17) (Column A)"
Business Reason

On the Detailed Summary Page, Line 17 should be a total of transactions with form type SA17 _except_ for if the transaction has "Memo Code" checked. This ticket is for Column A only.

 Acceptance Criteria

1. Detailed Summary Page Line 17 (column A) of Form 3X must:
--  consist of the total of transactions with form type "SA17"  within the report period
-- NOT include any transact

[2022-05-18 20:05] AureliaKhorsand opened #290 "Allow user to create a PDF/print preview of the Form 3X report (Page 1, SP, DSP, SA)"
Business Reason

As a user, I will be able to generate and view a PDF of my report so that I can see how Form 3X looks as a paper form.

Acceptance Criteria

***Given*** a report in any status

  ***When*** the user goes to the "PDF/Print Preview" page

  ***Then*** they can generate a PDF of their report in it's current state

  ***And*** when they click to generate a PDF, they will receive a mes

[2022-05-18 20:10] AureliaKhorsand commented on #290
BA Note: Any transactions or transaction totals not from SA will be zero.

[2022-05-18 20:12] AureliaKhorsand opened #291 "Allow user to submit Form 3X report (front-end only, not connected to FEC)"
Business Reason

As a user, I will be able to submit a completed Form 3X report so that I can generate a *.fec file and send it to the FEC.

Acceptance Criteria

### QA Notes ###
**Given** the Form 3X report includes all required information
**When** a user is on the "Submit Report" page
**Then** the will be required to check the box with the following text before being able to submit:

**And** wh

[2022-05-18 20:13] AureliaKhorsand opened #292 "Create Submission Status Page"
Business Reason

As a user, I will be able to view the status of a report submission to FEC so that I can determine if further action is needed on my part.

 Acceptance Criteria

### QA Notes ###
 **If** I am viewing a report that has been submitted to FEC
**When** I go to the Submission Status page
**Then** I will see the following information:
- Form Type
- Report Type
-Coverage Dates
- Confirma

[2022-05-20 13:03] toddlees commented on #244
table is functional and sortable. you can open the transactions by clicking on the type.  Finishing a transaction takes you back to the transactions slide of the f3x report you came from.

Need to update unit tests and handle linting

[2022-05-20 15:59] WiseQA commented on #244
Added Laura as assignee for CR per conversation with DEV.   Please change to QA Review and assignee to WISEQA when CR is completed.   Thanks !!!

[2022-05-20 19:16] AureliaKhorsand opened #294 "System to require Memo Item if Transaction Date falls outside Report Coverage Dates"
Business Reason

Although users can add transactions with dates outside report coverage dates, those transactions _must_ be memo items, so the system will require it if they try to save.

 Acceptance Criteria

**Given** I am adding or editing a transaction within a report
**If** I add a Date Received prior to the Report start date **or** after the Report end date
**Then** I will receive a popup me

[2022-05-20 19:45] AureliaKhorsand opened #295 "Allow user to delete a transaction?"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

Acceptance Criteria

***If*** [precedent]

  ***When*** [action]

  ***Then*** [result]

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1182](https://fecgov.atlassian.net/browse/FECFILE-1182)

[2022-05-20 19:53] toddlees commented on #217
@WiseQA This is a really strange scenario.  All of the work for this ticket was accomplished in #133.  #133 does not capture these requirements.  Because we can't change the requirements on #133, this ticket has to stay.  Since there is no dev work to be done, I am moving this directly from Sprint Backlog to QA Review so that you have what you need to write test scripts.

[2022-05-20 22:49] WiseQA commented on #217
This ticket has been verified and tested in ticket 133.  Refer to TS for 133 as to not duplicate work.
Reverified this ticket passes.

QA Review Completed.   Move to Stage Ready

[2022-05-20 23:18] WiseQA commented on #215
Changed title of ticket as to what the Acceptance Criteria is and what is actually being tested.  Address change was covered in Ticket 133.  This ticket about 10 days to notify FEC about address change.

[2022-05-20 23:37] WiseQA commented on #215
“Within 10 days of an address change you must notify the FEC by amending your Form 1, in addition to updating your address here.” Update your committee address page is displayed.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/c52abf57-380e-4434-99bf-56901118b137)

Disclaimer for 10 day notice page is displayed:
![image.png](https://images.zenhubusercontent.com/61ba01e42

[2022-05-23 11:58] MitchellTCG commented on #244
@WiseQA
Wireframe updated

[2022-05-23 12:14] WiseQA commented on #244
Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/c9806f61-d032-4348-81af-dd7e2c7ad89a/download](https://app.zenhub.com/files/306118986/c9806f61-d032-4348-81af-dd7e2c7ad89a/download)

QA review completed.  Moved to Stage Ready.

[2022-05-23 14:06] WiseQA commented on #228
Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/4dea0af7-fa67-4dcf-a79c-afc54d063b3e/download](https://app.zenhub.com/files/306118986/4dea0af7-fa67-4dcf-a79c-afc54d063b3e/download)

QA review completed.  Moved to Stage Ready.

[2022-05-23 14:24] WiseQA commented on #138
Save and Save and Continue screen verifying Reports table was saved to and viewable.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/6a966cc4-5731-4a8a-8b06-a8709dc83c05)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/0350d0d0-b88a-4f21-b68f-4b108e6e3d8a/download](https://app.zenhub.com/files/306118986/0350d0d0-b88a-4f21-b6

[2022-05-23 14:40] WiseQA commented on #230
Transaction type "Offsets to Operating Expenditures" used for testing this ticket and selected from the Transactions Screen "Other" drop down menu.  This transaction used as denoted in the Acceptance Criteria.

[2022-05-24 11:34] WiseQA commented on #205
Committee ID Add Screen and Saved
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/763aadb5-93d5-42b7-b47b-9645f58ba43b)

Committee ID Edit Screen and Saved
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f7fba7ac-6d9a-4d0a-8cf2-904838ced35d)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/44767d98-

[2022-05-24 12:31] WiseQA commented on #206
Candidate ID Add Screens for P, H and S and Saved
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/e7b15415-ca3f-4419-be01-6eaddcce7b5b)

Candidate ID Edit Screens for P, H and S and Saved
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/198bd23b-7bd7-429a-839e-60416e50b688)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenh

[2022-05-24 13:34] WiseQA commented on #230
@mjtravers - bug fix "This is a required field" not displaying for the following:
CONTRIBUTION AMOUNT (AMT-12, Required)

Bug fix - This field cannot contain more than 100 alphanumeric characters.

CONTRIBUTION PURPOSE DESCRIPTION (Read-only: A/N-100, Optional)
NOTE OR MEMO TEXT (A/N-100, Optional)

Bug Fix:
Once the individual contact info was entered and saved, when I selected the same report to

[2022-05-24 16:53] AureliaKhorsand opened #302 "System to indicate to user which transactions are "unitemized""
Business Reason

It should be made clear to the user which transactions are unitemized, so they know what will not have it's own line item on the *.fec file and can take action accordingly.

Acceptance Criteria

***If*** a transaction is unitemized,

  ***When*** the user is on the Manage Transactions page

  ***Then*** it will be clear that the transaction is unitemized.

![Unitemized.png]([https

[2022-05-24 17:07] AureliaKhorsand opened #303 "System to auto-populate coverage dates based on report type selection"
See [this spreadsheet ]([https://docs.google.com/spreadsheets/d/1c4cJvmAChcKl9o8a_5w0Zi0iizUTyxYa/edit#gid=1409996071)as](https://docs.google.com/spreadsheets/d/1c4cJvmAChcKl9o8a_5w0Zi0iizUTyxYa/edit#gid=1409996071)as) a starting point.

Business Reason

As a Committee Administrator, I will be able to view report coverage dates that are populated by the system so that I can create my report with t

[2022-05-24 21:31] AureliaKhorsand opened #305 "Update security consent & legal consent placeholder text"
Task: Update “Terms of service and user agreement” pages to include the approved language from FEC/OGC.

In DEV, STAGE, and PROD:

[ ] Terms of service and user agreement at log-in (with consent)

[ ] Terms of service and user agreement page (link from footer)

**NO CHANGES IN TEST.**

### QA Notes ###
Test DEV and STAGE.

Confirm no changes in TEST.

(PROD testing in [https://fecgov.atlassian.net

[2022-05-24 21:50] AureliaKhorsand commented on #174
This is included with every transaction screen. Closing as OBE.

[2022-05-24 21:50] #174 closed, assigned to AureliaKhorsand

[2022-05-25 13:13] mjtravers commented on #230
Bugs patched for CONTRIBUTION AMOUNT, CONTRIBUTION PURPOSE DESCRIPTION, NOTE OR MEMO TEXT, and the form not clearing properly. Ready for QA.

[2022-05-25 14:06] WiseQA opened #307 "Defect - Contributor Type dropdown list not locked and editable once Transaction is created and Saved"
This Defect is to make the Contributor Type dropdown list locked to where a User cannot change the type once Transaction is created and saved. (Same logic was implemented in Contact page and is working).

Acceptance Criteria

If I am a Committee Administrator

  When I access my Transactions after saving Contributor Type is "read only" and cannot be changed. This is only for Individual and Organiz

[2022-05-25 14:44] WiseQA commented on #230
QA reviewed on this ticket to enter, Save & view all transactions, Save and add another, and edit a Group B Transaction.   Test Case/Test Scripts written to test all these functionalities per acceptance criteria.

Two (2) Test Case/Test Scripts were developed for this ticket.  One to encompass Individual / Candidate and one to encompass Organization / Committee.  Reasoning is the steps are the sam

[2022-05-25 15:49] mjtravers commented on #130
Passes code review. Sending to QA.

[2022-05-25 15:49] WiseQA opened #308 "Defect - Contribution date received user should not be able to select future date from the date picker"
This Defect is to correct date picker being able to select future Date Received for Contribution per requirements below:
DATE RECEIVED (NUM-8…YYYYMMDD, Required)
Field description in API: CONTRIBUTION DATE
Data field: Date picker (Cannot select future date)

Acceptance Criteria

If I am a Committee Administrator
When I select a Date Received from the date picker I will not be able to select a futu

[2022-05-25 17:46] AureliaKhorsand commented on #262
**5/25/22 Refinement Meeting:** Needs design solution added, moving back to AA.

[2022-05-25 18:48] AureliaKhorsand opened #309 "Allow user to select a report type when creating Form 3X report (Design Updates)"
Business Reason

As a Committee Administrator, I will be able to create a Form 3X report and specify the report type for Form 3X so that, along with coverage date, I will be able to save a Form 3X report record for my Committee Account.

Purpose

Update the how the Quarterly Reports are displayed on Report Creation.

  Replacing Election year, Non-Election Year, and Special Election with just two

[2022-05-26 13:55] #308 closed, assigned to MitchellTCG

[2022-05-26 13:55] WiseQA commented on #308
(Cannot select future date) in the date picker is future logic to be determined.   Ticket is OBE,

[2022-05-26 14:17] WiseQA commented on #230
Second review.   Acceptance Criteria was incorrect, should only test Individual and Organization.

QA reviewed on this ticket to enter, Save & view all transactions, Save and add another, and edit a Group B Transaction.   Test Case/Test Scripts written to test all these functionalities per acceptance criteria.

Two (2) Test Case/Test Scripts were developed for this ticket.  One to encompass Indivi

[2022-05-26 15:23] mjtravers commented on #230
The screen was updated so that the only options available for the Contributor Type select box are "Individual" and "Organization". Ready for QA

[2022-05-26 17:03] WiseQA commented on #230
QA completed
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/202edc05-b4e7-4577-9601-f29871d06012)

Verified pulldown changed to Individual and Organization only.   Passes adhoc testing.

[2022-05-26 17:38] MitchellTCG opened #312 "Defect - "Contribution Amount" and "Contribution Aggregate" NOT displayed as currency"
1.  RELATED TO TICKET:
2.  fecfile-web-app #230

Business Reason

As a User (all roles), I will be able to see "Contribution Amount" and "Contribution Aggregate" as Currency ($0.00) so that I know the numbers are related to money.

Acceptance Criteria

***If*** I am a Committee Administrator (or any role in the future)

  ***When*** I create or edit a transaction, both "Contribution Amount" and "C

[2022-05-27 17:26] AureliaKhorsand opened #313 "Create automated regression tests for QA scripts (Sprint 8)"
Business Reason

As a developer or QA, I will be able to automatically run the Sprint-8 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

***If*** I want to run the Sprint test scripts to retest the tickets

  ***When*** I run the automated tests in the Cypress framework

  ***Then*** I will get a report on which scripts

[2022-05-27 20:02] AureliaKhorsand opened #316 "Defect: Contribution Purpose Description should be Read Only"
***Steps to Reproduce:***

1\. Create new "Offsets to Operating Expenditures" transaction or open an existing one.

  2\. Click in "Contribution Purpose Description" field.

***Expected Result:*** In "Offsets to Operating Expenditures", per ACs in Web App #230, Contribution Purpose Description should be read-only and the user will be unable to edit.

***Actual result:*** Contribution Purpose Descr

[2022-05-31 18:02] WiseQA commented on #312
QA inspection of Defect verified Contribution Amount and Contribution Aggregate are displaying as Currency.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f2cd2fb9-c117-4fbb-a4d5-3fb4aa1b73a3)

QA review completed.  Moved to Stage Ready.

[2022-05-31 18:08] WiseQA commented on #307
QA inspection of Defect verified Contributor Type dropdown list is locked and not editable once Transaction has been saved.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/3851b8ae-5382-4bb8-96eb-74891d4b7c6d)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/729d6368-3ea0-46b3-963c-7617200ba14f)

QA review completed.  Moved to Stage Ready.

[2022-05-31 18:10] #209 closed, assigned to Elaine-Krauss-TCG

[2022-05-31 18:10] #244 closed, assigned to toddlees

[2022-05-31 18:10] #206 closed, assigned to toddlees

[2022-05-31 18:10] #217 closed, assigned to WiseQA

[2022-05-31 18:10] #230 closed, assigned to mjtravers

[2022-05-31 18:10] #47 closed, assigned to Elaine-Krauss-TCG

[2022-05-31 18:10] #138 closed, assigned to mjtravers

[2022-05-31 18:10] #205 closed, assigned to toddlees

[2022-05-31 18:10] #215 closed, assigned to toddlees

[2022-05-31 18:10] #228 closed, assigned to toddlees

[2022-05-31 18:10] #133 closed, assigned to mjtravers

[2022-05-31 18:10] #271 closed, assigned to Elaine-Krauss-TCG

[2022-05-31 18:10] WiseQA commented on #316
QA inspection of Defect verified Contribution Purpose Description field is grayed out and "Read Only".

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/62d1bcc3-973f-4788-a4f3-a3c224c4e3bd)

QA review completed.  Moved to Stage Ready.

[2022-06-01 10:35] WiseQA commented on #130
Verified when selecting "Update committee info using Form 1" the following screen appears:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/713bfbf6-76d4-4957-a9fb-8645f196763b)

Verified when selecting "View full committee info from Form 1" the following pdf of the most recent F1 filing is displayed.  Example using committee (C00277608) link  https://docquery.fec.gov/pdf

[2022-06-01 17:02] Elaine-Krauss-TCG commented on #313
It is becoming a problem that created reports persist between tests, so I have to configure Cypress to hit the REST API endpoint to delete the created reports after each test finishes.

This requires:
- [x] retrieving authentication credentials through Cypress
- [x] retrieving the list of reports in a way that Cypress can parse them
- [x] sending DELETE requests to the API

[2022-06-01 17:18] AureliaKhorsand commented on #309
**Refinement Meeting 6/1/22:** Shelly and Todd not present.

[2022-06-01 17:26] AureliaKhorsand commented on #120
**Refinement Meeting 6/1/22:** Shelly and Todd not present. Because this is in Angular code and not login.gov, we can point now.

Dev Notes: Angular Guard will be made, which will determine if the security notice will be shown or not.

[2022-06-01 18:22] AureliaKhorsand opened #319 "Allow user to delete a transaction"
Business Reason

As a user, I will be able to delete a transaction on a report with a status "In progress" or "Submission failure" so that I can maintain an accurate list of transactions.

Acceptance Criteria

**Given** a user is viewing transactions on a report with a status "In progress" or "Submission failure"

**Then** they will be able to select 'Delete' on the Action kebab in the Manage Tran

[2022-06-01 18:23] AureliaKhorsand commented on #295
Updated ticket is #319. Closing as duplicate.

[2022-06-01 18:23] #295 closed, assigned to AureliaKhorsand

[2022-06-01 19:50] Elaine-Krauss-TCG commented on #313
E2E Test for QA Script #133 requires feedback from Shelly.
Depending on feedback it might be as much as 90% done.

Team discussed #133, good to go.

[2022-06-01 20:19] MitchellTCG opened #320 "Reduce report creation from 2-part task to 1-part task"
### Business Reason ###
As a Committee Administrator, I would like to reduce the number of steps to create a Form 3X report, so users can more quickly create functional, accurate reports

### Acceptance Criteria ###
**Given** I am a Committee Administrator that is creating a new Form 3X Report 
**When** I select a time period (Election or Non-election)
 **Then** I choose the correct report type
 *

[2022-06-02 14:30] MitchellTCG commented on #320
@mjtravers can you give this a look

[2022-06-02 20:25] Elaine-Krauss-TCG commented on #313
QA Script #230 is the first to involve creating a transaction.  This will require a little more work to create a flexible system for dynamically creating transactions.  This one E2E test will take a bit longer to produce, but there will be large time saves later down the line.

[2022-06-06 21:50] WiseQA commented on #231
@mjtravers @MitchellTCG which Transaction Screen am I suppose to test against for Group C ?  I can enter a transaction with the type "Other Receipts" from the Transaction Screen.

Ticket clarified - Under Other dropdown select "Other Receipts"

[2022-06-06 21:52] WiseQA commented on #229
@mjtravers @MitchellTCG which Transaction Screen am I suppose to test against for Group A ? I can enter a transaction with the type "Individual Receipts" from the Transaction Screen.  Which Individual transaction link under "Other" is being tested ?   Ind. Receipt - Non-Contribution Account ?

[2022-06-06 21:52] WiseQA commented on #232
@mjtravers @MitchellTCG which Transaction Screen am I suppose to test against for Group D ? I can enter a transaction with the type "Tribal Receipt" from the Transaction.
Saw noted in comments within the ticket - we are using "Tribal Recount Receipt" for this ticket.   Please add to Acceptance Criteria the actual transaction name we are testing against.  Ticket has been updated.

[2022-06-07 14:01] AureliaKhorsand commented on #196
**BA Notes:**
1. See requirements notes from 6/2/2022 for more information.
2. Line 8 will auto-populate, as well all subsequent reports. This is the only time a user enters Cash-on-Hand manually.

[2022-06-07 14:04] AureliaKhorsand commented on #262
@MitchellTCG what is the status of the design solution?

[2022-06-07 14:07] AureliaKhorsand opened #325 "5c - Summary Page: System to auto-calculate Cash-on-Hand (line 6a and 6b) for subsequent reports"
Business Reason

System to calculate Cash-on-Hand automatically for subsequent reports to reduce the potential for user-error.

Acceptance Criteria

***Given*** a user creates a new Form 3X report

  ***And*** there is at least one existing Form 3X report for that committee account,

  ***Then*** the system will auto-populate (pull forward) the following and the user will be unable to edit:

  1\.