[2022-06-07 14:09] AureliaKhorsand opened #326 "5b - Summary Page: System to auto-calculate Cash On Hand at Close of Reporting Period (line 8) (Column A"
Business Reason

On the Summary Page, Line 8 should a calculation of line 6.d minus line 7 (This ticket is for Column A only)

 Acceptance Criteria

1. Summary Page Line 8 (Cash On Hand at Close of Reporting Period) of Form 3x must:
-- consist of the following calculation:
- Line 6.d - Subtotal of Receipts and Cash on Hand (#1437) minus Line 7 Total Disbursements (#1040) (Column A values only)

 D

[2022-06-07 14:58] WiseQA commented on #229
@mjtravers @MitchellTCG
By the Acceptance Criteria these are required fields, however these are based on Aggregate field being filled in.   Should these be grayed out for now ?   Also the "This is required field" not populating.

EmployerEMPLOYER (A/N-38, Required if donor aggregate > $200)
Field description in API: CONTRIBUTOR EMPLOYER
Data field: textbox

OCCUPATION (A/N-38, Required if donor ag

[2022-06-07 15:40] mjtravers commented on #229
Currently, the aggregate field is set to 0 by default and cannot be changed in the UI. As a result, the occupation and employer "required if aggregate > $200" cannot be tested and will have to be tested in a later ticket when the aggregation amount functionality is added.

[2022-06-07 15:47] AureliaKhorsand commented on #229
@mjtravers @WiseQA we can test employer/occupation required validation in #276.

[2022-06-07 16:10] WiseQA commented on #232
QA reviewed on this ticket to enter, Save & view all transactions, Save and add another, and edit a Group D Transaction. Test Case/Test Scripts written to test all these functionalities per acceptance criteria.

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/160d1904-623a-44f1-9c8a-a62497c479c4/download](https://app.zenhub.com/files/306118986/160d1904

[2022-06-07 16:26] WiseQA commented on #229
QA reviewed on this ticket to enter, Save & view all transactions, Save and add another, and edit a Group A Transaction. Test Case/Test Scripts written to test all these functionalities per acceptance criteria.  Tested "EMPLOYER" section as denoted in ticket update.

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/3e2dc018-8692-4849-995f-aad69bbe56b8/d

[2022-06-07 17:15] AureliaKhorsand opened #327 "Create Group F Transaction Screen (PAC JF Transfer Memo)"
Business Reason

As a Committee Administrator, I will be able to enter a sub-transaction under ***"JF Transfers"*** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

***NOTE:*** This is a "child" transaction that will be associated with a parent transaction.

Acceptance Criteria

***Given*** I am a Committee Administrator

  ***And*** I am editing a

[2022-06-08 15:35] WiseQA commented on #231
Two (2) Test Case/Test Scripts were developed for this ticket.  One to encompass Individual and one to encompass Organization / Committee.  Reasoning is the steps are the same for these Contributor Types and test scripts can be rerun as written, and denoted in each test script.

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/3769a3d8-3424-4e32-933f-9d

[2022-06-08 16:49] mjtravers opened #328 "Integrate Login.gov code into develop branch"
The login.gov code developed and tested on the feature/109-django-login-dot-gov branch is being deployed to the secondary test environment. This ticket is for the task of merging that code into the develop branch and deploying it to the develop server.

During integration, the Login.gov site will create new account records in the backend that will need to have the committee account associated from

[2022-06-08 23:39] WiseQA commented on #313
Demo of Sprint 8 automated tests against QA test scripts.  Visual everything looked good.

QA review completed.  Moved to Stage Ready.

[2022-06-09 21:28] AureliaKhorsand opened #330 "Updates to "Offsets to Operating Expenditures" Transaction (Group B)"
Business Reason

As a Committee Administrator, I will be able to enter a transaction for **"Offsets to Operating Expenditures"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This ticket is to include COMMITTEE options, and to ensure specs are correct on the back end.  NOTE:  (Original Group B transactions Ticket #230 (Sprint 8) transa

[2022-06-09 22:21] WiseQA commented on #98
QA Review was completed by DEV team providing this outcome, verbally there is no visual inspection on this ticket by QA.   This ticket passes by the input by the DEV team, which isn't good QA practice.  However, as discussed e2e testing will be conducted on this ticket.

QA reviewed by DEV team and not QA actual inspection, by DEV team lead to proceed.  Ticket moved to Stage Ready.

[2022-06-10 15:28] AureliaKhorsand opened #332 "Allow user to see Report Summary Page"
Business Reason

As a user, I will be able to view the Form 3X report summary page so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-06-10 15:30] AureliaKhorsand opened #333 "Allow user to view Detailed Summary Page"
Business Reason

As a user, I will be able to view the Detailed Summary Page for a Form 3X report so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [action]
**Then** [result]

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-06-10 17:13] AureliaKhorsand opened #334 "Allow user to enter confirmation email and verify address before submission"
Business Reason

As a user, I will be able to enter up to two email addresses to receive FEC confirmation of submission and verify that the committee address has or has not changed so that I can send the most updated information for FEC upon submission.

Acceptance Criteria

***Given*** the user is on the "Confirm Information" page

  ***Then*** they will be able to enter two Confirmation Emails,

[2022-06-13 20:04] Elaine-Krauss-TCG commented on #201
To-do list:
- [x] Implement an endpoint that allows the user to retrieve a list of users in the same committee
- [x] Implement a new front-end component per the wireframe
- [x] Add unit tests for code coverage

[2022-06-15 19:23] Elaine-Krauss-TCG commented on #201
Pull requests open for this ticket on the [Front-End](https://github.com/fecgov/fecfile-web-app/pull/337) and the [Back-End](https://github.com/fecgov/fecfile-web-api/pull/143)

For QA: You can find the results of the unit tests [here](https://app.circleci.com/pipelines/github/fecgov/fecfile-web-api/482/workflows/4b007b0c-76d5-48c4-9d5a-37cc3a19cabe/jobs/1342)

[2022-06-16 11:32] mjtravers commented on #201
Elaine, this looks great. There are a handful of requested changes noted in the PR from my and Todd's code reviews. You can click the "Resolve conversation" button as you work out what is being asked in the comment. Also, the api PR has a merge conflict that needs to be resolved. Sending ticket back to "in progress".

[2022-06-16 13:25] MitchellTCG commented on #233
@AureliaKhorsand
Updated

[2022-06-16 18:29] mjtravers commented on #201
Passes CR. Sending to QA

[2022-06-16 20:47] WiseQA commented on #309
Per discussion with @MitchellTCG @Elaine-Krauss-TCG we are updating the list on DEV to match the naming convention in the wireframes, NOT the abbreviated list in the Acceptance Criteria.

[2022-06-16 22:24] WiseQA opened #339 "Defect - 500 Error when Accessing Reports from DEV / STAGE"
This Defect is to correct the 500 error when logging into DEV and STAGE to access Reports from the dashboard.

![image.png]([https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a6bc6093-cc96-40c5-8c44-56ffd41735be](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a6bc6093-cc96-40c5-8c44-56ffd41735be))

Acceptance Criteria

If I am a Committee Administrator be able to access

[2022-06-16 22:24] mjtravers opened #340 "WebService Worker: development setup"
We need to be able to run a celery worker whose task is developed in the fecfile-web-api repo.

## Tasks ##
- Install Celery in api repo
- Configure Celery and Celery with Django
- Create a Redis Docker image/file for local dev development

## Acceptance Criteria ##
- Screenshot of docker service console

## QA Notes ##
Here are screenshots of the new services in the development environment:
![ima

[2022-06-16 22:32] mjtravers opened #341 "WebService Worker: create a Celery task that creates an FEC header row"
Django client Celery creates a task that instructs the Celery worker to create an empty FEC file.

## Acceptance Criteria ##
- Django endpoint takes a report_id
- Django endpoint starts a Celery worker
- Celery worker creates an FEC file containing the FEC header row (no transaction yet)
- Celery will print the header row which will then be captured by the cloud.gov logging service

## QA ##
- A s

[2022-06-16 22:35] mjtravers opened #342 "WebService Worker: Celery worker adds transactions and S3"
Now that the Celery worker is pulling the FEC header row, add the transactions rows and write out the data to a FEC file stored on S3

## Acceptance Criteria

- Setup connection between api and s3
- Setup connection between worker and s3
- Setup local disk storage method for worker to facilitate unit tests
- .FEC File includes rows for each transaction of report
- .FEC file saved to S3 at the end

[2022-06-16 22:37] mjtravers opened #343 "WebService Worker: WebPrint"
Create an endpoint on the webservice worker to submit a fec file to the FEC WebPrint service. Return the WebPrint response to the Celery broker

Documents: https://efoservices.fec.gov/static/webprint_help.html#webservice
https://webforms.fec.gov/psa/getstarted.htm

### QA Notes ###
 null
### DEV Notes ###
 null
### Design ###
 null

[2022-06-17 03:17] MitchellTCG opened #344 "Create User Interface for Summary Page"
Purpose

Create the outline for the Summary Page. This is just a visual ticket

 Business Reason

As a Committee Administrator, I will be able to review the information from Lines 6-10 on the Form3X Summary Page.

 Building Specs

Summary page - this is a H1

Form 3X: [Report Type here]
- FORM3X: (bold, Karla, 14px , all caps)
- "Report type" (Karla, 14px)

**Data Table**
It will have FOUR columns

[2022-06-17 05:26] MitchellTCG opened #345 "Create User Interface for Detailed Summary Page"
Purpose

Create the outline for the Detailed Summary Page. This is just a visual ticket

 Business Reason

As a Committee Administrator, I will be able to review the information from Lines 11-38 on the Form3X Detailed Summary Page.

 Building Specs

Detailed summary page - this is a H1

Form 3X: [Report Type here]
- FORM3X: (bold, Karla, 14px , all caps)
- "Report type" (Karla, 14px)

**Data Table

[2022-06-17 06:16] MitchellTCG opened #346 "Add Accordion Side Navigation"
Purpose

Create the Report Workflow Accordion Side Navigation.

 Business Reason

As a Committee Administrator, I will be able to navigate thru the Form3X report workflow. I will be able to move back and forth through the workflow

  Dev Notes

This is base on the FEC Pattern library component
https://fec-pattern-library.app.cloud.gov/components/detail/side-navigation.html
The blue background is a

[2022-06-17 12:07] MitchellTCG commented on #346
I can't add all the links that exist until Dev and Stage are back on.

[2022-06-17 14:27] MitchellTCG commented on #233
I corrected a misspelling of TRANSFER in the orange button

[2022-06-17 14:29] AureliaKhorsand commented on #332
Duplicate of #344. Closing.

[2022-06-17 14:29] #332 closed, assigned to AureliaKhorsand

[2022-06-17 14:31] AureliaKhorsand commented on #333
Duplicate of #345. Closing.

[2022-06-17 14:31] #333 closed, assigned to AureliaKhorsand

[2022-06-17 16:25] toddlees commented on #339
There were records in both the develop and stage F3X Summary tables that could not be converted by the conventional migration code.  We added a step to the F3X Summary migration to correctly convert those values. There were no such records in the Schedule A table but the migration was vulnerable to the same issue.  We updated the Schedule A migration the same way

[2022-06-17 16:25] toddlees commented on #339
Reason it was missed in development: Local development database did not contain the problematic records
How to avoid in the future: TBD
Reason it was missed at deployment:  Failure in running migrations does not cause the deploy to fail or alert developer of migration error
How to avoid in the future:  Update deploy process to fail or alert on migration failure

[2022-06-17 18:13] AureliaKhorsand commented on #233
@MitchellTCG to update Save & Add JF Transfer Memo button

[2022-06-17 18:17] AureliaKhorsand opened #347 "Allow user to see associated transactions on View All Transactions screen (stop-gap)"
Business Reason

As a user, when I am on the View All Transactions screen I can see that the child is associated to a parent transaction so that I can verify I have associated my transactions correctly.

 Acceptance Criteria

**Given** there are transactions with associated sub-transactions
**When** I am on the View All Transactions screen
**Then** I can see that the child is associated to a paren

[2022-06-17 19:04] MitchellTCG commented on #262
@AureliaKhorsand
Ticket and Wire updated, please review

[2022-06-17 19:11] AureliaKhorsand commented on #262
@MitchellTCG looks great, removing UX/UI tag.

[2022-06-17 21:03] MitchellTCG commented on #327
@AureliaKhorsand
Updated

[2022-06-21 13:04] MitchellTCG commented on #233
@AureliaKhorsand Updated

[2022-06-21 14:50] WiseQA commented on #339
QA reviewed and tested defect - 500 error when logging into DEV and STAGE to access Reports from the dashboard.   Both DEV and STAGE working and corrected see DEV comments above for fix.

QA completed moved to Stage Ready

[2022-06-21 18:44] MitchellTCG commented on #346
@AureliaKhorsand

Updated

[2022-06-21 19:25] AureliaKhorsand commented on #346
@MitchellTCG updated requirement from PI3 Planning - the Sign and Submit step will actually be on the same page, and will be the same action for the user. I suspect we want to combine these in the menu. Otherwise, this looks good and is ready for ADTR.

[2022-06-21 19:26] MitchellTCG commented on #347
@AureliaKhorsand Updated

[2022-06-21 19:29] AureliaKhorsand opened #349 "Allow user to create and select a new Form"
Business Reason

As a Committee Administrator, I will be able to create a report by selecting the Form Type.

 Acceptance Criteria

**Given** the user is on the Reports page.
**If** they click "Create new Report"
**Then** they will have the option to select which Form type they want to create
**And** the list will default to Form 3X as read only.

 Dev Notes

"Form 3X: Report of Receipts and Disbu

[2022-06-21 19:37] MitchellTCG commented on #347
Updated with 20-digit code

[2022-06-21 19:37] AureliaKhorsand opened #350 "Link pages to Report Left Side Navigation"
Purpose

Create the Report Workflow Accordion Side Navigation.

Business Reason

As a Committee Administrator, I will be able to navigate thru the Form3X report workflow. I will be able to move back and forth through the workflow

Dev Notes

This is base on the FEC Pattern library component
[https://fec-pattern-library.app.cloud.gov/components/detail/side-navigation.html](https://fec-pattern-libra

[2022-06-21 19:42] AureliaKhorsand opened #351 "[Placeholder] Report Review Process"
PLACEHOLDER Epic for potential future functionality.

**Determined as out of scope for OP1 during PI 3 planning on 6/15/22.**

[2022-06-22 12:21] MitchellTCG commented on #346
@AureliaKhorsand
Re: the Sign & Submit section — Much like the Create a Report section, the purpose of the Nav is help assist users in finding what they need like a Table of Contents or Index. Multiple links can go to the same page. If the pages are long, we can add anchor links if needed.

Not a blocker.

[2022-06-22 13:53] MitchellTCG opened #352 "Create automated regression tests for QA scripts (Sprint 9)"
reate automated regression tests for QA scripts (Sprint 8)

Business Reason

As a developer or QA, I will be able to automatically run the Sprint-8 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

***If*** I want to run the Sprint test scripts to retest the tickets

  ***When*** I run the automated tests in the Cypress f

[2022-06-22 13:54] MitchellTCG commented on #352
@shelly
Can you please validate the tickets that @Elaine-Krauss-TCG will be creating E2E test for? And Update the ticket if needed.

[2022-06-22 14:10] WiseQA commented on #352
@MitchellTCG updated added ticket #98 - see comments in ticket for e2e testing.

[2022-06-22 14:15] AureliaKhorsand opened #353 "[Dev Task] Create login accounts in Sandbox"
Task: Please generate logins (including committee accounts) for the following in the sandbox environment. **Please use fec.gov emails for all of the following.**

The Login.gov setup is strictly for STAGE ONLY server in Cloud.gov.

- [x] 1.  Laura Beaufort - lbeaufort@fec.gov
    Committee ID: **C00672394**
~- [ ] 2. Ken Lally - klally@fec.gov
    Committee ID: **C00759811**~
- [x] 3. Paul Clark -

[2022-06-22 14:32] AureliaKhorsand opened #354 "Allow user to sign Form 3X report and enter eFiling password"
Business Reason

As a user, I want to be able to sign my Form 3X report and enter my eFiling password so that I can submit it with the necessary information to be accepted by FEC.

Acceptance Criteria

***Given*** a user is on the "Submit Report" page

 ***Then*** the following information is required:

*   TREASURER LAST NAME [A/N-30]
*   TREASURER FIRST NAME [A/N-20]
*   TREASURER MIDDLE NAME [A

[2022-06-22 14:33] AureliaKhorsand opened #355 "Allow user to view submitted Form 3X reports (submitted to FEC)"
Business Reason

As a user, I will be able to view closed/submitted F3X reports as read only.

Acceptance Criteria

***If*** a report has been submitted to FEC

  ***Then*** it will have a Status of "Submitted" on the Manage Reports Page

  ***And when*** the user opens the report (or immediately upon submission - update from #291)

  ***Then*** the following pages will be available:

***Accordion

[2022-06-22 15:18] #316 closed, assigned to mjtravers

[2022-06-22 15:18] #98 closed, assigned to mjtravers

[2022-06-22 15:18] #312 closed, assigned to toddlees

[2022-06-22 15:18] #313 closed, assigned to Elaine-Krauss-TCG

[2022-06-22 15:18] #231 closed, assigned to mjtravers

[2022-06-22 15:18] #130 closed, assigned to toddlees

[2022-06-22 15:18] #229 closed, assigned to mjtravers

[2022-06-22 15:18] #232 closed, assigned to mjtravers

[2022-06-22 15:18] #307 closed, assigned to mjtravers

[2022-06-22 15:18] #339 closed, assigned to mjtravers

[2022-06-22 23:19] WiseQA commented on #330
QA reviewed on this ticket to enter, Save & view all transactions, Save and add another, and edit a Group B Transaction. Test Case/Test Scripts written to test the added Committee functionalities per acceptance criteria.

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/3550248f-4476-40e9-8a8a-d07dea65fdaf/download](https://app.zenhub.com/files/30611898

[2022-06-23 13:59] WiseQA commented on #201
Per conversation with @mjtravers and @Elaine-Krauss-TCG ticket #201 returned to add test data to Exiting User's table.  For reference from our conversation ticket #105 has a list of committee IDs and User's currently needing data for testing.

[2022-06-23 15:35] AureliaKhorsand commented on #354
Password system is maintained by Electronic Filing Office (EFO) and when filer submits a report, we first check for submission parameters for valid Committee ID & Password and based on Agency ID, we direct to corresponding database schema (EFO / VEND).

[2022-06-23 17:04] AureliaKhorsand commented on #353
BA Task: Get emails folks want to use for login.gov and add to ticket. David estimates this is around a 1-pointer. @MitchellTCG how do we want to handle this ticket in terms of sprint process, given it's a dev task and not development work?

[2022-06-23 17:19] AureliaKhorsand commented on #346
6/23 Refinement Meeting: Strip out persistent report information from wireframes and separate into another ticket. Update wording to indicate that this is just a visual check for the accordion menus.

[2022-06-23 17:43] AureliaKhorsand commented on #349
Waiting answer on questions in #346 from usability testing.

[2022-06-23 18:19] AureliaKhorsand commented on #346
**Design meeting 6/23:** Want to move Create a Report information to pop up/single page before entering the report itself. Also will move Add report level memo to another accordion.

Note that #166 will need an updated wireframe.

[2022-06-23 18:37] AureliaKhorsand commented on #166
Waiting on questions from #346 to be answered from usability testing.

@toddlees note that the wireframe may change, although the requirements will not (report level memo may just be on a separate page).

[2022-06-23 19:41] mjtravers commented on #201
A couple of changes requested from CR. [See PR for details](https://github.com/fecgov/fecfile-web-api/pull/148). Moving ticket to In Progress

[2022-06-23 23:22] WiseQA commented on #309
QA reviewed this ticket and verified Election year, Non-Election Year, and Special Election were changed to just two choices Election Year and Non-Election Year.   Special Election selections, from wireframes have been added under Quarterly Reporting.   (Note:  Acceptance criteria updated to add special report --- 12-Day Pre-Special (12S) which was not in list)

Below screenshot of Quarterly Repor

[2022-06-24 15:31] toddlees commented on #201
### The Problem ###
QA needs records in the user table to test this feature.

### Possible Solutions ###
The most obvious way to achieve this is to make a migration that loads a fixture of users into the database.  This method worked for tables like f3x and transactions, but runs into an issue with the user table that would require a small amount of coding effort but a good amount of devops verifi

[2022-06-27 14:01] MitchellTCG commented on #201
@Elaine-Krauss-TCG  will demo this ticket

[2022-06-27 15:13] toddlees commented on #201
@MitchellTCG We went with the second option that I described in the writeup above.  Currently the test users have been loaded onto the development environment.  When this ticket goes to stage, we will need to manually load the test users.

[2022-06-27 19:39] mjtravers commented on #233
Requesting code changes documented in the [PR](https://github.com/fecgov/fecfile-web-app/pull/358). Sending back to In Progress

[2022-06-27 20:26] mjtravers commented on #56
SonarCloud provides a report in the PR during each commit. The report links can be clicked on to drill down into report statistics
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/7c3ed73f-20bb-4fbf-bc1e-8f81f03aad93)
Closing ticket.

[2022-06-27 20:26] #56 closed, assigned to nobody

[2022-06-27 20:55] mjtravers commented on #80
This ticket is OBE. CircleCI and Cloud.gov have been set up to deploy to production.
Closing ticket.

[2022-06-27 20:55] #80 closed, assigned to mjtravers

[2022-06-27 20:56] mjtravers commented on #127
Legacy feature that will be implemented if requirements are generated. Until then, closing ticket.

[2022-06-27 20:56] #127 closed, assigned to mjtravers

[2022-06-27 20:59] mjtravers commented on #169
Feature of legacy code that will be implemented when requirements are generated. Until then, closing ticket.

[2022-06-27 20:59] #169 closed, assigned to nobody

[2022-06-28 12:28] WiseQA commented on #201
QA review completed on this ticket.   Manage User's table included Name, Email, Role and Status.   User's name sortable A-Z (Ascending and Descending)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/4c32d43e-67a5-4010-bbb8-989cbb12ef06)

QA review completed.  Moved to Stage Ready.

[2022-06-28 18:04] AureliaKhorsand opened #359 "Allow user to see submitted reports on View Reports screen"
### Business Reason ###

As a user, I will be able to easily identify closed/submitted reports from View Reports screen,

### Acceptance Criteria ###

**If** a report has been submitted to FEC
**Then** it will have a report status of "Submitted" (View Reports screen)  -move to #355
**And** it will now list the Date Filed (View Reports screen) if it has been successfully received by FEC. - move to

[2022-06-28 18:20] AureliaKhorsand commented on #196
BA Note: Need to discuss Cash on hand - if totally new, wouldn't it be $0 $0 for every 6a and 6b?

[2022-06-28 20:12] AureliaKhorsand commented on #327
Consideration for FEC discussion: If the Parent Transaction name changes after the sub-transaction ticket has been saved, the Contribution Purpose Description note will still display the old name. This is an edge case, but we can prevent this issue a few ways. This is a discussion topic for the 7/5 requirements meeting and _not_ in scope of this ticket.

[2022-06-28 20:19] AureliaKhorsand opened #360 "[Placeholder] Allow user to import transactions, report data"
This is a placeholder ticket for the _import functionality_, intended to allow users to import previous report data into FECFile Online when switching to the software.

### QA Notes ###

null

### DEV Notes ###

null

### Design ###

null

 See full ticket and images here: [FECFILE-1145](https://fecgov.atlassian.net/browse/FECFILE-1145)

[2022-06-28 20:40] mjtravers commented on #233
Passes CR. There is still an issue with the required text warning not showing up for the date field but this will be addressed in a follow up ticket. Sending to QA

[2022-06-29 12:43] AureliaKhorsand commented on #233
@mjtravers do you have the follow-up ticket number that will address the date field required text?

[2022-06-29 13:24] mjtravers commented on #328
Found that we may need the env vars for stage and prod set up in addition to the dev cloud.gov space in CR. Sending ticket back to In Progress for the update.

[2022-06-29 16:08] AureliaKhorsand opened #361 "System to prevent user from having multiple reports of the same type within calendar year"
Business Reason

The system will prevent the user from creating multiple reports of the same type within a calendar year to reduce the chance of user error.

 Acceptance Criteria

**Given** I am a Committee Administrator that is creating a new Form 3X Report 
**When** I go to select a report type
**Then** the system will _only_ let me select report types that do not yet already exist for the curre

[2022-06-29 16:57] mjtravers opened #362 "Remove transactions "save and add another" button from edit screens"
The "add and add another" button on the transaction screens should only appear when creating a new transaction and not on an edit transaction screen

Acceptance Criteria

*   When creating a transaction, I will see the "save and add another" button
*   When editing a transaction, I will NOT see the "save and add another" button

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

[2022-06-29 17:04] mjtravers opened #363 "Transaction date input is missing required field message"
The DATE calendar input is not showing the red required text when the form is submitted.

See here for example on JF_TRAN screen:

![image.png]([https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/a86ff13e-2b33-4584-8d95-b51eb6f2fd0e](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/a86ff13e-2b33-4584-8d95-b51eb6f2fd0e))

1.  1.  Acceptance Criteria ##

             When sub

[2022-06-29 17:09] mjtravers commented on #233
@AureliaKhorsand Here is the ticket for the missing date field required text: https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/363

[2022-06-30 10:22] WiseQA commented on #340
QA reviewed this ticket as a visual inspection of the screenshots of the new services in the development environment as denoted in the QA Notes.

QA review completed.  Moved to Stage Ready.

[2022-06-30 12:30] WiseQA opened #365 "Defect - Incoming HTTP Error on DEV when selecting Reports"
This Defect is HTTP error on DEV when logging into [https://fecfile-web-app-dev.app.cloud.gov](https://fecfile-web-app-dev.app.cloud.gov)

  The following steps shows where the error appears.

  1\. Login to [https://fecfile-web-app-dev.app.cloud.gov](https://fecfile-web-app-dev.app.cloud.gov)

  2\. Select Contacts from the dashboard (error does not appear)

  3\. Select Reports from dashboard an

[2022-06-30 14:06] AureliaKhorsand commented on #320
Superseded by #349. Closing as OBE.

[2022-06-30 14:06] #320 closed, assigned to nobody

[2022-06-30 14:21] MitchellTCG commented on #346
@AureliaKhorsand updated

[2022-06-30 16:55] mjtravers commented on #327
Requested some changes in the fecfile-app and fecfile-validate repos for this ticket. Sending to In Progress

[2022-07-01 17:04] WiseQA commented on #362
QA verified when creating a transaction, the "save and add another" button is displayed and selectable:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/8c6012e0-f17a-4eff-836a-207aa7408ee8)

QA verified when editing a transaction the "save and add another" button is not accessible.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/248b1caa-d43d

[2022-07-01 18:02] AureliaKhorsand commented on #346
@MitchellTCG what is the decision on the "top level" for the accordions? Are they links to pages or just expanders? Also, didn't we discuss removing "Submission Status" unless it is a closed report? Fine if we keep it, we'll just need to add #292 as a blocked.

[2022-07-01 20:58] mjtravers commented on #344
Passed CR from Todd and Elaine. Sending ticket to QA

[2022-07-05 12:01] MitchellTCG commented on #291
@AureliaKhorsand  Submit will be two steps. I'm not sure how you want to split the pages. We can discuss. Please review the prototype video.

[2022-07-05 12:03] MitchellTCG commented on #354
@AureliaKhorsand  Submit will be two steps. I'm not sure how you want to split the pages. We can discuss. Please review the prototype video.

[2022-07-05 12:04] MitchellTCG commented on #334
@AureliaKhorsand  Submit will be two steps. I'm not sure how you want to split the pages. We can discuss. Please review the prototype video.

[2022-07-05 12:14] MitchellTCG commented on #292
I attached one successful submission and one pending/processing submission

[2022-07-05 12:31] MitchellTCG commented on #290
@AureliaKhorsand Updated

[2022-07-05 14:02] WiseQA commented on #233
Returned to in-progress "Date Field" not showing "Required Field".   This is broken in this ticket, as it worked in Sprint 9.  QA was not aware of any defect being written on this ticket.

[2022-07-05 14:04] WiseQA commented on #327
Returned to in-progress "Date Field" not showing "Required Field".   This is broken in this ticket, as it worked in Sprint 9.  QA was not aware of any defect being written on this ticket.

[2022-07-05 14:18] Elaine-Krauss-TCG commented on #327
The date field not showing that it is required is not isolated to this ticket, and correcting this error has its own ticket

https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/363

[2022-07-05 14:47] WiseQA commented on #363
This Defect affects both Group F (ticket #327) and Group E (ticket #233) and both have been returned to In-progress" for Sprint 10 tickets.    Awaiting DEV fix.

[2022-07-05 15:41] WiseQA commented on #344
Verified Summary page is displayed per wireframe.  NOTE:  There is NO real data for this ticket, test script written with steps verifying visual inspection.

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/ead06c74-21dc-4b2d-be2c-8514f6a2af45/download](https://app.zenhub.com/files/306118986/ead06c74-21dc-4b2d-be2c-8514f6a2af45/download)

QA review comp

[2022-07-05 17:30] AureliaKhorsand commented on #166
@MitchellTCG Now that this is it's own page, do we have a wireframe for this?

[2022-07-05 17:52] AureliaKhorsand commented on #291
BA Note: Need confirmation of language from FEC for both messages, but need to push ticket through. Can update text as needed later.

[2022-07-05 18:17] AureliaKhorsand opened #371 "System to update dynamic Contribution Purpose Description if linked transaction is edited and saved"
Business Reason

As a Committee Administrator, I will be able to update details in a transaction that are used in a linked transaction's Contribution Purpose Description so that I can see the system automatically update the Contribution Purpose Description in the linked transaction to reflect the change.

Acceptance Criteria

***Given*** a transaction with a dynamic Contribution Purpose Descriptio

[2022-07-06 13:53] WiseQA commented on #363
This Defect has been fixed within both Group F (ticket #327) and Group E (ticket #233).  No test script / test case for this ticket - this is being tested within #327 and #233.

QA review completed as is.   Moved to Stage Ready

[2022-07-06 16:19] WiseQA commented on #233
Note:  Wireframe and Acceptance showed:
-	**CONTRIBUTOR FEC ID** (A/N-10, Required)
Field description in API: DONOR COMMITTEE FEC ID
Data field: textbox
With the ID in the following format: "CXXXXXXXX" where X is a numeric value _(C, then 8 numbers)

After verifying requirements **CONTRIBUTOR FEC ID** (A/N-10, Required) should be A/N-9.

Changed Acceptance criteria in #233 and #327

[2022-07-06 16:20] WiseQA commented on #327
Note:  Wireframe and Acceptance showed:
-	**CONTRIBUTOR FEC ID** (A/N-10, Required)
Field description in API: DONOR COMMITTEE FEC ID
Data field: textbox
With the ID in the following format: "CXXXXXXXX" where X is a numeric value _(C, then 8 numbers)

After verifying requirements **CONTRIBUTOR FEC ID** (A/N-10, Required) should be A/N-9.

Changed Acceptance criteria in #233 and #327

[2022-07-06 17:08] AureliaKhorsand commented on #334
**Refinement Meeting 7/6:** BA action item - add requirements for verifying address to this ticket since it will need to be added into automated testing for this page.

[2022-07-06 18:35] AureliaKhorsand commented on #359
Requirements moved to #355 and #292. Closing this ticket as OBE.

[2022-07-06 18:35] #359 closed, assigned to AureliaKhorsand

[2022-07-07 13:58] WiseQA commented on #262
QA verified  unable to save any dates that overlap with existing report coverage dates within the Committee Account.  (Note:  No business logic developed in this ticket just date overlap)

Received message notifying  overlap "You have entered coverage dates that overlap the coverage dates of the following report: [Report Type Here] [Coverage dates here] (see below screenshot)

![image.png](https:/

[2022-07-07 14:58] WiseQA commented on #233
QA reviewed and verified Group E Transaction Screen using JF Transfers.

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/5bf853b7-cd1c-4f4f-ab1f-59667524ab3a/download](https://app.zenhub.com/files/306118986/5bf853b7-cd1c-4f4f-ab1f-59667524ab3a/download)

QA review completed.  Moved to Stage Ready.

[2022-07-07 21:08] WiseQA commented on #347
QA reviewed and verified View All Transactions table to the child is associated to a parent transaction (see below screenshot and test case/test script).

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/84141178-a5d2-43be-baa2-18daa492b9b4)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/1dca49b5-5d70-4ab3-a1a4-1858bf380576/

[2022-07-07 21:12] WiseQA commented on #327
QA reviewed and verified Group F Transaction Screen using JF Transfers.

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/84dea257-4cc7-4e9e-9ac5-3c8b14ef439f/download](https://app.zenhub.com/files/306118986/84dea257-4cc7-4e9e-9ac5-3c8b14ef439f/download)

QA review completed.  Moved to Stage Ready.

[2022-07-11 13:10] AureliaKhorsand opened #379 "Allow user to see Filing ID upon successful submission to FEC"
Business Reason

As a user, I will be able to view the filing ID received from FEC upon successful submission so that I can have it for reference later as needed.

Acceptance Criteria

***If*** I am viewing a report that has been successfully submitted to FEC

  ***When*** I go to the Submission Status page

  ***Then*** I will see the following information:

*   Congratulations, your report was s

[2022-07-11 13:24] MitchellTCG opened #380 "Create automated regression tests for QA scripts (Sprint 10)"
Create automated regression tests for QA scripts (Sprint 10)

Business Reason

As a developer or QA, I will be able to automatically run the Sprint-10 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

***If*** I want to run the Sprint test scripts to retest the tickets

  ***When*** I run the automated tests in the Cypres

[2022-07-11 14:49] AureliaKhorsand opened #381 "508 Compliance"
This epic encompasses any user story that relates to 508 Compliance in the User Experience (UX)

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1137](https://fecgov.atlassian.net/browse/FECFILE-1137)

[2022-07-11 16:26] AureliaKhorsand opened #382 "[Placeholder] PDFs for *.fec files over 2GB"
Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

***If*** [precedent]
 ***When*** [action]
 ***Then*** [result]

*   crosses the 2GB threshold: the system will indicate "A file of this size cannot be processed. For assistance with files of this size, please contact the EFO Help Desk."

### QA Notes ###
null

### DEV Notes ###
null

###

[2022-07-11 16:48] AureliaKhorsand commented on #290
[WebPrint page at EFO services](https://efoservices.fec.gov/static/webprint_help.html#webservice)

[2022-07-11 18:30] lbeaufort opened #383 "Testing short links in ZenHub"
api#1

  app#1

Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

Acceptance Criteria

***If*** [precedent]

  ***When*** [action]

  ***Then*** [result]

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1135](https://fecgov.atlassian.net/browse/FECFILE-1135)

[2022-07-12 01:13] MitchellTCG commented on #201
@Elaine-Krauss-TCG

Talked with Matt, he says the error is on line 36

Also please replace Shelly's test data with the test data under Ryan's 00474387 account.

Shelly's users al have the same last name so it was easy to miss the fact that user names were not sort on last name but first name instead.

[2022-07-12 13:20] Elaine-Krauss-TCG commented on #201
Users are now sorted by name according to "Last, First" instead of "First Last"
The fixture providing dummy-users for testing this functionality has been modified to provide unique last names for each created user.

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/bb5c755f-40c5-463c-9778-cfed02b959a6)

[2022-07-12 15:16] WiseQA opened #384 "Update "Additional Information" fields order on Joint Fundraising Transfer"
All transaction entry forms should have Contribution Purpose Description listed _before_ Note or Memo Text, and field name for the former should be "Contribution Purpose Description (System Generated)" for all transactions.

***Tasks***

*   [x] Change all display of fields to the following order for Joint Fundraising Transfer transaction:

       1\. CONTRIBUTION PURPOSE DESCRIPTION (SYSTEM-GENER

[2022-07-12 16:43] mjtravers commented on #341
There are a couple of code smells being reported by SonarCloud. The issues are commented on in the PR comments. Moving ticket back to In Progress to address the code change requests.

[2022-07-12 20:07] #262 closed, assigned to dheitzer

[2022-07-12 20:07] #340 closed, assigned to toddlees

[2022-07-12 20:07] #344 closed, assigned to mjtravers

[2022-07-12 20:07] #309 closed, assigned to Elaine-Krauss-TCG

[2022-07-12 20:07] #330 closed, assigned to toddlees

[2022-07-12 20:07] #362 closed, assigned to Elaine-Krauss-TCG

[2022-07-12 20:07] #363 closed, assigned to MitchellTCG

[2022-07-12 20:07] #233 closed, assigned to dheitzer

[2022-07-12 20:07] #327 closed, assigned to Elaine-Krauss-TCG

[2022-07-12 20:07] #347 closed, assigned to Elaine-Krauss-TCG

[2022-07-12 20:30] mjtravers commented on #341
Screen shot of celery log for QA review:
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/15aced0b-243f-40d5-944a-d62cdd9ef60b)

[2022-07-12 20:48] WiseQA commented on #341
QA Visual inspection completed per DEV screenshot above.   This will need back end testing.

QA review completed.  Moved to Stage Ready.

[2022-07-13 14:04] AureliaKhorsand opened #386 "Allow user to delete a report"
Business Reason

As a user, I will be able to delete an 'In Progress' report that hasn't been submitted and has no transactions in a future report or a non-standard report (such as a Form 24) that are linked to transactions in the current report so that I can remove the report from my Report Management list.

Acceptance Criteria

***Given*** the user is on the 'Manage reports' page,

 ***If*** the

[2022-07-13 16:05] WiseQA opened #389 "Defect - Contribution Amount field should be able to contain cent value and not just whole dollar value"
Defect written as the Contribution Amount field should be able to contain cent value (e.g., $200.50) and not just whole dollar value (e.g., $200.00).

![image.png]([https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/c79ada88-bca0-43b2-b079-c8a36cb4bf15](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/c79ada88-bca0-43b2-b079-c8a36cb4bf15))

Acceptance Criteria

As a Committ

[2022-07-13 17:22] mjtravers commented on #365
Passes CR, sending to QA

[2022-07-13 17:22] MitchellTCG commented on #389
Pointed and moved into the sprint

[2022-07-13 17:23] mjtravers commented on #201
Passes CR. The DEV server is showing the new records for Shelly's account. Sending to QA.

[2022-07-13 17:31] MitchellTCG commented on #328
@mjtravers @toddlees @Elaine-Krauss-TCG @dheitzer

Please make sure there is some form of Acceptance Criteria AND Steps for QA to follow so QA can test this feature. Please make sure it is there before it leaves Code Review.

[2022-07-13 18:15] MitchellTCG commented on #328
This is Paul's Slack messgae on what terminated accounts to use:
Paul Clark
  9:52 AM
From Jonella in Google Chat:
Jonella Culmer
9:50 AM
Used the PAC datatable. Filtered by 2021-2022 and terminated. https://www.fec.gov/data/committees/pac-party/?cycle=2022&filing_frequency=T

[2022-07-13 19:46] WiseQA commented on #201
QA review completed on this ticket. Manage User's table included Name, Email, Role and Status. User's name sortable A-Z (Ascending and Descending).  Name column sortable by Last Name, First Name.

Decending:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0814fe18-cbf7-43ee-a2a5-25e48382b5e5)

Ascending:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4e

[2022-07-13 20:01] WiseQA commented on #365
The following steps were retested and verified NO error message appears.

1.  Login to https://fecfile-web-app-dev.app.cloud.gov
2.  Select **login with login.gov button**
3.  Select Contacts from the dashboard.
4.  Select Reports from dashboard.
5.  Then select the green "Edit" button to add transaction.
No errors were populated.

QA review completed.  Moved to Stage Ready.

[2022-07-13 20:41] WiseQA commented on #365
Passed with no Committee ID info under reports, contacts, etc.   Moved back to QA to reverify once Committee ID info is working with login.gov.

[2022-07-14 12:20] WiseQA commented on #328
QA performed dry run 07/13/2022 awaiting 2 fixes:
1.  QA Committee ID loaded into login.gov
2.  Logout has a 15 minute timing issue - awaiting logout fix.
Will perform another dry run once these are completed.

[2022-07-14 16:28] mjtravers commented on #345
Passed CR by David. Sending to QA

[2022-07-14 16:58] WiseQA commented on #365
QA review once COMMITTEE ID info loaded the following errors appear there are three (3) errors.  @mjtravers returned to In-progress as discussed.   The following steps were taken to verify "Error" messages:

The following steps shows where the error appears.

1.  Login to https://fecfile-web-app-dev.app.cloud.gov
2.  Select login.gov button
3.  Select Contacts from the dashboard (error does not ap

[2022-07-14 17:03] WiseQA commented on #328
QA verified COMMITTEE ID C00277608 loaded into login.gov.   Logged in and the  COMMITTEE ID C00277608 took a few minutes clicking around but then populated.  However, errors were found (see Defect #365).

Logout error is still being worked.

[2022-07-14 17:15] WiseQA commented on #365
@mjtravers same errors are now populating logging in the regular way into DEV and not through login.gov

[2022-07-14 17:41] lbeaufort commented on #383
Testing purposes only - closing

[2022-07-14 17:41] #383 closed, assigned to nobody

[2022-07-14 18:59] Elaine-Krauss-TCG commented on #352
After consulting Shelly and Mitchell, ticket #130 is no longer going to be covered by E2E tests due to the limitations of Cypress in handling links to outside websites.

[2022-07-14 19:06] mjtravers commented on #365
This was tracked down to a caching issue to the specific browser. The CORS wildcard * is stuck in the browser cache and manifests the error in existing reports and transactions but not in new ones. The work around is to remove the old reports and transactions from the database for this committee account.

[2022-07-14 22:10] dheitzer commented on #328
@WiseQA I removed your reports/transactions in DEV as requested.

[2022-07-15 12:20] WiseQA commented on #365
The following steps were retested and verified NO error message appears.  As denoted above the previous errors were due to caching issues.

1.  Login to https://fecfile-web-app-dev.app.cloud.gov
2.  Select login with login.gov button
3.  Select Contacts from the dashboard.
4.  Select Reports from dashboard.
5  Then select the green "Edit" button
6.  Then select "Summary" button
7.  Then select "De

[2022-07-15 12:32] WiseQA commented on #389
QA reviewed and verified when entering a Transaction the Contribution Amount should be able to enter cent value (e.g., $250.75) and save the transaction.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/c71b8c02-0b89-4657-8809-08dd64b1d8a7)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/aae6d74d-aa12-49e9-92bf-684cdd51765f)

(NOTE:  e2e testi

[2022-07-15 13:28] WiseQA commented on #328
@dheitzer @mjtravers Reports / transactions all working using login.gov.

[2022-07-15 13:49] WiseQA commented on #345
QA Review completed as "Visual" inspection as denoted in Acceptance Criteria.  No real data being pulled for the Detailed Summary Page.
1.  Select "Summary" button for a report
2.  Select "Review detailed summary page" button
3.  Verify Detailed Summary Page is displayed
4.  Select "Back" button return to Summary Page

Detailed Summary Page (not all is visible in the below screenshot)

![image.png

[2022-07-15 13:54] dheitzer commented on #365
Also note that when this error occurs, you will see the following error in your browser console complaining about "Access-Control-Allow-Origin header being set to '*' :
![image](https://user-images.githubusercontent.com/104843885/179237269-1256eab2-c363-421c-8dd9-7dc47a0a99ae.png)

[2022-07-19 19:18] mjtravers commented on #352
Passes code review. One test had a timeout that was noted and will be addressed when sprint-10 e2e tests written.
Test timeout: QA Test Script #119 (Sprint 7)
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/3e4a8645-faf2-4416-8d7e-b68e55550f11)

Passes CR. Sending to QA

[2022-07-19 19:21] mjtravers commented on #346
Passes CR, sending to QA. See additional QA notes added to ticket description.

[2022-07-19 22:24] WiseQA commented on #352
QA review completed and visual demo completed.  Concur with DEV comment above error will be taken care of in Sprint 10 e2e which hasn't been started.

QA review completed.  Moved to Stage Ready

[2022-07-19 22:31] WiseQA commented on #346
QA review as a visual navigation side bar has been created according to wireframes above.  No links are functional at this point in time.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/39533c18-696d-40f4-8e37-bf490ce84b66)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/774a5f2c-bc20-43d5-b966-6aafd9772845)

![image.png](https://images.zenhu

[2022-07-20 12:51] AureliaKhorsand opened #396 "Allow user to see current report submission status from FEC - pending and success"
Business Reason

As a user, I will be able to view the status of a report submission to FEC so that I can determine if further action is needed on my part.

Acceptance Criteria

**If** I am viewing a report that has been submitted to FEC and is _not_ in the status of _In progress_

**When** I go to the Report Status page

**Then** I will see the current submission status

**And** if the status is

[2022-07-20 14:48] #352 closed, assigned to Elaine-Krauss-TCG

[2022-07-20 14:50] AureliaKhorsand opened #397 "Schedule Workflow"
This Epic includes tickets to do with Schedules workflows that can be applied across different reports and schedule types (i.e., not Schedule-specific).

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1130](https://fecgov.atlassian.net/browse/FECFILE-1130)

[2022-07-20 14:50] MitchellTCG commented on #380
Pls add this to the end-2![Screen Shot 2022-07-20 at 10.50.06 AM.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/a0161c32-82cd-4d6e-ab84-9a14a31f9d31)-end for sprint 10

[2022-07-20 14:53] AureliaKhorsand opened #398 "Report Workflow"
This Epic includes all tickets involving workflow processes for a report, regardless of report type.

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1129](https://fecgov.atlassian.net/browse/FECFILE-1129)

[2022-07-20 15:28] WiseQA commented on #380
Changed from Sprint 8 to Sprint 10 in description.

[2022-07-20 18:02] AureliaKhorsand commented on #379
Note: @lbeaufort looking into documentation to see if a test filing ID is something that comes back from the test server when a .fec file is successfully submitted.

Update: It is. Confirmed with Mahi on 7/21/22.

[2022-07-20 18:21] AureliaKhorsand commented on #343
Integrated into #290. Closing as OBE.

[2022-07-20 18:21] #343 closed, assigned to toddlees

[2022-07-20 20:12] mjtravers commented on #334
Some requests were made in code review. Sending ticket back to In Progress.

[2022-07-21 13:25] mjtravers commented on #334
Looks good for CR. Just need the unit test coverage increased over 80%. Sending back to In Progress for unit tests and one ANDI issue

[2022-07-22 14:31] AureliaKhorsand opened #402 "Update report action buttons on Manage Reports page"
Note: This ticket is for the ACTION DROPDOWN and opening the report only. The action for download will be a separate ticket.

 Business Reason

As a FECfile user, I will be able to download any or my reports as a .fec file so that I can reconcile and troubleshoot any issues or audit questions, as applicable.

 Acceptance Criteria

**Given** I am on the Manage Reports screen for my committee accoun

[2022-07-22 14:39] AureliaKhorsand opened #403 "System to save Transaction Memo Text as separate TEXT record"
Business Reason

As a user, I will be able to enter additional information for a transaction in the Memo Text field of a transaction and it will save as a Text record associated with the transaction so that I can have more space for my documentation.

Acceptance Criteria

***Given*** the user is creating or editing a transaction

  ***Then*** they will have the option to enter Memo Text (A/N, 4000

[2022-07-22 14:39] AureliaKhorsand commented on #403
Per Ryan via Slack on 7/19/22:  In OP2 my preference would be that we ignore Field 44 in the .fec and instead output any text in the Memo Text Description box to the Text field in the .fec with a backreference to the specific transaction.  This will allow the filer to provide additional information, which may be needed for some transactions, specifically multi-state IEs.  Please let me know if any

[2022-07-22 14:48] AureliaKhorsand opened #404 "System to only show relevant Form 3X transactions for "PAC" Committee Type"
Business Reason

As a Committee Administrator, I will be able to only see, create, and update transactions that correspond to my committee type so that I can only create and update the transactions that apply to my committee type.

Acceptance Criteria

***If*** I am a Committee Administrator for a PAC committee type (Committee Type is included [HERE]([https://docs.google.com/spreadsheets/d/10fwbBX

[2022-07-22 14:49] AureliaKhorsand commented on #404
[Transactions per Committee Type](https://docs.google.com/spreadsheets/d/1dmFWuigbA9drBum6TxrAR4SDSTN_smNZ/edit#gid=772595287)
- See comments in spreadsheet
- Don't worry about highlighted colors.
- Need to look for Committee Type to determine what to show. See this spreadsheet

1) See Column F. "Non-Party" is PAC, "Party" is Party, "Other" is PAC.
2) For Host/Convention Committee, no way to tell

[2022-07-22 15:03] AureliaKhorsand commented on #196
Per Ryan on Slack 7/8/22: I think it is something they could do when they create their first report.  With that said, I don't know if I support pushing it on them.  FECfile desktop doesn't make it a first or second step, and I am reluctant that we make it too prominent.  In regards to your second question, the committee should have the ability to edit it after it was first entered.  Theoretically,

[2022-07-22 19:55] mjtravers commented on #292
Passes CR. Sending to QA

[2022-07-22 20:00] mjtravers commented on #291
Passes CR, sending to QA

[2022-07-22 20:01] mjtravers commented on #334
Passes CR, sending to QA

[2022-07-22 20:04] mjtravers commented on #350
@WiseQA The left sidebar navigation is disappearing when a user edits a report transaction. The fix for this is a bit involved with the renaming of page URLs and their interaction with the data to pull the report and transaction IDs. I suggest we open a new ticket to address adding the edit transaction screens so that the "ENTER A TRANSACTION" -> "Add a receipt" menu stays highlighted for those sc

[2022-07-22 20:05] mjtravers commented on #350
Passed CR with known issues regarding the edit transaction screens and the memo screen. (See comment above.) Sending to QA

[2022-07-25 11:54] MitchellTCG commented on #291
Please make sure this validation works for the E-filing password

![Screen Shot 2022-07-25 at 7.53.38 AM.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/6817c94c-d010-4e73-a9a2-88458f65570a)

[2022-07-25 12:25] WiseQA commented on #292
QA review - Submission Status Page missing "Confirmation Emails" as denoted in the wireframe above.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/ff52c25a-3073-411b-b722-ff4e432fb926)

Returned to "In-Progress".

Retested the Submission Status Page, after clearing cache - the emails populated correctly on the Status Page.

![image.png](https://images.zenhubusercontent

[2022-07-25 12:28] WiseQA commented on #291
QA review validation of E-filing password not working.  See above validation for E-filing password.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0ca3afbb-efee-4c1d-8f65-90788abc2ed6)

Returned to "In Progress" for PW validation.

[2022-07-25 15:17] WiseQA commented on #292
QA review completed and verified Submission Status Page is displayed as denoted in Wireframes.  (Note:  Complete Ticket 334 first before verifying this ticket)

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/0c21c5cf-0269-40c3-9eeb-d2bc45fcd07a/download](https://app.zenhub.com/files/306118986/0c21c5cf-0269-40c3-9eeb-d2bc45fcd07a/download)

QA review c

[2022-07-25 15:47] WiseQA commented on #334
QA review completed and verified Confirming of emails and address as denoted in Wireframes.

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/bd33bb7e-914d-4d0d-83d0-2f848e663a00/download](https://app.zenhub.com/files/306118986/bd33bb7e-914d-4d0d-83d0-2f848e663a00/download)

QA review completed.  Moved to Stage Ready.

[2022-07-25 19:35] mjtravers commented on #291
Added password validation. Ready for CR

[2022-07-25 20:49] mjtravers commented on #291
Passed CR. Sent to QA

[2022-07-25 20:51] mjtravers commented on #342
Passes CR. Sending to QA

[2022-07-26 13:14] WiseQA commented on #291
QA review completed and verified Submission of Form 3x (front-end-only).

Test Case/Test Script attached showing ticket “PASS”.
[https://app.zenhub.com/files/306118986/f174a623-fd55-4876-abea-59b2e29f943d/download](https://app.zenhub.com/files/306118986/f174a623-fd55-4876-abea-59b2e29f943d/download)

QA review completed.  Moved to Stage Ready.

[2022-07-26 14:31] WiseQA opened #411 "Users Log Out on Login.gov in DEV Branch"
This ticket is for the Log Out capability from Login.gov on the DEV server branch.   Currently there is a timing issue (15 minutes) for logout from login.gov.

(Note ticket #328:  The login.gov code developed and tested on the feature/109-django-login-dot-gov branch is being deployed to the secondary test environment. This ticket is for the task of merging that code into the develop branch and dep

[2022-07-26 14:35] WiseQA commented on #328
This ticket per discussion with @mjtravers @MitchellTCG will not test the logout functionality as denoted in the acceptance criteria.  Ticket #411 has been created and tracking the logout issue with login.gov.

https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/411

Removed steps in Acceptance Criteria for logout functionality:

- [ ] Users log

[2022-07-26 16:53] mjtravers commented on #328
Ticket passes CR and is ready for QA. The two open PRs for this ticket ([app PR 394](https://github.com/fecgov/fecfile-web-app/pull/394) and [api PR 176](https://github.com/fecgov/fecfile-web-api/pull/176)) are new code for the logout issue and will be reassigned to the follow up ticket: [app#411](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-a

[2022-07-26 17:18] mjtravers commented on #342
Updates to test button pass CR. Sending to QA.

[2022-07-26 18:19] AureliaKhorsand commented on #159
From 7/26/22 requirements meeting, Users enter a contact in Contact Management as an ENTITY. Then, while entering a transaction into a report, users can use the Contact Management Lookup to pull in the existing ENTITY's contact information into the transaction. However, the user then makes change to the contact information that was pulled onto the transaction form. This change will apply to that t

[2022-07-26 18:25] AureliaKhorsand opened #413 "Allow user to save new Committee contact from Transaction entry to Contact Management-Part 2"
Business Reason

As a user, if I do not see the Committee contact available in the Lookup (Contact Management) when entering a Transaction, I will be able to enter a new contact in a transaction screen within the Form 3X report, with the option to use the FEC Lookup, and that new contact will save to my committee account's Contact Management so that I can easily pull that contact again in the futu

[2022-07-26 18:36] AureliaKhorsand commented on #349
@MitchellTCG can you add the wireframes to this ticket, and I will update the AC to reflect them?

[2022-07-27 03:19] MitchellTCG commented on #353
@mjtravers Can you Please select defunct committee ids for Paul, Ken and Marlene

[2022-07-27 11:39] MitchellTCG commented on #196
@AureliaKhorsand
Let me know if this works for you

[2022-07-27 12:22] WiseQA commented on #328
QA review completed testing of Login using the following steps:

1.  Navigate e to https://fecfile-web-app-dev.app.cloud.gov/
2.  Click the Login with login.gov button
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/14222e18-32e2-4aba-95ef-1a03e66e2895)
3.  Enter your credentials and complete the 2-factor auth requested.
4.  Redirected to the FECFile app dashboard page.

[2022-07-27 12:22] AureliaKhorsand commented on #196
@MitchellTCG several things:
1. User should be able to indicate that they are a new committee, thus it will be $0.00
2. User needs to be able to enter a date
3. User will need to be able to go back and edit this at any time before the first report is submitted
4. Looks like the informational text isn't quite finished

The ACs should have all of this for reference

[2022-07-27 13:30] mjtravers opened #415 "Fix display of report left nav for edit transaction screens"
The urls assigned to the edit transaction screens need to be changed so that the report left nav displays and shows the "ENTER A TRANSACTION" -> "Manage your transactions" menu item

1.  1.  Acceptance Criteria ##

             WHEN a user clicks on "Manage your transactions" in the left report nav when editing a report, and then edits a transaction, THEN the left report nav will still be displaye

[2022-07-27 14:01] mjtravers commented on #415
This ticket was split off from the left nav work done in #350: https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/350

[2022-07-27 14:45] WiseQA commented on #342
QA review completed FEC Generation and download of report as visual inspection.

1.  Select "3 DOT" icon by report
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b8af6742-cffa-4565-9381-cdb356df902b)

2.  Verify .FEC generation for xx report displays.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/682509a6-f5ab-493e-a8e7-a5822b2bc494)

3.  Se

[2022-07-27 15:27] WiseQA commented on #342
Output needs corrected remove INDV_REC, TRIB_REC, etc. for all transactions.   This string should not be in the download FEC file.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/671c23ac-faee-4336-ae0d-237202dcd101)

Returned to QA review for hot fix @mjtravers @toddlees

Output corrected removed INDV_REC, TRIB_REC, etc. for all transactions.   This string should not b

[2022-07-27 17:33] WiseQA commented on #350
Per discussion with @mjtravers updated Acceptance Criteria with verbage "(NOT BUILT YET-LEAVE UNLINKED)" for consistency and ease of review what has and has not been built out.

QA Review completed, visual inspection completed.

QA completed moved to Stage Ready.

[2022-07-27 18:13] AureliaKhorsand commented on #287
7/27 Discussion with Dev team + Laura: Transactions should only ever appear on one line in the detailed summary page, so we can implement this by Form Type, and do not need to list out all of the transaction types that go into each line.

[2022-07-28 13:36] Elaine-Krauss-TCG commented on #380
Implemented a fix for the possible timeout error in Sprint 7, Test 119.

[2022-07-29 17:24] mjtravers commented on #166
Passes CR. Sending to QA

[2022-07-29 18:56] mjtravers opened #419 "Remove population of filer_committee_id_number from front end"
The filer_committee_id_number that is part of any transaction so far is being populated in the front end which can be problematic. Factor out the filer_committee_id_number and remove it from the transactions_transaction table in the back end. Also do this for the back_reference_tran_id_number and back_reference_sched_name as we use foreign keys to manage this in the database.

***DEV Tasks***

*

[2022-08-01 17:30] AureliaKhorsand opened #421 "System to allow negative values for currency fields in Transactions"
Business Reason

The system must allow negative values for currency fields in Transactions so that users can accurately report disbursements, refunds, etc.

Acceptance Criteria

***Given*** a user is entering a transaction

  1\. Individual Receipt (Group A)

  2\. Tribal Receipt (Group D)

  3\. Joint Fundraising Transfer (Group E)

  4\. Joint Fundraising PAC Memo (Group F)

  5\. Offsets to Ope

[2022-08-02 12:37] MitchellTCG opened #422 "Create automated regression tests for QA scripts (Sprint 11)"
Business Reason

As a developer or QA, I will be able to automatically run the Sprint-11 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

***If*** I want to run the Sprint test scripts to retest the tickets

  ***When*** I run the automated tests in the Cypress framework

  ***Then*** I will get a report on which scripts

[2022-08-02 15:21] AureliaKhorsand opened #423 "System to automatically calculate Cash-on-hand for January 1 (6a)"
**_Business Reason:_**

As a committee Administrator, I will be able to see the value for 6a (Cash on Hand at beginning of Calendar Year) on Form 3X that will be defined by the system when I create a new report, so that the system will automatically calculate the summary values.

**_Acceptance Criteria:_**

**_Given_** a Form 3X report

**_Then_** the system will auto-calculate the value of 6a to

[2022-08-02 16:23] AureliaKhorsand opened #424 "Allow user to override Form 3X cash-on-hand for the current year (6a)"
Business Reason:

As a committee Administrator, I will be able to enter an override to the COH value for the current year that will affect all Form 3X reports for that year so that my report will have the report values that I expect to see. **_This will also allow first time filers mid-year to report the appropriate COH._**

Acceptance Criteria:

**_Given_** the user is a Form 3X filer

**_When_**

[2022-08-03 13:49] AureliaKhorsand commented on #290
After chatting with @Elaine-Krauss-TCG, determined that the "Download PDF" button is superfluous since it will also open the PDF in a new tab unless we code some extra fluff. AC changed to just one button to "Open PDF", along with the button to compile a new one.

[2022-08-03 17:41] AureliaKhorsand opened #426 "DSP: System to calculate Offsets to Operating Expenditures (line 15 and 37) (Column B)"
Business Reason

On the Detailed Summary Page, Line 15 and Line 37 should each be a total of transactions with form type SA15 _except_ for if the transaction has "Memo Code" checked. This ticket is for Column B only.

 Acceptance Criteria

1. Detailed Summary Page Line 15 (column B) of Form 3X must:
--  consist of the total of transactions with form type "SA15"  **from January 1 of current year to

[2022-08-04 13:07] MitchellTCG opened #428 "508 Compliance: Update Page Title on ALL Page"
Business Reason

As The FEC Product Owner, I like 508 Compliance ticket resolved to improve the accessibility and usability of the application.

Dev Notes

This built in angular service should let us update the title cleanly [https://stackoverflow.com/a/47900525/18957717](https://stackoverflow.com/a/47900525/18957717)

Tasks

Change the page title from ***FECFile Online*** to the whatever is writt

[2022-08-04 13:36] #291 closed, assigned to Elaine-Krauss-TCG

[2022-08-04 13:36] #328 closed, assigned to mjtravers

[2022-08-04 13:36] #334 closed, assigned to Elaine-Krauss-TCG

[2022-08-04 13:36] #365 closed, assigned to mjtravers

[2022-08-04 13:36] #389 closed, assigned to Elaine-Krauss-TCG

[2022-08-04 13:36] #292 closed, assigned to Elaine-Krauss-TCG

[2022-08-04 13:36] #346 closed, assigned to mjtravers

[2022-08-04 13:36] #350 closed, assigned to mjtravers

[2022-08-04 13:36] #201 closed, assigned to Elaine-Krauss-TCG

[2022-08-04 13:36] #341 closed, assigned to toddlees

[2022-08-04 13:36] #345 closed, assigned to mjtravers

[2022-08-04 13:36] #342 closed, assigned to toddlees

[2022-08-04 15:29] mjtravers commented on #380
Passes CR. Moving to QA

[2022-08-04 15:31] mjtravers commented on #380
@Elaine-Krauss-TCG  FYI and not a blocker for going to QA but Sprint-7, Test 119 still timed out on Steps 13 & 14 when looking for element p-dropdownitem

[2022-08-04 16:16] AureliaKhorsand opened #429 "Update Transaction names and remove abbreviations"
The following names must be updated in Form 3X, Schedule A to remove any abbreviations.

Transaction Selection Screen (Accordion dropdown):

  1\. "JF Transfers" should be "Joint Fundraising Transfer"

  2\. "In-Kind Transfer-FEA" should be "In-Kind Transfer - Federal Election Activity"

  3\. "JF Transfer - National Party Recount Account" should be "Joint Fundraising Transfer - National Party Rec

[2022-08-05 13:25] WiseQA commented on #380
Demo of Sprint 10 automated tests against QA test scripts. Visual everything looked good.

QA review completed. Moved to Stage Ready.

[2022-08-05 14:33] WiseQA opened #431 "Defect - "Submit report" page is labeled "Confirm Information" when selecting from the left side Navigation dropdown. Also - Change confirm information page label from "Confirm Information" to "Confirm information""
This Defect is to change the name being displayed on the "Submit Report" page from "Confirm information" to "Submit report". And changing "Confirm Information" label.

1\. When editing a report select "Submit Report" from the left side navigation.

  2\. Name displayed on this page is "Confirm information" (check font size also).

  3\. Change page name from "Confirm information" to "Submit report

[2022-08-05 15:14] WiseQA commented on #166
QA review complete.   Report Memo Text for Form3X Report passes when entering text and editing memo.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/82f9ac6e-3736-4428-a816-ec50971261c9)

Back button not working once "Add a report level memo" is selected and memo text entered and saved.  Returned to in-progress @MitchellTCG @mjtravers

![image.png](https://images.zenhub

[2022-08-05 19:13] mjtravers commented on #166
The back button is wired to go the the "View print preview" page which is currently not live so the button doesn't go anywhere. After the "View print preview" page is available the back button will be wired to go to it. This ticket will stay in "In Progress" until ticket #290 is completed

[2022-08-08 13:58] WiseQA commented on #431
QA Review verified changes in defect were corrected.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/816a9eb9-ff62-4076-8ddc-0f5f2cdde841)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b18ea25c-00c9-42df-a708-857872370963)

QA review completed.   Moved to Stage Ready.

[2022-08-08 16:47] AureliaKhorsand opened #435 "System to order reports in Manage reports to include form type order of 1M, 3X, 24, 99"
Business Reason

As a Committee Administrator, I will be able to view a list of reports associated with my committee account so that I can manage reports as needed.

Acceptance Criteria

_**Given**_ I am a Committee Administrator _**When**_ I go to the _**Manage reports**_ page _**Then**_ I will see a list of reports associated with my committee account in the following order by form type: – 1M –

[2022-08-08 16:53] AureliaKhorsand opened #436 "Allow user to edit Contribution Purpose Description IF it is not system-generated"
Business Reason

As a user, I will be able to manually enter information to the Contribution Purpose Description _unless_ it has pre-populated text so that I can provide additional information needed for the transaction and have it appear in the expected place for public record.

Acceptance Criteria

***Given*** there is no pre-populated text for the Contribution Purpose Description

  ***When***

[2022-08-09 13:10] mjtravers commented on #196
Passed CR by Elaine and Todd. Sending to QA

[2022-08-09 13:59] WiseQA opened #438 "Defect - extra ")" in the Report Type list for May 20 Monthly Report for Election or Non-election year"
This defect is to correct in the Report Type list the naming of May 20 monthly report for both Election and Non-Election years. Remove extra ")" as denoted below:

Election Year:

  Change naming from: MAY 20 MONTHLY REPORT (M5)) to MAY 20 MONTHLY REPORT (M5)

![image.png]([https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a1986d18-e45d-40d2-9323-4e779c763c61](https://images.zenhubuser

[2022-08-10 13:53] mjtravers commented on #196
There are questions about how the COH workflow will happen when the user opens 2 new reports without entering a value for COH. Moving ticket back to In Progress until this is sorted out

[2022-08-10 15:07] AureliaKhorsand commented on #196
@MitchellTCG temporary workaround we came up with is that users cannot create additional reports until the COH is entered for the first report. This is a temporary solution - we need to come up with a more user friendly COH process overall in OP2.

[2022-08-10 15:19] MitchellTCG commented on #196
ok

On Wed, Aug 10, 2022 at 11:07 AM AureliaKhorsand ***@***.***>
wrote:

--
*H. Mitchell Jarrett, A-CSM, CSM, CSPO*
Agile Project Manager
*TCG, Inc. - Positively Distinct* - CMMI-DEV Level 3 - CMMI-SVC Level 2 -
ISO 9001:2008
Tel: 202.395.2462 | Mobile: 202.270.1935 | ***@***.*** |
www.tcg.com
<https://www.facebook.com/TCG-32241785903>
<https://twitter.com/TCGnews> [image:
Linkedin] <https://www.

[2022-08-10 15:26] WiseQA commented on #196
@mjtravers per our conversation this morning on Cash On Hand and testing and this ticket returned to in-progress for clarification.  The above mentioned workaround is what will be tested, please update QA notes as we talked.  Thanks

[2022-08-10 15:40] AureliaKhorsand opened #439 "Update Memo Item help text in Transactions"
***Task:*** Update "lorem ipsum" text on transaction entry screens to read: “The dollar amount in a memo item is not incorporated into the total figure for the schedule.”

***Transactions:***

1\. Individual Receipt (Group A)

  2\. Tribal Receipt (Group D)

  3\. Joint Fundraising Transfer (Group E)

  4\. Joint Fundraising PAC Memo (Group F)

  5\. Offsets to Operating Expenditures (Group B)

[2022-08-10 15:46] WiseQA commented on #354
QA reviewed and verified as denoted in the QA notes the link for password info screen opens in a new tab.  See below screenshot.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/4a5322bc-c0d6-47cf-931b-dc4948bad2ee)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/ca1f88ff-8fbf-45cb-9b1b-8b4f157ca5fe)

QA review completed.   Moved to Stage Read

[2022-08-10 15:46] AureliaKhorsand opened #440 "*.FEC File Specifications"
Epic for general *.fec file technical specifications.

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1109](https://fecgov.atlassian.net/browse/FECFILE-1109)

[2022-08-10 16:42] MitchellTCG opened #441 "Fix Disabled Element Alert On Manage Reports Page"
1.  ## LOW PRIORITY ## — Research how to disable next page link to and meet 508 compliance

[| ]

[| ]

[| ]

### QA Notes ###

null

### DEV Notes ###

null

### Design ###

null

 See full ticket and images here: [FECFILE-1108](https://fecgov.atlassian.net/browse/FECFILE-1108)

[2022-08-10 16:49] MitchellTCG opened #442 "508 Compliance: Fix empty table cell on Manage Report Page"
Task

*   [ ] Add "Actions" title to the Far left column table header (This column is not sortable)

![Screen Shot 2022-08-10 at 12.48.02 PM.png]([https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/68c67a9a-2ea8-46ee-84e7-fe0d44d3abd6](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/68c67a9a-2ea8-46ee-84e7-fe0d44d3abd6))

  ![Screen Shot 2022-08-10 at 12.48.09 PM.png]([htt

[2022-08-10 16:55] MitchellTCG opened #443 "508 Compliance: Improper use of [Aria-labelledby] purpose"
Tasks

There are 2 errors:

*   [x] 1\. Improper use of [aria-labelledby] possible: Referenced ids "Election,Year" not found.

*   [x] 2\. Improper use of [aria-labelledby] possible: Referenced ids "Non-Election,Year" not found.

![Screen Shot 2022-08-10 at 12.55.02 PM.png]([https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/6cea8f9f-5d4d-4eb2-a36a-658aa0ba5e3a](https://images.zenhubuse

[2022-08-11 14:35] AureliaKhorsand opened #445 "System to check "Memo Item" as read-only on PAC Joint Fundraising Transfer Memo"
PAC Joint Fundraising Transfer Memo will always have Memo Item checked, and it cannot be unchecked by the user, so that the transaction is never aggregated onto the Detailed Summary page.

Acceptance Criteria

***Given*** the user is entering or editing a PAC Joint Fundraising Transfer Memo

  ***Then*** the "Memo Item" checkbox will be checked and read-only.

![image.png]([https://images.zenhubus

[2022-08-11 15:29] WiseQA commented on #438
QA review and testing verified both Election Year and Non-Election year for May month report naming was changed as denoted below:
Change naming from:  MAY 20 MONTHLY REPORT (M5)) to MAY 20 MONTHLY REPORT (M5)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/d2718e38-3fcd-44e7-9887-738f95cafe3b)

QA Review Completed.  Moved to Stage Ready.

[2022-08-11 16:33] mjtravers commented on #415
Passed CR by Elaine. Sending to QA

[2022-08-11 16:50] WiseQA commented on #415
QA review verified the report left navigation for edit transaction screens display was fixed.

1.  Click on "Manage your transactions" in the left navigation when editing a report.

2.  After editing and saving a report verify  "Manage your transactions" from the left navigation is still displayed and selected

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/9711b502-ce9

[2022-08-11 18:24] GreggMoreland opened #447 "Allow user to enter Party Joint Fundraising Transfer Memo on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a sub-transaction under **"Joint Fundraising Transfers"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am edit

[2022-08-11 19:45] GreggMoreland opened #448 "Allow user to enter Tribal Joint Fundraising Transfer Memo on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a sub-transaction under "Joint Fundraising Transfers"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Given** I am a Committee Administrator
**And** I am editin

[2022-08-11 19:53] GreggMoreland opened #449 "Allow user to enter Partnership Receipt Joint Fundraising Transfer Memo on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **"Partnership Receipt Joint Fundraising Transfer Memo"** sub-transaction under **"Joint Fundraising Transfers"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a Tier 2 transaction that will be associated with a Tier 1 transaction.

 Acceptance Criteria

*

[2022-08-11 20:49] GreggMoreland opened #451 "Allow user to enter Individual Joint Fundraising Transfer Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a ***’Individual Joint Fundraising Transfer Memo ‘*** sub-transaction under "Joint Fundraising Transfers" on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This is a "child" transaction that will be associated with a parent transaction.

Acceptance Criteria

***Given*** I a

[2022-08-11 20:53] GreggMoreland opened #452 "Allow user to enter Partnership Individual Joint Fundraising Transfer Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **'Partnership Individual Joint Fundraising Transfer Memo‘** sub-transaction under "Partnership Receipt Joint Fundraising Transfer Memo" on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a Tier 3 transaction that will be associated with a Tier 2 transaction.

[2022-08-12 13:13] GreggMoreland opened #453 "Allow user to enter Refund of Contribution to Other Political Committee on Schedule A (Group I)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Refund of Contribution to Other Political Committee”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a receipt
**Then** Click(open) on the "Refunds" Acc

[2022-08-12 13:21] GreggMoreland opened #454 "Allow user to enter Refund of Contribution to Unregistered Committee on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **” Refund of Contribution to Unregistered Committee”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a Receipt
**Then** Click(open) on the "Refunds" Accor

[2022-08-12 19:26] GreggMoreland opened #459 "Allow user to enter Earmark Receipt on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Earmark Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This transaction requires a "child" (memo) transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Fo

[2022-08-13 16:38] mjtravers commented on #290
Passes CR. Sending to QA

[2022-08-13 16:39] mjtravers commented on #166
Passes CR. Left report menu links to Print Preview now working. Sending to QA.

[2022-08-13 16:50] mjtravers commented on #379
Passes CR. Sending to QA.

[2022-08-13 17:11] mjtravers commented on #196
Discussed changes have been made and a description of the behavior is in the QA notes. Passes CR. Sending to QA.

[2022-08-14 20:02] mjtravers commented on #355
Passes CR. Sending to QA

[2022-08-15 13:49] WiseQA commented on #166
@mjtravers moved ticket back to In-Progress.   Hard returns (carriage returns) need added to memo field as verified with requirements and FEC.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/12f8a15c-5795-4af1-8e87-edc29da960c6)

[2022-08-15 14:12] toddlees commented on #290
![image.png](https://images.zenhubusercontent.com/61d5a806b7deecb063ca11f9/607f8ba9-5ca7-42a3-bac8-63b6030ba42c)

[2022-08-15 14:59] toddlees commented on #196
![image.png](https://images.zenhubusercontent.com/61d5a806b7deecb063ca11f9/43570ca5-d52d-4ec2-bc60-a2f944fd318c)

[2022-08-15 15:00] toddlees commented on #196
![image.png](https://images.zenhubusercontent.com/61d5a806b7deecb063ca11f9/38cf6cce-e220-4458-82b0-e7a629cadfad)

[2022-08-15 15:01] toddlees commented on #196
![image.png](https://images.zenhubusercontent.com/61d5a806b7deecb063ca11f9/a02cf1da-368b-4e76-8b21-e17f1153ca95)

[2022-08-15 15:03] toddlees commented on #196
![image.png](https://images.zenhubusercontent.com/61d5a806b7deecb063ca11f9/a08dde25-1edc-4230-9f06-240c901e59de)

[2022-08-15 15:03] toddlees commented on #196
![image.png](https://images.zenhubusercontent.com/61d5a806b7deecb063ca11f9/4bc52a2f-b2a6-4d25-a576-7eba81c66289)

[2022-08-15 15:04] toddlees commented on #196
![image.png](https://images.zenhubusercontent.com/61d5a806b7deecb063ca11f9/8addc310-b923-43ce-9a7d-89c02f7d6878)

[2022-08-15 15:09] mjtravers commented on #355
Bug found in QA: The left report nav does not switch to read only  on submission, only when the report is left and returned to.

[2022-08-15 16:03] WiseQA commented on #166
@MitchellTCG @mjtravers per clarification from FEC, hard returns (carriage returns) are NOT allowed in Report memo due to FEC documentation.   Therefore, report memo text will be continuous text strings as shown in screenshot below:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/2ad68195-e7ce-4621-92e9-58ea70cdfdbc)

[2022-08-15 16:07] mjtravers commented on #166
In light of no carriage returns allowed, sending ticket back to QA.

[2022-08-15 16:30] WiseQA commented on #166
QA testing verified back button fixed see below screenshot:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/897b4eaf-309d-4a68-a35e-509b85ff3ae0)

QA Review Completed.   Moved to Stage Ready

[2022-08-15 17:55] GreggMoreland opened #460 "Allow user to enter Earmark Memo on Schedule A (Group G)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Earmark Memo”** sub-transaction under **”Earmark Receipt”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Given** I am a Committee Administrator editing a

[2022-08-15 19:43] mjtravers commented on #355
Elaine's code updates to fix the report left menu look good. Sending to QA.

[2022-08-15 20:49] GreggMoreland opened #463 "Allow user to enter Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account on Schedule A (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "parent" transaction that will typically have associated sub-transactions.

 Acceptance Criteria

**Given** I am

[2022-08-15 21:40] GreggMoreland opened #464 "Allow user to enter Individual National Party Recount/Legal Proceedings Account JF Transfer Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **” Individual National Party Recount/Legal Proceedings Account JF Transfer Memo”** sub-transaction under a **”Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transac

[2022-08-16 00:00] WiseQA commented on #355
Moved back to QA review

[2022-08-16 16:12] WiseQA commented on #196
QA review with DEV for Cash On Hand.  Verified works as denoted in ticket.

1.  Select Cash On Hand from the Left Navigation
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/4d8ab936-368b-49f9-b138-69bf31c59819)

2.  Enter 12 digit dollar amount:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a8f94626-03c9-474b-9448-307098029e17)

3.  Enter Neg

[2022-08-16 17:29] toddlees commented on #290
Pdf generated from webprint
[https://app.zenhub.com/files/306118986/7741db0e-3ea5-45bb-a8f8-9644289e990f/download](https://app.zenhub.com/files/306118986/7741db0e-3ea5-45bb-a8f8-9644289e990f/download)

[2022-08-16 17:56] WiseQA commented on #290
QA "Visual" Review with DEV as a demo verifying .pdf generated from webprint using FEC production site due to errors received from test site.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/6a032fd2-d364-431a-be19-f9ff1af7fbdf)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/cd27b5b2-0cfb-4568-a6d3-f87074c7000c)

![image.png](https://images.z

[2022-08-16 18:19] MitchellTCG commented on #379
![Screen Shot 2022-08-16 at 1.59.42 PM.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/93115ec2-0bb2-451b-90c2-48be6b51ffdb)

[2022-08-16 18:19] MitchellTCG commented on #355
![Screen Shot 2022-08-16 at 2.06.32 PM.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/2cf8bf08-f32a-4043-9743-0242e8938250)

![Screen Shot 2022-08-16 at 2.06.42 PM.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/7c9746ec-1371-4ffc-a280-14c05f2518b0)

[2022-08-16 18:27] WiseQA commented on #355
QA "Visual" Inspection Complete.  Reference screenshots above.   Moved to Stage Ready.

[2022-08-16 18:27] WiseQA commented on #379
QA "Visual" Inspection Complete.  Reference screenshots above.   Moved to Stage Ready.

[2022-08-16 18:52] GreggMoreland opened #465 "Allow user to enter PAC National Party Recount/Legal Proceedings Account JF Transfer Memo on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC National Party Recount/Legal Proceedings Account JF Transfer Memo”** sub-transaction under a **”Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction tha

[2022-08-16 19:36] GreggMoreland opened #466 "Allow user to enter Tribal National Party Recount/Legal Proceedings Account JF Transfer Memo on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Tribal National Party Recount/Legal Proceedings Account JF Transfer Memo”** sub-transaction under a **”Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction

[2022-08-16 20:03] GreggMoreland opened #468 "Allow user to enter Partnership Receipt Recount/Legal Proceedings Account JF Transfer Memo on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership Receipt Recount/Legal Proceedings Account JF Transfer Memo”** sub-transaction under a **”Joint Fundraising Transfer - National Party Recount/Legal Proceedings Account”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a Tier 2 transaction tha

[2022-08-16 20:19] GreggMoreland opened #469 "Allow user to enter Partnership Individual Recount/Legal Proceedings Account JF Transfer Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership Individual Recount/Legal Proceedings Account JF Transfer Memo”** sub-transaction under a **”Partnership Receipt Recount/Legal Proceedings Account JF Transfer Memo”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a Tier 3 transaction that wi

[2022-08-17 13:19] MitchellTCG opened #470 "508 Compliance: Add Google Lighthouse to CI Pipeline (RESEARCH)"
Business Reason

As a the product owner, I would like 508 Compliance scan run along with other CI Pipeline processes to make sure we are always 508 compliant

Task

### QA Notes ###
- [x] Review he Google Lighthouse CI works.
        General overview: https://developer.chrome.com/docs/lighthouse/overview/
        More info: https://github.com/GoogleChrome/lighthouse-ci/blob/main/docs/getting-start

[2022-08-17 14:58] AureliaKhorsand opened #471 "Create Contact Lookup Prototype for Committee (existing and FEC lookup)"
***Task:*** Create the Contact Lookup prototype for use in FECFile online for Contact Management and Transaction entries.

Acceptance Criteria:

1\. User will be able to use the Lookup feature to find and select a Committee from their Contact Management OR registered with FEC by ***name or ID***

  2\. Results will show up to ***5*** existing Committee contacts from the Committee Account, and spec

[2022-08-17 16:15] AureliaKhorsand opened #472 "System to calculate Contribution Aggregate for "Individual Receipt", "Tribal Receipt", "JF Transfer", and "JF Transfer Memo""
Business Reason

The Contribution Aggregate field must display the total of the entity's contributions from the calendar year of the report. This is necessary to track contribution limits as well as itemization logic. This amount will be a _rolling total_.

Acceptance Criteria

For the following transactions:

1\. Individual Receipt (Group A)

  2\. Tribal Receipt (Group D)

  3\. Joint Fundraisin

[2022-08-17 17:07] MitchellTCG commented on #439
![Wire.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/c5fe809d-3600-4fb3-b582-13836a58dcad)

[2022-08-17 17:08] AureliaKhorsand commented on #439
From fec.gov: Supplemental or explanatory information on a reporting schedule. A memo entry is often used to disclose additional information about an itemized transaction that is included in the total receipts or disbursements for the current report or a previous report. The dollar amount in a memo entry is not incorporated into the total figure for the schedule.

[2022-08-17 17:46] AureliaKhorsand commented on #472
Requirements logic: Aggregation is based on the ENTITY (Contact) and chronologically based on date of transaction (contribution date). If contribution date is the same, default to the time that the transaction was created.

[2022-08-17 18:23] AureliaKhorsand opened #473 "System to calculate Contribution Aggregate for "Offsets for Operating Expenditures" (Group B)"
Business Reason

The Contribution Aggregate field must display the total of the entity's contributions from the calendar year of the report. This is necessary to track contribution limits as well as itemization logic. This amount will be a _rolling total_.

Acceptance Criteria

For the following transactions:

Offsets for Operating Expenditures (Group B)

CONTRIBUTION AGGREGATE field must meet the

[2022-08-19 14:18] GreggMoreland opened #477 "Allow user to enter Partnership Receipt on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”Partnership Receipt”*** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

***NOTE:*** This is a "parent" transaction that will have an associated child ‘Memo’ transaction.

DEV NOTES

Per the team discussion, we want to code up the change in the parent CPD when

[2022-08-19 14:30] GreggMoreland opened #478 "Allow user to enter Partnership Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership Memo”** sub-transaction under a **”Partnership Receipt”** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Given** I am a Committee Administrator

[2022-08-19 15:04] GreggMoreland opened #479 "Allow user to enter Party Returned/Bounced Receipt on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Party Returned/Bounced Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Contributions from Regist

[2022-08-19 15:46] MitchellTCG opened #480 "Upgrade Angular code to version 14"
fecfil-online/front-end is currently using Angular 13. This should be upgraded to version 14 to maintain compliance with the QASP standard of being at most one major version behind the latest release.

**Acceptance Criteria**
- [x] The npm modules for Angular are version 14.1.3
- [x] The unit tests that passed before the upgrade also pass after the upgrade

**QA**
Verification that Angular version

[2022-08-19 15:48] GreggMoreland opened #481 "Allow user to enter Party Receipt on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Party Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Contributions from Registered Filers" Acco

[2022-08-19 15:51] GreggMoreland opened #482 "Allow user to enter PAC Receipt on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Contributions from Registered Filers" Accord

[2022-08-21 21:35] MitchellTCG commented on #353
Creating new ticket to deal with Marlene and Ken.
I also subtracted 1 Storypoint from this ticket.

[2022-08-21 21:37] MitchellTCG opened #483 "[Dev Task] Create login accounts in Sandbox Part 2"
_Finishing tasks from ticket #353_

 Task:

 Please generate logins (including committee accounts) for the following in the sandbox environment. **Please use fec.gov emails for all of the following.**

The Login.gov setup is strictly for STAGE ONLY server in Cloud.gov.

- [x] 2. Ken Lally - klally@fec.gov
    Committee ID: **C00759811**
- [x] 5. Marlene Colucci - mcolucci@fec.gov
    Committee ID:

[2022-08-21 21:49] MitchellTCG commented on #454
@AureliaKhorsand  and @GreggMoreland

If this is OBE please add an OBE label. I just want to make sure it wasn't close accidentally. (I've definitely done that before).

[2022-08-22 12:56] GreggMoreland commented on #454
@MitchellTCG I'm not sure how I closed this. I will reopen it.

[2022-08-22 17:21] WiseQA opened #484 "Defect - When viewing the Form 3X Submitted Report status is showing "In-Progress""
This defect is to correct when viewing the Form 3X Submitted Report page remove status as showing "In-Progress"

This was hard coded, per Elaine comment, remove "In-Progress"

![image.png]([https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/eeb6c484-934d-4d36-b91f-8840580f4b35](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/eeb6c484-934d-4d36-b91f-8840580f4b35))

Note: In

[2022-08-22 17:27] Elaine-Krauss-TCG commented on #484
Per the original ticket, that particular column should read as "Submitted" once the given report has been filed.

 - Should it still read as "In-Progress" _before_ it is submitted?
 - Should it read differently once the report is accepted?
 - Should it read differently if the report is rejected?

[2022-08-22 17:27] #290 closed, assigned to toddlees

[2022-08-22 17:27] #353 closed, assigned to MitchellTCG

[2022-08-22 17:27] #355 closed, assigned to Elaine-Krauss-TCG

[2022-08-22 17:27] #415 closed, assigned to mjtravers

[2022-08-22 17:27] #431 closed, assigned to mjtravers

[2022-08-22 17:27] #438 closed, assigned to Elaine-Krauss-TCG

[2022-08-22 17:27] #166 closed, assigned to mjtravers

[2022-08-22 17:27] #196 closed, assigned to mjtravers

[2022-08-22 17:27] #379 closed, assigned to Elaine-Krauss-TCG

[2022-08-22 17:27] #380 closed, assigned to Elaine-Krauss-TCG

[2022-08-22 17:27] #354 closed, assigned to mjtravers

[2022-08-22 17:31] MitchellTCG commented on #484
I assigned this to @AureliaKhorsand to answer Elaine's questions. plus i will be out tomorrow.

[2022-08-22 17:31] #422 closed, assigned to Elaine-Krauss-TCG

[2022-08-22 17:38] #84 closed, assigned to mjtravers

[2022-08-22 18:11] AureliaKhorsand commented on #484
@Elaine-Krauss-TCG  here are my answers for now. We have #218 that in theory will address all the possible report statuses, so these may change once we get requirements from FEC.

- Should it still read as "In-Progress" _before_ it is submitted? Yes
 - Should it read differently once the report is accepted? No, it can stay as submitted for now. Date Filed shows us it is submitted.
 - Should it rea

[2022-08-23 12:48] Elaine-Krauss-TCG commented on #484
Because this column needs to be able to be sorted, this all has to be done on the back-end.

I decided to solve the problem by creating an annotated value in the f3x_summary viewset.  This is necessary because the statuses returned by the FEC are quite different from the text we want to display, and they won't sort properly if we just fix it with a pipe on the front-end.

![image.png](https://imag

[2022-08-23 12:49] Elaine-Krauss-TCG commented on #484
Everything seems to work properly both in smoke testing and in a run of the E2E tests, but more unit tests are needed to get code coverage up.

[2022-08-23 13:04] WiseQA commented on #190
@mjtravers retested 404 error.

Login  to Stage:  https://fecfile-web-app-stage.app.cloud.gov/  - no 404 error
Login to DEV:  https://fecfile-web-app-dev.app.cloud.gov/dashboard - no 404 error

Login to https://fecfile-web-app-prod.app.cloud.gov/contacts - 404 error

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/42547220-2f46-464c-b61f-0a58c3b5271c)

[2022-08-23 16:57] AureliaKhorsand opened #486 "System to itemize JF Transfer regardless of amount"
Business Reason

Per FECA regulations, all Form 3X transactions on Line 12 must be itemized on Schedule A, regardless of amount. This includes JF Transfer transactions.

Acceptance Criteria

***Given*** one of the following transactions:

*   Joint Fundraising Transfer
*   PAC JF Transfer Memo

***Then*** the transaction will be itemized upon saving

 ***and*** appear on it's own line item on the

[2022-08-23 17:13] AureliaKhorsand opened #487 "System to itemize "Offsets to Operating Expenditures", "Other Receipts" if contribution aggregate is > $200"
Business Reason

Per FECA regulations, certain transactions must be itemized on the Form 3X. That includes Offsets to Operating Expenditures and Other Receipts when the contribution aggregate is over $200.

Acceptance Criteria

***Given*** a transaction type of "Offsets to Operating Expenditures" or "Other Receipts"

  ***If*** the Contribution Aggregate amount is >= $200.01

  ***Then*** the tran

[2022-08-23 17:24] GreggMoreland opened #488 "Allow user to enter Unregistered Receipt from Person on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Unregistered Receipt from Person”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Contributions from Indi

[2022-08-23 17:28] GreggMoreland opened #489 "Allow user to enter Unregistered Receipt from Person - Returned/Bounced Receipt on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **” Unregistered Receipt from Person - Returned/Bounced Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on

[2022-08-23 17:42] JonellaCulmer commented on #159
@AureliaKhorsand Is there a requirement to be able to edit ALL fields for a contact in the transaction? For example, a receipt transaction from a candidate doesn't list the office or district information from a House candidate. Only required fields for the transaction appear. Is it alright that the filer will only be able to edit certain fields, already present in the transaction? Or does the file

[2022-08-23 19:32] GreggMoreland opened #490 "Allow user to enter PAC Earmark Receipt on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC Earmark Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This transaction requires a "child" (memo) transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an ope

[2022-08-23 19:39] GreggMoreland opened #491 "Allow user to enter PAC Earmark Memo on Schedule A (Group G)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC Earmark Memo”** sub-transaction under **”PAC Earmark Receipt”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Given** I am a Committee Administrator e

[2022-08-23 20:23] GreggMoreland opened #492 "Allow user to enter Transfer on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Transfers”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Transfer" Accordion link
**Then** I can enter

[2022-08-24 12:38] MitchellTCG opened #496 "Add "Official US Website" Violator banner to all pages"
Business Purpose

As the CIO of FEC, I would like the "An official website of the United States government <ins>Here's how you know</ins> v" so the site meets Federal regulations.

The violator banner is 32px tall (when closed)
The banner is 228px (when expanded)
The background hex code is #E8E8E8. The text is #212121
Please use HTML code found at the top of FEC.gov.

# Please cut and paste text f

[2022-08-24 12:55] WiseQA commented on #442
QA review verified "Actions" label added to table row headings.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/e009043f-f98b-4c87-9415-6920caf136bd)

QA Review Completed.   Moved to Stage Ready

[2022-08-24 13:06] MitchellTCG commented on #496
Here is the flag:
https://www.fec.gov/static/img/us_flag_small.png
![us_flag_small.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/d1172928-8ae1-44d7-9f36-a1d4251c0885)

[2022-08-24 13:08] MitchellTCG commented on #496
Here are the icons in the dropdown section:
https://www.fec.gov/static/img/icon-dot-gov.svg
![icon-dot-gov.svg](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/9c45a7d4-1ea2-42b8-a0fc-da917df69dd0)

https://www.fec.gov/static/img/icon-https.svg
![icon-https.svg](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/1d863e73-0cba-492d-9db0-962f33169fca)

[2022-08-24 13:17] MitchellTCG commented on #496
@mjtravers @JonellaCulmer

Can you two please review this before today's refinement meeting.

[2022-08-24 13:25] WiseQA commented on #484
QA returned - update QA notes to detail what status show when in the Reports table.   @toddlees per conversation returned to "In-progress".   Currently table not displaying any status.  Updated to 2 - 1 was selected as a placeholder for this ticket.

[2022-08-24 14:12] JonellaCulmer commented on #496
USWDS component for reference: https://designsystem.digital.gov/components/banner/

[2022-08-24 15:16] AureliaKhorsand commented on #303
_BA Note from PI 2 Planning: Quarterly filers may need to file special reports. By law, some may need to file pre-election report and those coverage dates need to be manually edited. It also may affect the quarterly report before and after. If we want to pull coverage dates into the App, should read from EFO. This could be a question of defaulting to something, but allowing the user to change_

[2022-08-24 15:59] AureliaKhorsand commented on #159
Just to close the loop and capture what we discussed on the call: as of now, the requirement is just that the contact fields available for the transaction entry screen be editable. So, unless it is already present, a user can't edit ALL contact fields on a transaction screen. If they are creating a new contact from a transaction entry screen, however, then all contact fields are available.

[2022-08-24 19:45] JonellaCulmer commented on #72
@MitchellTCG @AureliaKhorsand @mary-tcg @GreggMoreland
What follows is a walk-through of how to create a new contact and edit an existing contact. Please let me know if you have any questions, comments or concerns.

Appearance of lookup across all contact types, including All option.
![Screen Shot 2022-08-24 at 3 30 57 PM](https://user-images.githubusercontent.com/31663028/186507156-15b71c9e-d06e-

[2022-08-24 19:47] JonellaCulmer commented on #159
@MitchellTCG @AureliaKhorsand @mary-tcg @GreggMoreland
Similar to what a filer might see when [creating a new contact](https://github.com/fecgov/fecfile-web-app/issues/72#issuecomment-1226177575), a filer will be alerted with a pop-up that clarifies changes were made to the contact, in addition to creating a new transaction.

<img width="477" alt="Screen Shot 2022-08-25 at 1 08 46 PM" src="https:/

[2022-08-24 20:05] GreggMoreland opened #497 "Allow user to enter Joint Fundraising Transfer - National Party Pres. Nominating Convention Account on Schedule A (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Joint Fundraising Transfer - National Party Pres. Nominating Convention Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "parent" transaction that will typically have associated sub-transactions.

 Acceptance Criteria

**Given** I

[2022-08-24 20:10] GreggMoreland opened #498 "Allow user to enter Joint Fundraising Transfer - National Party Headquarters Buildings Account on Schedule A (Group E)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Joint Fundraising Transfer - National Party Headquarters Buildings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "parent" transaction that will typically have associated sub-transactions.

 Acceptance Criteria

**Given** I am a

[2022-08-24 20:31] GreggMoreland opened #499 "Allow user to enter Individual National Party Pres. Nominating Convention Account JF Transfer Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **’Individual National Party Pres. Nominating Convention Account JF Transfer Memo‘** sub-transaction under **"Joint Fundraising Transfer - National Party Pres. Nominating Convention Account" on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This is a "child" transaction t

[2022-08-24 20:34] mjtravers commented on #439
Passed CR. Sending to QA

[2022-08-24 20:49] GreggMoreland opened #500 "Allow user to enter Individual National Party Headquarters Buildings Account JF Transfer Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **’Individual National Party Headquarters Buildings Account JF Transfer Memo‘** sub-transaction under **"Joint Fundraising Transfer - National Party Headquarters Buildings Account"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This is a "child" transaction that will

[2022-08-24 21:29] GreggMoreland opened #501 "Allow user to enter PAC National Party Pres. Nominating Convention Account JF Transfer Memo on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC National Party Pres. Nominating Convention Account JF Transfer Memo”** sub-transaction under a **”Joint Fundraising Transfer - National Party Pres. Nominating Convention Account”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction

[2022-08-24 21:42] GreggMoreland opened #502 "Allow user to enter PAC National Party Headquarters Buildings Account JF Transfer Memo on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC National Party Headquarters Buildings Account JF Transfer Memo”** sub-transaction under a **”Joint Fundraising Transfer - National Party Headquarters Buildings Account”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will

[2022-08-24 21:49] GreggMoreland opened #503 "Allow user to enter Tribal National Party Pres. Nominating Convention Account JF Transfer Memo on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Tribal National Party Pres. Nominating Convention Account JF Transfer Memo”** sub-transaction under a **”Joint Fundraising Transfer - National Party Pres. Nominating Convention Account”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transact

[2022-08-24 22:27] GreggMoreland opened #504 "Allow user to enter Partnership Receipt Pres. Nominating Convention Account JF Transfer Memo on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership Receipt Pres. Nominating Convention Account JF Transfer Memo”** sub-transaction under a **”Joint Fundraising Transfer - National Party Pres. Nominating Convention Account”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transactio

[2022-08-24 22:29] GreggMoreland opened #505 "Allow user to enter Partnership Receipt Headquarters Buildings Account JF Transfer Memo on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership Receipt Headquarters Buildings Account JF Transfer Memo”** sub-transaction under a **”Joint Fundraising Transfer - National Party Headquarters Buildings Account”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a Tier 2 transaction that will

[2022-08-24 22:34] GreggMoreland opened #506 "Allow user to enter Partnership Individual Pres. Nominating Convention Account JF Transfer Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership Individual Pres. Nominating Convention Account JF Transfer Memo”** sub-transaction under a **”JPartnership Receipt Pres. Nominating Convention Account JF Transfer Memo”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a Tier 3 transaction th

[2022-08-24 22:35] GreggMoreland opened #507 "Allow user to enter Partnership Individual Headquarters Buildings Account JF Transfer Memo on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Partnership Individual Headquarters Buildings Account JF Transfer Memo”** sub-transaction under a **”Partnership Receipt Headquarters Buildings Account JF Transfer Memo”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a Tier 3 transaction that will be

[2022-08-25 13:00] Elaine-Krauss-TCG commented on #421
The requirements of this ticket _seem_ to already be fulfilled?

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/ad925a85-ee71-466e-b500-35fdb461a95c)

[2022-08-25 13:02] WiseQA commented on #439
QA review findings text in both DEV and STAGE currently read:

MEMO ITEM
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

should read:
MEMO ITEM
The dollar amount in a memo item is not incorporated into the total figure for the schedule.

@mjtravers Returned in In-Progress for text field fix and language fix as denoted in acceptance criteria and wireframe above.

[2022-08-25 14:03] WiseQA commented on #421
@mjtravers - Elaine tested and the negative values are showing for the transactions.   This negative value was verified when COH was developed.   I plan on retesting this ticket and verify negative values for each of the transactions before moving to Stage Ready.

[2022-08-25 14:06] AureliaKhorsand commented on #235
Separate tickets made for each transaction. Closing as OBE.

[2022-08-25 14:06] #235 closed, assigned to AureliaKhorsand

[2022-08-25 14:07] AureliaKhorsand commented on #237
Separate tickets made for each transaction. Closing as OBE.

[2022-08-25 14:07] #237 closed, assigned to AureliaKhorsand

[2022-08-25 14:07] AureliaKhorsand commented on #238
Separate tickets made for each transaction. Closing as OBE.

[2022-08-25 14:07] #238 closed, assigned to AureliaKhorsand

[2022-08-25 14:07] AureliaKhorsand commented on #239
Separate tickets made for each transaction. Closing as OBE.

[2022-08-25 14:07] #239 closed, assigned to AureliaKhorsand

[2022-08-25 14:22] mjtravers commented on #421
@WiseQA - Ok, that sounds like a good QA plan
@mjtravers - awaiting CR before testing.

[2022-08-25 14:56] AureliaKhorsand opened #508 "Allow user to use Lookup within transaction for existing Candidate Contact"
Business Reason

The system will employ a Lookup feature when entering transactions in order to allow the user to pull existing contact information from the committee account's Contact Management table. This will also assist the FEC in making more accurate data available to the public.

Acceptance Criteria

_Note: The transaction entry form will _only_ show the contact lookup until a contact is se

[2022-08-25 15:33] WiseQA commented on #484
QA review verified Status shows "In-Progress" and "Submitted" for this ticket.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0c176209-768e-4a7d-9024-8335669868f2)

The following statuses will be developed in a future ticket (#218 as denoted above).
"Accepted" if they accept the report
"Rejected" if they rejected the report

QA Review Completed.   Moved to Stage Ready

[2022-08-25 15:46] WiseQA commented on #429
QA review verified names and abbreviations removed from the Transaction Selection dropdown for the following:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/ae5da1ef-9534-42d7-9d0f-752224a4a021)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/65d88e65-bb74-4a12-8379-fe60f291ca5e)

QA review verified Transaction entry screens naming was chang

[2022-08-25 17:05] mjtravers commented on #439
@WiseQA The code has been deployed to the DEV server and is now testable. Moving ticket to QA

[2022-08-25 17:38] WiseQA commented on #439
QA review verified the below transactions memo help test was updated to:  “The dollar amount in a memo item is not incorporated into the total figure for the schedule.”
1. Individual Receipt (Group A)
2. Tribal Receipt (Group D)
3. Joint Fundraising Transfer (Group E)
4. Joint Fundraising PAC Memo (Group F)
5. Offsets to Operating Expenditures (Group B)
6. Other Receipt (Group C)

![image.png](htt

[2022-08-25 17:40] GreggMoreland opened #511 "Allow user to enter PAC Returned/Bounced Receipt on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC Returned/Bounced Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Contributions from Register

[2022-08-25 18:11] mjtravers commented on #480
Passes CR. Sending to QA

[2022-08-25 18:39] GreggMoreland opened #512 "Allow user to enter Returned/Bounced Receipt on Schedule A (Group C)"
Business Reason

As a Committee Administrator, I will be able to enter a ***”Returned/Bounced Receipt”*** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

Acceptance Criteria

***Given*** I am a Committee Administrator editing an open Form 3X report

  ***Then*** Add a new transaction

  ***Then*** Click(open) on the "Contributions from

[2022-08-25 18:59] GreggMoreland opened #513 "Allow user to enter Earmark Receipt for Recount/Legal Proceedings Account (Contribution) on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Earmark Receipt for Recount/Legal Proceedings Account (Contribution)”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This transaction requires a "child" (memo) transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Give

[2022-08-25 19:00] GreggMoreland opened #514 "Allow user to enter Earmark Memo for Recount/Legal Proceedings Account (Contribution) on Schedule A (Group G)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Earmark Memo for Recount/Legal Proceedings Account (Contribution)”** sub-transaction under **”Earmark Receipt for Recount/Legal Proceedings Account (Contribution)”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be assoc

[2022-08-25 19:05] GreggMoreland opened #515 "Allow user to enter Earmark Receipt for Pres. Nominating Convention Account (Contribution) on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Earmark Receipt for Pres. Nominating Convention Account (Contribution)”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This transaction requires a "child" (memo) transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Gi

[2022-08-25 19:06] GreggMoreland opened #516 "Allow user to enter Earmark Memo for Pres. Nominating Convention Account (Contribution) on Schedule A (Group G)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Earmark Memo for Pres. Nominating Convention Account (Contribution)”** sub-transaction under **”Earmark Receipt for Pres. Nominating Convention Account (Contribution)”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be a

[2022-08-25 19:17] GreggMoreland opened #517 "Allow user to enter Earmark Receipt for Headquarters Buildings Account (Contribution) on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Earmark Receipt for Headquarters Buildings Account (Contribution)”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This transaction requires a "child" (memo) transaction that will be associated with a parent transaction.

 Acceptance Criteria

**Given**

[2022-08-25 19:18] GreggMoreland opened #518 "Allow user to enter Earmark Memo for Headquarters Buildings Account (Contribution) on Schedule A (Group G)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Earmark Memo for Headquarters Buildings Account (Contribution)”** sub-transaction under **”Earmark Receipt for Headquarters Buildings Account (Contribution)”**  on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

**NOTE:** This is a "child" transaction that will be associated

[2022-08-25 19:23] mjtravers commented on #443
@Elaine-Krauss-TCG Here is the code to extend for the PrimeNG select button: https://github.com/primefaces/primeng/blob/master/src/app/components/selectbutton/selectbutton.ts

[2022-08-25 19:34] GreggMoreland opened #519 "Allow user to enter Individual Receipt - Non-Contribution Account on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Individual Receipt - Non-Contribution Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Other" Acc

[2022-08-25 19:38] GreggMoreland opened #520 "Allow user to enter Individual Recount Receipt on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Individual Recount Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Other" Accordion link
**Then*

[2022-08-25 19:43] GreggMoreland opened #521 "Allow user to enter Individual National Party Recount/Legal Proceedings Account on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Individual National Party Recount/Legal Proceedings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on t

[2022-08-25 19:50] GreggMoreland opened #522 "Allow user to enter Party National Party Recount/Legal Proceedings Account on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Party National Party Recount/Legal Proceedings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "O

[2022-08-25 20:02] GreggMoreland opened #523 "Allow user to enter Individual National Party Headquarters Buildings Account on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Individual National Party Headquarters Buildings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the

[2022-08-25 20:05] GreggMoreland opened #524 "Allow user to enter Individual National Party Pres. Nominating Convention Account on Schedule A (Group A)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Individual National Party Pres. Nominating Convention Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on

[2022-08-25 20:15] GreggMoreland opened #525 "Allow user to enter PAC National Party Recount/Legal Proceedings Account on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC National Party Recount/Legal Proceedings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Oth

[2022-08-25 20:19] GreggMoreland opened #526 "Allow user to enter PAC National Party Headquarters Buildings Account on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC National Party Headquarters Buildings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Other"

[2022-08-25 20:22] GreggMoreland opened #527 "Allow user to enter PAC National Party Pres. Nominating Convention Account on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC National Party Pres. Nominating Convention Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "O

[2022-08-25 20:29] GreggMoreland opened #528 "Allow user to enter Other Committee Receipt - Non-Contribution Account on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Other Committee Receipt - Non-Contribution Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Other

[2022-08-25 20:31] GreggMoreland opened #529 "Allow user to enter Party Recount Receipt on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Party Recount Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Other" Accordion link
**Then** I c

[2022-08-25 20:34] GreggMoreland opened #530 "Allow user to enter PAC Recount Receipt on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”PAC Recount Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Other" Accordion link
**Then** I can

[2022-08-25 23:46] WiseQA commented on #480
QA verified as a visual  upgraded to 14.1.3   see below screenshot

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f9693f38-3437-4ee3-9105-d0596045181b)

Not sure as QA who is tracking lastest versions of SW and where spreadsheet is ?

QA Review Completed.  Moved to Stage Ready

[2022-08-26 13:54] GreggMoreland opened #531 "Allow user to enter Party National Party Headquarters Buildings Account on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Party National Party Headquarters Buildings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Othe

[2022-08-26 14:01] GreggMoreland opened #532 "Allow user to enter Party National Party Pres. Nominating Convention Account on Schedule A (Group F)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Party National Party Pres. Nominating Convention Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the

[2022-08-26 14:11] GreggMoreland opened #533 "Allow user to enter Business/Labor Organization Receipt - Non-Contribution Account on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **” Business/Labor Organization Receipt - Non-Contribution Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open)

[2022-08-26 15:02] WiseQA commented on #421
QA review verified negative values for the following transactions as shown in screenshot below:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/97bfd32b-4cc8-48f1-9598-5a805e407838)

QA Review Complete.  Moved to Stage Ready

[2022-08-26 15:57] AureliaKhorsand commented on #72
Archived from ticket:

Dropdown example from fec.gov that we are basing design off of:
![image.png](https://images.zenhubusercontent.com/61a50e5fdcda4774a0cf2a0e/e9845eff-168e-48c5-bb30-aa83b7f8a593)

[2022-08-26 17:24] GreggMoreland opened #534 "Allow user to enter Tribal Recount Receipt on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Tribal Recount Receipt”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Other" Accordion link
**Then** I

[2022-08-26 17:27] GreggMoreland opened #535 "Allow user to enter Tribal National Party Recount/Legal Proceedings Account on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Tribal National Party Recount/Legal Proceedings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "

[2022-08-26 17:34] GreggMoreland opened #536 "Allow user to enter Tribal National Party Headquarters Buildings Account on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Tribal National Party Headquarters Buildings Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the "Oth

[2022-08-26 17:35] AureliaKhorsand commented on #508
Archived from ticket:

Dropdown example from fec.gov that we are basing design off of:

![Image](https://github.com/fecgov/fecfile-web-app/assets/110493670/ea55bf24-ef65-4a33-a84d-810bd951dd13)

[2022-08-26 17:36] GreggMoreland opened #537 "Allow user to enter Tribal National Party Pres. Nominating Convention Account on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **”Tribal National Party Pres. Nominating Convention Account”** transaction on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

 Acceptance Criteria

**Given** I am a Committee Administrator editing an open Form 3X report
**Then** Add a new transaction
**Then** Click(open) on the

[2022-08-26 17:37] AureliaKhorsand opened #538 "Allow user to use Lookup within transaction for existing Committee Contact-Part 1"
Business Reason

The system will employ a Lookup feature when entering transactions in order to allow the user to pull existing contact information from the committee account's Contact Management table. This will also assist the FEC in making more accurate data available to the public.

Acceptance Criteria

_Note: The transaction entry form will _only_ show the contact lookup until a contact is se

[2022-08-29 18:57] toddlees commented on #190
@WiseQA I just checked, and sprint 12 was deployed to production Thursday August 25th.  I did a quick test and it does seem like refresh works!  I think we can make this OBE.

[2022-08-29 19:02] WiseQA commented on #287
@AureliaKhorsand @GreggMoreland - Can the total of the transactions be a negative value for the Detailed Summary Page Line 15 (column A) of Form 3X ?  If so, can we update acceptance criteria to reference negative value ?

[2022-08-29 19:07] WiseQA commented on #190
@toddlees I just verified 404 Not Found error for PROD was fixed with Sprint 12 deployment.   This ticket if DEV is satisfied can be moved to QA Review and assigned to me.  Thanks

[2022-08-29 19:14] WiseQA commented on #190
QA review verified when login to https://fecfile-web-app-prod.app.cloud.gov/contacts - 404 error has been fixed.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/543a9d6d-4248-4049-9068-ded1ddd9a43a)

QA Review Completed.  Moved to Stage Ready.

[2022-08-29 19:35] WiseQA commented on #384
QA review verified Additional Information fields have been changed to for Joint Fundraising Transfer transaction to display in the following order for consistency throughout transactions.

1.  CONTRIBUTION PURPOSE DESCRIPTION (SYSTEM-GENERATED)
2.  NOTE OR MEMO TEXT (OPTIONAL)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/9a6ff63e-2faf-4172-9b2e-c4bd1798c20b)

QA Revi

[2022-08-29 20:33] WiseQA commented on #111
@dheitzer can you please provide the list or link the list of the telephone dropdown list that contains the International numbers list used to develop this ticket.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/a1be44d5-6a00-41e6-bf08-dd2d670c8ff7)

Will need this to test against.

[2022-08-29 20:37] dheitzer commented on #111
@WiseQA There's a demo of the library here that allows you to use the dropdown with the canonical list.  Can you use this to validate ours?

https://intl-tel-input.com/

[2022-08-29 20:38] dheitzer commented on #111
![image](https://user-images.githubusercontent.com/104843885/187294301-22fae383-41b6-4839-a463-719816658319.png)

[2022-08-29 20:46] WiseQA commented on #111
@MitchellTCG @mjtravers asking for list for international phone numbers, like we did the Country dropdown.   See demo list @dheitzer provided above, do we use this ?   Please advise.   Also, we need the QA notes added to this ticket.

[2022-08-30 13:33] AureliaKhorsand commented on #287
@WiseQA yes, just confirmed with Ryan. Will add to AC now.

[2022-08-30 17:18] AureliaKhorsand opened #542 "Allow user to view more than 10 results in Contact Lookup"
[Placeholder]

Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

Acceptance Criteria

_**If**_ [precedent] _**When**_ [action] _**Then**_ [result]

### QA Notes ###

null

### DEV Notes ###

null

### Design ###

null

 See full ticket and images here: [FECFILE-1029](https://fecgov.atlassian.net/browse/FECFILE-1029)

[2022-08-31 13:07] AureliaKhorsand opened #544 "Allow user to save new Candidate contact from Transaction entry to Contact Management"
Business Reason

As a user, if I do not see the Candidate contact available in the Lookup (Contact Management) when entering a Transaction, I will be able to enter a new contact in a transaction screen within the Form 3X report, with the option to use the FEC Lookup, and that new contact will save to my committee account's Contact Management so that I can easily pull that contact again in the futu

[2022-08-31 13:23] AureliaKhorsand opened #545 "Allow user to correct historical address within a transaction"
[PLACEHOLDER] User is correcting a historical address that is NO LONGER the most current. They want it to change on the previously submitted reports but not affect future ones. (Potential non-dev solutions possible in the midterm; we can continue next week)

 Business Reason

As a [role], I will be able to [blank] so that I can [business reason]

 Acceptance Criteria

**If** [precedent]
**When** [

[2022-08-31 13:46] toddlees commented on #190
@lbeaufort https://github.com/fecgov/fecfile-web-app/pull/410 was implemented because we had made a test screen that we wanted QA to be able to hit by typing in a url to test [342](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/342).  Typing in a url to access a specific page was triggering the same nginx 404 issue, so a side effect of fixin

[2022-08-31 14:11] WiseQA opened #546 "Create automated regression tests for QA scripts (Sprint 12)"
Business Reason

As a developer or QA, I will be able to automatically run the Sprint-12 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

If I want to run the Sprint test scripts to retest the tickets

  When I run the automated tests in the Cypress framework

  Then I will get a report on which scripts failed and which

[2022-08-31 14:26] AureliaKhorsand opened #547 "System to automatically populate donor committee name/id on back end (remove stopgap)"
### DEV notes ###
For JF_TRAN and JF_TRAN_PAC_MEMO schema, the donor_committee_name which should be required was made not required until this ticket creates the lookup and we can pair the donor_committee_fec_id with the donor_committee_name. With this ticket, the donor_committe_name should have the required property turned back on by removing the null from the "string" array

### Business Reason #

[2022-08-31 15:09] AureliaKhorsand commented on #72
Archived: Robert has a fancy autocomplete widget that is being used on the FEC site. Obtain the code for the widget and modify accordingly to use it in the Angular framework. Reuse functionality from fec.gov for lookup, but will also need to build in pulling full data for contact.

[2022-08-31 15:27] AureliaKhorsand commented on #72
**BA To Do:** Split out Individual and Organization into separate tickets. Individual will be 13, Organization will be 8.

[2022-08-31 15:36] AureliaKhorsand commented on #243
BA To DO: Split into IND and ORG, each as 5 points.

[2022-08-31 16:14] AureliaKhorsand opened #548 "Allow user to use Lookup within Transactions for existing Organization Contacts-Part 1"
Business Reason

The system will employ a Lookup feature when entering transactions in order to allow the user to pull existing contact information from the committee account's Contact Management table. This will also assist the FEC in making more accurate data available to the public.

Acceptance Criteria

_Note: The transaction entry form will _only_ show the contact lookup until a contact is se

[2022-08-31 16:28] AureliaKhorsand opened #549 "Allow user to save new Organization contact from Transaction entry to Contact Management-Part 2"
Business Reason

As a user, if I do not see the Organization contact available in the Lookup (Contact Management) when entering a Transaction, I will be able to enter a new contact in a transaction screen within the Form 3X report and it will save to my committee account's Contact Management so that I can easily pull that contact again in the future using a Lookup.

 Acceptance Criteria

**Given**

[2022-08-31 17:19] AureliaKhorsand commented on #471
Dropdown example from fec.gov that we are basing design off of:
![image.png](https://images.zenhubusercontent.com/61a50e5fdcda4774a0cf2a0e/e9845eff-168e-48c5-bb30-aa83b7f8a593)

[2022-08-31 23:24] WiseQA commented on #443
QA review check boxes in task not checked off as complete.   Screen shots of corrections not provided.  Moved back to Code Review.

[2022-08-31 23:26] WiseQA commented on #428
QA review not valid testing for QA.   Provide testing for QA.  Moved back to Code Review.

09/01/2022 - Moved back to QA got ANDI application to verify above changes.  Thanks @Elaine-Krauss-TCG

@toddlees and I added QA note above to test this ticket using ANDI.

[2022-09-01 12:40] Elaine-Krauss-TCG commented on #443
When using the ANDI tool while creating a report, two reference alerts are normally created regarding the Election/Non-Election select button.
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/39d7ee7e-e82a-4750-b586-2cb878f99507)

With the changes made as a result of this ticket, no such reference errors are found by ANDI.
![image.png](https://images.zenhubusercontent.com

[2022-09-01 13:08] WiseQA commented on #443
QA review verified, using ANDI, the Alerts errors while creating a report have been fixed.  (Also reference screenshots above).

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/50a33ab9-c083-46f8-b322-a06422e150d4)

QA Review Completed.   Moved to Stage Ready.

[2022-09-01 15:14] WiseQA commented on #428
QA review verified, using ANDI, the above page titles have been changed.  (Screenshots of a few images showing how was verified)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/6a886c2f-a834-4ac0-9c3f-b446919586eb)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/dd71de98-6962-4048-bc45-8c94a4297393)

![image.png](https://images.zenhubusercont

[2022-09-01 16:56] AureliaKhorsand opened #550 "Remove old "page two" of Report Creation Workflow"
Task: Remove "step2" page of report creation, since that data entry has now been moved to the submit report process and the page for adding a report level memo and the page is no longer needed. "Save and Continue" after coverage date selection should lead the user directly to "Manage Transactions".

Acceptance Criteria

***Given*** the user has selected a report type and coverage dates for a new r

[2022-09-01 17:51] MitchellTCG commented on #111
I am officially approving the use of intl-tel-input  over the Stackblitz on in the original mocks

[2022-09-01 18:17] AureliaKhorsand commented on #459
@mary-tcg @MitchellTCG this looks great from a requirements perspective. Only suggestion is to remove the word "special" above the button to add an Earmark Memo.

[2022-09-01 18:18] AureliaKhorsand commented on #460
@mary-tcg @MitchellTCG only update to make is that the contributor entity can be an Individual or Committee, so the Contributor Type field should be a dropdown.

[2022-09-02 15:50] MitchellTCG commented on #483
Marlene's login.gov password works on STAGE.

[2022-09-02 15:52] MitchellTCG commented on #483
After Labor Day we will continue to help Ken trouble shoot his issue. Current theory is Ken might be using a VPN tool. We will ask.

[2022-09-02 16:29] AureliaKhorsand opened #552 "Committee Contact Lookup to only show one of each contact"
Ensure that the IDs appear only once in the selection dropdown if pulling from both Contact Management and FEC, favoring the Contact Management occurrence.

Business Reason

Users should always select an existing contact from their committee accounts Contact Management table over creating a new one from the FEC registered database. To limit confusion in this regard, we should not show a Committee/

[2022-09-02 20:02] MitchellTCG opened #553 "Add Footer to Website"
Business Purpose

As the CIO of FEC, I would like a footer so the site meets Federal regulations.

Acceptance Criteria

The Footer has two parts:

1.  The Upper footer:

       #

       Height: 80px

       Background color: #E8E8E8

1.  1.  Column 1:

             ##
        ***Need help? Contact your RAD Analyst*** [Karla - Bold - 18pt - #212121](#212121)
        John Doe (888) 888-8888 [Karla

[2022-09-06 14:11] WiseQA commented on #411
-  When you are done in the application, click Profile -> Logout. You should be redirected to the original FECfile login page.   Following error appears (tested 3 times, browser cache, cookies all cleared before restesting).

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b7f06336-4127-4800-8e18-a54ddf28448e)

@mjtravers @toddlees @dheitzer returned in "In-Progress" per

[2022-09-06 14:56] WiseQA commented on #445
QA Review verified the Memo Item checkbox is "Read Only" for PAC Joint Fundraising Transfer Memo

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/050c1846-8e5c-4dc1-bfb1-a0747ad15c3f)

QA Review Completed.   Moved to Stage Ready

[2022-09-06 15:44] WiseQA commented on #111
QA Review - drop down does work, however by Acceptance Criteria, the following do not change when Telephone is edit.  This is suppose to work correct ?  So if I edit a contact and change phone number to non US the State/Province and Zip should change automatically ?  if so this is not working

- STATE/PROVINCE (A/N-2, required. Should be a dropdown, if Country is not US, defaults to Foreign Countr

[2022-09-06 16:09] toddlees commented on #111
@WiseQA @mjtravers You're right, those Acceptance Criteria are part of the ticket.  The Country they are describing is the "Country/Region" field above "Street Address" rather than the country in the phone input.  A contact in Spain can have a USA number (like Aurelia :p).  I believe the state/province dropdown does change to Foreign Countries if you pick a country/region other than USA.  Zip shou

[2022-09-06 16:15] WiseQA commented on #111
Country region only showing the following:
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/37fc8875-d771-4d98-9916-b5978e71f9b1)

Verified dropdown working as designed as a place holder of 3 countries for testing purposes.

[2022-09-06 16:22] WiseQA commented on #111
City showing a required field for foreign country selected as Mexico is this correct ?

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/8c21e2fa-b860-46f9-8e77-66c093477f14)

Verified City is a required field when selecting a foreign country.

[2022-09-06 17:19] toddlees commented on #111
Returning to QA.  Questions answered

[2022-09-07 13:19] mjtravers opened #556 "Convert default null values to undefined"
The model properties were assigned a default value of null in most cases, this has turned out to be problematic for a number of reasons including results from the ? operator on objects and the standard return value for many Angular helper functions.

The task is to convert the null default value to undefined in the app models and test (unit and e2e) to make sure the app still functions as expected

[2022-09-07 13:50] mjtravers opened #557 "Setup mock Login.gov process for e2e tests"
To allow for e2e tests to log into the test site and run the e2e tests, Cypress needs to be able to get past the Login.gov process. The strategy decided upon is to create a feature flag that turns on a streamlined version of the "old" login process. This streamlined version will simply consist of a REST endpoint the grants access and does not include any front-end screens that need to be accessed

[2022-09-07 15:11] WiseQA commented on #287
QA Review verified calculations of contribution amounts displays in Detailed Summary Report, lines 15 and 37.  (Note:  Offsets to Operating Expenditures only was tested per Acceptance Criteria)
1.  Verified "Memo Item" box is unchecked.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/7d83c7f3-81ce-494c-ae59-b65034c9a404)

2,  Verify Contribution amounts are calculated in

[2022-09-07 16:46] WiseQA commented on #471
QA Review verified lookup for Committee prototype as denoted in QA notes.  Verified lookup showed Committee Name and Committee ID in parenthesis.

1.  Verified that "Test Biden Committee Name" shows up in Select an existing committee account: and "Test Committee Name" does not appear.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/23baef10-fc9b-46db-949a-3378e76f34c3)

[2022-09-07 19:38] MitchellTCG commented on #111
Updating this ticket to just test the new international Phone number dropdown.

I will make a new ticket to deal with updating contact address functionality.

[2022-09-07 20:20] AureliaKhorsand opened #560 "Allow user to download a .FEC file from the Manage Reports Page"
As a user, I will be able to generate and view a *.fec file of my report so that I can see how the Form 3X will output to FEC and troubleshoot as needed.

Acceptance Criteria

  Dev Notes

*   [ ] set up record tied to report to track state of .fec compilation (should be akin to webprintsubmission and uploadsubmission records)
*   [ ] query reports to see status of dot_fec_task for each report, sh

[2022-09-07 20:34] Elaine-Krauss-TCG commented on #546
Updated tests are all passing when run as a batch.

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/6ce8a286-57c7-4bcb-880f-d99546b0c06a)

[2022-09-07 23:30] mjtravers opened #562 "Eliminate ngModel from reactive form"
We're getting a depreciation warning in unit tests for the ngModel attribute in the Transaction Group F HTML template.

Here is the warning:

![image.png]([https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/21d32c3f-f4ea-495f-ab94-94514dc7ee5a](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/21d32c3f-f4ea-495f-ab94-94514dc7ee5a))

Here is the line of code causing the warni

[2022-09-08 13:38] Elaine-Krauss-TCG commented on #546
Cypress updated from 9.5.3 to 10.7.0.  End-to-end tests updated to be compatible with the new version and to be compatible with the experimental session updates that will be standard when 11.0 releases early next year.

End-to-end tests were refactored to be more consistent and modestly more performant.

[2022-09-08 13:51] WiseQA commented on #111
QA Review verified the International Telephone dropdown menu displays International telephone numbers, and are selectable from dropdown.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/0f84a159-67f4-4ad7-9b37-4669f4af121b)

QA Review Completed.  Moved to Stage Ready

[2022-09-08 14:31] mjtravers commented on #411
Passes CR, ready for QA on STAGE

[2022-09-08 14:33] WiseQA commented on #411
QA Review verified the timeout issue for logout from Login.gov in both Stage and DEV branches has been fixed.   Logout is working from Login.gov

1.  Select the Login with login.gov button. The login.gov email / PW credential page is displayed to login.
![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/f61afb3a-b342-49de-aafc-b0f6b40dc972)

2.  After login click Profile ->

[2022-09-08 16:12] mjtravers commented on #546
Passes CR, sending to QA. @WiseQA See comment above to see the screenshot of e2e tests running successfully.

[2022-09-08 18:54] WiseQA commented on #546
QA Review verified by inspection per DEV the e2e tests ran successfully.

QA Review Completed.  Moved to Stage.

[2022-09-08 20:15] AureliaKhorsand commented on #487
Combining with #172. Closing as duplicate.

[2022-09-08 20:15] #487 closed, assigned to AureliaKhorsand

[2022-09-12 16:19] Elaine-Krauss-TCG commented on #550
Step 2 of the Report creation process has been removed.  All unit tests are passing.

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/5355fafa-aa94-44b1-81f1-b1495673536c)

[2022-09-13 13:35] AureliaKhorsand opened #565 "System to calculate Aggregate/Itemization for "Earmark Receipt" (Group A), "Earmark Memo" (Group G)"
Business Reason

The Aggregate field must display the total of the entity's contributions from the calendar year of the report. This is necessary to track contribution limits as well as itemization logic. This amount will be a _rolling total_.

Acceptance Criteria

For the following transactions:

1\. Earmark Receipt (Group A)

  2\. Earmark Memo (Group G)

AGGREGATE fields must meet the following

[2022-09-13 14:31] mjtravers commented on #550
One code issue was found in CR. Elaine is making a code change to flatten out a couple of rxjs subscriptions and then will resubmit to CR

[2022-09-13 14:55] mjtravers opened #566 "Clear out NGRX browser cache when a user logs out"
When a user is logged in, the app tracks data state in the browser's local store. When the user logs out the local browser store should be cleared out. See the following screenshot to see an example of a populated local store:

![image.png]([https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/12365ae4-e1d6-4fed-bea6-a745b5132d83](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d7

[2022-09-13 15:31] #111 closed, assigned to toddlees

[2022-09-13 15:31] #429 closed, assigned to toddlees

[2022-09-13 15:31] #442 closed, assigned to toddlees

[2022-09-13 15:31] #471 closed, assigned to dheitzer

[2022-09-13 15:31] #480 closed, assigned to toddlees

[2022-09-13 15:31] #384 closed, assigned to Elaine-Krauss-TCG

[2022-09-13 15:31] #439 closed, assigned to mjtravers

[2022-09-13 15:31] #445 closed, assigned to Elaine-Krauss-TCG

[2022-09-13 15:31] #546 closed, assigned to Elaine-Krauss-TCG

[2022-09-13 15:31] #190 closed, assigned to toddlees

[2022-09-13 15:31] #287 closed, assigned to toddlees

[2022-09-13 15:31] #411 closed, assigned to dheitzer

[2022-09-13 15:31] #421 closed, assigned to Elaine-Krauss-TCG

[2022-09-13 15:31] #428 closed, assigned to toddlees

[2022-09-13 15:31] #484 closed, assigned to Elaine-Krauss-TCG

[2022-09-13 15:31] #443 closed, assigned to Elaine-Krauss-TCG

[2022-09-13 19:29] MitchellTCG commented on #69
@mary-tcg
Please create a wireframe for this scenario. In the upper left hand portion of "Redesign Sketch Pad - Take 4" (XD File), you will find Artboard titled "Delete Contact". Please remove the Edit icon and three dot actions icon. Replace them with a trash can (found to the right). Make at least two rows have a trash can with only 30% opacity. Above one of the 30% opacity trash cans, please ad

[2022-09-13 20:40] mjtravers commented on #72
Some questions and comments sent back to David from CR before moving to QA

[2022-09-13 21:14] mjtravers commented on #550
Code change requests have been made. Ticket passes CR and sending to QA

[2022-09-14 13:01] MitchellTCG commented on #560
Here are components for the Export Drawer:
![loading-ellipsis.gif](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/a47ee9a8-3335-4207-a19c-7faabad41602)

![Check.svg](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/3414dae4-6673-4d28-a3e2-0f0b3a70b988)

![X.svg](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/fdcbbdbc-26d8-4560-a804-d6f527b9fc4f)

[2022-09-14 13:07] MitchellTCG commented on #560
@AureliaKhorsand
I think we have delivered everything you and the devs need. Back in your court to complete the AC.

[2022-09-14 13:16] MitchellTCG commented on #451
@mary-tcg please add the wires to this ticket

[2022-09-14 13:17] MitchellTCG commented on #448
@mary-tcg please add the wires to this ticket

[2022-09-14 13:17] MitchellTCG commented on #447
@mary-tcg please add the wires to this ticket

[2022-09-14 14:14] WiseQA commented on #550
During QA testing the "Save and Continue" button not working, not taking to next page.   below 2 examples of reports created.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/7c6c6d15-4ce2-48ef-8b49-662d5bfba232)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/5c9d1d32-957b-41cd-ade8-6a2923b017ee)

@mjtravers  @Elaine-Krauss-TCG Returned to In

[2022-09-14 14:36] Elaine-Krauss-TCG commented on #550
It seems that on dev, cashOnHand is being set to null for some strange reason...

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/007441c6-4198-4dbe-b955-d7ffa5c29185)

[2022-09-14 15:58] Elaine-Krauss-TCG commented on #550
After a change, I was able to create a report on Dev.

Clearing your cache will most likely be necessary.

[2022-09-14 18:20] dheitzer commented on #72
added CR fixes and pushed back to CR.

[2022-09-14 18:23] AureliaKhorsand opened #570 "Update label names for each Transaction Group"
Task: Make the following updates to field names:

***Group A Transactions (Individual Receipt):***

*   [x] Section Header for contact should be "Contact" (changed from "Contributor")
*   [x] "Contributor Type" should be "Contact Type"
*   [x] Section header for receipt should be "Receipt Information" (changed from "Contribution")
*   [x] "Contribution Amount" should be "Amount"
*   [x] "Contribut

[2022-09-14 19:01] Elaine-Krauss-TCG commented on #557
- Cypress tests now log in directly through the API.
 - The local login process (as opposed to login.gov) has been refactored and is now a one-step process.
 - Local logins are disabled by default, only being enabled on Local and on the hypothetical future E2E environment.
 - The local login form is hidden by default and becomes available after checking for its availability with the API.

[2022-09-14 19:06] AureliaKhorsand opened #571 "Allow user to see if a committee is active in lookup"
Requested by Ryan on 9/13/22 sprint demo.

**Business case**

As a user, I want to be able to see if a committee is active or inactive when I am searching on the lookup so that I do not accidentally choose an inactive committee and report false data.

**Acceptance criteria**

**Given** I am using the lookup to search for a committee,

**When** I view the results from [fec.gov](http://fec.gov)/open

[2022-09-14 19:18] AureliaKhorsand commented on #159
BA Note: This does NOT include the amendment workflow, discussed at the requirements session on 9/1/22. Contact updates within a transaction in a report that has subsequent reports after may need to open and amend those other reports. TBD.

[2022-09-14 23:22] WiseQA commented on #550
@mjtravers sent back for Code Review with above change.
Note:  I cleared my cache and browser several times when testing before.  I will clear again. Thanks

[2022-09-15 11:21] mjtravers commented on #550
Passes CR, sending to QA

[2022-09-15 14:32] mjtravers commented on #72
One last CR comment to fix brought up by Elaine about handling the different name order permutations in the search and in the highlighting. Sending ticket back to In Progress for further development.

[2022-09-15 14:35] WiseQA commented on #550
QA review verified once report created and then select the "Save and continue" button, the workflow goes to "Manage your transactions" page.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/bc640b95-62e5-40eb-bf75-536dc8dd5fcd)

QA Review Completed.   Moved to Stage Ready

[2022-09-16 12:53] MitchellTCG commented on #234
@AureliaKhorsand Updated

[2022-09-16 12:59] MitchellTCG commented on #294
@mary-tcg

Please create a wire for this by COB today

[2022-09-19 14:01] toddlees commented on #72
In a meeting with @MitchellTCG  we decided that we will pass on matching names with `'` until later

[2022-09-20 00:31] MitchellTCG commented on #553
@JonellaCulmer
Please review this ticket

[2022-09-20 13:58] WiseQA opened #576 "Defect - When selecting "Save and Add More" for additional contacts the Telephone (Optional) field not clearing"
This defect is to correct when selecting the "Save and Add More" for additional contacts the Telephone (Optional) field not clearing. (Note: This error occurs when entering any of the contacts).

1\. Enter an "Individual" contact including the Telephone number (Optional):

![image.png]([https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/2cb36ece-2d46-489c-b060-b3cf061d608a](https://imag

[2022-09-20 15:42] WiseQA commented on #72
QA review "Address" "Employer" "Occupation" fields not updating when using the lookup and selecting a Contact.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/e68af5b6-a3fd-476b-943b-7ecb8386ac66)

@dheitzer @AureliaKhors @GreggMoreland and returned to In-progress for fix per our discussion.   Note Tickets 548 and 538 will need updated with same change.

[2022-09-20 15:45] WiseQA commented on #538
QA review  of ticket #72 impacts this ticket also.   "Address"  fields not updating when using the lookup and selecting a Contact.

@dheitzer @AureliaKhorsand @GreggMoreland per meeting returning to In-Progress for fix.

[2022-09-20 15:46] WiseQA commented on #548
QA review  of ticket #72 impacts this ticket also.   "Address"  fields not updating when using the lookup and selecting a Contact.

@dheitzer @AureliaKhorsand @GreggMoreland per meeting returning to In-Progress for fix.

[2022-09-20 17:36] AureliaKhorsand commented on #448
@mary-tcg please swap the Additional Information boxes to have Contribution Purpose Description to show first, and remove bold font within pre-populated text.

[2022-09-20 17:36] AureliaKhorsand commented on #451
@mary-tcg please swap the Additional Information boxes to have Contribution Purpose Description to show first, and remove bold font within pre-populated text.

[2022-09-20 17:37] AureliaKhorsand commented on #447
@mary-tcg please swap the Additional Information boxes to have Contribution Purpose Description to show first, and remove bold font within pre-populated text.

[2022-09-20 18:07] AureliaKhorsand commented on #234
@MitchellTCG two quick updates - can you fix the order of the CPB and Memo Text fields? And take out "Partnership Individual Joint Fundraising Transfer Memo" as a sub-transaction option? (Updates from requirements meeting today)

[2022-09-20 21:19] mjtravers commented on #72
Latest fix passes CR. Sending to QA

[2022-09-20 23:57] mjtravers commented on #556
Unit test screenshot for QA:
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/f2dff212-048f-4f4e-bd01-145aa2e4a8f6)

[2022-09-21 12:34] WiseQA commented on #72
QA review verified lookup is searchable and contains last name, first name and In Contacts for Individual Contacts.  (Note also verified that the highlight a selection grey if hovered over with the pointer.)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/2996d65d-aca5-4d8f-8719-0f5abdd8708c)

Once contact selected verified Contributor fields, Address fields, Employer a

[2022-09-21 13:28] dheitzer commented on #548
[#538](https://app.zenhub.com/workspaces/fecfile-online-619e578e68408b001c831251/issues/fecgov/fecfile-web-app/538) is built on this ticket and can be reviewed once it is merged into dev.

[2022-09-21 14:51] mjtravers commented on #548
Sending ticket from CR to In Progress to address @toddlees  change requests.

[2022-09-21 15:55] dheitzer commented on #548
CR changes pushed.

[2022-09-21 16:08] toddlees commented on #576
In regards to the additional error ("This field must contain 10..."), this is almost certainly caused by an empty string `''` in the phone number, which is a value (so passing 'required' but failing 'length' rule).  One solution to this is map `''` to `undefined` before validation

[2022-09-21 16:13] mjtravers commented on #548
Passes CR, sending to QA

[2022-09-21 17:33] AureliaKhorsand opened #579 "Implement session timeout (user-facing)"
Placeholder ticket for session timeout. Need solution that informs user of timeout and allows them to continue the session.

### QA Notes ###

null

### DEV Notes ###

null

### Design ###

null

 See full ticket and images here: [FECFILE-1010](https://fecgov.atlassian.net/browse/FECFILE-1010)

[2022-09-21 17:33] AureliaKhorsand opened #580 "System to warn user of impending session timeout due to inactivity with option to extend"
**Business reason**

As a user, I want a warning that the system is about to log me out due to inactivity, along with the option to extend my session, so that I can keep working and not lose data I have been entering.

Acceptance criteria

**Given** a user is logged in to an active session of FECfile+

**When** there are XX minutes before the 60-minute mark of inactivity

**Then** the system will

[2022-09-21 17:37] AureliaKhorsand opened #581 "Allow user to manually exclude a transaction from Contribution Aggregation"
### Business Reason ###

As a user, I will be able to manually indicate that a transaction should not be counted against the person's aggregation so that I can [business reason]

### Acceptance Criteria ###

**If** [precedent]
**When** [action]
**Then** [result]

[2022-09-21 17:56] AureliaKhorsand opened #582 "Update future transactions if relevant contact is edited (open reports ONLY)"
Business Reason

As a user, if I update contact information from within a transaction, I would expect that contact information to be updated in any existing transaction with the same or future receipt date so that I don't have to update each one manually in order to report accurately.

Acceptance Criteria

***If*** the user edits a contact from within a transaction,

  ***When*** the user saves th

[2022-09-21 18:50] mjtravers commented on #538
Passes CR, moving to QA

[2022-09-22 13:12] MitchellTCG opened #583 "Remove extraneous left-hand nav bar"
Businuess Case

As a UX designer, I would like the extraneous 300px wide blue nav bar from pages that have a workflow nav so the user can regain some screen real estate.

Acceptance Criteria

Please remove the 300px Blue Nav from the following pages:

1.  1\. Dashboard

       #

       A. Dashboard Page

*   [https://fecfile-web-app-prod.app.cloud.gov/dashboard](https://fecfile-web-app-prod.app.c

[2022-09-22 13:24] MitchellTCG commented on #583
@mjtravers @WiseQA

Can you two please let me know if this is clear enough?

[2022-09-22 14:16] mjtravers commented on #583
Which is a better way to look at this as more pages are added to the site: the left navigation is there or it is hidden? If it is hidden by default, it would be better to list the pages where the left nav is present rather than absent.

[2022-09-22 14:33] toddlees commented on #460
@MitchellTCG Should there be an entity type selector in this form?  the specs say it can be an Individual or Committee

[2022-09-22 14:49] AureliaKhorsand commented on #460
@toddlees yes, per the acceptance criteria in the ticket, there needs to be an entity type selector on the form for Individual or Committee, and it should default to Committee.

[2022-09-22 15:47] WiseQA commented on #548
QA review verified lookup is searchable and contains Organization name and verified In Contacts.  (Note also verified that the highlight a selection grey if hovered over with the pointer.)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/db359ee0-046a-4142-9a84-c4fb0e3ee8d4)

Once contact selected verified Contributor fields and Address fields updated with contact inform

[2022-09-22 15:53] WiseQA commented on #538
QA review verified lookup is searchable and contains Committee name and Committee ID and verified In Contacts.  (Note also verified that the highlight a selection grey if hovered over with the pointer.)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/353decd8-dca2-4577-a566-678a06c3a3f1)

Once contact selected verified Contributor fields and Address fields updated with

[2022-09-22 16:35] WiseQA commented on #538
@dheitzer @MitchellTCG
Joint Fundraising Transfer page doesn't include "Searchable" field.   (See QA notes of transactions included on this ticket that should have "Searchable" field.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/b7ae44aa-7744-407f-9ab5-163d7bc18af8)

[2022-09-22 19:59] mjtravers commented on #538
Lookup box is now cleared after the user selects a contact and copies it into the the transaction input fields. The lookup box was also added to the JF TRAN screen. Passed CR so sending to QA.

[2022-09-22 19:59] mjtravers commented on #548
Lookup box is now cleared after the user selects a contact and copies it into the the transaction input fields. The lookup box was also added to the JF TRAN screen. Passed CR so sending to QA.

[2022-09-22 20:28] mjtravers commented on #459
Passes CR, sending to QA

[2022-09-22 22:21] WiseQA commented on #548
QA review and verified "Search" field is cleared out once "Save and add another" button is selected.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/cd3084b6-b7b5-463e-b334-8c7e6171ed3c)

Error has been fixed.   QA retested Tribal Receipt, Offsets to Operating Expenditures and Other Receipts
Other Receipts.

QA Review Completed.  Moved to Stage Ready.

[2022-09-22 22:24] WiseQA commented on #538
QA review and verified "Search" field is cleared out once "Save and add another" button is selected.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/13c82576-e4c7-42bc-9240-623d6a33300b)

QA Review completed Joint Fundraising Transfer has a "Searchable" field.

QA verified Joint Fundraising Transfer, PAC JF Transfer Memo and Other Receipts have searchable fields and upo

[2022-09-22 22:33] WiseQA commented on #72
QA retested Individual contacts and verified once select the "Save and add another" transaction the "Searchable" field has been cleared.   (Note this error found in ticket #548 and #538)

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/288d4c78-7c4b-4d58-9703-bbb9015e9676)

Second QA review completed.

[2022-09-23 02:08] MitchellTCG opened #587 "Update Transaction Table to show full transaction names and updated column headers"
Business Reason

As a RAD SME, I would like the full name of transactions written out on the "Transactions during coverage dates" table on the Manage your transactions page within a report.

Acceptance Criteria

1\. Under the "Transaction Type" Column, any transaction listed should show the full transaction name, wrapped to accommodate column width.

  2\. Change "CONTRIBUTOR NAME" to "NAME"

  3\

[2022-09-23 13:23] MitchellTCG opened #588 "Create automated regression tests for QA scripts (Sprint 13)"
Business Reason

As a developer or QA, I will be able to automatically run the Sprint-13 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

If I want to run the Sprint test scripts to retest the tickets

  When I run the automated tests in the Cypress framework

  Then I will get a report on which scripts failed and which

[2022-09-23 23:50] WiseQA commented on #459
QA Review verified selecting "Step One" "Add receipt and contributor information proceeded to blank Earmark Receipt page to enter information.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/056226f2-1a79-418d-bf76-9ad0f292d20c)
***
QA Review verified fields for Earmark Receipt are entered.   Note cannot save this receipt to verify fields are valid.

![image.png](https:

[2022-09-26 13:07] AureliaKhorsand commented on #587
@MitchellTCG where is this requirement from?

[2022-09-26 13:42] MitchellTCG commented on #490
@mary-tcg
Please knock this out first thing tomorrow

[2022-09-26 13:42] MitchellTCG commented on #491
@mary-tcg
Please knock this out first thing tomorrow

[2022-09-26 14:46] AureliaKhorsand opened #590 "Allow user to use Lookup for Earmark Receipt (Group A) /Earmark Memo (Group G)"
Business Reason

The system will employ a Lookup feature when entering transactions in order to allow the user to pull existing contact information from the committee account's Contact Management table. This will also assist the FEC in making more accurate data available to the public.

Acceptance Criteria

***Given*** a transaction type of Earmark Receipt (Group A) or Earmark Memo (Group G),

  *

[2022-09-26 15:05] WiseQA commented on #556
QA Inspection Review completed.   DEV team verified Unit Tests associated with fix passed.

QA Review Completed.   Moved to Stage Ready.

[2022-09-26 15:08] Elaine-Krauss-TCG commented on #588
The Sprint 8 Test 133 E2E test has been removed.  It primarily dealt with step 2 of the report creation process, and that has now been removed.  Since the test no longer covers any elements unique to that test, it is not worth maintaining.

Same deal with Test 8:215.  It existed to check a link on the report Step 2 page, and has now been deleted.

[2022-09-26 16:41] Elaine-Krauss-TCG commented on #588
All pre-existing E2E tests are once again passing

[2022-09-26 17:24] Elaine-Krauss-TCG commented on #588
Existing tests cover the requirements of ticket #429.  A test evaluating the contents of the transaction accordion was already modified to work with the changes.

[2022-09-26 17:27] AureliaKhorsand opened #591 "Allow user to manually itemize or unitemize a transaction"
Business Reason

As a user, I will be able to force itemize or unitemize any transaction so that I can report efficiently if needed.

Acceptance Criteria

***Given*** the user is on the Manage Transactions page,

 ***When*** they select the action menu for an _itemized_ transaction

 ***Then*** there will be the following options in the dropdown:

*   Edit
*   Unitemize

***And*** if the user sele

[2022-09-26 17:31] Elaine-Krauss-TCG commented on #588
App Ticket #442 changes are tested by adding a check for the 'Actions' header to an existing test looking at the Report page's table headers.

[2022-09-26 18:03] Elaine-Krauss-TCG commented on #588
App Ticket #384 is best tested with a quick visual inspection.  Cypress E2E tests aren't really suitable for checking the relative positioning of elements.

[2022-09-26 18:51] Elaine-Krauss-TCG commented on #588
A new E2E test has been created which tests the features implemented in tickets #439 and #445

[2022-09-26 19:13] mjtravers commented on #413
Passes CR and released to STAGE server.

[2022-09-26 19:14] mjtravers commented on #243
Passes CR and released to STAGE server.

[2022-09-26 19:14] mjtravers commented on #549
Passes CR and released to STAGE server.

[2022-09-27 14:40] WiseQA commented on #413
QA review incomplete.     @mjtravers @MitchellTCG returned to 'In-Progress" for the following fixes:

1.  Fix hiding and showing of forms until contact link selected.

2.  Change green button to match what is in wireframe.

 ![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/82c4d129-c331-4262-8407-0cdee62b969f)

3.   Fix display of lookup and Create new contact (spacing is

[2022-09-27 14:40] WiseQA commented on #243
QA review incomplete.     @mjtravers @MitchellTCG returned to 'In-Progress" for the following fixes:

1.  Fix hiding and showing of forms until contact link selected.

2.  Change green button to match what is in wireframe.

 ![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/82c4d129-c331-4262-8407-0cdee62b969f)

3.   Fix display of lookup and Create new contact (spacing is

[2022-09-27 14:40] WiseQA commented on #549
QA review incomplete.     @mjtravers @MitchellTCG returned to 'In-Progress" for the following fixes:

1.  Fix hiding and showing of forms until contact link selected.

2.  Change green button to match what is in wireframe.

 ![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/82c4d129-c331-4262-8407-0cdee62b969f)

3.   Fix display of lookup and Create new contact (spacing is

[2022-09-28 13:24] mjtravers commented on #243
Contact lookup changes pushed to STAGE. Ready for QA.

[2022-09-28 13:25] mjtravers commented on #549
Contact lookup changes pushed to STAGE. Ready for QA.

[2022-09-28 14:27] AureliaKhorsand opened #597 "Form 3X: Schedule B"
This epic includes Schedule B specific functionality and transactions on Form 3X

### QA Notes ###
null

### DEV Notes ###
null

### Design ###
null

 See full ticket and images here: [FECFILE-1001](https://fecgov.atlassian.net/browse/FECFILE-1001)

[2022-09-28 15:33] WiseQA commented on #243
QA review verified following fixes were implemented (See QA comments above):

1.  Fix hiding and showing of forms until contact link selected.
2.  Change green button to match what is in wireframe.
3.  Fix display of lookup and Create new contact (spacing issues)

Test Case/Test Script attached showing ticket “PASS”.

[https://app.zenhub.com/files/306118986/55549041-0027-4f52-a771-975db6565bf8/dow

[2022-09-28 15:51] WiseQA commented on #588
Code Review completed and verified by @toddlees for e2e testing as denoted in comments above.

QA inspection completed.    Moved to Stage Ready.

[2022-09-28 16:52] WiseQA commented on #549
QA review verified following fixes were implemented (See QA comments above):

1.  Fix hiding and showing of forms until contact link selected.
2.  Change green button to match what is in wireframe.
3.  Fix display of lookup and Create new contact (spacing issues)

Test Case/Test Script attached showing ticket “PASS”.

[https://app.zenhub.com/files/306118986/52d1de91-03f0-4f06-a5ae-b9ffa1440adb/dow

[2022-09-28 18:32] Elaine-Krauss-TCG commented on #553
Footer implemented according to specs with no complaints from ANDI
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/3f1e75d6-0242-4220-87ac-9e4f437034b9)

[2022-09-28 18:33] Elaine-Krauss-TCG commented on #553
All unit tests passing
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/acced53d-e04a-48ef-85b1-7eb199552f1a)

[2022-09-29 12:26] MitchellTCG opened #601 "Feature/601 Fix sorting on the Manage Contacts page"
Business Reason

As the UX Lead, I would like users to have the ability to sort the columns on the Manage Contacts table alphabetically or reverse-alphabetically and have the system work as expected.

Acceptance Criteria

1.  Step One:

       #

       ***Given:*** A User wants to sort a column of data on the ***Manage Contacts*** Table found here: [https://fecfile-web-app-stage.app.cloud.gov/con

[2022-09-29 13:25] mjtravers commented on #557
Passes CR and code pushed to STAGE. Sending to QA

[2022-09-29 14:03] WiseQA commented on #557
QA review verified Login entering Email, Committee ID, Password:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/aa2c3abe-b87a-4d2a-ac1f-9ef39d65b547)

Select Enter button verify Committee ID and dashboard are displayed.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/e31c6e93-8610-471b-adeb-7831d5794d33)

QA Review Completed.   Moved to Stag

[2022-09-29 14:16] AureliaKhorsand commented on #512
@GreggMoreland can you update the specs to include accounting for "ORG" entity? Specs are updated in the spreadsheet

[2022-09-29 14:30] AureliaKhorsand commented on #319
@GreggMoreland requirements session notes from 5/26/22 may be helpful for this ticket

[2022-09-29 14:32] AureliaKhorsand opened #603 "System to prevent committees with Terminated filing frequency from filing new reports"
Business Reason

As a user with a terminated committee, I will not be able to create a new report so that I can adhere to FEC guidelines.

 Acceptance Criteria

**If** a committee has a filing frequency of Terminated (T) or administratively terminated (A),
**When** I go to Create reports page
**Then** I will not be able to create any new reports
**however** I can _only_ amend existing reports.

##

[2022-09-30 13:11] mjtravers commented on #553
There is a white padding around the footer left, bottom, and right side that does not appear in the wire frame. Here is a screen shot showing the extra padding when the footer blue should to to the left, right, and bottom edges
![image.png](https://images.zenhubusercontent.com/61b9fc72d99b6f786e0d798c/73c3a144-9343-4577-9da5-70caa46c7741)
Sending back to In Progress

[2022-10-03 16:50] mjtravers commented on #553
Passes CR. Sending to QA

[2022-10-03 18:54] mjtravers commented on #413
Passes CR, ready for QA

[2022-10-04 00:30] MitchellTCG commented on #122
I see this was assign and then deprioritize.
@AureliaKhorsand Is this OBE

[2022-10-04 13:13] AureliaKhorsand commented on #122
@MitchellTCG Not to my knowledge - I'm not sure why it was sent back. It should still get done at some point.

[2022-10-04 15:08] #243 closed, assigned to mjtravers

[2022-10-04 15:08] #549 closed, assigned to mjtravers

[2022-10-04 15:08] #550 closed, assigned to Elaine-Krauss-TCG

[2022-10-04 15:08] #556 closed, assigned to mjtravers

[2022-10-04 15:08] #557 closed, assigned to Elaine-Krauss-TCG

[2022-10-04 15:08] #588 closed, assigned to Elaine-Krauss-TCG

[2022-10-04 15:08] #538 closed, assigned to dheitzer

[2022-10-04 15:08] #548 closed, assigned to dheitzer

[2022-10-04 15:08] #72 closed, assigned to mjtravers

[2022-10-04 17:56] MitchellTCG commented on #560
@AureliaKhorsand
I added a wire. I think you were only waiting for the multiple downloads wireframe.

[2022-10-04 18:10] mary-tcg commented on #69
@AureliaKhorsand wireframe updated

[2022-10-04 18:33] mary-tcg commented on #234
@AureliaKhorsand Wireframe updated

[2022-10-04 18:40] mary-tcg commented on #537
@AureliaKhorsand wireframe updated

[2022-10-04 18:51] mary-tcg commented on #477
@AureliaKhorsand updated wireframe

[2022-10-06 14:24] MitchellTCG commented on #553
@Elaine-Krauss-TCG
PLease update "Need help? Contact your RAD Analyst" with "Contact us"
And get rid of the phone number per this wireframe

![Screen Shot 2022-10-06 at 10.22.21 AM.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/3b89d99d-a48d-4cb2-85ba-ff47f0ab0413)

[2022-10-06 17:14] mary-tcg commented on #519
@AureliaKhorsand wireframe updated

[2022-10-06 17:18] mary-tcg commented on #528
@AureliaKhorsand wireframe updated

[2022-10-06 17:27] Elaine-Krauss-TCG commented on #553
Footer updated accordingly
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/c4f4d90e-a4a8-449a-93a2-3a997193cbb8)

[2022-10-06 17:28] mary-tcg commented on #533
@AureliaKhorsand wireframe updated

[2022-10-06 17:52] mary-tcg commented on #478
@AureliaKhorsand wireframe updated

[2022-10-06 18:00] mary-tcg commented on #524
@AureliaKhorsand updated wireframe

[2022-10-06 18:01] mary-tcg commented on #523
@AureliaKhorsand wireframe updated

[2022-10-06 20:15] mjtravers commented on #553
Passes CR, moving to QA

[2022-10-07 15:45] #483 closed, assigned to MitchellTCG

[2022-10-07 15:56] MitchellTCG commented on #459
@AureliaKhorsand Please Test this

[2022-10-07 15:57] MitchellTCG commented on #460
@AureliaKhorsand Please Test this

[2022-10-07 15:57] MitchellTCG commented on #159
@AureliaKhorsand Please Test this

[2022-10-07 16:40] mary-tcg commented on #449
@AureliaKhorsand wireframe updated

[2022-10-07 16:46] mary-tcg commented on #452
@AureliaKhorsand wireframe updated

[2022-10-07 17:32] AureliaKhorsand commented on #587
@MitchellTCG should we have some design in here to account for super long names?

[2022-10-07 17:33] GreggMoreland opened #609 "Allow user to enter Tribal National Party Headquarters Buildings Account JF Transfer Memo on Schedule A (Group D)"
Business Reason

As a Committee Administrator, I will be able to enter a **’Tribal National Party Headquarters Buildings Account JF Transfer Memo ‘** sub-transaction under **"Joint Fundraising Transfer - National Party Headquarters Buildings Account"** on Schedule A of a Form 3X report so that I can accurately report on my committee's transactions.

NOTE: This is a "child" transaction that will be

[2022-10-10 14:00] MitchellTCG commented on #553
### TESTING: App553 ###
Following Links work and resolve to the correct links:
- [x] Privacy and security policy
- [x] Plain language
- [x] No FEAR Act
- [x] Strategy, budget, and performance

- [x] Open government
- [x] Protect Voices
- [x] USA.gov
- [x] Inspector General
- [x] FOIA

The following Text is correctly placed and phrased
- [x] Feedback
- [x] Legal Disclaimer
- [x] LOGO
- [x] Federal

[2022-10-10 14:51] MitchellTCG commented on #553
### App553 — FAILED ###
@Elaine-Krauss-TCG  Please make the following updates _(do not check the boxes, I will when i retest the issue)_

- [ ] Please change "Contact us" to "Need help? Contact us" (this is my fault UX)
- [ ] Please change "Need help? Contact us", "Feedback", and "Legal Disclaimer" from Karla (regular) to Karla (bold). I believe karla-bold should work.
- [ ] Somewhere in the ng pa

[2022-10-10 15:02] MitchellTCG commented on #576
@toddlees
### App #576 — PASSED ###

When I typed in a contact I saw 555-555-1000 as the phone number:
![Screen Shot 2022-10-10 at 8.57.28 AM.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/29d7fa0a-2db9-4cfe-a7b8-b7c4b36dbf09)

After clicking Save & add more, I received a successful message, ALL FIELDS were cleared as displayed below, and the contact was saved as expected:
![Sc

[2022-10-10 15:48] MitchellTCG commented on #413
@dheitzer  @mjtravers
### App#413 — PASSED ###
When I clicked "Create a new contact" on JF Transfer, Other and Offset:
1. I was able to enter data in the fields of the "Create a new contact" modal
 ![Screen Shot 2022-10-10 at 9.33.16 AM.png](https://images.zenhubusercontent.com/619e83beec2d9fadb74ad6d1/429747b4-160b-404f-8aaf-005c087fce4d)

2. After clicking Save and continue, the modal disappeare

[2022-10-11 09:25] Elaine-Krauss-TCG commented on #380
Noted, thank you

On Wed, Jul 20, 2022, 10:50 AM MitchellTCG ***@***.***> wrote:

[2022-10-11 18:54] mjtravers commented on #159
From CR, the contact_id needs to remain required and the contact object should be passed to the new endpoint so that contact form inputs not on the transaction form for contacts are still saved. Sending to In Progress

[2022-10-12 15:08] AureliaKhorsand commented on #490
@mary-tcg can you update the field names in the wireframes to match the ACs in the ticket? Thanks!

[2022-10-12 15:25] Elaine-Krauss-TCG commented on #553
- "Contact us" -> "Need help? Contact us"
 - Upper footer text changed from being wrapped in \<strong\> to using the karla-bold font
 - All instances of "pt" font sizing in the footer changed to "px"
 - "Protect" -> "Protected"

[2022-10-12 16:05] mary-tcg commented on #490
@AureliaKhorsand done

[2022-10-12 16:18] mjtravers commented on #553
Passes CR, sending to QA

[2022-10-12 17:00] MitchellTCG commented on #553
### App553 — PASSED ###
@Elaine-Krauss-TCG  Please make the following updates _(do not check the boxes, I will when i retest the issue)_

- [x] "Contact us" changed to "Need help? Contact us"
- [x] "Need help? Contact us", "Feedback", and "Legal Disclaimer" changed from Karla (regular) to Karla (bold).
The following were updated:
    - [x] "Need help? Contact us", "Feedback", and "Legal Disclaimer

[2022-10-12 18:45] mary-tcg commented on #536
@AureliaKhorsand wireframe updated

[2022-10-12 18:47] mary-tcg commented on #535
@AureliaKhorsand wireframe updated

[2022-10-12 18:49] mary-tcg commented on #531
@AureliaKhorsand wireframne updated

[2022-10-12 18:52] mary-tcg commented on #527
@AureliaKhorsand wireframe updated

[2022-10-13 13:04] mary-tcg commented on #526
@AureliaKhorsand wireframe updated

[2022-10-13 13:05] mary-tcg commented on #525
@AureliaKhorsand wireframe updated

[2022-10-13 13:07] mary-tcg commented on #522
@AureliaKhorsand wireframe updated

[2022-10-13 13:10] mary-tcg commented on #521
@AureliaKhorsand wireframe updated

[2022-10-13 13:11] mary-tcg commented on #512
@AureliaKhorsand wireframe updated

[2022-10-13 13:18] mary-tcg commented on #511
@AureliaKhorsand wireframe updated

[2022-10-13 14:00] mary-tcg commented on #498
@AureliaKhorsand wireframe updated

[2022-10-13 14:05] mary-tcg commented on #507
@AureliaKhorsand wireframe updated

[2022-10-13 14:57] mary-tcg commented on #505
@AureliaKhorsand wireframe updated

[2022-10-13 14:59] mary-tcg commented on #502
@AureliaKhorsand wireframe updated

[2022-10-13 15:05] mary-tcg commented on #500
@AureliaKhorsand wireframe updated

[2022-10-13 15:11] mary-tcg commented on #519
@AureliaKhorsand wireframe labels corrected per ticket #570

[2022-10-13 15:20] mary-tcg commented on #520
@AureliaKhorsand wireframe updated per ticket #570

[2022-10-13 19:15] Elaine-Krauss-TCG commented on #234
Ticket functionality is complete

A dropdown/button is present
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/7d1e3120-6ea8-4816-a86f-11e25e7a98bd)

Which if selected presents the following options:
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/48c0e900-6d2f-4f7f-839c-43f2bd63e107)

*QA Notes:*
Clicking on 3 of the 4 links does nothing.  Cli

[2022-10-13 19:17] Elaine-Krauss-TCG commented on #234
Modifying the *style* of the button is proving tricky as the primeNG styleClass attribute does not seem to be functioning as expected

[2022-10-14 11:32] WiseQA commented on #472
Per email from Mitchell this ticket for this sprint devs have tasked Elaine to write an e2e test for 472 this sprint to help test it.   Mitchell will make sure Todd has QA notes in the ticket for future Adhoc testing.   There will not be a QA test on this ticket this sprint.

@Elaine-Krauss-TCG as we have done in the past with e2e tickets please put in QA bucket and we will review.  Thanks

[2022-10-14 13:51] Elaine-Krauss-TCG commented on #276
While the contribution aggregate field is not *yet* being automatically populated, it can still be tested.  I tested this on DEV, by inspecting the field using my browser's dev panel and removing the "readonly" attribute.  This allowed me to set the value of a new transaction's contribution aggregate by hand.

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/be4e68ac-cbfb

[2022-10-14 15:14] Elaine-Krauss-TCG commented on #276
A fix for this error has been developed and has been tested locally.

![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/3f0bb3d6-ca50-4472-9d4a-7428992c8e6d)

[2022-10-14 15:24] mary-tcg commented on #451
@AureliaKhorsand wireframe updated with corrections

[2022-10-14 15:27] mary-tcg commented on #448
@AureliaKhorsand wireframe updated

[2022-10-14 16:16] MitchellTCG opened #616 "Create automated regression tests for QA scripts (Sprint 14)"
Business Reason

As a developer or QA, I will be able to automatically run the Sprint-13 test scripts using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

If I want to run the Sprint test scripts to retest the tickets

  When I run the automated tests in the Cypress framework

  Then I will get a report on which scripts failed and which

[2022-10-14 16:20] MitchellTCG opened #617 "Create automated regression tests for #472"
Business Reason

As a developer or QA, I will be able to automatically run the Test for #472 using the Cypress e2e framework so that I can run regression tests in an automated fashion.

Acceptance Criteria

If I want to run the Sprint test scripts to retest the tickets

  When I run the automated tests in the Cypress framework

  Then I will get a report on which scripts failed and which passed

1

[2022-10-14 17:36] Elaine-Krauss-TCG commented on #486
If I create a report with  JF Transfer and PAC JF Transfer Memo receipts,
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/e652cb6a-735f-42ab-a0f1-eea89ffa8fcc)

then when I generate a .fec
![image.png](https://images.zenhubusercontent.com/626ab5e81394ace64f8ed65d/65f939d0-b740-49fc-821c-5f1122fe1ff0)

The .fec has itemized each of those transactions
![image.png](https://

[2022-10-14 17:39] Elaine-Krauss-TCG commented on #486
Side note: downloading the generated .fec files seems to be broken on DEV at the moment.  This was tested by manually retrieving a .fec that was generated on local.

[2022-10-14 22:50] WiseQA commented on #486
QA inspection.   No Code Review was completed on this ticket moved back to code review @mjtravers @MitchellTCG @Elaine-Krauss-TCG

[2022-10-15 11:38] mjtravers commented on #486
Passes CR, ready for QA

[2022-10-15 14:10] mjtravers commented on #159
Passes CR, moving to QA

[2022-10-17 11:52] WiseQA commented on #234
QA Review verified JF Transfer Memo dropdown:

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/44a022f8-471f-40d9-9b6e-173906883aad)

(Note:  Only "PAC Joint Fundraising Transfer Memo" is selectable as denoted in ticket)

Select "PAC Joint Fundraising Transfer Memo"  from the dropdown list verify PAC Joint Fundraising Transfer Memo page is displayed.

![image.png](https:

[2022-10-17 14:46] AureliaKhorsand commented on #472
@toddlees Contribution Aggregate not updating between transactions. Sending back to In Progress

![image.png](https://images.zenhubusercontent.com/61a50e5fdcda4774a0cf2a0e/9c376258-e003-4fb9-b54a-b5b438625b27)

Transaction with 7/10/1999 date should read $299, but also reads $150.
![image.png](https://images.zenhubusercontent.com/61a50e5fdcda4774a0cf2a0e/13c5cdca-fce3-4d39-aaf5-bc0ebd0594c0)

[2022-10-17 14:47] MitchellTCG commented on #276
@WiseQA
Please wait on testing this ticket. We need rework on #472 before you can test this

[2022-10-17 14:47] MitchellTCG commented on #276
@WiseQA
Please wait on testing this ticket. We need rework on #472 before you can test this

[2022-10-17 14:49] WiseQA commented on #486
QA inspection review of the output (see screenshot below) per DEV.  This was also examined and verified during CR of expected results.

![image.png](https://images.zenhubusercontent.com/61ba01e428a658b4eb0ca758/859a66e0-2b53-4d28-8997-025ae53d4670)

QA Inspection Review Completed.   Moved to Stage Ready.

[2022-10-17 15:07] AureliaKhorsand commented on #478
@mary-tcg can you update this so it's a stand-alone transaction? This is not like Earmark Receipt/Memo

[2022-10-17 15:07] AureliaKhorsand commented on #477
@mary-tcg can you update this so it's a stand-alone transaction? This is not like Earmark Receipt/Memo

[2022-10-17 16:11] mjtravers commented on #472
Fixes to calculation of contribution aggregation put in for the display in the transaction from. Sending to CR

[2022-10-17 16:19] mjtravers commented on #472
Passed CR by @toddlees . Sending back to QA

[2022-10-17 16:49] mary-tcg commented on #477
@AureliaKhorsand fixed

[2022-10-17 16:53] mary-tcg commented on #478
@AureliaKhorsand fixed

[2022-10-17 16:53] AureliaKhorsand commented on #472
![image.png](https://images.zenhubusercontent.com/61a50e5fdcda4774a0cf2a0e/2506491f-695e-474f-9180-ae99c7b3efd1)

[2022-10-17 19:48] MitchellTCG commented on #172
### App#172 FAILED ###
@toddlees
All transactions Itemized except Other Receipts

We discovered while debugging via screen share that the "Other_Receipts" tag was misspelled.

Todd is fixing and I will retest shortly.

[2022-10-17 19:52] toddlees commented on #172
@MitchellTCG patch is up for review https://github.com/fecgov/fecfile-web-api/pull/249

[2022-10-17 20:26] mjtravers commented on #172
Fix passes CR, moving to QA

[2022-10-17 21:10] WiseQA commented on #472
QA review is based on BA testing.   Ticket per BA passes as intended.   e2e testing will be verified again by QA in ticket #617 assigned to Sprint 16.

QA review based on above statement.  Moved to Stage Ready.

[2022-10-18 01:55] MitchellTCG commented on #172
### App#172 Passed ###

#### Individual Receipt ####
- Created Janine Brown with a $199 contribution & Danielle Brown with a $201 contribution
- Only Danielle shows on the .FEC on Line 11
   - SA11AIC00277616C845B5E88F1022E9E332INDBrownDanielle617 S Troy StRoyal OakMI3254620210209201.00201.00University of ArizonaLawyer
___

#### Tribal Receipt ####
- Created Tribal Orga